# 3유형

어느 대학교의 신입생의 학과별 성별에 대한 데이터이다.
<br>
DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv
<br>
이 데이터를 바탕으로, 학생들의 학과와 성별이 서로 독립적인지 여부를 확인하기 위해 카이제곱 독립성 검정을 실시 하려한다.

In [1]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv')
df

               학번     학과 성별
0        DFSKJK_1   경영학과  여
1        DFSKJK_2   사회학과  여
2        DFSKJK_3  기계공학과  여
3        DFSKJK_4   경제학과  남
4        DFSKJK_5  기계공학과  여
...           ...    ... ..
1017  DFSKJK_1018   사회학과  여
1018  DFSKJK_1019  기계공학과  여
1019  DFSKJK_1020   경제학과  여
1020  DFSKJK_1021   경영학과  남
1021  DFSKJK_1022   경제학과  여

[1022 rows x 3 columns]

## 학과 평균 인원에 대한 값을 소숫점 이하 3자리까지 구하여라

In [2]:
df.groupby('학과').size()

학과
경영학과     321
경제학과     170
기계공학과    244
사회학과      99
의학과       59
전자공학과    129
dtype: int64

In [3]:
df.groupby('학과').size().values

array([321, 170, 244,  99,  59, 129], dtype=int64)

In [4]:
df.groupby('학과').size().values.mean()

170.33333333333334

In [5]:
round(df.groupby('학과').size().values.mean(),3)

170.333

## 카이제곱검정 독립성 검정 통계량을 소숫점 이하 3자리까지 구하여라

In [6]:
data = df.groupby(['성별','학과']).size().unstack()
data

학과  경영학과  경제학과  기계공학과  사회학과  의학과  전자공학과
성별
남    150    79    125    48   32     74
여    171    91    119    51   27     55

In [7]:
# 다른 방법
pd.crosstab(df['성별'], df['학과'])

학과  경영학과  경제학과  기계공학과  사회학과  의학과  전자공학과
성별
남    150    79    125    48   32     74
여    171    91    119    51   27     55

In [8]:
from scipy.stats import chi2_contingency

In [9]:
chi2_stat, p_value, dof, expected = chi2_contingency(data)
display(chi2_stat, p_value, dof, expected)

5.646488667066096

0.34215005734979864

5

array([[159.55772994,  84.50097847, 121.28375734,  49.20939335,
         29.32681018,  64.12133072],
       [161.44227006,  85.49902153, 122.71624266,  49.79060665,
         29.67318982,  64.87866928]])

In [10]:
round(chi2_stat,3)

5.646

## 카이제곱검정 독립성 검정의 pvalue를 소숫점 이하 3자리까지 구하여라. 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 것을 출력하라

In [11]:
round(p_value,3)

0.342

In [12]:
if p_value >= 0.05:
    print('귀무')
elif p_value < 0.05:
    print('대립')

귀무

## 어느 학교에서 수학 시험을 본 학생 100명 중 60명이 60점 이상을 받았다. 이 학교의 수학 시험의 평균 점수가 50점 이상인지 95%의 신뢰 수준에서 검정하려한다.

## 참고자료
https://blog.naver.com/tmdwls379/222066996180
<br>
https://m.blog.naver.com/pmw9440/221805677577

## 검정 통계량을 소숫점 이하 3자리에서 구하시오

In [13]:
import numpy as np
n = 100 # 표본 수
p_hat = 0.6 # 표본비율
p = 0.5 # 검정 비율

# 검정 통계량 계산 : (표본 비율 - 검정비율) / 루트(검점비율(1-검정비율) / 표본 수)
z = round((p_hat - p) / np.sqrt(p * (1 - p) / n),3)
print(z)

2.0

## pvalue를 소숫점 이하 3자리까지 구하고 귀무가설과 대립가설중 유의한 것을 출력하라

In [14]:
from scipy.stats import norm # 정규분포
p_value = round(1 - norm.cdf(z),3) # 1-a
p_value

0.023

In [15]:
if p_value >= 0.5:
    print('귀무')
elif p_value < 0.5:
    print('대립')

대립