# 1유형

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1.csv
<br>
종량제 봉투 가격 데이터 : https://www.data.go.kr/data/15025538/standard.do

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1_.csv')
df

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757,충청남도,계룡시,재사용규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,0,2320,0,0,환경위생과,042-840-2484,2019-05-16,5580000,충청남도 계룡시
758,충청남도,계룡시,재사용규격봉투,소각용,생활쓰레기,사업장용,0,0,0,0,...,0,0,2320,0,0,환경위생과,042-840-2484,2019-05-16,5580000,충청남도 계룡시
759,전라북도,김제시,규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,0,0,0,0,환경과,063-540-3165,2018-08-09,4710000,전라북도 김제시
760,전라북도,김제시,특수규격마대,매립용,생활쓰레기,가정용,0,0,0,0,...,0,0,0,0,0,환경과,063-540-3165,2018-08-09,4710000,전라북도 김제시
761,전라북도,김제시,김장용봉투,소각용,음식물쓰레기,가정용,0,0,0,0,...,0,0,0,0,0,환경과,063-540-3165,2018-08-09,4710000,전라북도 김제시

## 20L가격과 5L가격이 모두 0원이 아닌 데이터만 필터를 한 후, 각 row별로 20L가격과 5L가격의 차이를 ‘차이가격’ 이라 부른다고 하자. 시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금액을 반올림하여 소숫점 이하 1자리까지 구하여라

In [2]:
df1 = df[(df['20L가격'] != 0) & (df['5L가격'] != 0)].reset_index(drop=True)
df1

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,충청남도,계룡시,규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,0,2320,0,0,환경위생과,042-840-2484,2019-05-16,5580000,충청남도 계룡시
450,충청남도,계룡시,규격봉투,소각용,생활쓰레기,사업장용,0,0,0,0,...,0,0,2320,0,0,환경위생과,042-840-2484,2019-05-16,5580000,충청남도 계룡시
451,충청남도,계룡시,재사용규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,0,2320,0,0,환경위생과,042-840-2484,2019-05-16,5580000,충청남도 계룡시
452,충청남도,계룡시,재사용규격봉투,소각용,생활쓰레기,사업장용,0,0,0,0,...,0,0,2320,0,0,환경위생과,042-840-2484,2019-05-16,5580000,충청남도 계룡시
453,전라북도,김제시,규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,0,0,0,0,환경과,063-540-3165,2018-08-09,4710000,전라북도 김제시

In [3]:
df1['차이가격'] = df1['20L가격']- df1['5L가격']

In [4]:
df1

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명,차이가격
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시,400
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시,400
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시,400
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시,400
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시,400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,충청남도,계룡시,규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,2320,0,0,환경위생과,042-840-2484,2019-05-16,5580000,충청남도 계룡시,350
450,충청남도,계룡시,규격봉투,소각용,생활쓰레기,사업장용,0,0,0,0,...,0,2320,0,0,환경위생과,042-840-2484,2019-05-16,5580000,충청남도 계룡시,350
451,충청남도,계룡시,재사용규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,2320,0,0,환경위생과,042-840-2484,2019-05-16,5580000,충청남도 계룡시,350
452,충청남도,계룡시,재사용규격봉투,소각용,생활쓰레기,사업장용,0,0,0,0,...,0,2320,0,0,환경위생과,042-840-2484,2019-05-16,5580000,충청남도 계룡시,350
453,전라북도,김제시,규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,0,0,0,환경과,063-540-3165,2018-08-09,4710000,전라북도 김제시,260

In [5]:
round(df1.groupby('시도명').mean()['차이가격'].sort_values(ascending = False).values[0],1)

619.0

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2.csv
<br>
성인 체중 및 키 데이터 : 자체 제작

In [6]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2_.csv')
df

              ID  height(cm)  weight(kg)
0         user_1       173.0        67.5
1         user_2       149.5        82.5
2         user_3       143.8        64.6
3         user_4       163.1        87.2
4         user_5       159.6        77.1
...          ...         ...         ...
9995   user_9996       144.0        74.4
9996   user_9997       161.1        84.1
9997   user_9998       137.1        68.9
9998   user_9999       187.5        89.2
9999  user_10000       172.3        77.5

[10000 rows x 3 columns]

## BMI는 몸무게(kg) / (키(M) * 키(M)) 로 정의 된다. 초고도 비만은 BMI 25이상 , 고도 비반은 BMI 25미만 - 23이상 , 정상은 23미만 - 18.5이상 저체중은 18.5미만으로 정의 된다. 주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          10000 non-null  object
 1   height(cm)  10000 non-null  float64
 2   weight(kg)  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [8]:
df['BMI'] = df['weight(kg)']/((df['height(cm)'] / 100)**2)

In [9]:
df

              ID  height(cm)  weight(kg)        BMI
0         user_1       173.0        67.5  22.553376
1         user_2       149.5        82.5  36.912339
2         user_3       143.8        64.6  31.240268
3         user_4       163.1        87.2  32.779971
4         user_5       159.6        77.1  30.268340
...          ...         ...         ...        ...
9995   user_9996       144.0        74.4  35.879630
9996   user_9997       161.1        84.1  32.404469
9997   user_9998       137.1        68.9  36.655936
9998   user_9999       187.5        89.2  25.372444
9999  user_10000       172.3        77.5  26.105448

[10000 rows x 4 columns]

In [10]:
def 기준(x):
    if x >= 25:
        return '초고도비만'
    elif x < 25 and x >= 23:
        return '고도비만'
    elif x < 23 and x >= 18.5:
        return '정상'
    elif x < 18.5:
        return '저체중'

In [11]:
df['기준'] = df['BMI'].apply(기준)

In [12]:
len(df[df['기준'] == '초고도비만']) + len(df[df['기준'] == '저체중'])

8998

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2.csv
<br>
년도별 서울 각 구의 초,중,고 전출 전입 인원 : https://data.seoul.go.kr/dataList/10729/S/2/datasetView.do
<br>
& 후처리

In [13]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,관악구,536,501,254,178,86,111,43,61,107,55,108,45,2021
246,서초구,1069,576,1323,363,141,135,172,118,154,71,148,62,2021
247,강남구,892,497,1828,797,130,239,268,255,261,108,273,101,2021
248,송파구,1228,975,1297,702,254,256,282,255,180,93,224,91,2021
249,강동구,940,615,1365,577,137,143,228,143,148,55,176,50,2021

## 순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다. 각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라

In [14]:
df['순유입인원'] = (df['초등학교_전입_도내'] + df['초등학교_전입_도외'] + df['중학교_전입_도내'] + df['중학교_전입_도외'] + df['고등학교_전입_도내'] + df['고등학교_전입_도외']) - (df['초등학교_전출_도내'] + df['초등학교_전출_도외'] + df['중학교_전출_도내'] + df['중학교_전출_도외'] + df['고등학교_전출_도내'] + df['고등학교_전출_도외'])

In [15]:
df

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도,순유입인원
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012,37
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012,-188
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012,-195
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012,-489
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012,-47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,관악구,536,501,254,178,86,111,43,61,107,55,108,45,2021,-707
246,서초구,1069,576,1323,363,141,135,172,118,154,71,148,62,2021,40
247,강남구,892,497,1828,797,130,239,268,255,261,108,273,101,2021,1395
248,송파구,1228,975,1297,702,254,256,282,255,180,93,224,91,2021,-135
249,강동구,940,615,1365,577,137,143,228,143,148,55,176,50,2021,501

In [16]:
df[['지역','년도','순유입인원']].sort_values(['년도','순유입인원'])

       지역    년도  순유입인원
18   영등포구  2012   -779
20    관악구  2012   -710
16    구로구  2012   -676
15    강서구  2012   -654
3     성동구  2012   -489
..    ...   ...    ...
238   마포구  2021    -82
246   서초구  2021     40
239   양천구  2021    480
249   강동구  2021    501
247   강남구  2021   1395

[250 rows x 3 columns]

In [17]:
df[['지역','년도','순유입인원']].sort_values(['년도','순유입인원']).groupby('년도').tail(1)

      지역    년도  순유입인원
22   강남구  2012    949
47   강남구  2013   1339
72   강남구  2014   2225
97   강남구  2015   1498
122  강남구  2016    774
149  강동구  2017    932
172  강남구  2018   1158
197  강남구  2019   1821
222  강남구  2020   1762
247  강남구  2021   1395

In [18]:
df[['지역','년도','순유입인원']].sort_values(['년도','순유입인원']).groupby('년도').tail(1)['순유입인원'].sum()

13853

# 2유형

벤츠 차량 가격 예측 : https://www.kaggle.com/datasets/mysarahmadbhat/mercedes-used-car-listing
<br>
train = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train_.csv
<br>
test = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test_.csv
<br>
예측 변수 price
<br>
test.csv에 대해 ID별로 price 값을 예측하여 제출
<br>
제출 데이터 컬럼은 ID와 price 두개만 존재해야함
<br>
평가지표는 rmse

In [19]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test_.csv')

display(train.head(),test.head())

,ID,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,10170,A Class,2012,11940,Automatic,46000,Diesel,30,64.2,2.1
1,9551,CL Class,2020,38624,Semi-Auto,19,Petrol,150,36.7,2.0
2,1790,A Class,2013,8500,Manual,69031,Petrol,125,51.4,1.6
3,10018,B Class,2015,13998,Automatic,34739,Diesel,125,56.5,2.1
4,142,E Class,2017,20998,Semi-Auto,21352,Diesel,20,72.4,2.0

   ID       model  year transmission  mileage fuelType  tax   mpg  engineSize
0   0         SLK  2005    Automatic    63000   Petrol  325  32.1         1.8
1   2    SL CLASS  2016    Automatic     6200   Petrol  555  28.0         5.5
2  14   GLA Class  2016    Automatic    41713   Diesel  125  56.6         2.1
3  15     B Class  2017    Automatic    24841   Diesel  150  68.9         1.5
4  18     B Class  2017    Automatic    14128   Diesel  150  68.9         2.1

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9823 entries, 0 to 9822
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            9823 non-null   int64
 1   model         9823 non-null   object
 2   year          9823 non-null   int64
 3   price         9823 non-null   int64
 4   transmission  9823 non-null   object
 5   mileage       9823 non-null   int64
 6   fuelType      9823 non-null   object
 7   tax           9823 non-null   int64
 8   mpg           9823 non-null   float64
 9   engineSize    9823 non-null   float64
dtypes: float64(2), int64(5), object(3)
memory usage: 767.5+ KB

In [21]:
y = train['price']
y

0       11940
1       38624
2        8500
3       13998
4       20998
        ...
9818    79950
9819    16000
9820    11295
9821    11849
9822    13448
Name: price, Length: 9823, dtype: int64

In [22]:
x = train.drop(columns=['ID','price'])
x

          model  year transmission  mileage fuelType  tax   mpg  engineSize
0       A Class  2012    Automatic    46000   Diesel   30  64.2         2.1
1      CL Class  2020    Semi-Auto       19   Petrol  150  36.7         2.0
2       A Class  2013       Manual    69031   Petrol  125  51.4         1.6
3       B Class  2015    Automatic    34739   Diesel  125  56.5         2.1
4       E Class  2017    Semi-Auto    21352   Diesel   20  72.4         2.0
...         ...   ...          ...      ...      ...  ...   ...         ...
9818    S Class  2016    Semi-Auto    25317   Petrol  570  24.1         6.0
9819    C Class  2016       Manual    34903   Diesel   20  68.9         2.1
9820    A Class  2015    Automatic    86890   Diesel   20  64.2         2.1
9821    A Class  2016       Manual    27958   Diesel    0  80.7         1.5
9822    C Class  2015    Semi-Auto    31878   Diesel   20  65.7         2.1

[9823 rows x 8 columns]

In [23]:
test_x = test.drop(columns=['ID'])
test_x

           model  year transmission  mileage fuelType  tax   mpg  engineSize
0            SLK  2005    Automatic    63000   Petrol  325  32.1         1.8
1       SL CLASS  2016    Automatic     6200   Petrol  555  28.0         5.5
2      GLA Class  2016    Automatic    41713   Diesel  125  56.6         2.1
3        B Class  2017    Automatic    24841   Diesel  150  68.9         1.5
4        B Class  2017    Automatic    14128   Diesel  150  68.9         2.1
...          ...   ...          ...      ...      ...  ...   ...         ...
3291   GLE Class  2016    Automatic    27804   Diesel  260  42.8         3.0
3292     C Class  2019    Automatic    10635   Petrol  145  44.1         1.5
3293   GLC Class  2016    Automatic    14000   Diesel  125  56.5         2.1
3294     A Class  2017    Automatic    20477   Diesel  145  68.9         2.1
3295     C Class  2019    Automatic     5000   Diesel  145  61.4         2.0

[3296 rows x 8 columns]

In [24]:
x_dummies = pd.get_dummies(x)
x_dummies

,year,mileage,tax,mpg,engineSize,model_ A Class,model_ B Class,model_ C Class,model_ CL Class,model_ CLA Class,...,model_200,model_230,transmission_Automatic,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,2012,46000,30,64.2,2.1,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1,2020,19,150,36.7,2.0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
2,2013,69031,125,51.4,1.6,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,2015,34739,125,56.5,2.1,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
4,2017,21352,20,72.4,2.0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9818,2016,25317,570,24.1,6.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
9819,2016,34903,20,68.9,2.1,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
9820,2015,86890,20,64.2,2.1,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
9821,2016,27958,0,80.7,1.5,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
9822,2015,31878,20,65.7,2.1,0,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0

In [25]:
x_test_dummies = pd.get_dummies(test_x)
x_test_dummies

,year,mileage,tax,mpg,engineSize,model_ A Class,model_ B Class,model_ C Class,model_ CL Class,model_ CLA Class,...,model_ SLK,model_ V Class,model_ X-CLASS,model_220,transmission_Automatic,transmission_Manual,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Petrol
0,2005,63000,325,32.1,1.8,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
1,2016,6200,555,28.0,5.5,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,2016,41713,125,56.6,2.1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,2017,24841,150,68.9,1.5,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,2017,14128,150,68.9,2.1,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3291,2016,27804,260,42.8,3.0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3292,2019,10635,145,44.1,1.5,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
3293,2016,14000,125,56.5,2.1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3294,2017,20477,145,68.9,2.1,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3295,2019,5000,145,61.4,2.0,0,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0

In [26]:
x_test_dummies = x_test_dummies.reindex(columns=x_dummies.columns,fill_value=0)
x_test_dummies

,year,mileage,tax,mpg,engineSize,model_ A Class,model_ B Class,model_ C Class,model_ CL Class,model_ CLA Class,...,model_200,model_230,transmission_Automatic,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,2005,63000,325,32.1,1.8,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,2016,6200,555,28.0,5.5,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,2016,41713,125,56.6,2.1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,2017,24841,150,68.9,1.5,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
4,2017,14128,150,68.9,2.1,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3291,2016,27804,260,42.8,3.0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3292,2019,10635,145,44.1,1.5,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
3293,2016,14000,125,56.5,2.1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3294,2017,20477,145,68.9,2.1,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3295,2019,5000,145,61.4,2.0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train, X_valid, Y_train, Y_valid = train_test_split(x_dummies, y, random_state=42)

In [29]:
from sklearn.ensemble import RandomForestRegressor

In [30]:
rf = RandomForestRegressor(random_state=42)

In [31]:
rf.fit(X_train,Y_train)

RandomForestRegressor(random_state=42)

In [32]:
peredict_valid_label = rf.predict(X_valid)
peredict_valid_label

array([32407.93      , 14418.02      , 20523.66      , ...,
       17259.27      , 34655.19357143, 44279.52      ])

In [33]:
from sklearn.metrics import mean_squared_error

In [34]:
import numpy as np

In [35]:
np.sqrt(mean_squared_error(Y_valid,peredict_valid_label))

2517.197692713446

In [36]:
peredict_test_label = rf.predict(x_test_dummies)
peredict_test_label

array([ 4307.85      , 61544.9       , 16786.78      , ...,
       24111.15      , 16687.99      , 29518.35833333])

In [37]:
pd.DataFrame({'ID':test['ID'],'price':peredict_test_label})

         ID         price
0         0   4307.850000
1         2  61544.900000
2        14  16786.780000
3        15  14796.660000
4        18  16433.780000
...     ...           ...
3291  13096  27774.150000
3292  13098  24114.450000
3293  13101  24111.150000
3294  13109  16687.990000
3295  13112  29518.358333

[3296 rows x 2 columns]

In [38]:
## pd.DataFrame({'ID':test['ID'],'price':peredict_test_label}).to_csv('PHJ.csv',index = False)

# 3유형

어느 학교에서 추출한 55명 학생들의 키 정보이다.
<br>
DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv
<br>
이 학생들의 키의 95% 신뢰구간을 구하고자 한다.

## 참고자료
https://makeit.tistory.com/128
<br>
https://sosoeasy.tistory.com/603
<br>
https://direction-f.tistory.com/32
<br>
https://seahahn.tistory.com/80
<br>
https://ehpub.co.kr/t-%EB%B6%84%ED%8F%AC-%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9C%BC%EB%A1%9C-%EB%8B%A4%EB%A3%A8%EB%8A%94-%ED%86%B5%EA%B3%84/

In [39]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv')
df

         ID  height
0    user_1  164.57
1    user_2  174.99
2    user_3  171.41
3    user_4  162.47
4    user_5  167.11
5    user_6  178.26
6    user_7  157.87
7    user_8  167.86
8    user_9  176.33
9   user_10  165.67
10  user_11  166.61
11  user_12  169.53
12  user_13  177.46
13  user_14  166.81
14  user_15  167.78
15  user_16  167.83
16  user_17  181.03
17  user_18  180.93
18  user_19  175.02
19  user_20  171.93
20  user_21  173.69
21  user_22  177.45
22  user_23  165.32
23  user_24  175.88
24  user_25  163.73
25  user_26  166.81
26  user_27  174.54
27  user_28  162.86
28  user_29  169.30
29  user_30  165.69
30  user_31  168.72
31  user_32  156.01
32  user_33  161.14
33  user_34  166.50
34  user_35  174.64
35  user_36  169.13
36  user_37  170.01
37  user_38  173.44
38  user_39  165.60
39  user_40  171.42
40  user_41  165.97
41  user_42  161.36
42  user_43  168.05
43  user_44  172.87
44  user_45  171.69
45  user_46  169.94
46  user_47  181.96
47  user_48  172.06
48  user_49  174.89
49  user_50  181.19
50  user_51  163.53
51  user_52  164.81
52  user_53  178.72
53  user_54  166.01
54  user_55  170.15

## 55명 학생들의 키에 대한 표본 평균을 구하여라(반올림하여 소숫점 3째자리까지

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      55 non-null     object
 1   height  55 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1008.0+ bytes

In [41]:
import numpy as np

In [42]:
mean = round(np.mean(df['height']),3)
mean

169.937

## t분포 양쪽 꼬리에서의 t 값을 구하여라 (반올림하여 소수4째자리까지)

In [43]:
import numpy as np
from scipy.stats import t

In [44]:
#ddof 기본값 = 0, ddof =1은 (n-1)로 나눌 것을 의미함
std = np.std(df['height'], ddof=1)
std

5.977625087231691

In [45]:
n = len(df['height'])
n

55

In [46]:
# 신뢰수준, 자유도
confidence_level = 0.95
# 95%의 신뢰 구간을 구하기 때문에
ddof = n - 1

In [47]:
# ppf : 누적분포함수(cdf)의 역함수로 확률(%)를 넣어 t값을 구할 수 있다.
# cdf : 누적분포함수로 t값을 넣어 확률을 구할 수 있다.
# t 분포의 양쪽 꼬리에서의 t값을 구할 때 (1 + confidence_level) / 2을 넣어 t값을 계산한다
t_value = round(t.ppf((1 + confidence_level) / 2, ddof),4)
print(t_value)

2.0049

## 95% 신뢰구간을 구하여라(print(lower,upper) 방식으로 출력, 각각의 값은 소숫점 이하 3째자리까지)

In [48]:
# 신뢰구간 계산
# 신뢰구간 : 표본평균 +- t값 * 표준편차/루트(표본 수)
lower = round(mean - t_value * std / np.sqrt(n),3)
upper = round(mean + t_value * std / np.sqrt(n),3)
print(lower,upper)

168.321 171.553

A,B,C 세 공장에서 생산한 동일한 제품의 길이 데이터 이다.
<br>
DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv
<br>
공장간의 제품 길이 차이가 유의미한지 확인 하려한다.

In [49]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv')
df

   ID      value
0   A  84.179434
1   A  93.971003
2   A  62.140957
3   A  72.911723
4   A  79.252747
5   A  72.249832
6   A  78.502021
7   A  98.617290
8   A  65.744707
9   A  76.236433
10  B  71.577246
11  B  77.949076
12  B  66.626763
13  B  84.521877
14  B  88.293166
15  B  80.246525
16  B  73.519000
17  B  83.895319
18  B  76.244465
19  B  84.910925
20  C  85.351467
21  C  87.620708
22  C  86.432017
23  C  94.010172
24  C  87.318586
25  C  77.027421
26  C  86.200101
27  C  78.432039
28  C  87.691746
29  C  88.336670

## 3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 검정 통계량을 반올림하여 소숫점 이하 3자리까지 구하여라

In [50]:
from scipy.stats import kruskal
a = df[df['ID'] =='A']['value'].values
b = df[df['ID'] =='B']['value'].values
c = df[df['ID'] =='C']['value'].values

In [51]:
# kruskal()의 리턴값 : 검정통계량, p_value
s,p = kruskal(a,b,c)

In [52]:
s # 검정통계량

6.52129032258064

In [53]:
p # p_value

0.038363639296696686

In [54]:
round_s = round(s,3)
print(round_s)

6.521

## 3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 p-value를 반올림하여 소숫점 이하 3자리까지 구하여라. 귀무가설과 대립가설중 0.05 유의수준에서 유의한 가설을  출력하라

In [55]:
round_p = round(p,3)
print(round_p)

0.038

In [56]:
if round_p >= 0.5:
    print('귀무')
elif round_p < 0.5:
    print('대립')

대립