# 3유형

어느 학교에서 추출한 55명 학생들의 키 정보이다.
<br>
DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv
<br>
이 학생들의 키의 95% 신뢰구간을 구하고자 한다.

## 참고자료
https://makeit.tistory.com/128
<br>
https://sosoeasy.tistory.com/603
<br>
https://direction-f.tistory.com/32
<br>
https://seahahn.tistory.com/80
<br>
https://ehpub.co.kr/t-%EB%B6%84%ED%8F%AC-%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9C%BC%EB%A1%9C-%EB%8B%A4%EB%A3%A8%EB%8A%94-%ED%86%B5%EA%B3%84/

In [1]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv')
df

         ID  height
0    user_1  164.57
1    user_2  174.99
2    user_3  171.41
3    user_4  162.47
4    user_5  167.11
5    user_6  178.26
6    user_7  157.87
7    user_8  167.86
8    user_9  176.33
9   user_10  165.67
10  user_11  166.61
11  user_12  169.53
12  user_13  177.46
13  user_14  166.81
14  user_15  167.78
15  user_16  167.83
16  user_17  181.03
17  user_18  180.93
18  user_19  175.02
19  user_20  171.93
20  user_21  173.69
21  user_22  177.45
22  user_23  165.32
23  user_24  175.88
24  user_25  163.73
25  user_26  166.81
26  user_27  174.54
27  user_28  162.86
28  user_29  169.30
29  user_30  165.69
30  user_31  168.72
31  user_32  156.01
32  user_33  161.14
33  user_34  166.50
34  user_35  174.64
35  user_36  169.13
36  user_37  170.01
37  user_38  173.44
38  user_39  165.60
39  user_40  171.42
40  user_41  165.97
41  user_42  161.36
42  user_43  168.05
43  user_44  172.87
44  user_45  171.69
45  user_46  169.94
46  user_47  181.96
47  user_48  172.06
48  user_49  174.89
49  user_50  181.19
50  user_51  163.53
51  user_52  164.81
52  user_53  178.72
53  user_54  166.01
54  user_55  170.15

## 55명 학생들의 키에 대한 표본 평균을 구하여라(반올림하여 소숫점 3째자리까지

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      55 non-null     object
 1   height  55 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1008.0+ bytes

In [3]:
import numpy as np

In [4]:
mean = round(np.mean(df['height']),3)
mean

169.937

## t분포 양쪽 꼬리에서의 t 값을 구하여라 (반올림하여 소수4째자리까지)

In [5]:
import numpy as np
from scipy.stats import t

In [6]:
#ddof 기본값 = 0, ddof =1은 (n-1)로 나눌 것을 의미함
std = np.std(df['height'], ddof=1)
std

5.977625087231691

In [7]:
n = len(df['height'])
n

55

In [8]:
# 신뢰수준, 자유도
confidence_level = 0.95
# 95%의 신뢰 구간을 구하기 때문에
ddof = n - 1

In [9]:
# ppf : 누적분포함수(cdf)의 역함수로 확률(%)를 넣어 t값을 구할 수 있다.
# cdf : 누적분포함수로 t값을 넣어 확률을 구할 수 있다.
# t 분포의 양쪽 꼬리에서의 t값을 구할 때 (1 + confidence_level) / 2을 넣어 t값을 계산한다
t_value = round(t.ppf((1 + confidence_level) / 2, ddof),4)
print(t_value)

2.0049

## 95% 신뢰구간을 구하여라(print(lower,upper) 방식으로 출력, 각각의 값은 소숫점 이하 3째자리까지)

In [10]:
# 신뢰구간 계산
# 신뢰구간 : 표본평균 +- t값 * 표준편차/루트(표본 수)
lower = round(mean - t_value * std / np.sqrt(n),3)
upper = round(mean + t_value * std / np.sqrt(n),3)
print(lower,upper)

168.321 171.553

A,B,C 세 공장에서 생산한 동일한 제품의 길이 데이터 이다.
<br>
DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv
<br>
공장간의 제품 길이 차이가 유의미한지 확인 하려한다.

In [11]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv')
df

   ID      value
0   A  84.179434
1   A  93.971003
2   A  62.140957
3   A  72.911723
4   A  79.252747
5   A  72.249832
6   A  78.502021
7   A  98.617290
8   A  65.744707
9   A  76.236433
10  B  71.577246
11  B  77.949076
12  B  66.626763
13  B  84.521877
14  B  88.293166
15  B  80.246525
16  B  73.519000
17  B  83.895319
18  B  76.244465
19  B  84.910925
20  C  85.351467
21  C  87.620708
22  C  86.432017
23  C  94.010172
24  C  87.318586
25  C  77.027421
26  C  86.200101
27  C  78.432039
28  C  87.691746
29  C  88.336670

## 3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 검정 통계량을 반올림하여 소숫점 이하 3자리까지 구하여라

In [12]:
from scipy.stats import kruskal
a = df[df['ID'] =='A']['value'].values
b = df[df['ID'] =='B']['value'].values
c = df[df['ID'] =='C']['value'].values

In [13]:
# kruskal()의 리턴값 : 검정통계량, p_value
s,p = kruskal(a,b,c)

In [14]:
s # 검정통계량

6.52129032258064

In [15]:
p # p_value

0.038363639296696686

In [16]:
round_s = round(s,3)
print(round_s)

6.521

## 3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 p-value를 반올림하여 소숫점 이하 3자리까지 구하여라. 귀무가설과 대립가설중 0.05 유의수준에서 유의한 가설을  출력하라

In [17]:
round_p = round(p,3)
print(round_p)

0.038

In [18]:
if round_p >= 0.5:
    print('귀무')
elif round_p < 0.5:
    print('대립')

대립