In [1]:
import pandas as pd
import datetime

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv
<br>
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ ë°ì¼ë¦¬ ì¸ê¸°ë™ì˜ìƒ (í•œêµ­)
<br>
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv")

In [3]:
df

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...,...
60394,60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)

In [5]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

# 1ë²ˆ ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„  ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [6]:
df['channelTitle'].value_counts()

ì§¤íˆ°                       372
íŒŒë¿Œë¦¬                      318
SPOTV                    318
ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„          313
ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„    293
                        ...
NamSeok Byun               1
ê³µì›ìƒí™œ / ParkLife            1
Brave Girls                1
ê¹½ëƒ¥íˆ° KY'T                   1
ì•ŒíŒŒ                         1
Name: channelTitle, Length: 1832, dtype: int64

In [7]:
df['channelTitle'].value_counts().head(10).index

Index(['ì§¤íˆ°', 'íŒŒë¿Œë¦¬', 'SPOTV', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„', 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'ì¥ì‚ì­ˆ',
       'BANGTANTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'ì´ëª‡ëª…'],
      dtype='object')

In [8]:
answer = list(df['channelTitle'].value_counts().head(10).index)
print(answer)

['ì§¤íˆ°', 'íŒŒë¿Œë¦¬', 'SPOTV', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„', 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'ì¥ì‚ì­ˆ', 'BANGTANTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'ì´ëª‡ëª…']

# 2ë²ˆ ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘  ì¶œë ¥í•˜ë¼

In [9]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [10]:
df[df['likes'] < df['dislikes']]['channelTitle'].unique()

array(['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang',
       'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
       'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports'], dtype=object)

In [11]:
answer = list(df[df['likes'] < df['dislikes']]['channelTitle'].unique())
print(answer)

['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang', 'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ', 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports']

# 3ë²ˆ ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [12]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [13]:
df[['channelTitle','channelId']].drop_duplicates()

                  channelTitle                 channelId
0                          ì¥ì‚ì­ˆ  UChbE5OZQ6dRHECsX0tEPEZQ
1      RAIN's Official Channel  UCxXgIeE5hxWxHG6dz9Scg2w
2                  ì„œìš¸ì‹œ Â· Seoul  UCZUPZW5idAxYp-Asj__lVAA
3                 ê³ ê¸°ë‚¨ì MeatMan  UCT3CumbFIJiW33uq0UI3zlg
4                        ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘  UCdWgRSfttvDucq4ApcCg5Mw
...                        ...                       ...
60023                      ë©¸ì¹˜í˜•  UCsiuN8Jco3LbbuTyGuqRgKg
60028          í‚¤í‚¤TV, ì „ì§€ì  ì˜ˆëŠ¥ ì‹œì   UCRnEWJKVc5FpC-9Z3CBt2ZQ
60035                    ê¸°ìš©ì´tv  UCkMN06eC97XL1qR1bExdwWg
60036       INSSAOPPA G [ì¸ì‹¸ì˜¤ë¹ ]  UCp9G3sWsE42Qo9jgnB1ta2Q
60068              í•œêµ­ë‹Œí…ë„ ê³µì‹ ì±„ë„  UCRCK5FCJtomQT3b88jXI_DA

[1843 rows x 2 columns]

In [14]:
data = df[['channelTitle','channelId']].drop_duplicates()['channelId'].value_counts()
data

UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCuZu8NrpBG4WPXRi-hPBl-A    1
UCDrAR1OWC2MD4s0JLetN0MA    1
UCx2MVBsdTJ_sv0LiUpSQU2Q    1
UCu2R3TCLSxYV8pRyBGNOh2g    1
UCRCK5FCJtomQT3b88jXI_DA    1
Name: channelId, Length: 1770, dtype: int64

In [15]:
data[data>1]

UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCk5bhZYNtbPJyNLRxN8D8NQ    2
UCSiGNrrL2lAc0-_MfcUUUHA    2
UCiBKp3KgsQCYT9Z2XxdBpbQ    2
UCUEX0L7GHPs95m8S7G6kWVA    2
UC-IYpdOqjkER7B6cnChwlhA    2
Name: channelId, Length: 71, dtype: int64

In [16]:
len(data[data>1])

71

# 4ë²ˆ ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [17]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

In [19]:
df.loc[:,'trending_date2'] = pd.to_datetime(df['trending_date2'])

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 4.6+ MB

In [21]:
df.loc[df['trending_date2'].dt.day_name() == 'Sunday']['categoryId'].value_counts()

24    3096
22    1337
10     830
17     636
23     556
25     437
26     363
20     289
1      274
15     217
27     199
28     167
2       99
19      91
29       9
Name: categoryId, dtype: int64

In [22]:
df.loc[df['trending_date2'].dt.day_name() == 'Sunday']['categoryId'].value_counts().index

Int64Index([24, 22, 10, 17, 23, 25, 26, 20, 1, 15, 27, 28, 2, 19, 29], dtype='int64')

In [23]:
answer = df.loc[df['trending_date2'].dt.day_name() == 'Sunday']['categoryId'].value_counts().index[0]
print(answer)

24

# 5ë²ˆ ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [24]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [25]:
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index= False).size()
group

    trending_date2  categoryId  size
0           Friday           1   243
1           Friday           2   120
2           Friday          10   833
3           Friday          15   187
4           Friday          17   633
..             ...         ...   ...
100      Wednesday          25   468
101      Wednesday          26   385
102      Wednesday          27   212
103      Wednesday          28   165
104      Wednesday          29    12

[105 rows x 3 columns]

In [26]:
group.pivot(index='categoryId',columns='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

# 6ë²ˆ ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [27]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [28]:
data = df.loc[df['view_count']!= 0]
data

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [29]:
data['ratio'] = (data['comment_count']/data['view_count'])

C:\Users\user\AppData\Local\Temp\ipykernel_25404\3857667194.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ratio'] = (data['comment_count']/data['view_count'])

In [30]:
data

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,ratio
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01,0.004539
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01,0.007739
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01,0.000513
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01,0.006566
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01,0.006349
...,...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19,0.005792
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19,0.000710
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19,0.001701
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19,0.000460
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19,0.014212

In [31]:
data.sort_values(by = 'ratio',ascending = False)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,ratio
50830,"60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)",íŒ©í† ë¦¬,24,1214527,38246,528,196166,UCs8R3nVeg0E100H6C8qozgw,2021-09-02,0.161516
51047,"60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)",íŒ©í† ë¦¬,24,1321503,39742,623,210985,UCs8R3nVeg0E100H6C8qozgw,2021-09-03,0.159655
51264,"60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)",íŒ©í† ë¦¬,24,1534640,43368,802,236332,UCs8R3nVeg0E100H6C8qozgw,2021-09-04,0.153998
52786,"60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)",íŒ©í† ë¦¬,24,2124187,52445,1052,320101,UCs8R3nVeg0E100H6C8qozgw,2021-09-11,0.150693
51494,"60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)",íŒ©í† ë¦¬,24,1758801,47011,899,264912,UCs8R3nVeg0E100H6C8qozgw,2021-09-05,0.150621
...,...,...,...,...,...,...,...,...,...,...
58650,ë©”ë°€ê½ƒ í•„ë¬´ë µ,Lee Chanwon - Topic,10,456528,17827,204,0,UClch5s6f5W3YPW3CK7BDDTg,2021-10-11,0.000000
39235,Love (Prod.Rocoberry) (ëŸ¬ë¸Œ(Prod.ë¡œì½”ë² ë¦¬)),Loco - Topic,10,135031,5810,55,0,UCJVA-stKCH0IS_C1qIOUjTA,2021-07-06,0.000000
46801,Join the BTS #PermissiontoDance Challenge only...,YouTube,27,38565552,0,0,0,UCBR8-60-B28hp2BmDPdntcQ,2021-08-13,0.000000
7265,ë±€ì´ í•œê²¨ìš¸ì— ì´ëŸ¬ê³ ì™”ìŠµë‹ˆë‹¤.,ë‹¤í‘ë‹˜,15,671714,9533,345,0,UCwl9OALh8IMwSv_kFdHlMDA,2021-02-06,0.000000
55383,Apple Event â€” September 14,Apple,28,18280588,672190,18183,0,UCE_M8A5yxnLfW0KghEeajjw,2021-09-24,0.000000

In [32]:
data.sort_values(by = 'ratio',ascending = False).iloc[0,]

title             60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)
channelTitle                                       íŒ©í† ë¦¬
categoryId                                          24
view_count                                     1214527
likes                                            38246
dislikes                                           528
comment_count                                   196166
channelId                     UCs8R3nVeg0E100H6C8qozgw
trending_date2                     2021-09-02 00:00:00
ratio                                         0.161516
Name: 50830, dtype: object

In [33]:
data.sort_values(by = 'ratio',ascending = False).iloc[0,]['title']

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

# 7ë²ˆ ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

In [34]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [35]:
(df['comment_count'] / df['view_count']).dropna().sort_values()

8319     0.0
49317    0.0
44708    0.0
39755    0.0
39769    0.0
        ...
526      inf
1180     inf
957      inf
740      inf
297      inf
Length: 60392, dtype: float64

In [36]:
ratio = (df['comment_count'] / df['view_count']).dropna().sort_values()
ratio[ratio!=0]

46005    2.152456e-08
46210    3.874120e-08
51798    1.931927e-07
51579    1.976488e-07
51353    2.031132e-07
             ...
526               inf
1180              inf
957               inf
740               inf
297               inf
Length: 59615, dtype: float64

In [37]:
ratio[ratio!=0].index[0]

46005

In [38]:
df.iloc[ratio[ratio!=0].index[0]]

title             Join the BTS #PermissiontoDance Challenge only...
channelTitle                                                YouTube
categoryId                                                       27
view_count                                                 46458563
likes                                                             0
dislikes                                                          0
comment_count                                                     1
channelId                                  UCBR8-60-B28hp2BmDPdntcQ
trending_date2                                  2021-08-09 00:00:00
Name: 46005, dtype: object

In [39]:
result= df.iloc[ratio[ratio!=0].index[0]]['title']
print(result)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

# 8ë²ˆ like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [40]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [41]:
data = df.loc[(df['likes'] != 0) & (df['dislikes'] != 0)]
data

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
5,"(EN/CN/ID) ì›”ë“œìŠ¤íƒ€ í•œ ë¶„ ë” ëª¨ì…¨ìŠµë‹ˆë‹¤. ë¹„xë°•ì§„ì˜ & ì‹¸ì´, ë¹„ì£¼ì–¼ ê°€...",ì‹œì¦Œë¹„ì‹œì¦Œ Season B Season,24,1274464,26660,368,2701,UCZf4ZESHAIuRtZ-eoMSL97A,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [42]:
num = (data['dislikes']/data['likes']).sort_values().index[0]
num

11477

In [43]:
df.iloc[num]['title']

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

# 9ë²ˆ ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [44]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [45]:
df.loc[df['channelId'] == df['channelId'].value_counts().index[0]]['channelTitle'].unique()[0]

'ì§¤íˆ°'

# 10ë²ˆ 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?

In [46]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [47]:
df[['title','channelId']].value_counts()

title                                                           channelId
ì»µë¼ë©´ ë¨¹ì„ ë•Œ ì ˆëŒ€ ì¼ì–´ë‚ ë¦¬ ì—†ëŠ” ìƒí™©ë“¤ ã…‹ã…‹ã…‹                                     UCmzMtXrJgfCqA0rfhz8_P4A    24
ëŒ€í•œë¯¼êµ­ VS íˆ¬ë¥´í¬ë©”ë‹ˆìŠ¤íƒ„ : FIFA ì¹´íƒ€ë¥´ ì›”ë“œì»µ 2ì°¨ ì˜ˆì„  í•˜ì´ë¼ì´íŠ¸ - 2021.06.05         UCpjOmwiy88a9EV3Rv8ukJgw    24
ê·¹ê³¼ ê·¹ì„ ì‚´ê³  ìˆëŠ” ì¸ë„ì˜ ê°‘ë¶€ì™€ ë¹ˆê³¤ì¸µë“¤!                                       UCi9Sl8GnFdYoqEVXnojBPJw    23
2ì£¼ë”ë†€ë¦´ì˜ˆì •                                                         UCaKod3X1Tn4c7Ci0iUKcvzQ    23
ëŒ€ë°•... ë©§ë¼ì§€ë¥¼ ì•„ë“¤ë¡œ ì‚¼ì€ í• ì•„ë²„ì§€ï½œKBS ì£¼ì£¼í´ëŸ½ 050410 ë°©ì†¡                       UCAhKKbDO9-ymWZ_7iAFLBQQ    23
                                                                                            ..
ì²œì¬ ì¹œêµ¬ í™©ë´‰í™© [ì´ëª‡ëª… ìŠ¤í† ë¦¬2]                                            UCRuSxVu4iqTK5kCh90ntAgA     1
ë‹´ë°°ì¶© [ë³‘ë§›ë”ë¹™/ì›ƒê¸´ì˜ìƒ]                                                 UCUK4YjvUvHrFQwTFXwkUIng     1
Official Trailer | The Falcon and The Winter Soldier | Disney+  UCvC4D8onUfXzvjTOM-dBfEA     1
[ì›”ë“œì»µìµœì¢…ì˜ˆì„ ] ì˜¤ë§Œ VS ë² íŠ¸ë‚¨ 4ì°¨ì „ H/Lã…£AFC ì•„ì‹œì•„ì§€ì—­ ì›”ë“œì»µ ìµœì¢…ì˜ˆì„                   UCtybqqaTj6Nx74Azdz1KrsA     1
ê¹ë¶€ë¼ë¦¬ëŠ” ë‹ˆêº¼ ë‚´êº¼ê°€ ì—†ëŠ”ê±°ì•¼                                               UCu9BCtGIEr73LXZsKmoujKw     1
Length: 7867, dtype: int64

In [48]:
df[['title','channelId']].value_counts() >= 20

title                                                           channelId
ì»µë¼ë©´ ë¨¹ì„ ë•Œ ì ˆëŒ€ ì¼ì–´ë‚ ë¦¬ ì—†ëŠ” ìƒí™©ë“¤ ã…‹ã…‹ã…‹                                     UCmzMtXrJgfCqA0rfhz8_P4A     True
ëŒ€í•œë¯¼êµ­ VS íˆ¬ë¥´í¬ë©”ë‹ˆìŠ¤íƒ„ : FIFA ì¹´íƒ€ë¥´ ì›”ë“œì»µ 2ì°¨ ì˜ˆì„  í•˜ì´ë¼ì´íŠ¸ - 2021.06.05         UCpjOmwiy88a9EV3Rv8ukJgw     True
ê·¹ê³¼ ê·¹ì„ ì‚´ê³  ìˆëŠ” ì¸ë„ì˜ ê°‘ë¶€ì™€ ë¹ˆê³¤ì¸µë“¤!                                       UCi9Sl8GnFdYoqEVXnojBPJw     True
2ì£¼ë”ë†€ë¦´ì˜ˆì •                                                         UCaKod3X1Tn4c7Ci0iUKcvzQ     True
ëŒ€ë°•... ë©§ë¼ì§€ë¥¼ ì•„ë“¤ë¡œ ì‚¼ì€ í• ì•„ë²„ì§€ï½œKBS ì£¼ì£¼í´ëŸ½ 050410 ë°©ì†¡                       UCAhKKbDO9-ymWZ_7iAFLBQQ     True
                                                                                            ...
ì²œì¬ ì¹œêµ¬ í™©ë´‰í™© [ì´ëª‡ëª… ìŠ¤í† ë¦¬2]                                            UCRuSxVu4iqTK5kCh90ntAgA    False
ë‹´ë°°ì¶© [ë³‘ë§›ë”ë¹™/ì›ƒê¸´ì˜ìƒ]                                                 UCUK4YjvUvHrFQwTFXwkUIng    False
Official Trailer | The Falcon and The Winter Soldier | Disney+  UCvC4D8onUfXzvjTOM-dBfEA    False
[ì›”ë“œì»µìµœì¢…ì˜ˆì„ ] ì˜¤ë§Œ VS ë² íŠ¸ë‚¨ 4ì°¨ì „ H/Lã…£AFC ì•„ì‹œì•„ì§€ì—­ ì›”ë“œì»µ ìµœì¢…ì˜ˆì„                   UCtybqqaTj6Nx74Azdz1KrsA    False
ê¹ë¶€ë¼ë¦¬ëŠ” ë‹ˆêº¼ ë‚´êº¼ê°€ ì—†ëŠ”ê±°ì•¼                                               UCu9BCtGIEr73LXZsKmoujKw    False
Length: 7867, dtype: bool

In [49]:
(df[['title','channelId']].value_counts() >= 20).sum()

40

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ â€œê³µë²”â€ ì»¨í…ì¸  ë™ì˜ìƒ ì •ë³´ ( 10ë¶„ ê°„ê²© ìˆ˜ì§‘)
<br>
dataurl1 (ë¹„ë””ì˜¤ ì •ë³´) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv
<br>
dataurl2 (ì°¸ê°€ì ì±„ë„ ì •ë³´)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [50]:
channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

# 11ë²ˆ ê° ë°ì´í„°ì˜ â€˜ctâ€™ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼

In [51]:
channel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1395 entries, 0 to 1394
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   channelid    1395 non-null   object
 1   subcnt       1395 non-null   int64
 2   viewcnt      1395 non-null   int64
 3   videocnt     1395 non-null   int64
 4   ct           1395 non-null   object
 5   channelname  1395 non-null   object
dtypes: int64(3), object(3)
memory usage: 65.5+ KB

In [52]:
video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15201 entries, 0 to 15200
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   videopk      15201 non-null  object
 1   viewcnt      15201 non-null  int64
 2   likecnt      15201 non-null  int64
 3   dislikecnt   15201 non-null  int64
 4   favoritecnt  15201 non-null  int64
 5   cmcnt        15201 non-null  int64
 6   ct           15201 non-null  object
 7   videoname    15201 non-null  object
dtypes: int64(5), object(3)
memory usage: 950.2+ KB

In [53]:
channel['ct'] = pd.to_datetime(channel['ct'])

In [54]:
video['ct'] = pd.to_datetime(video['ct'])

In [55]:
channel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1395 entries, 0 to 1394
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   channelid    1395 non-null   object
 1   subcnt       1395 non-null   int64
 2   viewcnt      1395 non-null   int64
 3   videocnt     1395 non-null   int64
 4   ct           1395 non-null   datetime64[ns]
 5   channelname  1395 non-null   object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 65.5+ KB

In [56]:
video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15201 entries, 0 to 15200
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   videopk      15201 non-null  object
 1   viewcnt      15201 non-null  int64
 2   likecnt      15201 non-null  int64
 3   dislikecnt   15201 non-null  int64
 4   favoritecnt  15201 non-null  int64
 5   cmcnt        15201 non-null  int64
 6   ct           15201 non-null  datetime64[ns]
 7   videoname    15201 non-null  object
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 950.2+ KB

In [57]:
answer = video['videoname'].value_counts()
print(answer)

 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
Name: videoname, dtype: int64

# 12ë²ˆ ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼

In [58]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [59]:
video.sort_values(['ct','videoname']) # ê°€ì¥ ìµœì‹ í™”ëœë‚ ì§œ ì •ë³´ ì¶œë ¥ì„ ìœ„í•´ ì‹œê°„ì— ë”°ë¥¸ ë„¤ì„ìˆœìœ¼ë¡œ ì •ë ¬

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,ê³µë²” EP1
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,ê³µë²” EP1
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,ê³µë²” EP1
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [60]:
video.sort_values(['ct','videoname']).drop_duplicates('videoname')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
3496,23QQ1ru9YQg,11153,812,4,0,281,2021-10-09 19:10:03,ê³µë²” EP2
6696,GygoAk1hDU0,10240,735,5,0,241,2021-10-14 19:10:04,ê³µë²” EP3
9264,bK0_3Vbfvs8,23581,1213,6,0,382,2021-10-16 19:10:04,ê³µë²” EP4
11544,hv7FBjskAu0,16777,875,9,0,302,2021-10-21 19:10:04,ê³µë²” EP5
13661,AxGKHmXyuAE,24331,1126,7,0,355,2021-10-23 19:10:04,ê³µë²” EP6
13106,QUjQbgj5IXM,32404,1540,10,0,463,2021-10-28 19:10:04,ê³µë²” EP7
14935,yZt-h-KcmUE,82015,3338,78,0,1438,2021-10-30 19:20:04,ê³µë²” EP8

In [61]:
video.sort_values(['ct','videoname']).drop_duplicates('videoname',keep = 'last') # ê°€ì¥ ìµœì‹ í™”ëœë‚ ì§œ ì •ë³´ ì¶œë ¥

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [62]:
video.sort_values(['ct','videoname']).drop_duplicates('videoname',keep = 'last')[['viewcnt','ct','videoname']]

       viewcnt                  ct videoname
3491   3180532 2021-11-01 15:30:03    ê³µë²” EP1
6695   2199328 2021-11-01 15:30:03    ê³µë²” EP2
9263   1671294 2021-11-01 15:30:03    ê³µë²” EP3
11543  1818493 2021-11-01 15:30:03    ê³µë²” EP4
13105  1503435 2021-11-01 15:30:04    ê³µë²” EP5
14934  1750222 2021-11-01 15:30:04    ê³µë²” EP6
13660  1630200 2021-11-01 15:30:05    ê³µë²” EP7
15200  1289088 2021-11-01 15:30:05    ê³µë²” EP8

In [63]:
video.sort_values(['ct','videoname']).drop_duplicates('videoname',keep = 'last')[['videoname','ct','viewcnt']].reset_index(drop = True)
# í•„ìš”í•œ ì—´ë§Œ ì¶œë ¥ ë° ì¸ë±ìŠ¤ ì´ˆê¸°í™”

  videoname                  ct  viewcnt
0    ê³µë²” EP1 2021-11-01 15:30:03  3180532
1    ê³µë²” EP2 2021-11-01 15:30:03  2199328
2    ê³µë²” EP3 2021-11-01 15:30:03  1671294
3    ê³µë²” EP4 2021-11-01 15:30:03  1818493
4    ê³µë²” EP5 2021-11-01 15:30:04  1503435
5    ê³µë²” EP6 2021-11-01 15:30:04  1750222
6    ê³µë²” EP7 2021-11-01 15:30:05  1630200
7    ê³µë²” EP8 2021-11-01 15:30:05  1289088

# 13ë²ˆ Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼

In [64]:
channel

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹
...,...,...,...,...,...,...
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

In [65]:
channel[channel['ct'] >= '2021-10-03'].sort_values(['channelname','ct']).drop_duplicates('channelname')[['channelname','subcnt']].reset_index(drop =True)

        channelname   subcnt
0     Balming Tiger    54300
1     ê³½í† ë¦¬ kwak tori   471000
2        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
3               ê½ˆëšœë£¹  1330000
4            ë…¼ë¦¬ì™• ì „ê¸°   922000
5       ë¦´í„ Lilpearl    10100
6             ì•¼ì „ì‚½ì§±ì¬   257000
7   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
8               ì¡°ë‚˜ë‹¨   215000
9        ì¸„ì •ChuJeong   322000
10          í˜•ì‚¬!íƒì •ë˜ë‹¤    14900

# 14ë²ˆ ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼

In [66]:
channel

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹
...,...,...,...,...,...,...
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

In [67]:
#.dt.strftime('%Y-%m%-d %H:%M:%S') : str format time ('%Y-%m%-d %H:%M:%S') %ë¡œ ì›í•˜ëŠ” ê°’ ì¶œë ¥ê°€ëŠ¥

In [68]:
channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-10-03 03']

,channelid,subcnt,viewcnt,videocnt,ct,channelname
12,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-03 03:01:04,ê½ˆëšœë£¹
139,UCEI4rb8YldV8v0dVUSo9ToQ,257000,28415226,73,2021-10-03 03:01:02,ì•¼ì „ì‚½ì§±ì¬
266,UCqwNCDzQBfw2seMRJpL-RWg,322000,71955394,212,2021-10-03 03:01:02,ì¸„ì •ChuJeong
393,UCDV9zgWo7b6nPg7i49oRQ5Q,922000,99187513,82,2021-10-03 03:01:02,ë…¼ë¦¬ì™• ì „ê¸°
520,UClu0udsIHkalM416ttWe_Zw,55000,4681137,107,2021-10-03 03:01:03,ì™€ê¸€ì™€ê¸€ WagleWagle
647,UCM9Rx3EqBJ-jMhD2E8Gjb4g,215000,15902641,60,2021-10-03 03:01:03,ì¡°ë‚˜ë‹¨
774,UCI9W73BWje69k7f1m_I4mbQ,14900,206221,49,2021-10-03 03:01:03,í˜•ì‚¬!íƒì •ë˜ë‹¤
901,UCOYhhfLMGY8OjsbfGNVf7Lw,7520,1444890,15,2021-10-03 03:01:03,ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶
1028,UCKOeR5Evsupc77nPL3qCMnw,10100,188523,21,2021-10-03 03:01:03,ë¦´í„ Lilpearl
1155,UCs9H--14toIRdJQAD9qz9tA,471000,128772621,548,2021-10-03 03:01:04,ê³½í† ë¦¬ kwak tori
1276,UCbBzKnCYcG7E3EIkSTdsawA,54300,7050078,54,2021-10-03 03:01:04,Balming Tiger

In [69]:
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-10-03 03'][['channelname','subcnt']].reset_index(drop =True)
start.columns = ['channelname','start_subcnt']
start

        channelname  start_subcnt
0               ê½ˆëšœë£¹       1330000
1             ì•¼ì „ì‚½ì§±ì¬        257000
2        ì¸„ì •ChuJeong        322000
3            ë…¼ë¦¬ì™• ì „ê¸°        922000
4   ì™€ê¸€ì™€ê¸€ WagleWagle         55000
5               ì¡°ë‚˜ë‹¨        215000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤         14900
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶          7520
8       ë¦´í„ Lilpearl         10100
9     ê³½í† ë¦¬ kwak tori        471000
10    Balming Tiger         54300

In [70]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-11-01 15'][['channelname','subcnt']].reset_index(drop =True)
end.columns = ['channelname','end_subcnt']
end

        channelname  end_subcnt
0               ê½ˆëšœë£¹     1400000
1             ì•¼ì „ì‚½ì§±ì¬      268000
2        ì¸„ì •ChuJeong      323000
3            ë…¼ë¦¬ì™• ì „ê¸°      911000
4   ì™€ê¸€ì™€ê¸€ WagleWagle       55000
5               ì¡°ë‚˜ë‹¨      227000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤       25200
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶        9060
8       ë¦´í„ Lilpearl       21100
9     ê³½í† ë¦¬ kwak tori      469000
10    Balming Tiger       56800

In [71]:
sub = pd.merge(start,end)
sub

        channelname  start_subcnt  end_subcnt
0               ê½ˆëšœë£¹       1330000     1400000
1             ì•¼ì „ì‚½ì§±ì¬        257000      268000
2        ì¸„ì •ChuJeong        322000      323000
3            ë…¼ë¦¬ì™• ì „ê¸°        922000      911000
4   ì™€ê¸€ì™€ê¸€ WagleWagle         55000       55000
5               ì¡°ë‚˜ë‹¨        215000      227000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤         14900       25200
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶          7520        9060
8       ë¦´í„ Lilpearl         10100       21100
9     ê³½í† ë¦¬ kwak tori        471000      469000
10    Balming Tiger         54300       56800

In [72]:
sub['del'] = sub['end_subcnt']-sub['start_subcnt']
sub

        channelname  start_subcnt  end_subcnt    del
0               ê½ˆëšœë£¹       1330000     1400000  70000
1             ì•¼ì „ì‚½ì§±ì¬        257000      268000  11000
2        ì¸„ì •ChuJeong        322000      323000   1000
3            ë…¼ë¦¬ì™• ì „ê¸°        922000      911000 -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle         55000       55000      0
5               ì¡°ë‚˜ë‹¨        215000      227000  12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤         14900       25200  10300
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶          7520        9060   1540
8       ë¦´í„ Lilpearl         10100       21100  11000
9     ê³½í† ë¦¬ kwak tori        471000      469000  -2000
10    Balming Tiger         54300       56800   2500

In [73]:
answer = sub.loc[:,['channelname','del']]
answer

        channelname    del
0               ê½ˆëšœë£¹  70000
1             ì•¼ì „ì‚½ì§±ì¬  11000
2        ì¸„ì •ChuJeong   1000
3            ë…¼ë¦¬ì™• ì „ê¸° -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle      0
5               ì¡°ë‚˜ë‹¨  12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤  10300
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
8       ë¦´í„ Lilpearl  11000
9     ê³½í† ë¦¬ kwak tori  -2000
10    Balming Tiger   2500

# 15ë²ˆ ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [74]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [75]:
EP1 = video[video['videoname'].str.contains('ê³µë²” EP1')].sort_values('ct').reset_index(drop =True)
EP1

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,ê³µë²” EP1
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,ê³µë²” EP1
3,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,ê³µë²” EP1
4,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,ê³µë²” EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,ê³µë²” EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,ê³µë²” EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,ê³µë²” EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1

In [76]:
EP1[(EP1['ct'].diff() >= datetime.timedelta(minutes=20)) | (EP1['ct'].diff() <= datetime.timedelta(minutes=5))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1

In [77]:
#answer
EP1.loc[EP1.index.isin([720,721,722,723,1635,1637.1638])]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1

# 16ë²ˆ ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

In [78]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [79]:
start_date = video[['ct','videoname']].sort_values(['videoname','ct']).drop_duplicates('videoname').reset_index(drop = True)
start_date

                   ct videoname
0 2021-10-07 19:10:03    ê³µë²” EP1
1 2021-10-09 19:10:03    ê³µë²” EP2
2 2021-10-14 19:10:04    ê³µë²” EP3
3 2021-10-16 19:10:04    ê³µë²” EP4
4 2021-10-21 19:10:04    ê³µë²” EP5
5 2021-10-23 19:10:04    ê³µë²” EP6
6 2021-10-28 19:10:04    ê³µë²” EP7
7 2021-10-30 19:20:04    ê³µë²” EP8

In [80]:
start_date['date'] = start_date['ct'].dt.date

In [81]:
answer = start_date[['date','videoname']]
answer

         date videoname
0  2021-10-07    ê³µë²” EP1
1  2021-10-09    ê³µë²” EP2
2  2021-10-14    ê³µë²” EP3
3  2021-10-16    ê³µë²” EP4
4  2021-10-21    ê³µë²” EP5
5  2021-10-23    ê³µë²” EP6
6  2021-10-28    ê³µë²” EP7
7  2021-10-30    ê³µë²” EP8

# 17ë²ˆ â€œê³µë²”â€ ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

In [82]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [83]:
video[video['ct'].dt.hour == 21].sort_values(['videoname','ct']).drop_duplicates('videoname') \
[['videoname','viewcnt','ct']].sort_values('viewcnt',ascending = False).reset_index(drop = True)

  videoname  viewcnt                  ct
0    ê³µë²” EP8   264029 2021-10-30 21:00:08
1    ê³µë²” EP7   252032 2021-10-28 21:00:04
2    ê³µë²” EP4   217674 2021-10-16 21:00:04
3    ê³µë²” EP6   213899 2021-10-23 21:00:06
4    ê³µë²” EP5   201179 2021-10-21 21:00:04
5    ê³µë²” EP2   148144 2021-10-09 21:00:03
6    ê³µë²” EP3   147183 2021-10-14 21:00:04
7    ê³µë²” EP1   117340 2021-10-07 21:00:03

# 18ë²ˆ video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼

In [84]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [85]:
video_ratio = video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')
video_ratio

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [86]:
video_ratio['ratio'] = video_ratio['dislikecnt']/video_ratio['likecnt']
video_ratio

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,ratio
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1,0.027118
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2,0.029844
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3,0.022360
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4,0.017971
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5,0.021128
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6,0.015881
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7,0.013636
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8,0.141357

In [87]:
answer = video_ratio[['videoname','ratio']].sort_values('ratio').reset_index(drop =True)
answer

  videoname     ratio
0    ê³µë²” EP7  0.013636
1    ê³µë²” EP6  0.015881
2    ê³µë²” EP4  0.017971
3    ê³µë²” EP5  0.021128
4    ê³µë²” EP3  0.022360
5    ê³µë²” EP1  0.027118
6    ê³µë²” EP2  0.029844
7    ê³µë²” EP8  0.141357

# 19ë²ˆ 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

In [88]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [89]:
up = video[(video['ct'].dt.strftime('%Y-%m-%d %H:%M:%S') >= '2021-11-01 00:00:00') & \
      (video['ct'].dt.strftime('%Y-%m-%d %H:%M:%S') <= '2021-11-01 15:00:00')]
up

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3398,c5JQp6xafqc,3166400,40970,1107,0,7665,2021-11-01 00:00:03,ê³µë²” EP1
3399,c5JQp6xafqc,3166721,40973,1107,0,7665,2021-11-01 00:10:02,ê³µë²” EP1
3400,c5JQp6xafqc,3167110,40972,1108,0,7665,2021-11-01 00:20:03,ê³µë²” EP1
3401,c5JQp6xafqc,3167459,40975,1108,0,7665,2021-11-01 00:30:03,ê³µë²” EP1
3402,c5JQp6xafqc,3167809,40977,1108,0,7665,2021-11-01 00:40:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15192,yZt-h-KcmUE,1281140,25561,3609,0,31532,2021-11-01 14:10:04,ê³µë²” EP8
15193,yZt-h-KcmUE,1282186,25565,3611,0,31540,2021-11-01 14:20:04,ê³µë²” EP8
15194,yZt-h-KcmUE,1283259,25567,3613,0,31556,2021-11-01 14:30:06,ê³µë²” EP8
15195,yZt-h-KcmUE,1284443,25577,3615,0,31569,2021-11-01 14:40:08,ê³µë²” EP8
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8

In [90]:
# groupbyë¥¼ ì§‘ê³„í•  ë•Œ, agg()ë¥¼ ì´ìš©í•˜ë©´ ë‹¤ìˆ˜ì˜ í•¨ìˆ˜ë¥¼ í•œë²ˆì— ì ìš©
def sub (x):
    result = max(x)-min(x)
    return result

In [91]:
up[['videoname','viewcnt']].groupby('videoname').agg(sub)

           viewcnt
videoname
 ê³µë²” EP1      13298
 ê³µë²” EP2      10300
 ê³µë²” EP3       9927
 ê³µë²” EP4       9824
 ê³µë²” EP5      10824
 ê³µë²” EP6      14141
 ê³µë²” EP7      26949
 ê³µë²” EP8      89147

# 20ë²ˆ video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname ì„ êµ¬í•˜ì—¬ë¼

In [92]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [93]:
video.drop_duplicates()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [94]:
video.drop_duplicates().index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            15191, 15192, 15193, 15194, 15195, 15196, 15197, 15198, 15199,
            15200],
           dtype='int64', length=15199)

In [95]:
video.index

RangeIndex(start=0, stop=15201, step=1)

In [96]:
set(video.index) -  set(video.drop_duplicates().index) #ì¤‘ë³µì´ ë˜ëŠ” ë°ì´í„°ì˜ ì¸ë±ìŠ¤ë“¤

{722, 3927}

In [97]:
#answer
video[video.index.isin(set(video.index) - set(video.drop_duplicates().index))][['videoname','ct']]

     videoname                  ct
722     ê³µë²” EP1 2021-10-13 09:41:37
3927    ê³µë²” EP2 2021-10-13 09:41:37

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : 1930 ~2018ë…„ë„ ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡
<br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

In [98]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

# 21ë²ˆ ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„í˜•íƒœë¡œ ì¶œë ¥í•˜ë¼

In [99]:
df

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

In [100]:
df.groupby('Country').sum()

            Goals
Country
Algeria        13
Angola          1
Argentina     135
Australia      13
Austria        40
...           ...
USSR           52
Ukraine         5
Uruguay        86
Wales           4
Yugoslavia     61

[76 rows x 1 columns]

In [101]:
#answer
df.groupby('Country').sum().sort_values('Goals',ascending =False).head()

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

# 22ë²ˆ ì£¼ì–´ì§„ ì „ì²´ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [102]:
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [103]:
df.groupby('Country').size().sort_values(ascending = False).head()

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

# 23ë²ˆ Years ì»¬ëŸ¼ì€ ë…„ë„ -ë…„ë„ í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ«ìì´ë‹¤. ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ì¡´ì¬í•œë‹¤. í•´ë‹¹ ê±´ì€ ëª‡ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼

In [104]:
df

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

In [105]:
df['Years'].str.split('-')

0       [2002, 2006, 2010, 2014]
1             [1998, 2002, 2006]
2                   [1970, 1974]
3                         [1958]
4       [1958, 1962, 1966, 1970]
                  ...
1290                      [1962]
1291                [1982, 1990]
1292                      [1930]
1293                      [1930]
1294                [1954, 1958]
Name: Years, Length: 1295, dtype: object

In [106]:
def check(x):
    for i in x:
        if len(i) != 4:
            return False
    return True

df[df['Years'].str.split('-').apply(check) == False].shape[0]

45

# 24ë²ˆ **Q3ì—ì„œ ë°œìƒí•œ ì˜ˆì™¸ ì¼€ì´ìŠ¤ë¥¼ ì œì™¸í•œ ë°ì´í„°í”„ë ˆì„ì„ df2ë¼ê³  ì •ì˜í•˜ê³  ë°ì´í„°ì˜ í–‰ì˜ ìˆ«ìë¥¼ ì¶œë ¥í•˜ë¼ (ì•„ë˜ ë¬¸ì œë¶€í„°ëŠ” df2ë¡œ í’€ì´í•˜ê² ìŠµë‹ˆë‹¤) **

In [107]:
def check(x):
    for i in x:
        if len(i) != 4:
            return False
    return True

df2 = df[df['Years'].str.split('-').apply(check) == True]
df2

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1250 rows x 4 columns]

In [108]:
df2.shape[0]

1250

# 25ë²ˆ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” â€˜LenCupâ€™ ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [109]:
df

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

In [110]:
def LC(x):
    return len(x)

df['LenCup'] = df['Years'].str.split('-').apply(LC)
df[df['LenCup'] == 4].shape[0]

16

# 26ë²ˆ Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [111]:
df

                   Player  Goals                Years     Country  LenCup
0          Miroslav Klose     16  2002-2006-2010-2014     Germany       4
1                 Ronaldo     15       1998-2002-2006      Brazil       3
2             Gerd Muller     14            1970-1974     Germany       2
3           Just Fontaine     13                 1958      France       1
4                    Pele     12  1958-1962-1966-1970      Brazil       4
...                   ...    ...                  ...         ...     ...
1290        Josip Skoblar      1                 1962  Yugoslavia       1
1291          Safet Susic      1            1982-1990  Yugoslavia       2
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia       1
1293  Djordje Vujadinovic      1                 1930  Yugoslavia       1
1294         Branko Zebec      1            1954-1958  Yugoslavia       2

[1295 rows x 5 columns]

In [112]:
df[(df['Country'] == 'Yugoslavia') & (df['LenCup'] == 2)].shape[0]

7

# 27ë²ˆ 2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜ëŠ” ëª‡ëª…ì¸ê°€?

In [113]:
df

                   Player  Goals                Years     Country  LenCup
0          Miroslav Klose     16  2002-2006-2010-2014     Germany       4
1                 Ronaldo     15       1998-2002-2006      Brazil       3
2             Gerd Muller     14            1970-1974     Germany       2
3           Just Fontaine     13                 1958      France       1
4                    Pele     12  1958-1962-1966-1970      Brazil       4
...                   ...    ...                  ...         ...     ...
1290        Josip Skoblar      1                 1962  Yugoslavia       1
1291          Safet Susic      1            1982-1990  Yugoslavia       2
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia       1
1293  Djordje Vujadinovic      1                 1930  Yugoslavia       1
1294         Branko Zebec      1            1954-1958  Yugoslavia       2

[1295 rows x 5 columns]

In [114]:
df[df['Years'].str.contains('2002')].shape[0]

156

# 28ë²ˆ ì´ë¦„ì— â€˜carlosâ€™ ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ìëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ x)

In [115]:
df[df['Player'].str.lower().str.contains('carlos')].shape[0]

13

# 29ë²ˆ ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜ëŠ” ëˆ„êµ¬ì¸ê°€?

In [116]:
df

                   Player  Goals                Years     Country  LenCup
0          Miroslav Klose     16  2002-2006-2010-2014     Germany       4
1                 Ronaldo     15       1998-2002-2006      Brazil       3
2             Gerd Muller     14            1970-1974     Germany       2
3           Just Fontaine     13                 1958      France       1
4                    Pele     12  1958-1962-1966-1970      Brazil       4
...                   ...    ...                  ...         ...     ...
1290        Josip Skoblar      1                 1962  Yugoslavia       1
1291          Safet Susic      1            1982-1990  Yugoslavia       2
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia       1
1293  Djordje Vujadinovic      1                 1930  Yugoslavia       1
1294         Branko Zebec      1            1954-1958  Yugoslavia       2

[1295 rows x 5 columns]

In [117]:
df[df['LenCup'] == 1].sort_values('Goals',ascending =False)['Player'].values[0]

'Just Fontaine'

# 30ë²ˆ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” ì–´ë””ì¸ê°€?

In [118]:
df[df['LenCup'] == 1].groupby('Country').size().sort_values(ascending =False).index[0]

'Brazil'

In [119]:
df[df['LenCup'] == 1]['Country'].value_counts().index[0]

'Brazil'

ë°ì´í„° ì¶œì²˜ :https://www.data.go.kr/data/15051872/fileData.do(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ì„œìš¸íŠ¹ë³„ì‹œ_ê³µê³µìì „ê±° ì‹œê°„ëŒ€ë³„ ì´ìš©ì •ë³´
<br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv

In [120]:
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6
...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28

# 31ë²ˆ ëŒ€ì—¬ì¼ìë³„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ê³ , ê°€ì¥ ë§ì€ ë°ì´í„°ê°€ ìˆëŠ” ë‚ ì§œë¥¼ ì¶œë ¥í•˜ë¼

In [121]:
df['ëŒ€ì—¬ì¼ì'].value_counts().sort_index().to_frame()

             ëŒ€ì—¬ì¼ì
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

In [122]:
df['ëŒ€ì—¬ì¼ì'].value_counts().index[0]

'2021-06-04'

# 32ë²ˆ ê° ì¼ìì˜ ìš”ì¼ì„ í‘œê¸°í•˜ê³  (â€˜Mondayâ€™ ~â€™Sundayâ€™) â€˜day_nameâ€™ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  ì´ë¥¼ ì´ìš©í•˜ì—¬ ê° ìš”ì¼ë³„ ì´ìš© íšŸìˆ˜ì˜ ì´í•©ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [123]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6
...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28

In [124]:
df['ëŒ€ì—¬ì¼ì'] = pd.to_datetime(df['ëŒ€ì—¬ì¼ì'])

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678950 entries, 0 to 678949
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ëŒ€ì—¬ì¼ì    678950 non-null  datetime64[ns]
 1   ëŒ€ì—¬ì‹œê°„    678950 non-null  int64
 2   ëŒ€ì—¬ì†Œë²ˆí˜¸   678950 non-null  int64
 3   ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ  678950 non-null  object
 4   ì„±ë³„      678950 non-null  object
 5   ì—°ë ¹ëŒ€ì½”ë“œ   678950 non-null  object
 6   ì´ìš©ê±´ìˆ˜    678950 non-null  int64
 7   ìš´ë™ëŸ‰     678950 non-null  object
 8   íƒ„ì†ŒëŸ‰     678950 non-null  object
 9   ì´ë™ê±°ë¦¬    678950 non-null  float64
 10  ì‚¬ìš©ì‹œê°„    678950 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 57.0+ MB

In [126]:
df['day_name'] = df['ëŒ€ì—¬ì¼ì'].dt.day_name()

In [127]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [128]:
df['day_name'].value_counts().to_frame()

           day_name
Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977

# 33ë²ˆ ê° ìš”ì¼ë³„ ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œì˜ ì´ìš©íšŸìˆ˜ì™€ ëŒ€ì—¬ì†Œ ë²ˆí˜¸ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [129]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [130]:
df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size()

day_name   ëŒ€ì—¬ì†Œë²ˆí˜¸
Friday     102      145
           103      143
           104       72
           105       60
           106      155
                   ...
Wednesday  4867      20
           4868       5
           9980       1
           9997       4
           9999       6
Length: 16874, dtype: int64

In [131]:
df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size')

                 size
day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸
Friday    102     145
          103     143
          104      72
          105      60
          106     155
...               ...
Wednesday 4867     20
          4868      5
          9980      1
          9997      4
          9999      6

[16874 rows x 1 columns]

In [132]:
df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size').sort_values(['day_name','size'],ascending = False)

                 size
day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸
Wednesday 502     282
          207     257
          2102    253
          2715    253
          152     223
...               ...
Friday    3878      1
          4523      1
          9980      1
          9997      1
          9998      1

[16874 rows x 1 columns]

In [133]:
df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size').sort_values(['day_name','size'],ascending = False).reset_index()

        day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸  size
0      Wednesday    502   282
1      Wednesday    207   257
2      Wednesday   2102   253
3      Wednesday   2715   253
4      Wednesday    152   223
...          ...    ...   ...
16869     Friday   3878     1
16870     Friday   4523     1
16871     Friday   9980     1
16872     Friday   9997     1
16873     Friday   9998     1

[16874 rows x 3 columns]

In [134]:
df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size').sort_values(['day_name','size'],ascending = False).reset_index().drop_duplicates('day_name')

        day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸  size
0      Wednesday    502   282
2402     Tuesday    502   267
4801    Thursday   2715   137
7197      Sunday    502   372
9611    Saturday    502   378
12031     Monday    502   242
14453     Friday    502   277

In [135]:
df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size').sort_values(['day_name','size'],ascending = False).reset_index().drop_duplicates('day_name').reset_index(drop = True)

    day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

# 34ë²ˆ ë‚˜ì´ëŒ€ë³„ ëŒ€ì—¬êµ¬ë¶„ ì½”ë“œì˜ (ì¼ì¼ê¶Œ/ì „ì²´íšŸìˆ˜) ë¹„ìœ¨ì„ êµ¬í•œ í›„ ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°€ì§€ëŠ” ë‚˜ì´ëŒ€ë¥¼ í™•ì¸í•˜ë¼. ì¼ì¼ê¶Œì˜ ê²½ìš° ì¼ì¼ê¶Œ ê³¼ ì¼ì¼ê¶Œ(ë¹„íšŒì›)ì„ ëª¨ë‘ í¬í•¨í•˜ë¼

In [136]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [137]:
df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].unique()

array(['ì •ê¸°ê¶Œ', 'ì¼ì¼ê¶Œ', 'ë‹¨ì²´ê¶Œ', 'ì¼ì¼ê¶Œ(ë¹„íšŒì›)'], dtype=object)

In [138]:
df[df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].isin(['ì¼ì¼ê¶Œ','ì¼ì¼ê¶Œ(ë¹„íšŒì›)'])].value_counts('ì—°ë ¹ëŒ€ì½”ë“œ').sort_index()

ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€     59393
30ëŒ€     31127
40ëŒ€     12695
50ëŒ€      4607
60ëŒ€       819
70ëŒ€~      158
~10ëŒ€    11540
dtype: int64

In [139]:
df.value_counts('ì—°ë ¹ëŒ€ì½”ë“œ').sort_index()

ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€     247561
30ëŒ€     186722
40ëŒ€     114799
50ëŒ€      70428
60ëŒ€      19288
70ëŒ€~      3227
~10ëŒ€     36925
dtype: int64

In [140]:
answer1 = (df[df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].isin(['ì¼ì¼ê¶Œ','ì¼ì¼ê¶Œ(ë¹„íšŒì›)'])].value_counts('ì—°ë ¹ëŒ€ì½”ë“œ').sort_index() / df.value_counts('ì—°ë ¹ëŒ€ì½”ë“œ').sort_index()).sort_values(ascending = False)
answer1

ì—°ë ¹ëŒ€ì½”ë“œ
~10ëŒ€    0.312525
20ëŒ€     0.239913
30ëŒ€     0.166702
40ëŒ€     0.110585
50ëŒ€     0.065414
70ëŒ€~    0.048962
60ëŒ€     0.042462
dtype: float64

In [141]:
answer2 = answer1.index[0]
print('max ratio age',answer2)

max ratio age ~10ëŒ€

# 35ë²ˆ ì—°ë ¹ëŒ€ë³„ í‰ê·  ì´ë™ê±°ë¦¬ë¥¼ êµ¬í•˜ì—¬ë¼

In [142]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [143]:
df[['ì—°ë ¹ëŒ€ì½”ë“œ','ì´ë™ê±°ë¦¬']].groupby(['ì—°ë ¹ëŒ€ì½”ë“œ']).mean()

              ì´ë™ê±°ë¦¬
ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€    3211.890552
30ëŒ€    3341.443859
40ëŒ€    3514.857416
50ëŒ€    3593.668100
60ëŒ€    3538.145737
70ëŒ€~   3085.039641
~10ëŒ€   2634.426279

# 36ë²ˆ ì—°ë ¹ëŒ€ ì½”ë“œê°€ 20ëŒ€ì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³ ,ì´ë™ê±°ë¦¬ê°’ì´ ì¶”ì¶œí•œ ë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê·  ì´ìƒì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•œë‹¤.ìµœì¢… ì¶”ì¶œëœ ë°ì´í„°ë¥¼ ëŒ€ì—¬ì¼ì, ëŒ€ì—¬ì†Œ ë²ˆí˜¸ ìˆœì„œë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ 1í–‰ë¶€í„° 200í–‰ê¹Œì§€ì˜ íƒ„ì†ŒëŸ‰ì˜ í‰ê· ì„ ì†Œìˆ«ì  3ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [144]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678950 entries, 0 to 678949
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ëŒ€ì—¬ì¼ì      678950 non-null  datetime64[ns]
 1   ëŒ€ì—¬ì‹œê°„      678950 non-null  int64
 2   ëŒ€ì—¬ì†Œë²ˆí˜¸     678950 non-null  int64
 3   ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ    678950 non-null  object
 4   ì„±ë³„        678950 non-null  object
 5   ì—°ë ¹ëŒ€ì½”ë“œ     678950 non-null  object
 6   ì´ìš©ê±´ìˆ˜      678950 non-null  int64
 7   ìš´ë™ëŸ‰       678950 non-null  object
 8   íƒ„ì†ŒëŸ‰       678950 non-null  object
 9   ì´ë™ê±°ë¦¬      678950 non-null  float64
 10  ì‚¬ìš©ì‹œê°„      678950 non-null  int64
 11  day_name  678950 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 62.2+ MB

In [146]:
df1 = df[df['ì—°ë ¹ëŒ€ì½”ë“œ'] == '20ëŒ€'].reset_index(drop = True)
df1

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,953,ì •ê¸°ê¶Œ,F,20ëŒ€,1,0.00,0.00,0.00,11,Tuesday
1,2021-06-01,0,1029,ì •ê¸°ê¶Œ,F,20ëŒ€,1,37.84,0.34,1470.00,7,Tuesday
2,2021-06-01,0,1153,ì •ê¸°ê¶Œ,F,20ëŒ€,1,31.17,0.35,1513.53,10,Tuesday
3,2021-06-01,0,1653,ì •ê¸°ê¶Œ,F,20ëŒ€,1,8.00,0.10,430.00,3,Tuesday
4,2021-06-01,0,1716,ì •ê¸°ê¶Œ,F,20ëŒ€,1,52.67,0.31,1357.20,8,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
247556,2021-06-14,23,2034,ì •ê¸°ê¶Œ,M,20ëŒ€,1,514.35,3.59,15462.66,49,Monday
247557,2021-06-14,23,2265,ì •ê¸°ê¶Œ,M,20ëŒ€,1,51.36,0.49,2091.73,12,Monday
247558,2021-06-14,23,1640,ì •ê¸°ê¶Œ,M,20ëŒ€,1,52.59,0.39,1660.00,8,Monday
247559,2021-06-14,23,502,ì •ê¸°ê¶Œ,M,20ëŒ€,1,264.03,2.09,9010.00,43,Monday
247560,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,20ëŒ€,1,512.64,4.62,19916.21,97,Monday

In [147]:
df1['ì´ë™ê±°ë¦¬'].mean()

3211.890551581221

In [148]:
df2 = df1[df1['ì´ë™ê±°ë¦¬'] >= df1['ì´ë™ê±°ë¦¬'].mean()].reset_index(drop = True)
df2

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,302,ì •ê¸°ê¶Œ,F,20ëŒ€,1,141.61,1.38,5960.00,28,Tuesday
1,2021-06-01,0,2173,ì •ê¸°ê¶Œ,F,20ëŒ€,1,86.47,0.96,4120.00,31,Tuesday
2,2021-06-01,0,116,ì •ê¸°ê¶Œ,F,20ëŒ€,1,196.72,2.30,9935.24,42,Tuesday
3,2021-06-01,0,2619,ì •ê¸°ê¶Œ,F,20ëŒ€,1,112.75,1.14,4909.12,35,Tuesday
4,2021-06-01,0,487,ì •ê¸°ê¶Œ,F,20ëŒ€,1,113.91,1.21,5230.00,55,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
73666,2021-06-14,23,2102,ì •ê¸°ê¶Œ,M,20ëŒ€,1,267.00,2.70,11624.95,44,Monday
73667,2021-06-14,23,1211,ì •ê¸°ê¶Œ,M,20ëŒ€,1,100.64,0.81,3481.52,26,Monday
73668,2021-06-14,23,2034,ì •ê¸°ê¶Œ,M,20ëŒ€,1,514.35,3.59,15462.66,49,Monday
73669,2021-06-14,23,502,ì •ê¸°ê¶Œ,M,20ëŒ€,1,264.03,2.09,9010.00,43,Monday
73670,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,20ëŒ€,1,512.64,4.62,19916.21,97,Monday

In [149]:
df2['íƒ„ì†ŒëŸ‰'] = df2['íƒ„ì†ŒëŸ‰'].astype('float')

In [150]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73671 entries, 0 to 73670
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ëŒ€ì—¬ì¼ì      73671 non-null  datetime64[ns]
 1   ëŒ€ì—¬ì‹œê°„      73671 non-null  int64
 2   ëŒ€ì—¬ì†Œë²ˆí˜¸     73671 non-null  int64
 3   ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ    73671 non-null  object
 4   ì„±ë³„        73671 non-null  object
 5   ì—°ë ¹ëŒ€ì½”ë“œ     73671 non-null  object
 6   ì´ìš©ê±´ìˆ˜      73671 non-null  int64
 7   ìš´ë™ëŸ‰       73671 non-null  object
 8   íƒ„ì†ŒëŸ‰       73671 non-null  float64
 9   ì´ë™ê±°ë¦¬      73671 non-null  float64
 10  ì‚¬ìš©ì‹œê°„      73671 non-null  int64
 11  day_name  73671 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(5)
memory usage: 6.7+ MB

In [151]:
df3 = df2.sort_values(['ëŒ€ì—¬ì¼ì','ëŒ€ì—¬ì†Œë²ˆí˜¸'],ascending = False).reset_index(drop = True)
df3

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-14,19,9999,ì •ê¸°ê¶Œ,F,20ëŒ€,1,201.03,2.07,8906.00,40,Monday
1,2021-06-14,20,4868,ì¼ì¼ê¶Œ,M,20ëŒ€,2,265.25,2.03,8791.61,51,Monday
2,2021-06-14,16,4865,ì •ê¸°ê¶Œ,F,20ëŒ€,1,87.77,0.79,3410.00,18,Monday
3,2021-06-14,21,4865,ì •ê¸°ê¶Œ,F,20ëŒ€,1,91.21,0.81,3490.00,38,Monday
4,2021-06-14,21,4865,ì •ê¸°ê¶Œ,M,20ëŒ€,2,106.95,1.01,4354.52,45,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...
73666,2021-06-01,19,102,ì •ê¸°ê¶Œ,F,20ëŒ€,1,82.13,0.79,3400.00,31,Tuesday
73667,2021-06-01,19,102,ì¼ì¼ê¶Œ,M,20ëŒ€,1,199.22,1.80,7739.86,109,Tuesday
73668,2021-06-01,21,102,ì •ê¸°ê¶Œ,F,20ëŒ€,3,85.40,0.97,4190.00,26,Tuesday
73669,2021-06-01,21,102,ì¼ì¼ê¶Œ,F,20ëŒ€,1,146.50,1.62,6980.00,50,Tuesday
73670,2021-06-01,23,102,ì¼ì¼ê¶Œ,M,20ëŒ€,1,183.79,1.66,7140.30,41,Tuesday

In [152]:
round(df3.sort_values(['ëŒ€ì—¬ì¼ì','ëŒ€ì—¬ì†Œë²ˆí˜¸'],ascending = False).reset_index(drop = True).iloc[:200]['íƒ„ì†ŒëŸ‰'].mean(),3)

1.613

In [153]:
# round(numder, ndigits) ìˆ«ì,ë°˜ì˜¬ë¦¼ìë¦¬

# 37ë²ˆ 6ì›” 7ì¼ ~10ëŒ€ì˜ â€œì´ìš©ê±´ìˆ˜â€ì˜ ì¤‘ì•™ê°’ì€?

In [154]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [155]:
df[(df['ëŒ€ì—¬ì¼ì'].dt.strftime('%Y-%m-%d') == '2021-06-07') & (df['ì—°ë ¹ëŒ€ì½”ë“œ'] == '~10ëŒ€')]['ì´ìš©ê±´ìˆ˜'].median()

1.0

# 38ë²ˆ í‰ì¼ (ì›”~ê¸ˆ) ì¶œê·¼ ì‹œê°„ëŒ€(ì˜¤ì „ 6,7,8ì‹œ)ì˜ ëŒ€ì—¬ì†Œë³„ ì´ìš© íšŸìˆ˜ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ í˜•íƒœë¡œ í‘œí˜„í•œ í›„ ê° ëŒ€ì—¬ì‹œê°„ë³„ ì´ìš© íšŸìˆ˜ì˜ ìƒìœ„ 3ê°œ ëŒ€ì—¬ì†Œì™€ ì´ìš©íšŸìˆ˜ë¥¼  ì¶œë ¥í•˜ë¼

In [156]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [157]:
df['ëŒ€ì—¬ì‹œê°„'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64)

In [158]:
df1 = df[(df['day_name'].isin(['Monday','Tuesday','Wednesday','Thursday','Friday'])) & (df['ëŒ€ì—¬ì‹œê°„'].isin([6,7,8]))]
df1

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
2675,2021-06-01,6,1274,ì •ê¸°ê¶Œ,F,20ëŒ€,1,36.13,0.30,1303.45,7,Tuesday
2676,2021-06-01,6,1444,ì •ê¸°ê¶Œ,F,20ëŒ€,1,10.86,0.12,517.47,5,Tuesday
2677,2021-06-01,6,302,ì •ê¸°ê¶Œ,F,20ëŒ€,1,0.00,0.00,0.00,7,Tuesday
2678,2021-06-01,6,3101,ì •ê¸°ê¶Œ,F,20ëŒ€,1,133.81,1.26,5450.00,27,Tuesday
2679,2021-06-01,6,1458,ì •ê¸°ê¶Œ,F,20ëŒ€,1,15.44,0.18,780.00,34,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
634961,2021-06-14,8,530,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,43.23,0.32,1399.64,9,Monday
634962,2021-06-14,8,4318,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,17.66,0.21,910.00,7,Monday
634963,2021-06-14,8,4065,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,142.36,1.21,5210.00,24,Monday
634964,2021-06-14,8,2242,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,5.56,0.04,187.05,79,Monday
634965,2021-06-14,8,1201,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,150.80,1.30,5600.00,109,Monday

In [159]:
df1.groupby(['ëŒ€ì—¬ì‹œê°„','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('ì´ìš©íšŸìˆ˜')

            ì´ìš©íšŸìˆ˜
ëŒ€ì—¬ì‹œê°„ ëŒ€ì—¬ì†Œë²ˆí˜¸
6    102       5
     103       8
     106       1
     109       4
     111       5
...          ...
8    4864      4
     4865     12
     4867      3
     4868      3
     9980      1

[6236 rows x 1 columns]

In [160]:
df1.groupby(['ëŒ€ì—¬ì‹œê°„','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('ì´ìš©íšŸìˆ˜').sort_values(['ëŒ€ì—¬ì‹œê°„','ì´ìš©íšŸìˆ˜'],ascending = False)

            ì´ìš©íšŸìˆ˜
ëŒ€ì—¬ì‹œê°„ ëŒ€ì—¬ì†Œë²ˆí˜¸
8    2701    119
     646     115
     1152     92
     1906     91
     247      89
...          ...
6    4804      1
     4811      1
     4852      1
     4860      1
     4861      1

[6236 rows x 1 columns]

In [161]:
df1.groupby(['ëŒ€ì—¬ì‹œê°„','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('ì´ìš©íšŸìˆ˜').sort_values(['ëŒ€ì—¬ì‹œê°„','ì´ìš©íšŸìˆ˜'],ascending = False).groupby('ëŒ€ì—¬ì‹œê°„').head(3)

            ì´ìš©íšŸìˆ˜
ëŒ€ì—¬ì‹œê°„ ëŒ€ì—¬ì†Œë²ˆí˜¸
8    2701    119
     646     115
     1152     92
7    259     104
     230      77
     726      77
6    2744     45
     1125     40
     1028     36

# 39ë²ˆ ì´ë™ê±°ë¦¬ì˜ í‰ê·  ì´ìƒì˜ ì´ë™ê±°ë¦¬ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ ì¶”ì¶œë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ì˜ í‘œë³¸í‘œì¤€í¸ì°¨ ê°’ì„ êµ¬í•˜ì—¬ë¼

In [162]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [163]:
df1 = df[df['ì´ë™ê±°ë¦¬'] >= df['ì´ë™ê±°ë¦¬'].mean()].reset_index(drop = True)
df1

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,302,ì •ê¸°ê¶Œ,F,20ëŒ€,1,141.61,1.38,5960.00,28,Tuesday
1,2021-06-01,0,2173,ì •ê¸°ê¶Œ,F,20ëŒ€,1,86.47,0.96,4120.00,31,Tuesday
2,2021-06-01,0,116,ì •ê¸°ê¶Œ,F,20ëŒ€,1,196.72,2.30,9935.24,42,Tuesday
3,2021-06-01,0,2619,ì •ê¸°ê¶Œ,F,20ëŒ€,1,112.75,1.14,4909.12,35,Tuesday
4,2021-06-01,0,487,ì •ê¸°ê¶Œ,F,20ëŒ€,1,113.91,1.21,5230.00,55,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
205538,2021-06-14,23,2324,ì •ê¸°ê¶Œ,M,50ëŒ€,1,605.37,4.17,17984.78,62,Monday
205539,2021-06-14,23,107,ì •ê¸°ê¶Œ,M,50ëŒ€,1,170.78,1.33,5750.00,27,Monday
205540,2021-06-14,23,593,ì •ê¸°ê¶Œ,M,50ëŒ€,1,125.61,1.13,4880.00,18,Monday
205541,2021-06-14,23,2414,ì •ê¸°ê¶Œ,M,60ëŒ€,1,160.08,1.59,6851.47,34,Monday
205542,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday

In [164]:
df1['ì´ë™ê±°ë¦¬'].std() #í‘œì¤€í¸ì°¨

5092.139707505305

In [165]:
df1['ì´ë™ê±°ë¦¬'].var() #ë¶„ì‚°

25929886.800752208

In [166]:
import math
math.sqrt(25929886.800752208) #ì œê³±ê·¼

5092.139707505305

# 40ë²ˆ ë‚¨ì„±(â€˜Mâ€™ or â€˜mâ€™)ê³¼ ì—¬ì„±(â€˜Fâ€™ or â€˜fâ€™)ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼

In [167]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [168]:
df['ì„±ë³„'].unique()

array(['F', 'M', 'm', 'f'], dtype=object)

In [169]:
df['sex'] = df['ì„±ë³„'].map(lambda x : 'ë‚¨' if x in ['M','m'] else 'ì—¬')
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name,sex
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday,ì—¬
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday,ì—¬
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday,ì—¬
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday,ì—¬
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday,ì—¬
...,...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday,ë‚¨
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday,ë‚¨
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday,ë‚¨
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday,ë‚¨
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday,ë‚¨

In [170]:
df[['sex','ì´ë™ê±°ë¦¬']].groupby('sex').mean()

            ì´ë™ê±°ë¦¬
sex
ë‚¨    3209.110871
ì—¬    3468.575025

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/unsdsn/world-happiness(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ì¡°ì‚¬
<br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv

In [171]:
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

# 41ë²ˆ ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 10ìœ„ë¥¼ ì°¨ì§€í•œ ë‚˜ë¼ì˜ í–‰ë³µì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   í–‰ë³µë­í‚¹      312 non-null    int64
 1   ë‚˜ë¼ëª…       312 non-null    object
 2   ì ìˆ˜        312 non-null    float64
 3   ìƒëŒ€GDP     312 non-null    float64
 4   ì‚¬íšŒì ì§€ì›     312 non-null    float64
 5   í–‰ë³µê¸°ëŒ€ì¹˜     312 non-null    float64
 6   ì„ íƒì˜ ììœ ë„   312 non-null    float64
 7   ê´€ëŒ€í•¨       312 non-null    float64
 8   ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  311 non-null    float64
 9   ë…„ë„        312 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 24.5+ KB

In [173]:
df[df['í–‰ë³µë­í‚¹'] == 10]['ì ìˆ˜'].mean()

7.259

# 42ë²ˆ ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 50ìœ„ì´ë‚´ì˜ ë‚˜ë¼ë“¤ì˜ ê°ê°ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œì‹œí•˜ë¼

In [174]:
df

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [175]:
df[df['í–‰ë³µë­í‚¹'] <= 50][['ë…„ë„','ì ìˆ˜']].groupby('ë…„ë„').mean()

           ì ìˆ˜
ë…„ë„
2018  6.64678
2019  6.67002

# 43ë²ˆ 2018ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ í–‰ë³µì ìˆ˜ì™€ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì— ëŒ€í•œ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [176]:
df

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [177]:
df[df['ë…„ë„'] == 2018][['ì ìˆ˜','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']].corr()

                ì ìˆ˜  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹
ì ìˆ˜        1.000000  0.405292
ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  0.405292  1.000000

In [178]:
#corrë©”ì„œë“œëŠ” ê° ì—´ ê°„ì˜ ìƒê´€ ê³„ìˆ˜ë¥¼ ë°˜í™˜í•˜ëŠ” ë©”ì„œë“œ

In [179]:
df[df['ë…„ë„'] == 2018][['ì ìˆ˜','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']].corr().iloc[0,1]

0.40529152271510027

# 44ë²ˆ 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ í–‰ë³µë­í‚¹ì´ ë³€í™”í•˜ì§€ ì•Šì€ ë‚˜ë¼ëª…ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [180]:
df

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [181]:
df[['í–‰ë³µë­í‚¹','ë‚˜ë¼ëª…']]

     í–‰ë³µë­í‚¹                       ë‚˜ë¼ëª…
0       1                   Finland
1       2                   Denmark
2       3                    Norway
3       4                   Iceland
4       5               Netherlands
..    ...                       ...
307   152                     Yemen
308   153                  Tanzania
309   154               South Sudan
310   155  Central African Republic
311   156                   Burundi

[312 rows x 2 columns]

In [182]:
df[['í–‰ë³µë­í‚¹','ë‚˜ë¼ëª…']].drop_duplicates()

     í–‰ë³µë­í‚¹          ë‚˜ë¼ëª…
0       1      Finland
1       2      Denmark
2       3       Norway
3       4      Iceland
4       5  Netherlands
..    ...          ...
305   150        Syria
306   151       Rwanda
307   152        Yemen
309   154  South Sudan
311   156      Burundi

[297 rows x 2 columns]

In [183]:
len(df[['í–‰ë³µë­í‚¹','ë‚˜ë¼ëª…']]) - len(df[['í–‰ë³µë­í‚¹','ë‚˜ë¼ëª…']].drop_duplicates())

15

# 45ë²ˆ 2019ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ ê°ë³€ìˆ˜ê°„ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ê³  ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ í›„ ìƒìœ„ 5ê°œë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ  ì¶œë ¥í•˜ë¼. ì»¬ëŸ¼ëª…ì€ v1,v2,corrìœ¼ë¡œ í‘œì‹œí•˜ë¼

In [184]:
df

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [185]:
df[df['ë…„ë„'] == 2019].corr()

,í–‰ë³µë­í‚¹,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
í–‰ë³µë­í‚¹,1.000000,-0.989096,-0.801947,-0.767465,-0.787411,-0.546606,-0.047993,-0.351959,NaN
ì ìˆ˜,-0.989096,1.000000,0.793883,0.777058,0.779883,0.566742,0.075824,0.385613,NaN
ìƒëŒ€GDP,-0.801947,0.793883,1.000000,0.754906,0.835462,0.379079,-0.079662,0.298920,NaN
ì‚¬íšŒì ì§€ì›,-0.767465,0.777058,0.754906,1.000000,0.719009,0.447333,-0.048126,0.181899,NaN
í–‰ë³µê¸°ëŒ€ì¹˜,-0.787411,0.779883,0.835462,0.719009,1.000000,0.390395,-0.029511,0.295283,NaN
ì„ íƒì˜ ììœ ë„,-0.546606,0.566742,0.379079,0.447333,0.390395,1.000000,0.269742,0.438843,NaN
ê´€ëŒ€í•¨,-0.047993,0.075824,-0.079662,-0.048126,-0.029511,0.269742,1.000000,0.326538,NaN
ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,-0.351959,0.385613,0.298920,0.181899,0.295283,0.438843,0.326538,1.000000,NaN
ë…„ë„,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
df[df['ë…„ë„'] == 2019].corr().unstack().to_frame()

                      0
í–‰ë³µë­í‚¹ í–‰ë³µë­í‚¹      1.000000
     ì ìˆ˜       -0.989096
     ìƒëŒ€GDP    -0.801947
     ì‚¬íšŒì ì§€ì›    -0.767465
     í–‰ë³µê¸°ëŒ€ì¹˜    -0.787411
...                 ...
ë…„ë„   í–‰ë³µê¸°ëŒ€ì¹˜          NaN
     ì„ íƒì˜ ììœ ë„        NaN
     ê´€ëŒ€í•¨            NaN
     ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹       NaN
     ë…„ë„             NaN

[81 rows x 1 columns]

In [187]:
df[df['ë…„ë„'] == 2019].corr().unstack().to_frame().reset_index()

   level_0   level_1         0
0     í–‰ë³µë­í‚¹      í–‰ë³µë­í‚¹  1.000000
1     í–‰ë³µë­í‚¹        ì ìˆ˜ -0.989096
2     í–‰ë³µë­í‚¹     ìƒëŒ€GDP -0.801947
3     í–‰ë³µë­í‚¹     ì‚¬íšŒì ì§€ì› -0.767465
4     í–‰ë³µë­í‚¹     í–‰ë³µê¸°ëŒ€ì¹˜ -0.787411
..     ...       ...       ...
76      ë…„ë„     í–‰ë³µê¸°ëŒ€ì¹˜       NaN
77      ë…„ë„   ì„ íƒì˜ ììœ ë„       NaN
78      ë…„ë„       ê´€ëŒ€í•¨       NaN
79      ë…„ë„  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹       NaN
80      ë…„ë„        ë…„ë„       NaN

[81 rows x 3 columns]

In [188]:
df1 = df[df['ë…„ë„'] == 2019].corr().unstack().to_frame().reset_index().dropna()
df1

     level_0   level_1         0
0       í–‰ë³µë­í‚¹      í–‰ë³µë­í‚¹  1.000000
1       í–‰ë³µë­í‚¹        ì ìˆ˜ -0.989096
2       í–‰ë³µë­í‚¹     ìƒëŒ€GDP -0.801947
3       í–‰ë³µë­í‚¹     ì‚¬íšŒì ì§€ì› -0.767465
4       í–‰ë³µë­í‚¹     í–‰ë³µê¸°ëŒ€ì¹˜ -0.787411
..       ...       ...       ...
66  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹     ì‚¬íšŒì ì§€ì›  0.181899
67  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹     í–‰ë³µê¸°ëŒ€ì¹˜  0.295283
68  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹   ì„ íƒì˜ ììœ ë„  0.438843
69  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹       ê´€ëŒ€í•¨  0.326538
70  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  1.000000

[64 rows x 3 columns]

In [189]:
df1[df1[0] != 1]

     level_0   level_1         0
1       í–‰ë³µë­í‚¹        ì ìˆ˜ -0.989096
2       í–‰ë³µë­í‚¹     ìƒëŒ€GDP -0.801947
3       í–‰ë³µë­í‚¹     ì‚¬íšŒì ì§€ì› -0.767465
4       í–‰ë³µë­í‚¹     í–‰ë³µê¸°ëŒ€ì¹˜ -0.787411
5       í–‰ë³µë­í‚¹   ì„ íƒì˜ ììœ ë„ -0.546606
6       í–‰ë³µë­í‚¹       ê´€ëŒ€í•¨ -0.047993
7       í–‰ë³µë­í‚¹  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ -0.351959
9         ì ìˆ˜      í–‰ë³µë­í‚¹ -0.989096
11        ì ìˆ˜     ìƒëŒ€GDP  0.793883
12        ì ìˆ˜     ì‚¬íšŒì ì§€ì›  0.777058
13        ì ìˆ˜     í–‰ë³µê¸°ëŒ€ì¹˜  0.779883
14        ì ìˆ˜   ì„ íƒì˜ ììœ ë„  0.566742
15        ì ìˆ˜       ê´€ëŒ€í•¨  0.075824
16        ì ìˆ˜  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  0.385613
18     ìƒëŒ€GDP      í–‰ë³µë­í‚¹ -0.801947
19     ìƒëŒ€GDP        ì ìˆ˜  0.793883
21     ìƒëŒ€GDP     ì‚¬íšŒì ì§€ì›  0.754906
22     ìƒëŒ€GDP     í–‰ë³µê¸°ëŒ€ì¹˜  0.835462
23     ìƒëŒ€GDP   ì„ íƒì˜ ììœ ë„  0.379079
24     ìƒëŒ€GDP       ê´€ëŒ€í•¨ -0.079662
25     ìƒëŒ€GDP  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  0.298920
27     ì‚¬íšŒì ì§€ì›      í–‰ë³µë­í‚¹ -0.767465
28     ì‚¬íšŒì ì§€ì›        ì ìˆ˜  0.777058
29     ì‚¬íšŒì ì§€ì›     ìƒëŒ€GDP  0.754906
31     ì‚¬íšŒì ì§€ì›     í–‰ë³µê¸°ëŒ€ì¹˜  0.719009
32     ì‚¬íšŒì ì§€ì›   ì„ íƒì˜ ììœ ë„  0.447333
33     ì‚¬íšŒì ì§€ì›       ê´€ëŒ€í•¨ -0.048126
34     ì‚¬íšŒì ì§€ì›  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  0.181899
36     í–‰ë³µê¸°ëŒ€ì¹˜      í–‰ë³µë­í‚¹ -0.787411
37     í–‰ë³µê¸°ëŒ€ì¹˜        ì ìˆ˜  0.779883
38     í–‰ë³µê¸°ëŒ€ì¹˜     ìƒëŒ€GDP  0.835462
39     í–‰ë³µê¸°ëŒ€ì¹˜     ì‚¬íšŒì ì§€ì›  0.719009
41     í–‰ë³µê¸°ëŒ€ì¹˜   ì„ íƒì˜ ììœ ë„  0.390395
42     í–‰ë³µê¸°ëŒ€ì¹˜       ê´€ëŒ€í•¨ -0.029511
43     í–‰ë³µê¸°ëŒ€ì¹˜  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  0.295283
45   ì„ íƒì˜ ììœ ë„      í–‰ë³µë­í‚¹ -0.546606
46   ì„ íƒì˜ ììœ ë„        ì ìˆ˜  0.566742
47   ì„ íƒì˜ ììœ ë„     ìƒëŒ€GDP  0.379079
48   ì„ íƒì˜ ììœ ë„     ì‚¬íšŒì ì§€ì›  0.447333
49   ì„ íƒì˜ ììœ ë„     í–‰ë³µê¸°ëŒ€ì¹˜  0.390395
51   ì„ íƒì˜ ììœ ë„       ê´€ëŒ€í•¨  0.269742
52   ì„ íƒì˜ ììœ ë„  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  0.438843
54       ê´€ëŒ€í•¨      í–‰ë³µë­í‚¹ -0.047993
55       ê´€ëŒ€í•¨        ì ìˆ˜  0.075824
56       ê´€ëŒ€í•¨     ìƒëŒ€GDP -0.079662
57       ê´€ëŒ€í•¨     ì‚¬íšŒì ì§€ì› -0.048126
58       ê´€ëŒ€í•¨     í–‰ë³µê¸°ëŒ€ì¹˜ -0.029511
59       ê´€ëŒ€í•¨   ì„ íƒì˜ ììœ ë„  0.269742
61       ê´€ëŒ€í•¨  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  0.326538
63  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹      í–‰ë³µë­í‚¹ -0.351959
64  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹        ì ìˆ˜  0.385613
65  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹     ìƒëŒ€GDP  0.298920
66  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹     ì‚¬íšŒì ì§€ì›  0.181899
67  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹     í–‰ë³µê¸°ëŒ€ì¹˜  0.295283
68  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹   ì„ íƒì˜ ììœ ë„  0.438843
69  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹       ê´€ëŒ€í•¨  0.326538

In [190]:
df1[df1[0] != 1].sort_values(0,ascending = False)

     level_0   level_1         0
38     í–‰ë³µê¸°ëŒ€ì¹˜     ìƒëŒ€GDP  0.835462
22     ìƒëŒ€GDP     í–‰ë³µê¸°ëŒ€ì¹˜  0.835462
19     ìƒëŒ€GDP        ì ìˆ˜  0.793883
11        ì ìˆ˜     ìƒëŒ€GDP  0.793883
37     í–‰ë³µê¸°ëŒ€ì¹˜        ì ìˆ˜  0.779883
13        ì ìˆ˜     í–‰ë³µê¸°ëŒ€ì¹˜  0.779883
28     ì‚¬íšŒì ì§€ì›        ì ìˆ˜  0.777058
12        ì ìˆ˜     ì‚¬íšŒì ì§€ì›  0.777058
29     ì‚¬íšŒì ì§€ì›     ìƒëŒ€GDP  0.754906
21     ìƒëŒ€GDP     ì‚¬íšŒì ì§€ì›  0.754906
31     ì‚¬íšŒì ì§€ì›     í–‰ë³µê¸°ëŒ€ì¹˜  0.719009
39     í–‰ë³µê¸°ëŒ€ì¹˜     ì‚¬íšŒì ì§€ì›  0.719009
46   ì„ íƒì˜ ììœ ë„        ì ìˆ˜  0.566742
14        ì ìˆ˜   ì„ íƒì˜ ììœ ë„  0.566742
48   ì„ íƒì˜ ììœ ë„     ì‚¬íšŒì ì§€ì›  0.447333
32     ì‚¬íšŒì ì§€ì›   ì„ íƒì˜ ììœ ë„  0.447333
52   ì„ íƒì˜ ììœ ë„  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  0.438843
68  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹   ì„ íƒì˜ ììœ ë„  0.438843
41     í–‰ë³µê¸°ëŒ€ì¹˜   ì„ íƒì˜ ììœ ë„  0.390395
49   ì„ íƒì˜ ììœ ë„     í–‰ë³µê¸°ëŒ€ì¹˜  0.390395
16        ì ìˆ˜  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  0.385613
64  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹        ì ìˆ˜  0.385613
47   ì„ íƒì˜ ììœ ë„     ìƒëŒ€GDP  0.379079
23     ìƒëŒ€GDP   ì„ íƒì˜ ììœ ë„  0.379079
61       ê´€ëŒ€í•¨  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  0.326538
69  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹       ê´€ëŒ€í•¨  0.326538
65  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹     ìƒëŒ€GDP  0.298920
25     ìƒëŒ€GDP  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  0.298920
43     í–‰ë³µê¸°ëŒ€ì¹˜  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  0.295283
67  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹     í–‰ë³µê¸°ëŒ€ì¹˜  0.295283
59       ê´€ëŒ€í•¨   ì„ íƒì˜ ììœ ë„  0.269742
51   ì„ íƒì˜ ììœ ë„       ê´€ëŒ€í•¨  0.269742
66  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹     ì‚¬íšŒì ì§€ì›  0.181899
34     ì‚¬íšŒì ì§€ì›  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  0.181899
55       ê´€ëŒ€í•¨        ì ìˆ˜  0.075824
15        ì ìˆ˜       ê´€ëŒ€í•¨  0.075824
58       ê´€ëŒ€í•¨     í–‰ë³µê¸°ëŒ€ì¹˜ -0.029511
42     í–‰ë³µê¸°ëŒ€ì¹˜       ê´€ëŒ€í•¨ -0.029511
6       í–‰ë³µë­í‚¹       ê´€ëŒ€í•¨ -0.047993
54       ê´€ëŒ€í•¨      í–‰ë³µë­í‚¹ -0.047993
57       ê´€ëŒ€í•¨     ì‚¬íšŒì ì§€ì› -0.048126
33     ì‚¬íšŒì ì§€ì›       ê´€ëŒ€í•¨ -0.048126
56       ê´€ëŒ€í•¨     ìƒëŒ€GDP -0.079662
24     ìƒëŒ€GDP       ê´€ëŒ€í•¨ -0.079662
7       í–‰ë³µë­í‚¹  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ -0.351959
63  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹      í–‰ë³µë­í‚¹ -0.351959
5       í–‰ë³µë­í‚¹   ì„ íƒì˜ ììœ ë„ -0.546606
45   ì„ íƒì˜ ììœ ë„      í–‰ë³µë­í‚¹ -0.546606
27     ì‚¬íšŒì ì§€ì›      í–‰ë³µë­í‚¹ -0.767465
3       í–‰ë³µë­í‚¹     ì‚¬íšŒì ì§€ì› -0.767465
36     í–‰ë³µê¸°ëŒ€ì¹˜      í–‰ë³µë­í‚¹ -0.787411
4       í–‰ë³µë­í‚¹     í–‰ë³µê¸°ëŒ€ì¹˜ -0.787411
2       í–‰ë³µë­í‚¹     ìƒëŒ€GDP -0.801947
18     ìƒëŒ€GDP      í–‰ë³µë­í‚¹ -0.801947
9         ì ìˆ˜      í–‰ë³µë­í‚¹ -0.989096
1       í–‰ë³µë­í‚¹        ì ìˆ˜ -0.989096

In [191]:
df2 = df1[df1[0] != 1].sort_values(0,ascending = False).drop_duplicates(0).head(5).reset_index(drop = True)
df2

  level_0 level_1         0
0   í–‰ë³µê¸°ëŒ€ì¹˜   ìƒëŒ€GDP  0.835462
1   ìƒëŒ€GDP      ì ìˆ˜  0.793883
2   í–‰ë³µê¸°ëŒ€ì¹˜      ì ìˆ˜  0.779883
3   ì‚¬íšŒì ì§€ì›      ì ìˆ˜  0.777058
4   ì‚¬íšŒì ì§€ì›   ìƒëŒ€GDP  0.754906

In [192]:
df2.columns = ['v1','v2','corr']
df2

      v1     v2      corr
0  í–‰ë³µê¸°ëŒ€ì¹˜  ìƒëŒ€GDP  0.835462
1  ìƒëŒ€GDP     ì ìˆ˜  0.793883
2  í–‰ë³µê¸°ëŒ€ì¹˜     ì ìˆ˜  0.779883
3  ì‚¬íšŒì ì§€ì›     ì ìˆ˜  0.777058
4  ì‚¬íšŒì ì§€ì›  ìƒëŒ€GDP  0.754906

# 46ë²ˆ ê° ë…„ë„ë³„ í•˜ìœ„ í–‰ë³µì ìˆ˜ì˜ í•˜ìœ„ 5ê°œ êµ­ê°€ì˜ í‰ê·  í–‰ë³µì ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [193]:
df

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [194]:
df.groupby('ë…„ë„').tail(5)

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [195]:
df.groupby('ë…„ë„').tail(5)[['ë…„ë„','ì ìˆ˜']].groupby('ë…„ë„').mean()

          ì ìˆ˜
ë…„ë„
2018  3.1800
2019  3.1408

# 47ë²ˆ 2019ë…„ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³  í•´ë‹¹ë°ì´í„°ì˜ ìƒëŒ€ GDP í‰ê·  ì´ìƒì˜ ë‚˜ë¼ë“¤ê³¼ í‰ê·  ì´í•˜ì˜ ë‚˜ë¼ë“¤ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ê°ê° êµ¬í•˜ê³  ê·¸ ì°¨ì´ê°’ì„  ì¶œë ¥í•˜ë¼

In [196]:
df

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [197]:
df1 = df[df['ë…„ë„'] == 2019]
df1

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019

In [198]:
df1[df1['ìƒëŒ€GDP'] >= df1['ìƒëŒ€GDP'].mean()]['ì ìˆ˜'].mean() - df1[df1['ìƒëŒ€GDP'] <= df1['ìƒëŒ€GDP'].mean()]['ì ìˆ˜'].mean()

1.3904839572192538

# 48ë²ˆ ê°ë…„ë„ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì„ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í–ˆì„ë•Œ ìƒìœ„ 20ê°œ êµ­ê°€ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [199]:
df

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [200]:
df.sort_values(['ë…„ë„','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'],ascending = False)

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
33,34,Singapore,6.262,1.572,1.463,1.141,0.556,0.271,0.453,2019
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380,2019
...,...,...,...,...,...,...,...,...,...,...
205,50,Lithuania,5.952,1.197,1.527,0.716,0.350,0.026,0.006,2018
207,52,Romania,5.945,1.116,1.219,0.726,0.528,0.088,0.001,2018
222,67,Moldova,5.640,0.657,1.301,0.620,0.232,0.171,0.000,2018
248,93,Bosnia and Herzegovina,5.129,0.915,1.078,0.758,0.280,0.216,0.000,2018
175,20,United Arab Emirates,6.774,2.096,0.776,0.670,0.284,0.186,NaN,2018

In [201]:
df.sort_values(['ë…„ë„','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'],ascending = False).groupby('ë…„ë„').head(20)

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
33,34,Singapore,6.262,1.572,1.463,1.141,0.556,0.271,0.453,2019
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380,2019
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373,2019
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316,2019
15,16,Ireland,7.021,1.499,1.553,0.999,0.516,0.298,0.310,2019
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290,2019
75,76,Hong Kong,5.430,1.438,1.277,1.122,0.440,0.258,0.287,2019
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278,2019
111,112,Somalia,4.668,0.000,0.698,0.268,0.559,0.243,0.270,2019
16,17,Germany,6.985,1.373,1.454,0.987,0.495,0.261,0.265,2019
40,41,Uzbekistan,6.174,0.745,1.529,0.756,0.631,0.322,0.240,2019
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226,2019
17,18,Belgium,6.923,1.356,1.504,0.986,0.473,0.160,0.210,2019
189,34,Singapore,6.343,1.529,1.451,1.008,0.631,0.261,0.457,2018
306,151,Rwanda,3.408,0.332,0.896,0.400,0.636,0.200,0.444,2018
158,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
156,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
163,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389,2018
164,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383,2018
160,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
157,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
172,17,Luxembourg,6.910,1.576,1.520,0.896,0.632,0.196,0.321,2018
169,14,Ireland,6.977,1.448,1.583,0.876,0.614,0.307,0.306,2018
165,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302,2018
161,6,Netherlands,7.441,1.361,1.488,0.878,0.638,0.333,0.295,2018
162,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291,2018
231,76,Hong Kong,5.430,1.405,1.290,1.030,0.524,0.246,0.291,2018
253,98,Somalia,4.982,0.000,0.712,0.115,0.674,0.238,0.282,2018
170,15,Germany,6.965,1.340,1.474,0.861,0.586,0.273,0.280,2018
174,19,Israel,6.814,1.301,1.559,0.883,0.533,0.354,0.272,2018
199,44,Uzbekistan,6.096,0.719,1.584,0.605,0.724,0.328,0.259,2018
171,16,Belgium,6.927,1.324,1.483,0.894,0.583,0.188,0.240,2018
167,12,Austria,7.139,1.341,1.504,0.891,0.617,0.242,0.224,2018

In [202]:
df.sort_values(['ë…„ë„','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'],ascending = False).groupby('ë…„ë„').head(20).groupby('ë…„ë„').mean()

       í–‰ë³µë­í‚¹      ì ìˆ˜    ìƒëŒ€GDP   ì‚¬íšŒì ì§€ì›   í–‰ë³µê¸°ëŒ€ì¹˜  ì„ íƒì˜ ììœ ë„      ê´€ëŒ€í•¨  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹
ë…„ë„
2018  27.35  6.7469  1.22505  1.4532  0.8231  0.63650  0.27630    0.3267
2019  27.85  6.7617  1.25730  1.4284  0.9534  0.54765  0.26455    0.3201

In [203]:
df.sort_values(['ë…„ë„','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'],ascending = False).groupby('ë…„ë„').head(20).groupby('ë…„ë„').mean()['ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'].to_frame()

      ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹
ë…„ë„
2018    0.3267
2019    0.3201

# 49ë²ˆ 2018ë…„ë„ í–‰ë³µë­í‚¹ 50ìœ„ ì´ë‚´ì— í¬í•¨ëë‹¤ê°€ 2019ë…„ 50ìœ„ ë°–ìœ¼ë¡œ ë°€ë ¤ë‚œ êµ­ê°€ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [204]:
df

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [205]:
set(df[(df['ë…„ë„'] == 2018) & (df['í–‰ë³µë­í‚¹'] <= 50)]['ë‚˜ë¼ëª…'])

{'Argentina',
 'Australia',
 'Austria',
 'Bahrain',
 'Belgium',
 'Belize',
 'Brazil',
 'Canada',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Czech Republic',
 'Denmark',
 'Ecuador',
 'El Salvador',
 'Finland',
 'France',
 'Germany',
 'Guatemala',
 'Iceland',
 'Ireland',
 'Israel',
 'Italy',
 'Kuwait',
 'Lithuania',
 'Luxembourg',
 'Malaysia',
 'Malta',
 'Mexico',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Norway',
 'Panama',
 'Poland',
 'Qatar',
 'Saudi Arabia',
 'Singapore',
 'Slovakia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Taiwan',
 'Thailand',
 'Trinidad & Tobago',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan'}

In [206]:
set(df[(df['ë…„ë„'] == 2018) & (df['í–‰ë³µë­í‚¹'] <= 50)]['ë‚˜ë¼ëª…']) - set(df[(df['ë…„ë„'] == 2019) & (df['í–‰ë³µë­í‚¹'] <= 50)]['ë‚˜ë¼ëª…'])

{'Belize', 'Kuwait', 'Malaysia', 'Thailand'}

In [207]:
len(set(df[(df['ë…„ë„'] == 2018) & (df['í–‰ë³µë­í‚¹'] <= 50)]['ë‚˜ë¼ëª…']) - set(df[(df['ë…„ë„'] == 2019) & (df['í–‰ë³µë­í‚¹'] <= 50)]['ë‚˜ë¼ëª…']))

4

# 50ë²ˆ 2018ë…„,2019ë…„ ëª¨ë‘ ê¸°ë¡ì´ ìˆëŠ” ë‚˜ë¼ë“¤ ì¤‘ ë…„ë„ë³„ í–‰ë³µì ìˆ˜ê°€ ê°€ì¥ ì¦ê°€í•œ ë‚˜ë¼ì™€ ê·¸ ì¦ê°€ ìˆ˜ì¹˜ëŠ”?

In [208]:
df

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [209]:
set(df[df['ë…„ë„'] == 2018]['ë‚˜ë¼ëª…']) & set(df[df['ë…„ë„'] == 2019]['ë‚˜ë¼ëª…'])

{'Afghanistan',
 'Albania',
 'Algeria',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Northern Cyprus',
 'Norway',
 'Pakistan',
 'Palestinian Territories',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad & Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [210]:
df1 = df[df['ë‚˜ë¼ëª…'].isin(set(df[df['ë…„ë„'] == 2018]['ë‚˜ë¼ëª…']) & set(df[df['ë…„ë„'] == 2019]['ë‚˜ë¼ëª…']))]
df1

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

ë°©ë²• : 2018ë…„ì—ì„œ 2019ìœ¼ë¡œ ì¦ê°€í•œ ìˆ˜ë¥¼ êµ¬í•˜ë©´ ë˜ë‹ˆê¹ 2018ë…„ ì ìˆ˜ ê°’ì„ ìŒìˆ˜ë¡œ ë³€í™˜í•œ í›„, ë‚˜ë¼ë³„ë¡œ í•©ì‚°ì‹œì¼œ ê°€ì¥ ë†’ì€ ìˆ˜ì¹˜ì˜ ë‚˜ë¼ë¥¼ ì¶œë ¥í•œë‹¤.

In [211]:
df1[df1['ë…„ë„'] == 2018]['ì ìˆ˜'] * -1

156   -7.632
157   -7.594
158   -7.555
159   -7.495
160   -7.487
       ...
307   -3.355
308   -3.303
309   -3.254
310   -3.083
311   -2.905
Name: ì ìˆ˜, Length: 152, dtype: float64

In [212]:
df1.loc[df1['ë…„ë„'] == 2018,['ì ìˆ˜']] = df1[df1['ë…„ë„'] == 2018]['ì ìˆ˜'] * -1
df1

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,-3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,-3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,-3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,-3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,-2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [213]:
df1.groupby('ë‚˜ë¼ëª…').sum()[['ì ìˆ˜']].sort_values('ì ìˆ˜').tail(1)

           ì ìˆ˜
ë‚˜ë¼ëª…
Burundi  0.87

51ë²ˆ ë°ì´í„° ì¶œì²˜ : https://archive.ics.uci.edu/ml/datasets/Power+consumption+of+Tetouan+city (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ê¸°ì˜¨, ìŠµë„,ë°”ëŒí’ì†ì— ë”°ë¥¸ ë„ì‹œì˜ 3ê°œ ì§€ì—­êµ¬ì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰
<br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan City power consumption.csv

In [214]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')

In [215]:
df

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

# 51ë²ˆ DateTimeì»¬ëŸ¼ì„ í†µí•´ ê° ì›”ë³„ë¡œ ëª‡ê°œì˜ ë°ì´í„°ê°€ ìˆëŠ”ì§€ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ êµ¬í•˜ì—¬ë¼

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DateTime                   52416 non-null  object
 1   Temperature                52416 non-null  float64
 2   Humidity                   52416 non-null  float64
 3   Wind Speed                 52416 non-null  float64
 4   general diffuse flows      52416 non-null  float64
 5   diffuse flows              52416 non-null  float64
 6   Zone 1 Power Consumption   52416 non-null  float64
 7   Zone 2  Power Consumption  52416 non-null  float64
 8   Zone 3  Power Consumption  52416 non-null  float64
dtypes: float64(8), object(1)
memory usage: 3.6+ MB

In [217]:
df['DateTime'] = pd.to_datetime(df['DateTime'])

In [218]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DateTime                   52416 non-null  datetime64[ns]
 1   Temperature                52416 non-null  float64
 2   Humidity                   52416 non-null  float64
 3   Wind Speed                 52416 non-null  float64
 4   general diffuse flows      52416 non-null  float64
 5   diffuse flows              52416 non-null  float64
 6   Zone 1 Power Consumption   52416 non-null  float64
 7   Zone 2  Power Consumption  52416 non-null  float64
 8   Zone 3  Power Consumption  52416 non-null  float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 3.6 MB

In [219]:
df.groupby(df['DateTime'].dt.month).size().to_frame() #ë‚´ê°€ ìƒê°í•œ ë‹µ

             0
DateTime
1         4464
2         4032
3         4464
4         4320
5         4464
6         4320
7         4464
8         4464
9         4320
10        4464
11        4320
12        4320

In [220]:
df['DateTime'].dt.month.value_counts().sort_index().to_frame() # ë‹¤ë¥¸ë°©ë²•

    DateTime
1       4464
2       4032
3       4464
4       4320
5       4464
6       4320
7       4464
8       4464
9       4320
10      4464
11      4320
12      4320

# 52ë²ˆ 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë‚®ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼  ì¶œë ¥í•˜ë¼

In [221]:
df

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,2017-01-01 00:20:00,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,2017-01-01 00:30:00,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,2017-01-01 00:40:00,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...
52411,2017-12-30 23:10:00,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,2017-12-30 23:20:00,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,2017-12-30 23:30:00,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,2017-12-30 23:40:00,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,2017-12-30 23:50:00,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [222]:
df1 = df[df['DateTime'].dt.month == 3]
df1

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
8496,2017-03-01 00:00:00,12.98,84.6,0.094,0.048,0.122,29069.61702,18190.24390,17616.77419
8497,2017-03-01 00:10:00,12.77,84.6,0.092,0.026,0.159,28579.40426,17707.31707,17233.54839
8498,2017-03-01 00:20:00,12.72,84.9,0.093,0.037,0.133,27844.08511,17089.02439,16856.12903
8499,2017-03-01 00:30:00,12.56,85.4,0.091,0.051,0.111,27237.44681,16854.87805,16467.09677
8500,2017-03-01 00:40:00,12.54,85.5,0.094,0.022,0.126,26882.04255,16635.36585,16182.58065
...,...,...,...,...,...,...,...,...,...
12955,2017-03-31 23:10:00,16.87,87.1,0.073,0.029,0.063,33052.59574,19467.07317,19927.74194
12956,2017-03-31 23:20:00,16.76,86.4,0.073,0.044,0.133,32292.76596,18775.60976,19486.45161
12957,2017-03-31 23:30:00,16.89,86.7,0.073,0.018,0.156,31042.72340,18153.65854,19085.80645
12958,2017-03-31 23:40:00,16.85,86.3,0.073,0.033,0.074,30025.53191,17915.85366,18720.00000
12959,2017-03-31 23:50:00,16.76,86.3,0.072,0.059,0.133,29339.23404,17531.70732,18110.32258

In [223]:
df1['DateTime'].dt.hour

8496      0
8497      0
8498      0
8499      0
8500      0
         ..
12955    23
12956    23
12957    23
12958    23
12959    23
Name: DateTime, Length: 4464, dtype: int64

In [224]:
df1.groupby(df1['DateTime'].dt.hour).mean()['Temperature'].sort_values().values[0]

11.506612903225806

# 53ë²ˆ 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë†’ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼  ì¶œë ¥í•˜ë¼

In [225]:
df1.groupby(df1['DateTime'].dt.hour).mean()['Temperature'].sort_values(ascending = False).values[0]

18.393602150537635

# 54ë²ˆ Zone 1 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ê°€ Zone 2 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ë³´ë‹¤ í° ë°ì´í„°ë“¤ì˜ Humidityì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [226]:
df

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,2017-01-01 00:20:00,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,2017-01-01 00:30:00,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,2017-01-01 00:40:00,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...
52411,2017-12-30 23:10:00,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,2017-12-30 23:20:00,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,2017-12-30 23:30:00,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,2017-12-30 23:40:00,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,2017-12-30 23:50:00,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [227]:
df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']]['Humidity'].mean()

68.23624448055094

# 55ë²ˆ ê° zoneì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ì˜ ìƒê´€ê´€ê³„ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œê¸°í•˜ë¼

In [228]:
df

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,2017-01-01 00:20:00,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,2017-01-01 00:30:00,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,2017-01-01 00:40:00,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...
52411,2017-12-30 23:10:00,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,2017-12-30 23:20:00,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,2017-12-30 23:30:00,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,2017-12-30 23:40:00,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,2017-12-30 23:50:00,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [229]:
df[['Zone 1 Power Consumption','Zone 2  Power Consumption','Zone 3  Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

# 56ë²ˆ Temperatureì˜ ê°’ì´ 10ë¯¸ë§Œì˜ ê²½ìš° A, 10ì´ìƒ 20ë¯¸ë§Œì˜ ê²½ìš° B,20ì´ìƒ 30ë¯¸ë§Œì˜ ê²½ìš° C, ê·¸ ì™¸ì˜ ê²½ìš° Dë¼ê³  í• ë•Œ ê° ë‹¨ê³„ì˜ ë°ì´í„° ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [230]:
def Tp (x):
    if x < 10:
        return 'A'
    elif x >= 10 and x <20:
        return 'B'
    elif x >= 20 and x <30:
        return 'C'
    elif x >= 30:
        return 'D'

In [231]:
df['sp'] = df['Temperature'].apply(Tp)

In [232]:
df['sp'].value_counts()

B    26993
C    21105
A     2874
D     1444
Name: sp, dtype: int64

# 57ë²ˆ 6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ í‘œì¤€í¸ì°¨ë¥¼ êµ¬í•˜ì—¬ë¼

In [233]:
df

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption,sp
0,2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386,A
1,2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434,A
2,2017-01-01 00:20:00,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373,A
3,2017-01-01 00:30:00,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711,A
4,2017-01-01 00:40:00,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964,A
...,...,...,...,...,...,...,...,...,...,...
52411,2017-12-30 23:10:00,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212,A
52412,2017-12-30 23:20:00,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152,A
52413,2017-12-30 23:30:00,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259,A
52414,2017-12-30 23:40:00,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504,A
52415,2017-12-30 23:50:00,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820,A

In [234]:
df[(df['DateTime'].dt.month == 6) & (df['DateTime'].dt.hour == 12)]['Temperature'].std()

2.049941782795103

# 58ë²ˆ 6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ ë¶„ì‚°ì„ êµ¬í•˜ì—¬ë¼

In [235]:
df[(df['DateTime'].dt.month == 6) & (df['DateTime'].dt.hour == 12)]['Temperature'].var()

4.202261312849164

# 59ë²ˆ Temperatureì˜ í‰ê· ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì€?

In [236]:
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption,sp
0,2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386,A
1,2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434,A
2,2017-01-01 00:20:00,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373,A
3,2017-01-01 00:30:00,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711,A
4,2017-01-01 00:40:00,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964,A

In [237]:
df[df['Temperature'] >= df['Temperature'].mean()].sort_values('Temperature')['Humidity'].values[3]

87.9

# 60ë²ˆ **Temperatureì˜ ì¤‘ê°„ê°’ ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì€?**

In [238]:
df[df['Temperature'] >= df['Temperature'].median()].sort_values('Temperature')['Humidity'].values[3]

80.3

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/abcsds/pokemon (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : í¬ì¼“ëª¬ ì •ë³´
<br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv

In [239]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# 61ë²ˆ Legendary ì»¬ëŸ¼ì€ ì „ì„¤í¬ì¼“ëª¬ ìœ ë¬´ë¥¼ ë‚˜íƒ€ë‚¸ë‹¤.ì „ì„¤í¬ì¼“ëª¬ê³¼ ê·¸ë ‡ì§€ ì•Šì€ í¬ì¼“ëª¬ë“¤ì˜ HPí‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [240]:
df.groupby('Legendary').mean()['HP']

Legendary
False    67.182313
True     92.738462
Name: HP, dtype: float64

In [241]:
df.groupby('Legendary').mean()['HP'].diff()

Legendary
False          NaN
True     25.556149
Name: HP, dtype: float64

In [242]:
df.groupby('Legendary').mean()['HP'].diff()[1]

25.55614861329147

# 62ë²ˆ Type 1ì€ ì£¼ì†ì„± Type 2 ëŠ” ë¶€ì†ì„±ì„ ë‚˜íƒ€ë‚¸ë‹¤. ê°€ì¥ ë§ì€ ë¶€ì†ì„± ì¢…ë¥˜ëŠ” ë¬´ì—‡ì¸ê°€?

In [243]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [244]:
df['Type 2'].value_counts().index[0]

'Flying'

# 63ë²ˆ ê°€ì¥ ë§ì€ Type 1 ì˜ ì¢…ì˜ í‰ê·  Attack ì„ í‰ê·  Defenseë¡œ ë‚˜ëˆˆê°’ì€?

In [245]:
df['Type 1'].value_counts().index[0]

'Water'

In [246]:
df1 = df[df['Type 1'] == df['Type 1'].value_counts().index[0]]
df1

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [247]:
df1['Attack'].mean() / df1['Defense'].mean()

1.0165238678090576

# 64ë²ˆ í¬ì¼“ëª¬ ì„¸ëŒ€(Generation) ì¤‘ ê°€ì¥ë§ì€ Legendaryë¥¼ ë³´ìœ í•œ ì„¸ëŒ€ëŠ” ëª‡ì„¸ëŒ€ì¸ê°€?

In [248]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [249]:
df['Generation'].unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [250]:
df[df['Legendary'] == True]['Generation'].value_counts().index[0]

3

# 65ë²ˆ â€˜HPâ€™, â€˜Attackâ€™, â€˜Defenseâ€™, â€˜Sp. Atkâ€™, â€˜Sp. Defâ€™, â€˜Speedâ€™ ê°„ì˜ ìƒê´€ ê³„ìˆ˜ì¤‘ ê°€ì¥ ì ˆëŒ“ê°’ì´ í° ë‘ ë³€ìˆ˜ì™€ ê·¸ ê°’ì„ êµ¬í•˜ì—¬ë¼

In [251]:
df1 = df[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']].corr().unstack().reset_index().rename(columns = {0:'corr'})
df1

    level_0  level_1      corr
0        HP       HP  1.000000
1        HP   Attack  0.422386
2        HP  Defense  0.239622
3        HP  Sp. Atk  0.362380
4        HP  Sp. Def  0.378718
5        HP    Speed  0.175952
6    Attack       HP  0.422386
7    Attack   Attack  1.000000
8    Attack  Defense  0.438687
9    Attack  Sp. Atk  0.396362
10   Attack  Sp. Def  0.263990
11   Attack    Speed  0.381240
12  Defense       HP  0.239622
13  Defense   Attack  0.438687
14  Defense  Defense  1.000000
15  Defense  Sp. Atk  0.223549
16  Defense  Sp. Def  0.510747
17  Defense    Speed  0.015227
18  Sp. Atk       HP  0.362380
19  Sp. Atk   Attack  0.396362
20  Sp. Atk  Defense  0.223549
21  Sp. Atk  Sp. Atk  1.000000
22  Sp. Atk  Sp. Def  0.506121
23  Sp. Atk    Speed  0.473018
24  Sp. Def       HP  0.378718
25  Sp. Def   Attack  0.263990
26  Sp. Def  Defense  0.510747
27  Sp. Def  Sp. Atk  0.506121
28  Sp. Def  Sp. Def  1.000000
29  Sp. Def    Speed  0.259133
30    Speed       HP  0.175952
31    Speed   Attack  0.381240
32    Speed  Defense  0.015227
33    Speed  Sp. Atk  0.473018
34    Speed  Sp. Def  0.259133
35    Speed    Speed  1.000000

In [252]:
df1[df1['corr'] != 1].sort_values('corr',ascending = False)

    level_0  level_1      corr
26  Sp. Def  Defense  0.510747
16  Defense  Sp. Def  0.510747
27  Sp. Def  Sp. Atk  0.506121
22  Sp. Atk  Sp. Def  0.506121
33    Speed  Sp. Atk  0.473018
23  Sp. Atk    Speed  0.473018
8    Attack  Defense  0.438687
13  Defense   Attack  0.438687
1        HP   Attack  0.422386
6    Attack       HP  0.422386
19  Sp. Atk   Attack  0.396362
9    Attack  Sp. Atk  0.396362
31    Speed   Attack  0.381240
11   Attack    Speed  0.381240
4        HP  Sp. Def  0.378718
24  Sp. Def       HP  0.378718
18  Sp. Atk       HP  0.362380
3        HP  Sp. Atk  0.362380
25  Sp. Def   Attack  0.263990
10   Attack  Sp. Def  0.263990
29  Sp. Def    Speed  0.259133
34    Speed  Sp. Def  0.259133
2        HP  Defense  0.239622
12  Defense       HP  0.239622
20  Sp. Atk  Defense  0.223549
15  Defense  Sp. Atk  0.223549
30    Speed       HP  0.175952
5        HP    Speed  0.175952
17  Defense    Speed  0.015227
32    Speed  Defense  0.015227

In [253]:
df1[df1['corr'] != 1].sort_values('corr',ascending = False).iloc[0]

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

# 66ë²ˆ ê° Generationì˜ Attackìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ì‹œ ìƒìœ„ 3ê°œ ë°ì´í„°ë“¤(18ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [254]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [255]:
df[['Generation','Attack']].sort_values(['Generation','Attack']).groupby('Generation').head(3)['Attack'].mean()

19.5

# 67ë²ˆ ê° Generationì˜ Attackìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ì‹œ ìƒìœ„ 5ê°œ ë°ì´í„°ë“¤(30ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [256]:
df[['Generation','Attack']].sort_values(['Generation','Attack'],ascending = False).groupby('Generation').head(5)['Attack'].mean()

157.23333333333332

# 68ë²ˆ ê°€ì¥ í”í•˜ê²Œ ë°œê²¬ë˜ëŠ” (Type1 , Type2) ì˜ ìŒì€ ë¬´ì—‡ì¸ê°€?

In [257]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [258]:
df[['Type 1','Type 2']].value_counts().head(1)

Type 1  Type 2
Normal  Flying    24
dtype: int64

# 69ë²ˆ í•œë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1 , Type2)ì˜ ìŒì˜ ê°¯ìˆ˜ëŠ” ëª‡ê°œì¸ê°€?

In [259]:
df[['Type 1','Type 2']].value_counts() == 1

Type 1    Type 2
Normal    Flying    False
Grass     Poison    False
Bug       Flying    False
          Poison    False
Ghost     Grass     False
                    ...
Fire      Rock       True
Ice       Ghost      True
Fire      Dragon     True
Fighting  Flying     True
Water     Steel      True
Length: 136, dtype: bool

In [260]:
sum((df[['Type 1','Type 2']].value_counts() == 1))

39

# 70ë²ˆ í•œë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1 , Type2)ì˜ ìŒì„ ê° ì„¸ëŒ€(Generation)ì€ ê°ê° ëª‡ê°œì”© ê°€ì§€ê³  ìˆëŠ”ê°€?

In [261]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [262]:
df1 = df[['Type 1','Type 2']].value_counts()
df1

Type 1    Type 2
Normal    Flying    24
Grass     Poison    15
Bug       Flying    14
          Poison    12
Ghost     Grass     10
                    ..
Fire      Rock       1
Ice       Ghost      1
Fire      Dragon     1
Fighting  Flying     1
Water     Steel      1
Length: 136, dtype: int64

In [263]:
df2 = df1[df1 == 1].index
df2

MultiIndex([('Electric',    'Grass'),
            (   'Steel',   'Dragon'),
            ('Electric',      'Ice'),
            (   'Steel', 'Fighting'),
            (   'Steel',   'Flying'),
            ('Electric',    'Fairy'),
            ('Electric',    'Ghost'),
            ('Electric',     'Fire'),
            (     'Bug',    'Water'),
            ('Electric',   'Dragon'),
            (  'Dragon',     'Fire'),
            (     'Bug',    'Ghost'),
            (  'Dragon',    'Fairy'),
            (  'Dragon', 'Electric'),
            (  'Ground',    'Steel'),
            (    'Rock', 'Fighting'),
            ('Electric',    'Water'),
            ( 'Psychic',     'Dark'),
            (  'Ground',     'Fire'),
            (  'Ground', 'Electric'),
            (  'Normal',   'Ground'),
            (   'Grass',   'Ground'),
            (  'Normal',    'Water'),
            (  'Poison',      'Bug'),
            (  'Poison',   'Dragon'),
            (   'Grass',   'Dragon'),
            (  'Poison',    'Water'),
            (   'Ghost',     'Dark'),
            ('Fighting',     'Dark'),
            ( 'Psychic',     'Fire'),
            (    'Fire',    'Water'),
            ( 'Psychic',    'Ghost'),
            ( 'Psychic',    'Grass'),
            (    'Fire',    'Steel'),
            (    'Fire',     'Rock'),
            (     'Ice',    'Ghost'),
            (    'Fire',   'Dragon'),
            ('Fighting',   'Flying'),
            (   'Water',    'Steel')],
           names=['Type 1', 'Type 2'])

In [264]:
lst = []

for i in df2:
    t1 = i[0]
    t2 = i[1]
    
    tt = df[(df['Type 1'] == t1) & (df['Type 2'] == t2)]
    lst.append(tt)

In [265]:
lst

[       #            Name    Type 1 Type 2  Total  HP  Attack  Defense  \
 536  479  RotomMow Rotom  Electric  Grass    520  50      65      107

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 536      105      107     86           4      False  ,
        #    Name Type 1  Type 2  Total   HP  Attack  Defense  Sp. Atk  \
 540  483  Dialga  Steel  Dragon    680  100     120      120      150

      Sp. Def  Speed  Generation  Legendary
 540      100     90           4       True  ,
        #              Name    Type 1 Type 2  Total  HP  Attack  Defense  \
 534  479  RotomFrost Rotom  Electric    Ice    520  50      65      107

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 534      105      107     86           4      False  ,
        #      Name Type 1    Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 699  638  Cobalion  Steel  Fighting    580  91      90      129       90

      Sp. Def  Speed  Generation  Legendary
 699       72    108           5       True  ,
        #      Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 245  227  Skarmory  Steel  Flying    465  65      80      140       40

      Sp. Def  Speed  Generation  Legendary
 245       70     70           2      False  ,
        #     Name    Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 772  702  Dedenne  Electric  Fairy    431  67      58       57       81

      Sp. Def  Speed  Generation  Legendary
 772       67    101           6      False  ,
        #   Name    Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 531  479  Rotom  Electric  Ghost    440  50      50       77       95

      Sp. Def  Speed  Generation  Legendary
 531       77     91           4      False  ,
        #             Name    Type 1 Type 2  Total  HP  Attack  Defense  \
 532  479  RotomHeat Rotom  Electric   Fire    520  50      65      107

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 532      105      107     86           4      False  ,
        #     Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
 307  283  Surskit    Bug  Water    269  40      30       32       50       52

      Speed  Generation  Legendary
 307     65           3      False  ,
        #                   Name    Type 1  Type 2  Total  HP  Attack  Defense  \
 196  181  AmpharosMega Ampharos  Electric  Dragon    610  90      95      105

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 196      165      110     45           2      False  ,
        #      Name  Type 1 Type 2  Total   HP  Attack  Defense  Sp. Atk  \
 706  643  Reshiram  Dragon   Fire    680  100     120      100      150

      Sp. Def  Speed  Generation  Legendary
 706      120     90           5       True  ,
        #      Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 316  292  Shedinja    Bug  Ghost    236   1      90       45       30

      Sp. Def  Speed  Generation  Legendary
 316       30     40           3      False  ,
        #                 Name  Type 1 Type 2  Total  HP  Attack  Defense  \
 366  334  AltariaMega Altaria  Dragon  Fairy    590  75     110      110

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 366      110      105     80           3      False  ,
        #    Name  Type 1    Type 2  Total   HP  Attack  Defense  Sp. Atk  \
 707  644  Zekrom  Dragon  Electric    680  100     150      120      120

      Sp. Def  Speed  Generation  Legendary
 707      100     90           5       True  ,
        #       Name  Type 1 Type 2  Total   HP  Attack  Defense  Sp. Atk  \
 589  530  Excadrill  Ground  Steel    508  110     135       60       50

      Sp. Def  Speed  Generation  Legendary
 589       65     88           5      False  ,
        #       Name Type 1    Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 700  639  Terrakion   Rock  Fighting    580  91     129       90       72

      Sp. Def  Speed  Generation  Legendary
 700       90    108           5       True  ,
        #             Name    Type 1 Type 2  Total  HP  Attack  Defense  \
 533  479  RotomWash Rotom  Electric  Water    520  50      65      107

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 533      105      107     86           4      False  ,
        #                Name   Type 1 Type 2  Total  HP  Attack  Defense  \
 798  720  HoopaHoopa Unbound  Psychic   Dark    680  80     160       60

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 798      170      130     80           6       True  ,
        #                   Name  Type 1 Type 2  Total   HP  Attack  Defense  \
 424  383  GroudonPrimal Groudon  Ground   Fire    770  100     180      160

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 424      150       90     90           3       True  ,
        #      Name  Type 1    Type 2  Total   HP  Attack  Defense  Sp. Atk  \
 679  618  Stunfisk  Ground  Electric    471  109      66       84       81

      Sp. Def  Speed  Generation  Legendary
 679       99     32           5      False  ,
        #       Name  Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 728  660  Diggersby  Normal  Ground    423  85      56       77       50

      Sp. Def  Speed  Generation  Legendary
 728       77     78           6      False  ,
        #      Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 434  389  Torterra  Grass  Ground    525  95     109      105       75

      Sp. Def  Speed  Generation  Legendary
 434       85     56           4      False  ,
        #     Name  Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 445  400  Bibarel  Normal  Water    410  79      85       60       55

      Sp. Def  Speed  Generation  Legendary
 445       60     71           4      False  ,
        #     Name  Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 501  451  Skorupi  Poison    Bug    330  40      50       90       30

      Sp. Def  Speed  Generation  Legendary
 501       55     65           4      False  ,
        #      Name  Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 761  691  Dragalge  Poison  Dragon    494  65      75       90       97

      Sp. Def  Speed  Generation  Legendary
 761      123     44           6      False  ,
        #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
 275  254  SceptileMega Sceptile  Grass  Dragon    630  70     110       75

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 275      145       85    145           3      False  ,
        #    Name  Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
 760  690  Skrelp  Poison  Water    320  50      60       60       60       60

      Speed  Generation  Legendary
 760     30           6      False  ,
        #       Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 490  442  Spiritomb  Ghost   Dark    485  50      92      108       92

      Sp. Def  Speed  Generation  Legendary
 490      108     35           4      False  ,
        #     Name    Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 743  675  Pangoro  Fighting   Dark    495  95     124       78       69

      Sp. Def  Speed  Generation  Legendary
 743       71     58           6      False  ,
        #     Name   Type 1 Type 2  Total   HP  Attack  Defense  Sp. Atk  \
 553  494  Victini  Psychic   Fire    600  100     100      100      100

      Sp. Def  Speed  Generation  Legendary
 553      100    100           5       True  ,
        #       Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 799  721  Volcanion   Fire  Water    600  80     110      120      130

      Sp. Def  Speed  Generation  Legendary
 799       90     70           6       True  ,
        #                 Name   Type 1 Type 2  Total  HP  Attack  Defense  \
 797  720  HoopaHoopa Confined  Psychic  Ghost    600  80     110       60

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 797      150      130     70           6       True  ,
        #    Name   Type 1 Type 2  Total   HP  Attack  Defense  Sp. Atk  \
 271  251  Celebi  Psychic  Grass    600  100     100      100      100

      Sp. Def  Speed  Generation  Legendary
 271      100    100           2      False  ,
        #     Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
 542  485  Heatran   Fire  Steel    600  91      90      106      130      106

      Speed  Generation  Legendary
 542     77           4       True  ,
        #      Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 237  219  Magcargo   Fire   Rock    410  50      50      120       80

      Sp. Def  Speed  Generation  Legendary
 237       80     30           2      False  ,
        #      Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 530  478  Froslass    Ice  Ghost    480  70      80       70       80

      Sp. Def  Speed  Generation  Legendary
 530       70    110           4      False  ,
    #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
 7  6  CharizardMega Charizard X   Fire  Dragon    634  78     130      111

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
 7      130       85    100           1      False  ,
        #      Name    Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 771  701  Hawlucha  Fighting  Flying    500  78      92       75       74

      Sp. Def  Speed  Generation  Legendary
 771       63    118           6      False  ,
        #      Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
 440  395  Empoleon  Water  Steel    530  84      86       88      111

      Sp. Def  Speed  Generation  Legendary
 440      101     60           4      False  ]

In [266]:
pd.concat(lst)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
536,479,RotomMow Rotom,Electric,Grass,520,50,65,107,105,107,86,4,False
540,483,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True
534,479,RotomFrost Rotom,Electric,Ice,520,50,65,107,105,107,86,4,False
699,638,Cobalion,Steel,Fighting,580,91,90,129,90,72,108,5,True
245,227,Skarmory,Steel,Flying,465,65,80,140,40,70,70,2,False
772,702,Dedenne,Electric,Fairy,431,67,58,57,81,67,101,6,False
531,479,Rotom,Electric,Ghost,440,50,50,77,95,77,91,4,False
532,479,RotomHeat Rotom,Electric,Fire,520,50,65,107,105,107,86,4,False
307,283,Surskit,Bug,Water,269,40,30,32,50,52,65,3,False
196,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False
706,643,Reshiram,Dragon,Fire,680,100,120,100,150,120,90,5,True
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,590,75,110,110,110,105,80,3,False
707,644,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True
589,530,Excadrill,Ground,Steel,508,110,135,60,50,65,88,5,False
700,639,Terrakion,Rock,Fighting,580,91,129,90,72,90,108,5,True
533,479,RotomWash Rotom,Electric,Water,520,50,65,107,105,107,86,4,False
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
679,618,Stunfisk,Ground,Electric,471,109,66,84,81,99,32,5,False
728,660,Diggersby,Normal,Ground,423,85,56,77,50,77,78,6,False
434,389,Torterra,Grass,Ground,525,95,109,105,75,85,56,4,False
445,400,Bibarel,Normal,Water,410,79,85,60,55,60,71,4,False
501,451,Skorupi,Poison,Bug,330,40,50,90,30,55,65,4,False
761,691,Dragalge,Poison,Dragon,494,65,75,90,97,123,44,6,False
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
760,690,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False
490,442,Spiritomb,Ghost,Dark,485,50,92,108,92,108,35,4,False
743,675,Pangoro,Fighting,Dark,495,95,124,78,69,71,58,6,False
553,494,Victini,Psychic,Fire,600,100,100,100,100,100,100,5,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
271,251,Celebi,Psychic,Grass,600,100,100,100,100,100,100,2,False
542,485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
237,219,Magcargo,Fire,Rock,410,50,50,120,80,80,30,2,False
530,478,Froslass,Ice,Ghost,480,70,80,70,80,70,110,4,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
771,701,Hawlucha,Fighting,Flying,500,78,92,75,74,63,118,6,False
440,395,Empoleon,Water,Steel,530,84,86,88,111,101,60,4,False

In [267]:
# answer
pd.concat(lst).reset_index(drop = True)['Generation'].value_counts().sort_index()

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64

ë°ì´í„° ì¶œì²˜ : êµ­ë¯¼ì²´ìœ¡ì§„í¥ê³µë‹¨ (ë¬¸í™” ë¹…ë°ì´í„°í”Œë«í¼) (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ëŒ€í•œë¯¼êµ­ êµ­ë¯¼ ì²´ë ¥ì¥ í‰ê°€
<br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv

In [268]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C
...,...,...,...,...,...,...,...,...,...,...,...,...
13391,61.0,M,167.0,65.8,22.2,71.0,130.0,33.7,14.5,37.0,182.0,C
13392,25.0,M,170.7,64.2,22.4,57.0,121.0,32.5,11.8,48.0,196.0,C
13393,47.0,M,166.2,77.5,22.8,84.0,133.0,52.4,11.9,45.0,220.0,B
13394,29.0,M,175.4,74.4,16.1,77.0,124.0,58.4,23.5,48.0,245.0,B
13395,28.0,M,173.8,78.5,17.3,88.0,119.0,50.1,19.9,57.0,237.0,A

# 71ë²ˆ ì „ì²´ë°ì´í„°ì˜ ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) - ì´ì™„ê¸°í˜ˆì••(ìµœì €)ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [269]:
(df['ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg'] - df['ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg']).mean()

52.19539414750672

# 72ë²ˆ 50~59ì„¸ì˜ ì‹ ì¥í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [270]:
df.head()

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

In [271]:
df[(df['ì¸¡ì •ë‚˜ì´'] >= 50) & (df['ì¸¡ì •ë‚˜ì´'] <= 59)]['ì‹ ì¥ : cm'].mean()

164.07490107405295

# 73ë²ˆ ì—°ë ¹ëŒ€ (20~29 : 20ëŒ€ â€¦) ë³„ ì¸ì›ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [272]:
df['ì¸¡ì •ë‚˜ì´'] // 10 * 10

0        50.0
1        40.0
2        20.0
3        30.0
4        20.0
         ...
13391    60.0
13392    20.0
13393    40.0
13394    20.0
13395    20.0
Name: ì¸¡ì •ë‚˜ì´, Length: 13396, dtype: float64

In [273]:
df['ì—°ë ¹ëŒ€'] = df['ì¸¡ì •ë‚˜ì´'] // 10 * 10
df.head()

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰,ì—°ë ¹ëŒ€
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C,50.0
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B,40.0
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B,20.0
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A,30.0
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C,20.0

In [274]:
df['ì—°ë ¹ëŒ€'].value_counts()

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: ì—°ë ¹ëŒ€, dtype: int64

# 74ë²ˆ ì—°ë ¹ëŒ€ (20~29 : 20ëŒ€ â€¦) ë³„ ë“±ê¸‰ì˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [275]:
df.groupby(['ì—°ë ¹ëŒ€','ë“±ê¸‰']).size()

ì—°ë ¹ëŒ€   ë“±ê¸‰
20.0  A     1585
      B     1443
      C     1455
      D     1348
30.0  A      743
      B      697
      C      626
      D      594
40.0  A      386
      B      428
      C      455
      D      532
50.0  A      321
      B      410
      C      474
      D      564
60.0  A      314
      B      371
      C      339
      D      311
dtype: int64

In [276]:
df.groupby(['ì—°ë ¹ëŒ€','ë“±ê¸‰'],as_index=False).size()

     ì—°ë ¹ëŒ€ ë“±ê¸‰  size
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

# 75ë²ˆ ë‚¨ì„± ì¤‘ Aë“±ê¸‰ê³¼ Dë“±ê¸‰ì˜ ì²´ì§€ë°©ë¥  í‰ê· ì˜ ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼

In [277]:
df.head()

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰,ì—°ë ¹ëŒ€
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C,50.0
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B,40.0
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B,20.0
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A,30.0
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C,20.0

In [278]:
df['ì¸¡ì •íšŒì›ì„±ë³„'].unique()

array(['M', 'F'], dtype=object)

In [279]:
df1 = df[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'M']
df1

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰,ì—°ë ¹ëŒ€
0,59.0,M,175.0,70.60,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C,50.0
2,27.0,M,176.6,84.80,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B,20.0
3,38.0,M,167.6,76.70,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A,30.0
4,21.0,M,165.2,66.20,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C,20.0
6,35.0,M,173.6,84.08,25.4,97.0,157.0,48.8,26.4,58.0,229.0,B,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13391,61.0,M,167.0,65.80,22.2,71.0,130.0,33.7,14.5,37.0,182.0,C,60.0
13392,25.0,M,170.7,64.20,22.4,57.0,121.0,32.5,11.8,48.0,196.0,C,20.0
13393,47.0,M,166.2,77.50,22.8,84.0,133.0,52.4,11.9,45.0,220.0,B,40.0
13394,29.0,M,175.4,74.40,16.1,77.0,124.0,58.4,23.5,48.0,245.0,B,20.0
13395,28.0,M,173.8,78.50,17.3,88.0,119.0,50.1,19.9,57.0,237.0,A,20.0

In [280]:
df2 = df1[df1['ë“±ê¸‰'].isin(['A','D'])]
df2

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰,ì—°ë ¹ëŒ€
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A,30.0
7,33.0,M,173.4,76.9,25.5,74.0,116.0,45.6,6.0,33.0,226.0,D,30.0
10,39.0,M,171.0,80.2,27.9,83.0,120.0,38.9,4.2,44.0,183.0,D,30.0
11,60.0,M,166.4,70.8,25.6,92.0,154.0,35.6,11.7,38.0,193.0,D,60.0
12,21.0,M,172.9,72.5,21.7,66.0,128.0,47.9,7.9,41.0,208.0,D,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13368,60.0,M,162.0,54.7,21.1,83.0,157.0,35.5,-0.9,20.0,166.0,D,60.0
13372,38.0,M,173.2,94.1,33.1,87.0,154.0,58.1,3.0,44.0,170.0,D,30.0
13373,62.0,M,160.8,58.8,24.8,91.0,152.0,22.0,9.9,18.0,140.0,D,60.0
13388,63.0,M,163.4,68.1,23.8,79.0,155.0,36.5,19.0,33.0,187.0,A,60.0
13395,28.0,M,173.8,78.5,17.3,88.0,119.0,50.1,19.9,57.0,237.0,A,20.0

In [281]:
df2.groupby('ë“±ê¸‰').mean()['ì²´ì§€ë°©ìœ¨ : %']

ë“±ê¸‰
A    16.880881
D    24.812967
Name: ì²´ì§€ë°©ìœ¨ : %, dtype: float64

In [282]:
abs(df2.groupby('ë“±ê¸‰').mean()['ì²´ì§€ë°©ìœ¨ : %'][0] - df2.groupby('ë“±ê¸‰').mean()['ì²´ì§€ë°©ìœ¨ : %'][1])

7.932086486137521

In [283]:
# ë‹¤ë¥¸ë°©ë²•
abs(df[(df.ì¸¡ì •íšŒì›ì„±ë³„ =='M') &(df.ë“±ê¸‰ =='A')].iloc[:,4].mean() -df[(df.ì¸¡ì •íšŒì›ì„±ë³„ =='M') &(df.ë“±ê¸‰ =='D')].iloc[:,4].mean())

7.932086486137457

# 76ë²ˆ ì—¬ì„± ì¤‘ Aë“±ê¸‰ê³¼ Dë“±ê¸‰ì˜ ì²´ì¤‘ì˜ í‰ê· ì˜ ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼

In [284]:
df.head()

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰,ì—°ë ¹ëŒ€
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C,50.0
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B,40.0
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B,20.0
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A,30.0
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C,20.0

In [285]:
df1 = df[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'F']
df2 = df1[df1['ë“±ê¸‰'].isin(['A','D'])]

In [286]:
df2.groupby('ë“±ê¸‰').mean()['ì²´ì¤‘ : kg']

ë“±ê¸‰
A    55.521146
D    60.697357
Name: ì²´ì¤‘ : kg, dtype: float64

In [287]:
abs(df2.groupby('ë“±ê¸‰').mean()['ì²´ì¤‘ : kg'][0] - df2.groupby('ë“±ê¸‰').mean()['ì²´ì¤‘ : kg'][1])

5.176211590296489

## 77ë²ˆ bmiëŠ” ìì‹ ì˜ ëª¸ë¬´ê²Œ(kg)ë¥¼ í‚¤ì˜ ì œê³±(m)ìœ¼ë¡œ ë‚˜ëˆˆê°’ì´ë‹¤. ë°ì´í„°ì˜ bmi ë¥¼ êµ¬í•œ ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ë§Œë“¤ê³  ë‚¨ì„±ì˜ bmi í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [288]:
df.head()

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰,ì—°ë ¹ëŒ€
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C,50.0
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B,40.0
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B,20.0
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A,30.0
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C,20.0

In [289]:
df['bmi'] = df['ì²´ì¤‘ : kg'] / ((df['ì‹ ì¥ : cm'] / 100) ** 2)
df.head()

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰,ì—°ë ¹ëŒ€,bmi
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C,50.0,23.053061
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B,40.0,17.581601
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B,20.0,27.190328
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A,30.0,27.305324
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C,20.0,24.257046

In [290]:
df[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'M']['bmi'].mean()

24.461344098193027

# 78ë²ˆ bmië³´ë‹¤ ì²´ì§€ë°©ìœ¨ì´ ë†’ì€ ì‚¬ëŒë“¤ì˜ ì²´ì¤‘í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [291]:
df.head()

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰,ì—°ë ¹ëŒ€,bmi
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C,50.0,23.053061
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B,40.0,17.581601
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B,20.0,27.190328
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A,30.0,27.305324
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C,20.0,24.257046

In [292]:
df[df['bmi'] < df['ì²´ì§€ë°©ìœ¨ : %']]['ì²´ì¤‘ : kg'].mean()

61.740880639254314

# 79ë²ˆ ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ ì•…ë ¥ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [293]:
abs(df.groupby('ì¸¡ì •íšŒì›ì„±ë³„').mean()['ì•…ë ¥D : kg'][0] - df.groupby('ì¸¡ì •íšŒì›ì„±ë³„').mean()['ì•…ë ¥D : kg'][1])

17.55954185047465

# 80ë²ˆ ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° íšŸìˆ˜ì˜ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [294]:
abs(df.groupby('ì¸¡ì •íšŒì›ì„±ë³„').mean()['êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ'][0] - df.groupby('ì¸¡ì •íšŒì›ì„±ë³„').mean()['êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ'][1])

14.243156833157627

ë°ì´í„° ì¶œì²˜ : https://data.kma.go.kr/cmmn/static/staticPage.do?page=intro
<br>
ë°ì´í„° ì„¤ëª… : 2020ë…„ë„ ì´í™”ë™(ì„œìš¸) , ìˆ˜ì˜ë™(ë¶€ì‚°)ì˜ ì‹œê°„ë‹¨ìœ„ì˜ ê¸°ì˜¨ê³¼ ê°•ìˆ˜ëŸ‰
<br>
ë°ì´í„° url : https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv

In [295]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv')
df

                     time  ì´í™”ë™ê°•ìˆ˜  ì´í™”ë™ê¸°ì˜¨  ìˆ˜ì˜ë™ê°•ìˆ˜  ìˆ˜ì˜ë™ê¸°ì˜¨
0     2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1     2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2     2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3     2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4     2020-01-01 04:00:00    0.0   -0.1    0.0    5.1
...                   ...    ...    ...    ...    ...
8779  2020-12-31 19:00:00    0.0   -9.5    0.0   -4.5
8780  2020-12-31 20:00:00    0.0   -9.5    0.0   -5.0
8781  2020-12-31 21:00:00    0.0   -9.3    0.0   -6.5
8782  2020-12-31 22:00:00    0.0   -9.2    0.0   -4.6
8783  2020-12-31 23:00:00    0.0   -7.8    0.0   -0.2

[8784 rows x 5 columns]

# 81ë²ˆ ì—¬ë¦„ì² (6ì›”,7ì›”,8ì›”) ì´í™”ë™ì´ ìˆ˜ì˜ë™ë³´ë‹¤ ë†’ì€ ê¸°ì˜¨ì„ ê°€ì§„ ì‹œê°„ëŒ€ëŠ” ëª‡ê°œì¸ê°€?

In [296]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    8784 non-null   object
 1   ì´í™”ë™ê°•ìˆ˜   8784 non-null   float64
 2   ì´í™”ë™ê¸°ì˜¨   8784 non-null   float64
 3   ìˆ˜ì˜ë™ê°•ìˆ˜   8784 non-null   float64
 4   ìˆ˜ì˜ë™ê¸°ì˜¨   8784 non-null   float64
dtypes: float64(4), object(1)
memory usage: 343.2+ KB

In [297]:
df['time'] = pd.to_datetime(df['time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    8784 non-null   datetime64[ns]
 1   ì´í™”ë™ê°•ìˆ˜   8784 non-null   float64
 2   ì´í™”ë™ê¸°ì˜¨   8784 non-null   float64
 3   ìˆ˜ì˜ë™ê°•ìˆ˜   8784 non-null   float64
 4   ìˆ˜ì˜ë™ê¸°ì˜¨   8784 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 343.2 KB

In [298]:
df1 = df[df['time'].dt.month.isin([6,7,8])]
df1

                    time  ì´í™”ë™ê°•ìˆ˜      ì´í™”ë™ê¸°ì˜¨  ìˆ˜ì˜ë™ê°•ìˆ˜      ìˆ˜ì˜ë™ê¸°ì˜¨
3648 2020-06-01 00:00:00    0.0  21.100000    0.0  24.799999
3649 2020-06-01 01:00:00    0.0  22.400000    0.0  23.500000
3650 2020-06-01 02:00:00    0.0  23.100000    0.0  23.100000
3651 2020-06-01 03:00:00    0.0  23.100000    0.0  25.400000
3652 2020-06-01 04:00:00    0.0  23.799999    0.0  24.500000
...                  ...    ...        ...    ...        ...
5851 2020-08-31 19:00:00    0.0  24.299999    0.0  24.100000
5852 2020-08-31 20:00:00    0.0  23.900000    0.0  24.200001
5853 2020-08-31 21:00:00    0.0  24.000000    0.0  24.600000
5854 2020-08-31 22:00:00    0.0  24.600000    0.0  24.900000
5855 2020-08-31 23:00:00    0.0  25.000000    0.0  26.900000

[2208 rows x 5 columns]

In [299]:
df1[df1['ì´í™”ë™ê¸°ì˜¨'] > df1['ìˆ˜ì˜ë™ê¸°ì˜¨']].shape[0]

1415

# 82ë²ˆ ì´í™”ë™ê³¼ ìˆ˜ì˜ë™ì˜ ìµœëŒ€ê°•ìˆ˜ëŸ‰ì˜ ì‹œê°„ëŒ€ë¥¼ ê°ê° êµ¬í•˜ì—¬ë¼

In [300]:
df.head()

                 time  ì´í™”ë™ê°•ìˆ˜  ì´í™”ë™ê¸°ì˜¨  ìˆ˜ì˜ë™ê°•ìˆ˜  ìˆ˜ì˜ë™ê¸°ì˜¨
0 2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1 2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2 2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3 2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4 2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

In [301]:
print(df[df['ì´í™”ë™ê°•ìˆ˜'] == df['ì´í™”ë™ê°•ìˆ˜'].max()]['time'].values)

['2020-09-30T09:00:00.000000000']

In [302]:
print(df[df['ìˆ˜ì˜ë™ê°•ìˆ˜'] == df['ìˆ˜ì˜ë™ê°•ìˆ˜'].max()]['time'].values)

['2020-07-23T12:00:00.000000000']

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/shubh0799/churn-modelling ì—ì„œ ë³€í˜•
<br>
ë°ì´í„° ì„¤ëª… : ê³ ê°ì˜ ì‹ ìƒì •ë³´ ë°ì´í„°ë¥¼ í†µí•œ íšŒì‚¬ ì„œë¹„ìŠ¤ ì´íƒˆ ì˜ˆì¸¡ (ì¢…ì†ë³€ìˆ˜ : Exited)
<br>
Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv

In [303]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7994,1607,15714080,Goliwe,566,Germany,Female,40,2,97001.36,2,1,0,154486.01,0
7995,7744,15741643,Chiang,777,Germany,Male,35,7,122917.69,1,1,1,76169.68,0
7996,4231,15566660,Cole,670,France,Female,41,10,0.00,3,1,0,81602.02,0
7997,8870,15733597,Y?an,669,France,Female,41,0,150219.41,2,0,0,107839.03,0
7998,523,15595766,Watts,527,Spain,Male,37,5,93722.73,2,1,1,139093.73,0

# 83ë²ˆ ë‚¨ì„± ì´íƒˆ(Exited)ì´ ê°€ì¥ ë§ì€ êµ­ê°€(Geography)ëŠ” ì–´ë””ì´ê³  ì´íƒˆ ì¸ì›ì€ ëª‡ëª…ì¸ê°€?

In [304]:
df['Exited'].unique()

array([0, 1], dtype=int64)

In [305]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [306]:
df['Geography'].unique()

array(['Germany', 'France', 'Spain'], dtype=object)

In [307]:
df[(df['Gender']=='Male') & (df['Exited']==1)]['Geography'].value_counts().head(1)

Germany    287
Name: Geography, dtype: int64

# 84ë²ˆ **ì¹´ë“œë¥¼ ì†Œìœ (HasCrCard ==1)í•˜ê³  ìˆìœ¼ë©´ì„œ í™œì„±ë©¤ë²„(IsActiveMember ==1) ì¸ ê³ ê°ë“¤ì˜ í‰ê·  ë‚˜ì´ë¥¼ ì†Œìˆ«ì ì´í•˜ 4ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼? **

In [308]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

In [309]:
round(df[(df['HasCrCard']==1) & (df['IsActiveMember']==1)]['Age'].mean(),4)

39.6102

# 85ë²ˆ Balance ê°’ì´ ì¤‘ê°„ê°’ ì´ìƒì„ ê°€ì§€ëŠ” ê³ ê°ë“¤ì˜ CreditScoreì˜ í‘œì¤€í¸ì°¨ë¥¼ ì†Œìˆ«ì ì´í•˜ 3ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [310]:
round(df[df['Balance'] >= df['Balance'].median()]['CreditScore'].std(),3)

97.295

ë°ì´í„° ì¶œì²˜ :https://www.data.go.kr/data/15007122/fileData.do (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : 2018ë…„ë„ ì„±ì¸ì˜ ê±´ê°•ê²€ ì§„ë°ì´í„° (í¡ì—°ìƒíƒœ 1- í¡ì—°, 0-ë¹„í¡ì—° )
<br>
ë°ì´í„° url : https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv

In [311]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")
df

,ì„±ë³„ì½”ë“œ,ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„),ì‹ ì¥(5Cmë‹¨ìœ„),ì²´ì¤‘(5Kgë‹¨ìœ„),í—ˆë¦¬ë‘˜ë ˆ,ì‹œë ¥(ì¢Œ),ì‹œë ¥(ìš°),ì²­ë ¥(ì¢Œ),ì²­ë ¥(ìš°),ìˆ˜ì¶•ê¸°í˜ˆì••,...,í˜ˆìƒ‰ì†Œ,ìš”ë‹¨ë°±,í˜ˆì²­í¬ë ˆì•„í‹°ë‹Œ,(í˜ˆì²­ì§€ì˜¤í‹°)AST,(í˜ˆì²­ì§€ì˜¤í‹°)ALT,ê°ë§ˆì§€í‹°í”¼,í¡ì—°ìƒíƒœ,êµ¬ê°•ê²€ì§„ìˆ˜ê²€ì—¬ë¶€,ì¹˜ì•„ìš°ì‹ì¦ìœ ë¬´,ì¹˜ì„
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,16.7,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,12.9,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44548,F,60,145,50,87.0,1.0,1.0,1.0,1.0,140.0,...,12.3,1.0,0.5,24.0,32.0,15.0,0,Y,1.0,Y
44549,M,40,175,75,88.0,1.5,1.2,1.0,1.0,139.0,...,15.3,1.0,0.8,62.0,106.0,49.0,1,Y,0.0,Y
44550,F,60,150,55,82.0,0.9,0.9,1.0,1.0,124.0,...,14.1,1.0,0.5,38.0,34.0,26.0,0,Y,0.0,Y
44551,M,40,170,50,69.0,0.4,1.2,1.0,1.0,117.0,...,14.2,1.0,0.9,22.0,17.0,55.0,1,Y,0.0,N
44552,F,40,155,50,72.5,1.0,1.0,1.0,1.0,109.0,...,11.7,1.0,0.6,16.0,10.0,7.0,0,Y,0.0,N

# 86ë²ˆ ìˆ˜ì¶•ê¸°í˜ˆì••ê³¼ ì´ì™„ê¸° í˜ˆì••ê¸° ìˆ˜ì¹˜ì˜ ì°¨ì´ë¥¼ ìƒˆë¡œìš´ ì»¬ëŸ¼(â€˜í˜ˆì••ì°¨â€™) ìœ¼ë¡œ ìƒì„±í•˜ê³ , ì—°ë ¹ëŒ€ ì½”ë“œë³„ ê° ê·¸ë£¹ ì¤‘ â€˜í˜ˆì••ì°¨â€™ ì˜ ë¶„ì‚°ì´ 5ë²ˆì§¸ë¡œ í° ì—°ë ¹ëŒ€ ì½”ë“œë¥¼ êµ¬í•˜ì—¬ë¼

In [312]:
df.columns

Index(['ì„±ë³„ì½”ë“œ', 'ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„)', 'ì‹ ì¥(5Cmë‹¨ìœ„)', 'ì²´ì¤‘(5Kgë‹¨ìœ„)', 'í—ˆë¦¬ë‘˜ë ˆ', 'ì‹œë ¥(ì¢Œ)',
       'ì‹œë ¥(ìš°)', 'ì²­ë ¥(ì¢Œ)', 'ì²­ë ¥(ìš°)', 'ìˆ˜ì¶•ê¸°í˜ˆì••', 'ì´ì™„ê¸°í˜ˆì••', 'ì‹ì „í˜ˆë‹¹(ê³µë³µí˜ˆë‹¹)', 'ì´ì½œë ˆìŠ¤í…Œë¡¤',
       'íŠ¸ë¦¬ê¸€ë¦¬ì„¸ë¼ì´ë“œ', 'HDLì½œë ˆìŠ¤í…Œë¡¤', 'LDLì½œë ˆìŠ¤í…Œë¡¤', 'í˜ˆìƒ‰ì†Œ', 'ìš”ë‹¨ë°±', 'í˜ˆì²­í¬ë ˆì•„í‹°ë‹Œ',
       '(í˜ˆì²­ì§€ì˜¤í‹°)AST', '(í˜ˆì²­ì§€ì˜¤í‹°)ALT', 'ê°ë§ˆì§€í‹°í”¼', 'í¡ì—°ìƒíƒœ', 'êµ¬ê°•ê²€ì§„ìˆ˜ê²€ì—¬ë¶€', 'ì¹˜ì•„ìš°ì‹ì¦ìœ ë¬´',
       'ì¹˜ì„'],
      dtype='object')

In [313]:
df['í˜ˆì••ì°¨'] = df['ìˆ˜ì¶•ê¸°í˜ˆì••'] - df['ì´ì™„ê¸°í˜ˆì••']
df.head()

,ì„±ë³„ì½”ë“œ,ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„),ì‹ ì¥(5Cmë‹¨ìœ„),ì²´ì¤‘(5Kgë‹¨ìœ„),í—ˆë¦¬ë‘˜ë ˆ,ì‹œë ¥(ì¢Œ),ì‹œë ¥(ìš°),ì²­ë ¥(ì¢Œ),ì²­ë ¥(ìš°),ìˆ˜ì¶•ê¸°í˜ˆì••,...,ìš”ë‹¨ë°±,í˜ˆì²­í¬ë ˆì•„í‹°ë‹Œ,(í˜ˆì²­ì§€ì˜¤í‹°)AST,(í˜ˆì²­ì§€ì˜¤í‹°)ALT,ê°ë§ˆì§€í‹°í”¼,í¡ì—°ìƒíƒœ,êµ¬ê°•ê²€ì§„ìˆ˜ê²€ì—¬ë¶€,ì¹˜ì•„ìš°ì‹ì¦ìœ ë¬´,ì¹˜ì„,í˜ˆì••ì°¨
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y,45.0
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y,32.0
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N,44.0
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y,44.0
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N,42.0

In [314]:
df[['ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„)','í˜ˆì••ì°¨']].groupby('ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„)').agg('var')

                    í˜ˆì••ì°¨
ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„)
20            66.555720
25            68.794878
30            61.990014
35            60.757553
40            67.285468
45            71.445083
50            71.207529
55            79.294182
60            94.386922
65            99.635384
70           115.999711
75           115.471623
80           154.537248
85            86.263736

In [315]:
df[['ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„)','í˜ˆì••ì°¨']].groupby('ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„)').agg('var').sort_values('í˜ˆì••ì°¨',ascending = False).index[4]

60

# 87ë²ˆ ë¹„ë§Œë„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì§€í‘œì¸ WHtRëŠ” í—ˆë¦¬ë‘˜ë ˆ / í‚¤ë¡œ í‘œí˜„í•œë‹¤. ì¼ë°˜ì ìœ¼ë¡œ 0.58ì´ìƒì´ë©´ ë¹„ë§Œìœ¼ë¡œ ë¶„ë¥˜í•œë‹¤. ë°ì´í„°ì¤‘ WHtR ì§€í‘œìƒ ë¹„ë§Œì¸ ì¸ì›ì˜ ë‚¨/ì—¬ ë¹„ìœ¨ì„ êµ¬í•˜ì—¬ë¼

In [316]:
df.head()

,ì„±ë³„ì½”ë“œ,ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„),ì‹ ì¥(5Cmë‹¨ìœ„),ì²´ì¤‘(5Kgë‹¨ìœ„),í—ˆë¦¬ë‘˜ë ˆ,ì‹œë ¥(ì¢Œ),ì‹œë ¥(ìš°),ì²­ë ¥(ì¢Œ),ì²­ë ¥(ìš°),ìˆ˜ì¶•ê¸°í˜ˆì••,...,ìš”ë‹¨ë°±,í˜ˆì²­í¬ë ˆì•„í‹°ë‹Œ,(í˜ˆì²­ì§€ì˜¤í‹°)AST,(í˜ˆì²­ì§€ì˜¤í‹°)ALT,ê°ë§ˆì§€í‹°í”¼,í¡ì—°ìƒíƒœ,êµ¬ê°•ê²€ì§„ìˆ˜ê²€ì—¬ë¶€,ì¹˜ì•„ìš°ì‹ì¦ìœ ë¬´,ì¹˜ì„,í˜ˆì••ì°¨
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y,45.0
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y,32.0
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N,44.0
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y,44.0
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N,42.0

In [317]:
df['WHtR'] = df['í—ˆë¦¬ë‘˜ë ˆ'] / df['ì‹ ì¥(5Cmë‹¨ìœ„)']
df['ë¹„ë§Œ'] = df['WHtR'].map(lambda x : True if x >= 0.58 else False)
df.head()

,ì„±ë³„ì½”ë“œ,ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„),ì‹ ì¥(5Cmë‹¨ìœ„),ì²´ì¤‘(5Kgë‹¨ìœ„),í—ˆë¦¬ë‘˜ë ˆ,ì‹œë ¥(ì¢Œ),ì‹œë ¥(ìš°),ì²­ë ¥(ì¢Œ),ì²­ë ¥(ìš°),ìˆ˜ì¶•ê¸°í˜ˆì••,...,(í˜ˆì²­ì§€ì˜¤í‹°)AST,(í˜ˆì²­ì§€ì˜¤í‹°)ALT,ê°ë§ˆì§€í‹°í”¼,í¡ì—°ìƒíƒœ,êµ¬ê°•ê²€ì§„ìˆ˜ê²€ì—¬ë¶€,ì¹˜ì•„ìš°ì‹ì¦ìœ ë¬´,ì¹˜ì„,í˜ˆì••ì°¨,WHtR,ë¹„ë§Œ
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,172.0,209.0,15.0,0,Y,0.0,Y,45.0,0.503448,False
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,30.0,19.0,23.0,1,Y,0.0,Y,32.0,0.411111,False
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,31.0,19.0,10.0,0,Y,0.0,N,44.0,0.480000,False
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,26.0,38.0,108.0,1,Y,1.0,Y,44.0,0.523529,False
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,20.0,11.0,13.0,0,Y,0.0,N,42.0,0.400000,False

In [318]:
df[df['ë¹„ë§Œ'] == True]['ì„±ë³„ì½”ë“œ'].value_counts()[0]/df[df['ë¹„ë§Œ'] == True]['ì„±ë³„ì½”ë“œ'].value_counts()[1]

1.1693877551020408

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/anmolkumar/health-insurance-cross-sell-prediction(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ìë™ì°¨  ë³´í—˜ ê°€ì… ì˜ˆì¸¡
<br>
Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv

In [319]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv")
df

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0
...,...,...,...,...,...,...,...,...,...,...,...,...
304882,351529,Male,75,1,33.0,0,1-2 Year,Yes,32412.0,26.0,296,1
304883,287917,Male,57,1,28.0,1,1-2 Year,No,44602.0,52.0,135,0
304884,21023,Female,40,1,35.0,0,1-2 Year,Yes,38779.0,26.0,293,0
304885,67340,Male,24,1,41.0,0,< 1 Year,Yes,26669.0,152.0,29,0
304886,127164,Female,22,1,50.0,1,< 1 Year,No,35063.0,152.0,184,0

# 88ë²ˆ Vehicle_Age ê°’ì´ 2ë…„ ì´ìƒì¸ ì‚¬ëŒë“¤ë§Œ í•„í„°ë§ í•˜ê³  ê·¸ì¤‘ì—ì„œ Annual_Premium ê°’ì´ ì „ì²´ ë°ì´í„°ì˜ ì¤‘ê°„ê°’ ì´ìƒì¸ ì‚¬ëŒë“¤ì„ ì°¾ê³ , ê·¸ë“¤ì˜ Vintageê°’ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [320]:
df['Vehicle_Age'].unique()

array(['< 1 Year', '1-2 Year', '> 2 Years'], dtype=object)

In [321]:
df[(df['Vehicle_Age'] == '> 2 Years') & (df['Annual_Premium'] >= df['Annual_Premium'].median())]['Vintage'].mean()

154.43647182359118

# 89ë²ˆ vehicle_ageì— ë”°ë¥¸ ê° ì„±ë³„(gender)ê·¸ë£¹ì˜ Annual_Premiumê°’ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ ì•„ë˜ í…Œì´ë¸”ê³¼ ë™ì¼í•˜ê²Œ êµ¬í˜„í•˜ë¼

In [322]:
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0

In [323]:
df[['Vehicle_Age','Gender','Annual_Premium']].groupby(['Vehicle_Age','Gender']).mean().unstack()

            Annual_Premium
Gender              Female          Male
Vehicle_Age
1-2 Year      30762.245001  30413.088469
< 1 Year      29972.286702  30310.982212
> 2 Years     36108.366374  35303.870627

In [324]:
#ë‹¤ë¥¸ ë°©ë²•
meandf = df.groupby(['Gender','Vehicle_Age'],as_index = False)['Annual_Premium'].mean()
meandf.pivot(index='Vehicle_Age',columns='Gender',values='Annual_Premium')

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/iabhishekofficial/mobile-price-classification?select=train.csv(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : í•¸ë“œí° ê°€ê²©ì˜ˆì¸¡ (price_rangeì»¬ëŸ¼ 0(ì €ë ´) ~3(ë§¤ìš°ë¹„ìŒˆ) ë²”ìœ„ )
<br>
Data url https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv

In [325]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv")
df

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

# 90ë²ˆ price_range ì˜ ê° valueë¥¼ ê·¸ë£¹í•‘í•˜ì—¬ ê° ê·¸ë£¹ì˜ n_cores ì˜ ë¹ˆë„ê°€ ê°€ì¥ë†’ì€ valueì™€ ê·¸ ë¹ˆë„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [326]:
df.groupby(['price_range','n_cores']).size()

price_range  n_cores
0            1          49
             2          69
             3          62
             4          67
             5          59
             6          61
             7          66
             8          67
1            1          76
             2          59
             3          69
             4          76
             5          51
             6          54
             7          55
             8          60
2            1          52
             2          57
             3          56
             4          73
             5          66
             6          57
             7          69
             8          70
3            1          65
             2          62
             3          59
             4          58
             5          70
             6          58
             7          69
             8          59
dtype: int64

In [327]:
df.groupby(['price_range','n_cores']).size().sort_values()

price_range  n_cores
0            1          49
1            5          51
2            1          52
1            6          54
             7          55
2            3          56
             6          57
             2          57
3            6          58
             4          58
             3          59
             8          59
0            5          59
1            2          59
             8          60
0            6          61
             3          62
3            2          62
             1          65
0            7          66
2            5          66
0            8          67
             4          67
3            7          69
0            2          69
1            3          69
2            7          69
3            5          70
2            8          70
             4          73
1            4          76
             1          76
dtype: int64

In [328]:
df.groupby(['price_range','n_cores']).size().sort_values().groupby('price_range').tail(1)

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

# 91ë²ˆ price_range ê°’ì´ 3ì¸ ê·¸ë£¹ì—ì„œ ìƒê´€ê´€ê³„ê°€ 2ë²ˆì§¸ë¡œ ë†’ì€ ë‘ ì»¬ëŸ¼ê³¼ ê·¸ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [329]:
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [330]:
df1 = df[df['price_range'] == 3].corr().unstack().reset_index().dropna()
df1

           level_0        level_1         0
0    battery_power  battery_power  1.000000
1    battery_power           blue -0.019588
2    battery_power    clock_speed -0.047833
3    battery_power       dual_sim -0.134352
4    battery_power             fc  0.083515
..             ...            ...       ...
414           wifi           sc_w  0.018241
415           wifi      talk_time -0.029220
416           wifi        three_g -0.026074
417           wifi   touch_screen  0.072470
418           wifi           wifi  1.000000

[400 rows x 3 columns]

In [331]:
df1[df1[0] != 1].sort_values(0,ascending = False).reset_index(drop = True)

           level_0        level_1         0
0               pc             fc  0.635166
1               fc             pc  0.635166
2          three_g         four_g  0.604218
3           four_g        three_g  0.604218
4         px_width      px_height  0.538207
..             ...            ...       ...
375      px_height            ram -0.238720
376            ram       px_width -0.257496
377       px_width            ram -0.257496
378  battery_power            ram -0.262759
379            ram  battery_power -0.262759

[380 rows x 3 columns]

In [332]:
df1[df1[0] != 1].sort_values(0,ascending = False).reset_index(drop = True).iloc[1]

level_0          fc
level_1          pc
0          0.635166
Name: 1, dtype: object

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction?select=train.csv (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ë¹„í–‰íƒ‘ìŠ¹ ê²½í—˜ ë§Œì¡±ë„ (satisfaction ì»¬ëŸ¼ : â€˜neutral or dissatisfiedâ€™ or satisfied ) (83123, 24) shape
<br>
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv

In [333]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv")
df

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied
3,102134,Male,Loyal Customer,44,Business travel,Business,3097,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
4,31580,Male,Loyal Customer,33,Business travel,Business,3286,1,1,1,...,4,2,5,2,5,1,4,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83118,9745,Male,Loyal Customer,39,Business travel,Business,3706,1,1,1,...,4,4,4,4,2,4,4,1,0.0,satisfied
83119,5190,Male,Loyal Customer,49,Business travel,Business,295,0,0,0,...,1,1,1,1,4,1,4,0,0.0,satisfied
83120,41381,Female,Loyal Customer,62,Business travel,Business,1914,3,5,5,...,3,3,3,3,3,3,3,64,48.0,neutral or dissatisfied
83121,79829,Female,Loyal Customer,53,Business travel,Business,3681,2,2,2,...,4,4,4,4,3,4,3,45,21.0,satisfied
83122,84734,Female,Loyal Customer,51,Business travel,Business,2943,2,2,2,...,4,4,4,4,5,4,3,0,0.0,satisfied

# 92ë²ˆ Arrival Delay in Minutes ì»¬ëŸ¼ì´ ê²°ì¸¡ì¹˜ì¸ ë°ì´í„°ë“¤ ì¤‘ â€˜neutral or dissatisfiedâ€™ ë³´ë‹¤ â€˜satisfiedâ€™ì˜ ìˆ˜ê°€ ë” ë†’ì€ ClassëŠ” ì–´ë”” ì¸ê°€?

In [334]:
df1 = df[df['Arrival Delay in Minutes'].isnull()]
df1

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
250,61021,Female,Loyal Customer,21,Personal Travel,Eco,3365,0,2,0,...,5,4,1,4,2,3,5,20,NaN,satisfied
1003,80208,Male,Loyal Customer,34,Personal Travel,Eco Plus,2586,3,3,3,...,4,5,4,2,1,3,1,202,NaN,neutral or dissatisfied
1070,26322,Female,Loyal Customer,55,Personal Travel,Eco,892,1,4,0,...,3,3,0,3,4,3,5,16,NaN,neutral or dissatisfied
1652,50960,Female,Loyal Customer,42,Personal Travel,Eco,110,2,5,2,...,3,3,2,3,5,3,2,0,NaN,neutral or dissatisfied
1672,96667,Male,Loyal Customer,60,Personal Travel,Eco,937,3,5,3,...,1,5,2,5,3,4,1,0,NaN,neutral or dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82482,128817,Female,disloyal Customer,46,Business travel,Business,846,5,5,5,...,2,4,2,5,5,5,2,0,NaN,satisfied
82553,116374,Female,Loyal Customer,24,Personal Travel,Eco,417,2,1,2,...,5,1,4,2,1,2,5,1,NaN,neutral or dissatisfied
82635,36787,Male,Loyal Customer,58,Business travel,Eco,1088,4,4,1,...,5,1,5,5,5,3,5,0,NaN,satisfied
82716,85859,Male,Loyal Customer,7,Personal Travel,Eco Plus,666,2,3,2,...,1,4,3,5,4,5,1,0,NaN,neutral or dissatisfied
82785,40000,Male,Loyal Customer,8,Business travel,Business,575,2,1,1,...,2,1,2,3,1,3,2,0,NaN,neutral or dissatisfied

In [335]:
df2 = df1.groupby(['Class','satisfaction'],as_index = False).size().pivot(index = 'Class',columns = 'satisfaction')
df2

                                size
satisfaction neutral or dissatisfied satisfied
Class
Business                          36        76
Eco                              100        25
Eco Plus                          15         4

In [336]:
df2[df2['size']['neutral or dissatisfied'] < df2['size']['satisfied']]

                                size
satisfaction neutral or dissatisfied satisfied
Class
Business                          36        76

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/adityakadiwal/water-potability
<br>
ë°ì´í„° ì„¤ëª… : ìˆ˜ì§ˆ ìŒìš©ì„± ì—¬ë¶€ (Potablillity ì»¬ëŸ¼ : 0 ,1 )
<br>
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv

In [337]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv")
df

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0
...,...,...,...,...,...,...,...,...,...,...
2615,8.060610,208.042711,15489.325660,5.620299,361.970424,423.420838,15.371550,75.445589,3.600906,0
2616,8.238997,199.594539,25046.798640,9.288020,350.835986,328.363398,18.743231,54.416965,3.089924,1
2617,5.694694,240.712182,7998.674511,8.124265,NaN,477.047807,15.459307,68.895603,3.870611,1
2618,NaN,203.050244,28184.900527,7.076634,344.524179,445.700761,19.775367,53.270152,4.456104,0
2619,5.907078,213.471081,41839.456449,7.924762,312.329947,357.258970,15.598965,54.421879,4.296480,0

# 93ë²ˆ phê°’ì€ ìƒë‹¹íˆ ë§ì€ ê²°ì¸¡ì¹˜ë¥¼ í¬í•¨í•œë‹¤. ê²°ì¸¡ì¹˜ë¥¼ ì œì™¸í•œ ë‚˜ë¨¸ì§€ ë°ì´í„°ë“¤ ì¤‘ ì‚¬ë¶„ìœ„ê°’ ê¸°ì¤€ í•˜ìœ„ 25%ì˜ ê°’ë“¤ì˜ í‰ê· ê°’ì€?

In [338]:
df1 = df['ph'].dropna()
df1

0       7.918150
1       5.422446
2       7.341547
3       9.056245
4       5.039374
          ...
2614    8.115625
2615    8.060610
2616    8.238997
2617    5.694694
2619    5.907078
Name: ph, Length: 2225, dtype: float64

In [339]:
df1[df1 <= df1.quantile(0.25)].mean()

5.057093462441732

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/mirichoi0218/insurance/code(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ì˜ë£Œë¹„ìš© ì˜ˆì¸¡ë¬¸ì œ
<br>
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv

In [340]:
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv")
train.head()

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

# 94ë²ˆ í¡ì—°ìì™€ ë¹„í¡ì—°ì ê°ê° chargesì˜ ìƒìœ„ 10% ê·¸ë£¹ì˜ í‰ê· ì˜ ì°¨ì´ëŠ”?

In [341]:
ty = train[train['smoker'] == 'yes']

In [342]:
tym = ty[ty['charges'] >= ty['charges'].quantile(0.90)]['charges'].mean()
tym

51282.7636157143

In [343]:
tn = train[train['smoker'] == 'no']

In [344]:
tnm = tn[tn['charges'] >= tn['charges'].quantile(0.90)]['charges'].mean()
tnm

21984.80906755814

In [345]:
tym - tnm

29297.954548156158

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/harlfoxem/housesalesprediction (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : í‚¹ì¹´ìš´í‹° ì£¼ê±°ì§€ ê°€ê²© ì˜ˆì¸¡ë¬¸ì œ
<br>
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv

In [346]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice//train.csv")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.0,940,7811,1.0,0,0,...,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.0,1020,7874,1.0,0,0,...,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320

# 95ë²ˆ bedrooms ì˜ ë¹ˆë„ê°€ ê°€ì¥ ë†’ì€ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë“¤ì˜ priceì˜ ìƒìœ„ 10%ì™€ í•˜ìœ„ 10%ê°’ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [347]:
df1 = df[df['bedrooms'] == df['bedrooms'].value_counts().index[0]]
df1

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.50,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.00,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.50,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.00,940,7811,1.0,0,0,...,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.00,1020,7874,1.0,0,0,...,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17277,1193000280,20140527T000000,994000.0,3,2.25,2510,6339,1.5,0,2,...,8,1810,700,1932,0,98199,47.6496,-122.391,1820,5741
17280,2624089022,20150314T000000,399950.0,3,2.25,1560,11997,1.0,0,0,...,7,1260,300,1988,0,98065,47.5378,-121.742,1820,36590
17281,8856004415,20150325T000000,168000.0,3,1.00,1150,8000,1.5,0,0,...,6,1150,0,1913,1957,98001,47.2749,-122.252,1170,9600
17283,1775920210,20140530T000000,374000.0,3,1.00,1200,9800,1.0,0,0,...,7,1200,0,1971,0,98072,47.7412,-122.109,1220,10220
17287,3793500550,20140808T000000,289950.0,3,2.50,1670,6186,2.0,0,0,...,7,1670,0,2002,0,98038,47.3668,-122.031,2390,6924

In [348]:
df1['price'].quantile(0.90) - df1['price'].quantile(0.10)

505500.0

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/mohansacharya/graduate-admissions(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ëŒ€í•™ì› ì…í•™ ê°€ëŠ¥ì„± ì˜ˆì¸¡
<br>
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv

In [349]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87

# 96ë²ˆ Serial No. ì»¬ëŸ¼ì„ ì œì™¸í•˜ê³  â€˜Chance of Admitâ€™ì„ ì¢…ì†ë³€ìˆ˜, ë‚˜ë¨¸ì§€ ë³€ìˆ˜ë¥¼ ë…ë¦½ë³€ìˆ˜ë¼ í• ë•Œ, ëœë¤í¬ë ˆìŠ¤íŠ¸ë¥¼ í†µí•´ íšŒê·€ ì˜ˆì¸¡ì„ í•  ë–„ ë³€ìˆ˜ì¤‘ìš”ë„ ê°’ì„  ì¶œë ¥í•˜ë¼ (ì‹œë“œê°’ì— ë”°ë¼ ìˆœì„œëŠ” ë‹¬ë¼ì§ˆìˆ˜ ìˆìŒ)

In [350]:
from sklearn.ensemble import RandomForestRegressor

In [351]:
df1 = df.drop(columns = ['Serial No.'])
df1

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,328,110,4,4.0,2.5,9.02,1,0.81
1,323,113,3,4.0,4.0,8.88,1,0.79
2,296,95,2,3.0,2.0,7.54,1,0.44
3,334,116,4,4.0,3.0,8.00,1,0.78
4,321,114,5,4.5,4.5,9.16,1,0.87
...,...,...,...,...,...,...,...,...
395,329,114,5,4.0,5.0,9.30,1,0.86
396,307,109,3,4.0,3.0,8.00,1,0.62
397,298,98,2,1.5,2.5,7.50,1,0.44
398,339,116,4,4.0,3.5,9.80,1,0.96
399,326,114,4,4.0,3.5,9.16,1,0.86

In [352]:
x = df1.drop(columns = ['Chance of Admit'])
x

     GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0          328          110                  4  4.0  2.5  9.02         1
1          323          113                  3  4.0  4.0  8.88         1
2          296           95                  2  3.0  2.0  7.54         1
3          334          116                  4  4.0  3.0  8.00         1
4          321          114                  5  4.5  4.5  9.16         1
..         ...          ...                ...  ...  ...   ...       ...
395        329          114                  5  4.0  5.0  9.30         1
396        307          109                  3  4.0  3.0  8.00         1
397        298           98                  2  1.5  2.5  7.50         1
398        339          116                  4  4.0  3.5  9.80         1
399        326          114                  4  4.0  3.5  9.16         1

[400 rows x 7 columns]

In [353]:
y = df1['Chance of Admit']
y

0      0.81
1      0.79
2      0.44
3      0.78
4      0.87
       ...
395    0.86
396    0.62
397    0.44
398    0.96
399    0.86
Name: Chance of Admit, Length: 400, dtype: float64

In [354]:
rf = RandomForestRegressor()
rf.fit(x,y)

RandomForestRegressor()

In [355]:
rf.feature_importances_

array([0.09880384, 0.03431436, 0.01456935, 0.02531672, 0.02477221,
       0.79534934, 0.00687417])

In [356]:
pd.DataFrame({'importance':rf.feature_importances_},x.columns).sort_values('importance',ascending = False)

                   importance
CGPA                 0.795349
GRE Score            0.098804
TOEFL Score          0.034314
SOP                  0.025317
LOR                  0.024772
University Rating    0.014569
Research             0.006874

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ë ˆë“œ ì™€ì¸ í€„ë¦¬í‹° ì˜ˆì¸¡ë¬¸ì œ
<br>
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv

In [357]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5

# 97ë²ˆ quality ê°’ì´ 3ì¸ ê·¸ë£¹ê³¼ 8ì¸ ë°ì´í„°ê·¸ë£¹ì˜ ê° ì»¬ëŸ¼ë³„ ë…ë¦½ë³€ìˆ˜ì˜ í‘œì¤€í¸ì°¨ ê°’ì˜ ì°¨ì´ë¥¼ êµ¬í• ë•Œ ê·¸ê°’ì´ ê°€ì¥ í° ì»¬ëŸ¼ëª…ì„ êµ¬í•˜ì—¬ë¼

In [358]:
df[df['quality'] == 8].std() - df[df['quality'] == 3].std()

fixed acidity           0.015761
volatile acidity       -0.203168
citric acid            -0.079027
residual sugar         -0.891206
chlorides              -0.056523
free sulfur dioxide     1.482114
total sulfur dioxide    9.863977
density                 0.000009
pH                      0.050075
sulphates              -0.003621
alcohol                 0.273466
quality                 0.000000
dtype: float64

In [359]:
(df[df['quality'] == 8].std() - df[df['quality'] == 3].std()).sort_values()

residual sugar         -0.891206
volatile acidity       -0.203168
citric acid            -0.079027
chlorides              -0.056523
sulphates              -0.003621
quality                 0.000000
density                 0.000009
fixed acidity           0.015761
pH                      0.050075
alcohol                 0.273466
free sulfur dioxide     1.482114
total sulfur dioxide    9.863977
dtype: float64

In [360]:
(df[df['quality'] == 8].std() - df[df['quality'] == 3].std()).sort_values().index[-1]

'total sulfur dioxide'

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/prathamtripathi/drug-classification(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : íˆ¬ì•½í•˜ëŠ” ì•½ì„ ë¶„ë¥˜
<br>
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv

In [361]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1
2   34   M  NORMAL        HIGH   22.456     0
3   17   M  NORMAL      NORMAL   10.832     4
4   72   M     LOW        HIGH   16.310     0

# 98ë²ˆ ë‚¨ì„±ë“¤ì˜ ì—°ë ¹ëŒ€ë³„ (10ì‚´ì”© êµ¬ë¶„ 0\~9ì„¸ 10~19ì„¸ â€¦) Na_to_Kê°’ì˜ í‰ê· ê°’ì„ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ì—¬ë¼

In [362]:
df['Age2'] = df['Age'] //10 *10
df

     Age Sex      BP Cholesterol  Na_to_K  Drug  Age2
0     20   F  NORMAL      NORMAL    9.281     4    20
1     24   M    HIGH      NORMAL    9.475     1    20
2     34   M  NORMAL        HIGH   22.456     0    30
3     17   M  NORMAL      NORMAL   10.832     4    10
4     72   M     LOW        HIGH   16.310     0    70
..   ...  ..     ...         ...      ...   ...   ...
152   58   F     LOW        HIGH   26.645     0    50
153   30   F  NORMAL        HIGH   10.443     4    30
154   20   F     LOW      NORMAL   11.686     4    20
155   58   M    HIGH        HIGH   18.991     0    50
156   16   M     LOW        HIGH   12.006     3    10

[157 rows x 7 columns]

In [363]:
df1 = df[df['Sex'] == 'M']
df1

     Age Sex      BP Cholesterol  Na_to_K  Drug  Age2
1     24   M    HIGH      NORMAL    9.475     1    20
2     34   M  NORMAL        HIGH   22.456     0    30
3     17   M  NORMAL      NORMAL   10.832     4    10
4     72   M     LOW        HIGH   16.310     0    70
6     26   M     LOW      NORMAL   20.909     0    20
..   ...  ..     ...         ...      ...   ...   ...
149   64   M  NORMAL        HIGH    7.761     4    60
150   38   M     LOW        HIGH   18.295     0    30
151   51   M    HIGH      NORMAL   11.343     2    50
155   58   M    HIGH        HIGH   18.991     0    50
156   16   M     LOW        HIGH   12.006     3    10

[85 rows x 7 columns]

In [364]:
df1.groupby('Age2').mean()['Na_to_K'].to_frame()

        Na_to_K
Age2
10    13.627000
20    18.260769
30    15.244143
40    13.897273
50    14.811273
60    14.284308
70    11.363857

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/sid321axn/audit-data(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ì‚¬ê¸°íšŒì‚¬ ë¶„ë¥˜
<br>
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv

In [365]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv")
df.head()

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,2.72,14,4.53,0.6,2.718,87.93,0.6,52.758,92.46,5.0,...,0.4,0,0.2,0.0,4.0,108.362,0.4,0.5,21.6724,1
1,3.41,16,12.68,0.6,7.608,41.00,0.6,24.600,53.68,5.5,...,0.4,0,0.2,0.0,4.4,41.936,0.4,0.5,8.3872,1
2,2.72,11,3.11,0.6,1.866,113.97,0.6,68.382,117.08,5.5,...,0.4,0,0.2,0.0,4.4,88.832,0.4,0.5,17.7664,1
3,3.41,8,1.12,0.4,0.448,0.00,0.2,0.000,1.12,5.0,...,0.4,0,0.2,0.0,2.2,1.848,0.4,0.5,0.3696,0
4,55.57,9,1.06,0.4,0.424,0.00,0.2,0.000,1.06,5.0,...,0.4,0,0.2,0.0,2.2,1.824,0.4,0.5,0.3648,0

# 99ë²ˆ ë°ì´í„°ì˜ Risk ê°’ì— ë”°ë¥¸ Score_Aì™€ Score_Bì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼

In [366]:
df.groupby('Risk').mean()[['Score_A','Score_B']]

       Score_A   Score_B
Risk
0     0.262234  0.225532
1     0.490164  0.444262

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/kyr7plus/emg-4(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ì„¼ì„œë°ì´í„°ë¡œ ë™ì‘ ìœ í˜• ë¶„ë¥˜
<br>
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv

In [367]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv")
df.head()

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63,pose
0,-6.0,8.0,5.0,6.0,-12.0,-27.0,5.0,24.0,-8.0,-5.0,...,-1.0,-3.0,-6.0,-9.0,-7.0,36.0,68.0,3.0,-3.0,1
1,-32.0,-3.0,-4.0,-5.0,-1.0,16.0,0.0,-5.0,42.0,2.0,...,-17.0,-12.0,-1.0,-1.0,0.0,-26.0,-11.0,-4.0,-9.0,1
2,35.0,-2.0,-1.0,1.0,-25.0,-16.0,-3.0,-20.0,10.0,1.0,...,6.0,-65.0,6.0,-10.0,-31.0,-19.0,-3.0,-47.0,-17.0,0
3,-15.0,-6.0,-3.0,-5.0,27.0,37.0,-2.0,-2.0,19.0,5.0,...,2.0,11.0,0.0,-2.0,-4.0,-7.0,15.0,3.0,14.0,1
4,60.0,3.0,0.0,-7.0,-6.0,-10.0,-6.0,7.0,-11.0,-4.0,...,-12.0,17.0,-3.0,1.0,2.0,-2.0,20.0,18.0,10.0,0

# 100ë²ˆ poseê°’ì— ë”°ë¥¸ ê° motionì»¬ëŸ¼ì˜ ì¤‘ê°„ê°’ì˜ ê°€ì¥ í° ì°¨ì´ë¥¼ ë³´ì´ëŠ” motionì»¬ëŸ¼ì€ ì–´ë””ì´ë©° ê·¸ê°’ì€?

In [368]:
df.groupby('pose').median()

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
pose,,,,,,,,,,,,,,,,,,,,,
0,-2.0,-1.0,-1.0,0.0,0.0,-1.0,-3.0,-1.0,-2.0,0.0,...,-5.0,-2.0,-1.0,0.0,-1.0,0.0,-1.0,-1.0,-5.0,-1.0
1,-2.0,-1.0,-1.0,-1.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-2.0,-1.0,-1.0,-1.0,1.0,1.0,-1.0,-1.0

In [369]:
df.groupby('pose').median().diff()

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
pose,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,-1.0,0.0,1.0,2.0,0.0,1.0,-1.0,...,4.0,1.0,-1.0,-1.0,0.0,-1.0,2.0,2.0,4.0,0.0

In [370]:
df1 = abs(df.groupby('pose').median().diff().iloc[1,]).sort_values()
df1

motion_0     0.0
motion_24    0.0
motion_25    0.0
motion_26    0.0
motion_32    0.0
            ...
motion_30    3.0
motion_38    3.0
motion_46    3.5
motion_54    4.0
motion_62    4.0
Name: 1, Length: 64, dtype: float64

In [371]:
df1[df1.values == max(df1)]

motion_54    4.0
motion_62    4.0
Name: 1, dtype: float64

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/mysarahmadbhat/hyundai-used-car-listing(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : í˜„ëŒ€ ì°¨ëŸ‰ê°€ê²© ë¶„ë¥˜ë¬¸ì œ
<br>
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv

In [372]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")
df.head()

,model,year,price,transmission,mileage,fuelType,tax(Â£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7

# 101ë²ˆ ì •ë³´(rowìˆ˜)ê°€ ê°€ì¥ ë§ì€ ìƒìœ„ 3ì°¨ì¢…ì˜ priceê°’ì˜ ê° í‰ê· ê°’ì€?

In [373]:
df1 = df[df['model'].isin(df['model'].value_counts().index[:3])]
df1

,model,year,price,transmission,mileage,fuelType,tax(Â£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7
...,...,...,...,...,...,...,...,...,...
3882,Tucson,2017,12995,Manual,17417,Diesel,30,61.7,1.7
3883,I10,2016,6500,Manual,16309,Petrol,30,57.6,1.2
3884,Tucson,2018,15999,Semi-Auto,7723,Diesel,145,57.6,1.7
3885,I30,2016,8990,Manual,33466,Diesel,0,78.4,1.6
3887,I10,2017,7998,Manual,19625,Petrol,145,57.7,1.2

In [374]:
df1.groupby('model').mean()['price'].to_frame()

                price
model
 I10      7646.137891
 I30     11651.821759
 Tucson  15805.441373

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/pritsheta/diabetes-dataset(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ë‹¹ë‡¨ì—¬ë¶€ íŒë‹¨í•˜ê¸°
<br>
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv

In [375]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,102,74,0,0,29.5,0.121,32,0
1,2,144,58,33,135,31.6,0.422,25,1
2,5,136,82,0,0,0.0,0.640,69,0
3,13,145,82,19,110,22.2,0.245,57,0
4,1,117,60,23,106,33.8,0.466,27,0

# 102ë²ˆ Outcome ê°’ì— ë”°ë¥¸ ê° ê·¸ë£¹ì˜ ê° ì»¬ëŸ¼ì˜ í‰ê·  ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [376]:
df.groupby('Outcome').mean().diff().iloc[1,:]

Pregnancies                  1.574159
Glucose                     29.943995
BloodPressure                3.202079
SkinThickness                2.952033
Insulin                     33.398645
BMI                          4.541437
DiabetesPedigreeFunction     0.143646
Age                          5.866939
Name: 1, dtype: float64

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/pritsheta/netflix-stock-data-from-2002-to-2021(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ë„·í”Œë¦­ìŠ¤ ì£¼ì‹ë°ì´í„°
<br>
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv

In [377]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv")
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

# 103ë²ˆ ë§¤ë…„ 5ì›”ë‹¬ì˜ openê°€ê²©ì˜ í‰ê· ê°’ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [378]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4874 entries, 0 to 4873
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4874 non-null   object
 1   Open       4874 non-null   float64
 2   High       4874 non-null   float64
 3   Low        4874 non-null   float64
 4   Close      4874 non-null   float64
 5   Adj Close  4874 non-null   float64
 6   Volume     4874 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 266.7+ KB

In [379]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4874 entries, 0 to 4873
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4874 non-null   datetime64[ns]
 1   Open       4874 non-null   float64
 2   High       4874 non-null   float64
 3   Low        4874 non-null   float64
 4   Close      4874 non-null   float64
 5   Adj Close  4874 non-null   float64
 6   Volume     4874 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 266.7 KB

In [380]:
df1 = df[df['Date'].dt.month == 5]
df1

,Date,Open,High,Low,Close,Adj Close,Volume
0,2002-05-23,1.156429,1.242857,1.145714,1.196429,1.196429,104790000
1,2002-05-24,1.214286,1.225000,1.197143,1.210000,1.210000,11104800
2,2002-05-28,1.213571,1.232143,1.157143,1.157143,1.157143,6609400
3,2002-05-29,1.164286,1.164286,1.085714,1.103571,1.103571,6757800
4,2002-05-30,1.107857,1.107857,1.071429,1.071429,1.071429,10154200
...,...,...,...,...,...,...,...
4783,2021-05-24,501.049988,504.250000,499.510010,502.899994,502.899994,2412600
4784,2021-05-25,506.000000,506.369995,499.220001,501.339996,501.339996,2699500
4785,2021-05-26,502.339996,504.140015,500.500000,502.359985,502.359985,2465300
4786,2021-05-27,501.799988,505.100006,498.540009,503.859985,503.859985,3253800
4787,2021-05-28,504.399994,511.760010,502.529999,502.809998,502.809998,2910300

In [381]:
df1['Date'] = df1['Date'].dt.strftime('%Y-%m')
df1

C:\Users\user\AppData\Local\Temp\ipykernel_25404\3017766238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Date'] = df1['Date'].dt.strftime('%Y-%m')

,Date,Open,High,Low,Close,Adj Close,Volume
0,2002-05,1.156429,1.242857,1.145714,1.196429,1.196429,104790000
1,2002-05,1.214286,1.225000,1.197143,1.210000,1.210000,11104800
2,2002-05,1.213571,1.232143,1.157143,1.157143,1.157143,6609400
3,2002-05,1.164286,1.164286,1.085714,1.103571,1.103571,6757800
4,2002-05,1.107857,1.107857,1.071429,1.071429,1.071429,10154200
...,...,...,...,...,...,...,...
4783,2021-05,501.049988,504.250000,499.510010,502.899994,502.899994,2412600
4784,2021-05,506.000000,506.369995,499.220001,501.339996,501.339996,2699500
4785,2021-05,502.339996,504.140015,500.500000,502.359985,502.359985,2465300
4786,2021-05,501.799988,505.100006,498.540009,503.859985,503.859985,3253800
4787,2021-05,504.399994,511.760010,502.529999,502.809998,502.809998,2910300

In [382]:
df1.groupby('Date').mean()['Open']

Date
2002-05      1.155833
2003-05      1.641497
2004-05      4.261143
2005-05      1.951905
2006-05      4.163571
2007-05      3.159351
2008-05      4.435034
2009-05      5.790571
2010-05     14.417071
2011-05     34.650272
2012-05     10.523247
2013-05     31.936429
2014-05     51.121292
2015-05     85.057429
2016-05     92.705715
2017-05    158.255455
2018-05    329.779541
2019-05    359.664548
2020-05    433.880499
2021-05    496.923996
Name: Open, dtype: float64

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/datasets/vivovinco/nba-player-stats(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : nba ì„ ìˆ˜ ëŠ¥ë ¥ì¹˜ ë°ì´í„°
<br>
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv

In [383]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv",encoding='latin',sep=';')
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

# 104ë²ˆ Tm ì»¬ëŸ¼ì€ ê° íŒ€ì˜ ì´ë¦„ì„ ì˜ë¯¸í•œë‹¤. TORíŒ€ì˜ í‰ê· ë‚˜ì´ë¥¼ ì†Œìˆ˜ 4ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [384]:
round(df[df['Tm'] == 'TOR']['Age'].mean(),4)

24.8696

# 105ë²ˆ Pos ì»¬ëŸ¼ì€ í¬ì§€ì…˜ì„ ì˜ë¯¸í•œë‹¤. ì „ì²´ ì„ ìˆ˜ ì¤‘ ìµœì†Œë‚˜ì´ëŒ€ì˜ ì„ ìˆ˜ë“¤ì„ í•„í„°í•˜ê³  ê·¸ë“¤ ì¤‘ ê°€ì¥ ë§ì€ í¬ì§€ì…˜ì€ ë¬´ì—‡ì¸ì§€ í™•ì¸í•˜ë¼

In [385]:
df[df['Age']==df['Age'].min()]['Pos'].value_counts().index[0]

'SG'

# 106ë²ˆ ì„ ìˆ˜ë“¤ì˜ ì´ë¦„ì€ first_name+ ê³µë°± + last_nameìœ¼ë¡œ ì´ë£¨ì–´ì ¸ ìˆë‹¤. ê°€ì¥ ë§ì€ first_nameì€ ë¬´ì—‡ì´ë©° ëª‡ íšŒ ë°œìƒí•˜ëŠ”ì§€ í™•ì¸í•˜ë¼

In [386]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [387]:
df['Player'].str.split(' ')

0       [Precious, Achiuwa]
1           [Steven, Adams]
2            [Bam, Adebayo]
3           [Santi, Aldama]
4      [LaMarcus, Aldridge]
               ...
807       [Thaddeus, Young]
808           [Trae, Young]
809       [Omer, Yurtseven]
810          [Cody, Zeller]
811          [Ivica, Zubac]
Name: Player, Length: 812, dtype: object

In [388]:
df['Player'].str.split(' ').str[0].str.lower().value_counts().head(1)

justin    14
Name: Player, dtype: int64

# 107ë²ˆ PTSì»¬ëŸ¼ì€ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ ì´ë‹¤. ê°í¬ì§€ì…˜ë³„ë¡œ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [389]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [390]:
df.groupby('Pos').mean()['PTS'].sort_values()

Pos
SF        7.270253
SG-SF     7.360000
C         7.690769
PF        7.737500
SG        7.810553
PG        8.325161
PF-SF     8.500000
SF-SG     8.660000
SG-PG     9.525000
C-PF     12.850000
PG-SG    22.000000
Name: PTS, dtype: float64

# 108ë²ˆ PTSì»¬ëŸ¼ì€ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ ì´ë‹¤. ê°í¬ì§€ì…˜ë³„ë¡œ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

107ë²ˆê³¼ ë™ì¼

# 109ë²ˆ Gì»¬ëŸ¼ì€ ì°¸ì—¬í•œ ê²½ê¸°ì˜ ìˆ«ìì´ë‹¤. ê° íŒ€ë³„ë¡œ ê°€ì¥ ë†’ì€ ê²½ê¸°ì°¸ì—¬ ìˆ˜ë¥¼ ê°€ì§„ ì„ ìˆ˜ë“¤ì˜ ê²½ê¸° ì°¸ì—¬ ìˆ«ìì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [391]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [392]:
df[['Tm','G']].sort_values(['Tm','G'],ascending = False)

      Tm   G
25   WAS  82
108  WAS  77
417  WAS  77
241  WAS  72
549  WAS  70
..   ...  ..
37   ATL   3
91   ATL   3
316  ATL   3
357  ATL   3
570  ATL   2

[812 rows x 2 columns]

In [393]:
df[['Tm','G']].sort_values(['Tm','G'],ascending = False).groupby('Tm').head(1)

      Tm   G
25   WAS  82
132  UTA  79
310  TOT  81
72   TOR  80
383  SAS  75
38   SAC  77
503  POR  64
77   PHO  82
551  PHI  76
753  ORL  79
47   OKC  69
104  NYK  81
397  NOP  78
49   MIN  79
600  MIL  72
630  MIA  79
360  MEM  78
774  LAL  78
470  LAC  81
79   IND  67
480  HOU  79
455  GSW  82
58   DET  82
260  DEN  75
605  DAL  82
461  CLE  74
78   CHO  80
180  CHI  77
509  BRK  81
785  BOS  77
799  ATL  77

In [394]:
df[['Tm','G']].sort_values(['Tm','G'],ascending = False).groupby('Tm').head(1).reset_index(drop = True)['G'].mean()

77.51612903225806

# 110ë²ˆ Tmì˜ ê°’ì´ MIAì´ë©° PosëŠ” Cë˜ëŠ” PFì¸ ì„ ìˆ˜ì˜ MPê°’ì˜ í‰ê· ì€?

In [395]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [396]:
df[(df['Tm'] == 'MIA') & (df['Pos'].isin(['C','PF']))]['MP'].mean()

16.787499999999998

# 111ë²ˆ ì „ì²´ ë°ì´í„°ì¤‘ Gì˜ í‰ê· ê°’ì˜ 1.5ë°° ì´ìƒì¸ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí–ˆì„ë•Œ 3Pê°’ì˜ í‰ê· ì€?

In [397]:
df[df['G'] >= (df['G'].mean() * 1.5)]['3P'].mean()

1.3853658536585358

# 112ë²ˆ Ageì˜ í‰ê·  ì´ìƒì¸ ê·¸ë£¹ê³¼ í‰ê·  ë¯¸ë§Œì¸ ê·¸ë£¹ê°„ì˜ Gê°’ì˜ í‰ê· ì˜ ì°¨ì´ëŠ”?

In [398]:
df[df['Age'] >= df['Age'].mean()]['G'].mean() - df[df['Age'] < df['Age'].mean()]['G'].mean()

3.787674551781862

# 113ë²ˆ í‰ê· ë‚˜ì´ê°€ ê°€ì¥ ì Šì€ íŒ€ì€ ì–´ë””ì¸ê°€

In [399]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [400]:
df.groupby('Tm').mean()['Age'].sort_values().index[0]

'MEM'

# 114ë²ˆ Posê·¸ë£¹ë³„ í‰ê·  MPê°’ì„ êµ¬í•˜ì—¬ë¼

In [401]:
df.groupby('Pos').mean()['MP']

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64