# 3유형

어느 호수에서 잡은 물고기 122마리 길이 데이터(자체제작)
<br>
DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv')
df

         fish   height
0      fish_1  33.74cm
1      fish_2  31.64cm
2      fish_3  27.49cm
3      fish_4  31.43cm
4      fish_5  27.56cm
..        ...      ...
117  fish_118  28.11cm
118  fish_119  27.67cm
119  fish_120  27.12cm
120  fish_121  28.68cm
121  fish_122   32.2cm

[122 rows x 2 columns]

## 122마리의 height 평균값을 m(미터) 단위로 소숫점 이하 5자리까지 실수 값만 출력하라

In [2]:
#데이터 상에선 단위가 cm이고 str 형태이기때문에 변환 과정이 필요

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fish    122 non-null    object
 1   height  122 non-null    object
dtypes: object(2)
memory usage: 2.0+ KB

In [4]:
df['height(m)'] = df['height'].str.replace('cm','')
df['height(m)'] = df['height(m)'].astype('float') / 100

In [5]:
df

         fish   height  height(m)
0      fish_1  33.74cm     0.3374
1      fish_2  31.64cm     0.3164
2      fish_3  27.49cm     0.2749
3      fish_4  31.43cm     0.3143
4      fish_5  27.56cm     0.2756
..        ...      ...        ...
117  fish_118  28.11cm     0.2811
118  fish_119  27.67cm     0.2767
119  fish_120  27.12cm     0.2712
120  fish_121  28.68cm     0.2868
121  fish_122   32.2cm     0.3220

[122 rows x 3 columns]

In [6]:
import numpy as np

In [7]:
round(np.mean(df['height(m)']),5)

0.29951

## 모집단의 평균 길이가 30cm 인지 확인하려 일표본 t 검정을 시행하여 확인하려한다. 검정통계량을 소숫점 이하 3째자리까지 구하여라

In [8]:
from scipy.stats import ttest_1samp

In [9]:
statistic, p_value = ttest_1samp(df['height(m)'],0.3)

In [10]:
round(statistic,3)

-0.217

## 위의 통계량에 대한 p-값을 구하고 (반올림하여 소숫점 이하 3째자리), 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)

In [11]:
p = round(p_value,3)
p

0.829

In [12]:
if p >= 0.05:
    print('귀무')
elif p < 0.05:
    print('대립')

귀무

조사결과 70%의 성인 남성이 3년 동안에 적어도 1번 치과를 찾는다고 할때, 21명의 성인 남성이 임의로 추출되었다고 하자.

## 참고자료
https://blog.naver.com/pmw9440/221386109893

## 21명 중 16명 미만이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)

In [13]:
# 이항확률값구하기
# binom.pmf(k, n, p) : k는 전체시행가운데 성공의 횟수이며(구하는 확률값), n은 총 시행횟수, p는 독립시행의 성공확률합니다.

# 이항누적확률값 구하기
# binom.cdf(k, n, p) : k는 성공횟수, n은 총 시행횟수, p는 각 독립시행의 성공확률입니다.

# 이항분포의 분위수(quartile) 구하기
# binom.ppf(q, n, p) : q는 분위수에 대응하는 누적확률값, n은 총 시행횟수, p는 독립시행의 성공확률입니다.

In [14]:
# 이번 문제는 16명 미만의 누적확률값을 구한다.

In [15]:
from scipy.stats import binom

k = 16
n = 21
p = 0.7

# k = 16 미만 계산
# P(X < k) 계산 -> k-1까지의 누적 확률 값을 구한다.
prob = binom.cdf(k-1, n, p)
print(round(prob, 3))

0.637

## 적어도 19명이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)

In [16]:
k = 19
n = 21
p = 0.7

# 적어도 19명 -> k = 19이상
# P(X >= k) 계산 -> 1 - P(X < k) -> 1에 k-1까지의 누적 확률 값을 뺀다.
prob = 1 - binom.cdf(k-1, n, p)
print(round(prob, 3))

0.027