# 1유형

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv
<br>
캘리포니아 집값 일부 변형 : https://www.kaggle.com/datasets/harrywang/housing?select=housing.csv)

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

## 결측치가 하나라도 존재하는 행의 경우 경우 해당 행을 삭제하라. 그후 남은 데이터의 상위 70%에 해당하는 데이터만 남겨둔 후 median_income 컬럼의 1분위수를 반올림하여 소숫점이하 2째자리까지 구하여라

In [2]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age    323
total_rooms             0
total_bedrooms        207
population            950
households              0
median_income         234
median_house_value     44
ocean_proximity         0
dtype: int64

In [3]:
#dropna(axis = 0(default)) : nan값이 있는 행 제거, axis = 1 : nan값이 있는 열 제거
df.dropna()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:
df1 = df.dropna().reset_index(drop=True)
df1

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
18952,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
18953,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
18954,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
18955,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
18956,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:
df2 = df1.head(int(len(df1)*0.7))
df2

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
13264,-117.06,32.63,37.0,1326.0,234.0,612.0,240.0,4.1250,160200.0,NEAR OCEAN
13265,-117.06,32.62,36.0,786.0,125.0,408.0,138.0,3.9167,189700.0,NEAR OCEAN
13266,-117.07,32.63,40.0,1706.0,322.0,796.0,303.0,3.5583,154900.0,NEAR OCEAN
13267,-117.07,32.63,37.0,2372.0,444.0,1056.0,419.0,3.7583,145500.0,NEAR OCEAN
13268,-117.08,32.63,30.0,2504.0,559.0,1827.0,490.0,2.6146,159400.0,NEAR OCEAN

In [6]:
round(df2['median_income'].quantile(0.25),2)

2.51

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv
<br>
년도별 국가의 GDP : https://www.kaggle.com/datasets/tunguz/country-regional-and-world-gdp

In [7]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv')
df

      Country Name Country Code  Year      Value
0       Arab World          ARB  1968  2576068.3
1       Arab World          ARB  1969  2843420.4
2       Arab World          ARB  1970  3138550.0
3       Arab World          ARB  1971  3642691.0
4       Arab World          ARB  1972  4331605.7
...            ...          ...   ...        ...
11502     Zimbabwe          ZWE  2012  1424249.0
11503     Zimbabwe          ZWE  2013  1545176.9
11504     Zimbabwe          ZWE  2014  1589104.9
11505     Zimbabwe          ZWE  2015  1630466.8
11506     Zimbabwe          ZWE  2016  1661996.0

[11507 rows x 4 columns]

## 1990년도는 해당년도 평균 이하 GDP를 가지지만, 2010년도에는 해당년도 평균 이상 GDP를 가지는 국가의 숫자를 구하여라

In [8]:
df90 = df[df['Year'] == 1990]
df90

                         Country Name Country Code  Year        Value
22                         Arab World          ARB  1990   44687716.2
79             Caribbean small states          CSS  1990    1788443.3
106    Central Europe and the Baltics          CEB  1990   25639112.0
163        Early-demographic dividend          EAR  1990  181989619.5
220               East Asia & Pacific          EAS  1990  474699901.1
...                               ...          ...   ...          ...
11268                         Vietnam          VNM  1990     647174.1
11325           Virgin Islands (U.S.)          VIR  1990     156470.0
11366                     Yemen, Rep.          YEM  1990     564725.2
11423                          Zambia          ZMB  1990     328521.7
11480                        Zimbabwe          ZWE  1990     878381.7

[222 rows x 4 columns]

In [9]:
df90_2 = df90[df90['Value'] <= df90['Value'].mean()]
df90_2

,Country Name,Country Code,Year,Value
22,Arab World,ARB,1990,44687716.2
79,Caribbean small states,CSS,1990,1788443.3
106,Central Europe and the Baltics,CEB,1990,25639112.0
277,East Asia & Pacific (excluding high income),EAP,1990,66986302.0
334,East Asia & Pacific (IDA & IBRD countries),TEA,1990,66850373.3
...,...,...,...,...
11268,Vietnam,VNM,1990,647174.1
11325,Virgin Islands (U.S.),VIR,1990,156470.0
11366,"Yemen, Rep.",YEM,1990,564725.2
11423,Zambia,ZMB,1990,328521.7
11480,Zimbabwe,ZWE,1990,878381.7

In [10]:
df10 = df[df['Year'] == 2010]
df10

                         Country Name Country Code  Year         Value
42                         Arab World          ARB  2010  2.109646e+08
99             Caribbean small states          CSS  2010  6.094550e+06
126    Central Europe and the Baltics          CEB  2010  1.313815e+08
183        Early-demographic dividend          EAR  2010  8.514323e+08
240               East Asia & Pacific          EAS  2010  1.693876e+09
...                               ...          ...   ...           ...
11337           Virgin Islands (U.S.)          VIR  2010  4.339000e+05
11359              West Bank and Gaza          PSE  2010  8.913100e+05
11386                     Yemen, Rep.          YEM  2010  3.090675e+06
11443                          Zambia          ZMB  2010  2.026556e+06
11500                        Zimbabwe          ZWE  2010  1.014186e+06

[250 rows x 4 columns]

In [11]:
df10_2 = df10[df10['Value'] >= df10['Value'].mean()]
df10_2

,Country Name,Country Code,Year,Value
183,Early-demographic dividend,EAR,2010,8.514323e+08
240,East Asia & Pacific,EAS,2010,1.693876e+09
297,East Asia & Pacific (excluding high income),EAP,2010,7.879327e+08
354,East Asia & Pacific (IDA & IBRD countries),TEA,2010,7.864009e+08
411,Euro area,EMU,2010,1.264525e+09
468,Europe & Central Asia,ECS,2010,2.092469e+09
496,Europe & Central Asia (excluding high income),ECA,2010,3.156255e+08
524,Europe & Central Asia (IDA & IBRD countries),TEC,2010,3.635513e+08
581,European Union,EUU,2010,1.699273e+09
712,High income,HIC,2010,4.520682e+09
769,IBRD only,IBD,2010,1.997395e+09
826,IDA & IBRD total,IBT,2010,2.142554e+09
1034,Late-demographic dividend,LTE,2010,1.351375e+09
1091,Latin America & Caribbean,LCN,2010,5.334533e+08
1148,Latin America & Caribbean (excluding high income),LAC,2010,4.923605e+08
1205,Latin America & the Caribbean (IDA & IBRD coun...,TLA,2010,5.142115e+08
1294,Low & middle income,LMY,2010,2.075124e+09
1382,Lower middle income,LMC,2010,4.666965e+08
1431,Middle East & North Africa,MEA,2010,2.767962e+08
1536,Middle income,MIC,2010,2.045861e+09
1593,North America,NAC,2010,1.658358e+09
1650,OECD members,OED,2010,4.460625e+09
1796,Post-demographic dividend,PST,2010,4.241356e+09
2242,Upper middle income,UMC,2010,1.579223e+09
2299,World,WLD,2010,6.595453e+09
3463,Brazil,BRA,2010,2.208872e+08
4096,China,CHN,2010,6.100620e+08
5219,France,FRA,2010,2.646837e+08
5437,Germany,DEU,2010,3.417095e+08
6576,Japan,JPN,2010,5.700098e+08
11022,United Kingdom,GBR,2010,2.441173e+08
11079,United States,USA,2010,1.496437e+09

In [12]:
len(set(df90_2['Country Name']) & set(df10_2['Country Name']))

5

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_3.csv
<br>
타이타닉 탑승자 생존 데이터 : https://www.kaggle.com/competitions/titanic

In [13]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_3.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,5,0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,C123,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2.0,"Montvila, Rev. Juozas",male,27.0,0.0,0.0,211536,13.0000,C50,S
887,888,1,1.0,"Graham, Miss. Margaret Edith",female,19.0,0.0,0.0,112053,30.0000,B42,S
888,889,0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,19.0,1.0,2.0,W./C. 6607,23.4500,B42,S
889,890,1,1.0,"Behr, Mr. Karl Howell",male,26.0,0.0,0.0,111369,30.0000,C148,C
890,891,0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0.0,370376,7.7500,C148,Q

## 데이터에서 결측치가 가장 많은 컬럼을 출력하라

In [14]:
df.isnull().sum().sort_values(ascending = False).index[0]

'Fare'

# 2유형

여행자 보험 가입여부 분류 : https://www.kaggle.com/datasets/tejashvi14/travel-insurance-prediction-data
<br>
DataUrl(train) = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv
<br>
DataUrl(test) = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv
<br>
종속 변수 : TravelInsurance , TravelInsurance가 1일 확률을 구해서 제출하라.
<br>
평가지표 : auc
<br>
제출 파일의 컬럼은 ID, proba 두개만 존재해야한다.

In [15]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv')
display(train.head(),test.head())

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,1008,26,Private Sector/Self Employed,Yes,1400000,5,0,No,Yes,1
1,199,30,Private Sector/Self Employed,No,1450000,5,0,Yes,Yes,1
2,86,32,Government Sector,Yes,900000,4,0,No,No,0
3,560,26,Private Sector/Self Employed,Yes,1400000,7,0,No,Yes,1
4,161,34,Private Sector/Self Employed,No,1400000,3,1,No,Yes,1

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,6,31,Government Sector,Yes,1300000,4,0,No,No
1,9,33,Government Sector,Yes,800000,3,0,Yes,No
2,20,28,Private Sector/Self Employed,Yes,1150000,6,0,Yes,No
3,21,29,Private Sector/Self Employed,Yes,350000,3,0,No,No
4,23,28,Government Sector,Yes,600000,9,0,No,No

In [16]:
train.isnull().sum()

ID                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
dtype: int64

In [17]:
train.nunique()

ID                     1490
Age                      11
Employment Type           2
GraduateOrNot             2
AnnualIncome             30
FamilyMembers             8
ChronicDiseases           2
FrequentFlyer             2
EverTravelledAbroad       2
TravelInsurance           2
dtype: int64

In [18]:
test.nunique()

ID                     497
Age                     11
Employment Type          2
GraduateOrNot            2
AnnualIncome            28
FamilyMembers            8
ChronicDiseases          2
FrequentFlyer            2
EverTravelledAbroad      2
dtype: int64

In [19]:
y = train['TravelInsurance']
y

0       1
1       1
2       0
3       1
4       1
       ..
1485    0
1486    0
1487    0
1488    0
1489    0
Name: TravelInsurance, Length: 1490, dtype: int64

In [20]:
x = train.drop(columns=['ID','TravelInsurance'])
x

,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,26,Private Sector/Self Employed,Yes,1400000,5,0,No,Yes
1,30,Private Sector/Self Employed,No,1450000,5,0,Yes,Yes
2,32,Government Sector,Yes,900000,4,0,No,No
3,26,Private Sector/Self Employed,Yes,1400000,7,0,No,Yes
4,34,Private Sector/Self Employed,No,1400000,3,1,No,Yes
...,...,...,...,...,...,...,...,...
1485,29,Private Sector/Self Employed,Yes,900000,5,0,No,No
1486,31,Government Sector,No,300000,3,0,No,No
1487,29,Private Sector/Self Employed,Yes,1100000,5,0,Yes,No
1488,30,Private Sector/Self Employed,No,550000,3,0,Yes,Yes
1489,28,Private Sector/Self Employed,Yes,800000,6,0,No,Yes

In [21]:
test_x = test.drop(columns=['ID'])
test_x

,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,31,Government Sector,Yes,1300000,4,0,No,No
1,33,Government Sector,Yes,800000,3,0,Yes,No
2,28,Private Sector/Self Employed,Yes,1150000,6,0,Yes,No
3,29,Private Sector/Self Employed,Yes,350000,3,0,No,No
4,28,Government Sector,Yes,600000,9,0,No,No
...,...,...,...,...,...,...,...,...
492,28,Government Sector,Yes,1100000,4,0,No,No
493,29,Private Sector/Self Employed,Yes,500000,4,0,No,No
494,31,Private Sector/Self Employed,Yes,1350000,3,0,No,Yes
495,32,Government Sector,Yes,900000,6,0,No,No
496,33,Private Sector/Self Employed,Yes,1500000,4,0,Yes,Yes

In [22]:
x_dummies = pd.get_dummies(x)
x_dummies

,Age,AnnualIncome,FamilyMembers,ChronicDiseases,Employment Type_Government Sector,Employment Type_Private Sector/Self Employed,GraduateOrNot_No,GraduateOrNot_Yes,FrequentFlyer_No,FrequentFlyer_Yes,EverTravelledAbroad_No,EverTravelledAbroad_Yes
0,26,1400000,5,0,0,1,0,1,1,0,0,1
1,30,1450000,5,0,0,1,1,0,0,1,0,1
2,32,900000,4,0,1,0,0,1,1,0,1,0
3,26,1400000,7,0,0,1,0,1,1,0,0,1
4,34,1400000,3,1,0,1,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1485,29,900000,5,0,0,1,0,1,1,0,1,0
1486,31,300000,3,0,1,0,1,0,1,0,1,0
1487,29,1100000,5,0,0,1,0,1,0,1,1,0
1488,30,550000,3,0,0,1,1,0,0,1,0,1
1489,28,800000,6,0,0,1,0,1,1,0,0,1

In [23]:
test_x_dummies = pd.get_dummies(test_x)[x_dummies.columns]
test_x_dummies

,Age,AnnualIncome,FamilyMembers,ChronicDiseases,Employment Type_Government Sector,Employment Type_Private Sector/Self Employed,GraduateOrNot_No,GraduateOrNot_Yes,FrequentFlyer_No,FrequentFlyer_Yes,EverTravelledAbroad_No,EverTravelledAbroad_Yes
0,31,1300000,4,0,1,0,0,1,1,0,1,0
1,33,800000,3,0,1,0,0,1,0,1,1,0
2,28,1150000,6,0,0,1,0,1,0,1,1,0
3,29,350000,3,0,0,1,0,1,1,0,1,0
4,28,600000,9,0,1,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
492,28,1100000,4,0,1,0,0,1,1,0,1,0
493,29,500000,4,0,0,1,0,1,1,0,1,0
494,31,1350000,3,0,0,1,0,1,1,0,0,1
495,32,900000,6,0,1,0,0,1,1,0,1,0
496,33,1500000,4,0,0,1,0,1,0,1,0,1

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [25]:
X_train, X_valid, Y_train, Y_valid = train_test_split(x_dummies, y, random_state=42, stratify=y)

In [26]:
rf = RandomForestClassifier(random_state=42)

In [27]:
rf.fit(X_train, Y_train)

RandomForestClassifier(random_state=42)

In [28]:
predict_valid_proba = rf.predict_proba(X_valid)[:,1]
predict_valid_proba

array([0.01619048, 0.03166667, 0.75416667, 0.81      , 0.58      ,
       0.45      , 0.03      , 0.79166667, 0.22      , 0.065     ,
       0.04      , 0.015     , 0.1085    , 0.09      , 0.225     ,
       0.99      , 0.99      , 0.707     , 0.52      , 0.047     ,
       0.11      , 0.36878571, 0.00872222, 0.01833333, 0.01566667,
       1.        , 0.23083333, 0.025     , 0.05      , 0.01833333,
       0.035     , 0.34495238, 0.595     , 0.02      , 0.01      ,
       0.41819048, 0.04      , 0.97      , 0.00885714, 1.        ,
       0.23828283, 0.035     , 0.37321429, 0.08333333, 0.06166667,
       0.30916667, 0.        , 0.26400794, 0.14      , 0.23495238,
       0.01619048, 0.01503571, 0.31888095, 0.184     , 0.25438095,
       0.01      , 0.52      , 0.        , 0.69202381, 0.33028571,
       0.58733333, 0.95      , 0.94      , 0.04083333, 0.3175    ,
       0.01      , 0.97      , 0.98      , 0.06496248, 0.45133333,
       0.99      , 0.02283333, 1.        , 0.01916667, 0.99      ,
       0.0125    , 0.46843001, 0.595     , 0.01503571, 0.91      ,
       0.55233333, 0.03      , 0.07      , 0.53      , 0.08      ,
       0.01      , 0.515     , 0.        , 0.95      , 1.        ,
       0.11566667, 0.8       , 0.10233333, 0.63692857, 1.        ,
       0.        , 0.46843001, 0.00333333, 0.01      , 0.05104762,
       0.34495238, 0.        , 0.01      , 1.        , 0.176     ,
       0.004     , 0.27      , 0.1085    , 0.02275   , 0.36802958,
       0.        , 0.012     , 0.01916667, 0.0445    , 0.135     ,
       0.64      , 0.26400794, 0.229     , 0.99      , 0.03416667,
       0.6554881 , 0.99      , 0.93416667, 0.18      , 0.10783333,
       0.46843001, 0.        , 0.72      , 0.34061905, 0.32959524,
       0.58733333, 0.5205    , 0.76416667, 0.035     , 0.01503571,
       0.15261905, 0.01503571, 0.        , 0.1075    , 0.78      ,
       0.99      , 0.70433333, 0.        , 0.09519048, 0.17183333,
       0.04      , 0.1732619 , 0.08266667, 0.36239286, 0.0565    ,
       0.27942857, 0.11      , 0.255     , 1.        , 0.        ,
       0.13302381, 0.06496248, 0.49016667, 0.39083333, 0.23828283,
       0.026     , 0.11583333, 0.58733333, 0.27      , 0.72      ,
       0.32      , 0.01      , 0.40666667, 0.67      , 0.028     ,
       0.68066667, 0.        , 0.355     , 0.0125    , 0.96      ,
       0.81      , 0.        , 0.07      , 0.        , 0.95961905,
       0.121     , 0.2       , 1.        , 0.04      , 0.07083333,
       0.25397619, 0.05144444, 0.245     , 0.05916667, 0.81952381,
       0.73383333, 0.843     , 1.        , 0.3297619 , 0.05166667,
       0.23828283, 0.136     , 0.01      , 0.6875    , 0.6554881 ,
       0.84      , 0.71583333, 0.23720238, 0.11638095, 0.9095    ,
       1.        , 0.18666667, 0.01      , 0.99      , 0.13166667,
       0.41542857, 0.06333333, 0.095     , 0.02      , 0.32      ,
       0.1085    , 0.11333333, 0.155     , 0.        , 0.8525    ,
       0.11566667, 0.01619048, 0.4195    , 0.        , 0.2585    ,
       0.64080159, 0.06416667, 0.047     , 0.53366667, 0.98      ,
       1.        , 0.18416667, 0.01      , 0.11566667, 0.3297619 ,
       1.        , 0.86      , 0.98      , 0.        , 0.242     ,
       0.27516667, 0.3297619 , 0.08      , 0.        , 0.295     ,
       0.026     , 0.24016667, 0.        , 0.36878571, 0.244     ,
       1.        , 0.55      , 0.08      , 0.01271429, 0.86      ,
       1.        , 0.1       , 0.26      , 1.        , 0.5175    ,
       1.        , 0.01285714, 0.17      , 0.55266667, 0.1925    ,
       0.004     , 0.86      , 0.03166667, 0.995     , 0.09471429,
       0.29607143, 0.01666667, 0.23720238, 0.1975    , 0.31      ,
       0.1425    , 1.        , 0.59      , 0.26400794, 0.291     ,
       1.        , 0.        , 0.42421429, 0.32      , 0.01619048,
       0.32289466, 0.01619048, 0.33164881, 0.4265    , 0.01      ,
       0.22183333, 0.03      , 0.04      , 0.38666667, 0.32233333,
       0.03266667, 0.32      , 0.97      , 0.595     , 0.23777778,
       0.20166667, 0.15      , 0.04      , 0.11166667, 0.2835    ,
       0.004     , 0.20110653, 0.98      , 0.96      , 0.3395    ,
       0.69202381, 0.34      , 0.02      , 0.00181818, 0.662     ,
       0.53      , 0.99      , 1.        , 0.6554881 , 0.03      ,
       0.73383333, 0.01916667, 0.51      , 0.99      , 0.07285714,
       0.395     , 0.69066667, 0.04372222, 0.13166667, 0.99      ,
       0.2325    , 0.0625    , 0.        , 0.01      , 0.36538095,
       0.24261328, 0.81      , 0.16005952, 0.77      , 1.        ,
       0.86      , 0.08209524, 0.38730952, 0.19333333, 0.13      ,
       0.37321429, 0.0825    , 0.01271429, 0.        , 0.06      ,
       0.1615    , 0.0625    , 0.10066667, 0.615     , 0.05      ,
       0.71583333, 0.60202381, 0.17      , 0.        , 0.99      ,
       0.01      , 0.3       , 0.19      , 0.99      , 0.13      ,
       0.084     , 0.03333333, 0.04      , 0.055     , 1.        ,
       0.17716667, 0.01      , 0.14      ])

In [29]:
from sklearn.metrics import roc_auc_score

In [30]:
roc_auc_score(Y_valid,predict_valid_proba)

0.7457550125313283

In [31]:
predict_test_proba = rf.predict_proba(test_x_dummies)[:,1]
predict_test_proba

array([0.02      , 0.21      , 0.07533333, 0.12338095, 0.05      ,
       1.        , 0.02361905, 0.        , 0.14545238, 0.92      ,
       0.        , 0.01      , 0.25      , 0.98666667, 0.23      ,
       0.115     , 0.45133333, 0.        , 0.21      , 0.30765332,
       0.03      , 0.47      , 1.        , 0.03166667, 0.23183333,
       0.02083333, 0.37      , 0.08066667, 0.32347619, 0.08666667,
       0.05      , 0.02      , 0.6       , 0.30075   , 0.02      ,
       0.78      , 0.99      , 0.66      , 0.34833333, 0.30765332,
       0.34483333, 0.65      , 0.05733333, 1.        , 0.21583333,
       0.43      , 0.23      , 0.036     , 0.        , 0.13      ,
       0.97      , 0.15      , 0.05016667, 0.82766667, 0.        ,
       0.24261328, 0.02583333, 0.        , 0.31438095, 0.01      ,
       0.        , 0.025     , 0.00285714, 0.99333333, 0.04333333,
       0.37321429, 0.03166667, 0.01666667, 0.86      , 0.98      ,
       0.6       , 0.11333333, 0.12      , 0.70333333, 0.325     ,
       0.01      , 0.32289466, 0.71583333, 0.84166667, 0.        ,
       0.13      , 0.325     , 1.        , 0.77833333, 0.36      ,
       0.055     , 0.5335    , 0.32289466, 0.40166667, 0.02      ,
       0.28      , 0.58733333, 0.05916667, 0.02      , 0.93      ,
       1.        , 0.92      , 0.047     , 0.        , 0.23083333,
       0.68      , 0.11      , 0.        , 0.02666667, 0.99      ,
       0.98      , 0.595     , 0.        , 0.18233333, 0.02      ,
       0.13845238, 0.48      , 0.0025    , 0.03666667, 0.28475794,
       1.        , 1.        , 0.30166667, 0.11966667, 0.03333333,
       0.99333333, 0.01916667, 0.01      , 0.375     , 0.01619048,
       0.99      , 0.30233333, 0.129     , 0.56      , 0.71583333,
       0.        , 0.35466667, 0.24261328, 0.1       , 0.051     ,
       1.        , 0.01833333, 0.0625    , 0.0947381 , 0.15      ,
       0.44766667, 1.        , 0.595     , 0.93      , 0.84      ,
       0.298     , 0.26      , 0.13933333, 0.03183333, 0.04      ,
       0.05892857, 0.01933333, 0.93821429, 0.47095238, 0.09      ,
       0.99      , 0.115     , 0.39      , 0.02      , 0.39333333,
       0.06      , 0.02069048, 0.03      , 0.46544444, 0.23828283,
       0.59      , 0.83      , 0.01      , 0.14      , 0.        ,
       0.39616667, 0.332     , 1.        , 0.0765    , 0.01285714,
       0.        , 0.1       , 0.01      , 0.64080159, 0.83      ,
       0.12666667, 0.93      , 0.01      , 0.40766667, 0.63      ,
       0.99      , 0.2835    , 0.94      , 0.77      , 0.662     ,
       0.        , 0.0435    , 0.05733333, 0.04269048, 0.64333333,
       0.06      , 0.11      , 0.01271429, 0.16005952, 0.23      ,
       0.21      , 0.184     , 0.08      , 0.04533333, 1.        ,
       0.89      , 0.10833333, 0.4195    , 0.21397619, 0.01271429,
       1.        , 0.36802958, 0.        , 0.46716667, 0.05      ,
       0.99      , 0.94666667, 0.14      , 0.96      , 0.19733333,
       0.11      , 0.23      , 0.        , 0.        , 0.53366667,
       0.        , 0.51      , 0.87428571, 1.        , 1.        ,
       0.09      , 0.129     , 0.376     , 0.00666667, 0.94      ,
       0.18416667, 0.28      , 0.0625    , 0.025     , 0.03166667,
       0.20110653, 1.        , 0.9       , 0.02361905, 0.332     ,
       0.1085    , 0.94666667, 0.05908333, 0.035     , 0.40666667,
       0.14      , 0.01333333, 0.46843001, 1.        , 1.        ,
       0.3397381 , 1.        , 0.31      , 0.16736794, 0.        ,
       0.67      , 0.01933333, 0.05983333, 0.11566667, 0.47      ,
       0.21397619, 0.03166667, 0.        , 0.09      , 0.        ,
       1.        , 0.99333333, 0.84      , 1.        , 0.26400794,
       0.34      , 1.        , 0.        , 0.17333333, 0.06121429,
       0.205     , 0.37321429, 0.55233333, 0.10969048, 1.        ,
       0.0125    , 0.21397619, 0.        , 0.1735    , 0.42802381,
       0.02069048, 0.01619048, 0.26400794, 0.11683333, 0.36878571,
       0.02583333, 0.37583333, 0.94      , 0.344     , 1.        ,
       0.012     , 0.2825    , 0.154     , 0.60202381, 1.        ,
       1.        , 0.96      , 0.        , 0.        , 1.        ,
       0.223     , 0.48245238, 0.48245238, 0.8275    , 0.843     ,
       0.14016667, 0.2045    , 0.34      , 0.3395    , 0.0625    ,
       0.01      , 0.918     , 0.        , 0.1732619 , 0.99      ,
       0.0025    , 0.96      , 0.66519048, 0.25      , 0.34      ,
       0.99      , 0.21583333, 0.11083333, 0.6575    , 1.        ,
       1.        , 0.06833333, 0.35666667, 0.23828283, 0.        ,
       0.25      , 0.12797619, 0.1       , 1.        , 0.864     ,
       0.99      , 0.0947381 , 0.243     , 0.09333333, 0.03      ,
       0.04      , 0.86      , 0.1085    , 0.1075    , 0.40850541,
       0.08783333, 0.1       , 0.92      , 0.96166667, 1.        ,
       1.        , 0.07083333, 0.        , 0.03166667, 0.06266667,
       0.23333333, 0.09433333, 0.004     , 0.028     , 0.07833333,
       0.06166667, 0.20202381, 0.016     , 0.        , 0.11      ,
       0.70433333, 0.004     , 0.54833333, 0.        , 0.99      ,
       1.        , 0.005     , 0.08      , 0.01933333, 0.03233333,
       0.26      , 0.52083333, 0.        , 1.        , 0.46843001,
       0.185     , 1.        , 0.08      , 0.03      , 0.22666667,
       0.        , 0.92      , 0.96      , 0.        , 0.11      ,
       0.05916667, 0.4265    , 0.29      , 0.        , 0.39766667,
       0.        , 0.0525    , 0.07      , 0.025     , 0.69202381,
       0.01      , 0.34061905, 0.04      , 0.21916667, 0.7585    ,
       0.4       , 0.79      , 0.09      , 0.21916667, 0.92      ,
       0.61      , 0.89333333, 0.34495238, 0.98      , 0.01916667,
       0.25      , 0.31378571, 0.26400794, 0.02666667, 0.60202381,
       0.135     , 1.        , 0.2585    , 0.14683333, 0.77333333,
       0.4       , 0.4       , 0.00181818, 0.84      , 0.88666667,
       0.03266667, 0.02366667, 0.213     , 0.27516667, 0.02      ,
       0.66066667, 0.25114069, 0.0947381 , 0.98      , 0.72909524,
       0.3       , 1.        , 1.        , 0.03166667, 0.        ,
       1.        , 0.05104762, 0.29138095, 0.18      , 0.6575    ,
       0.84      , 0.2045    , 0.98333333, 0.0075    , 0.19933333,
       0.01619048, 0.93      , 0.0445    , 1.        , 0.01285714,
       1.        , 0.24      , 0.12702381, 0.015     , 0.12797619,
       0.051     , 0.02      , 0.047     , 0.10833333, 0.05833333,
       0.23      , 0.99      , 0.08333333, 0.30765332, 0.01503571,
       0.01      , 0.04833333, 0.        , 0.1075    , 0.47052381,
       0.0775    , 0.25      , 0.13757143, 0.31378571, 1.        ,
       0.8175    , 1.        ])

In [32]:
pd.DataFrame({'ID':test['ID'],'proba':predict_test_proba})

       ID     proba
0       6  0.020000
1       9  0.210000
2      20  0.075333
3      21  0.123381
4      23  0.050000
..    ...       ...
492  1964  0.137571
493  1970  0.313786
494  1973  1.000000
495  1976  0.817500
496  1982  1.000000

[497 rows x 2 columns]

# 3유형

다이어트약의 전후 체중 변화 기록이다.
<br>
DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv
<br>
투약 후 체중에서 투약 전 체중을 뺏을 때 값은 일반 적으로 세가지 등급으로 나눈다.
<br>
-3이하 : A등급
<br>
-3초과 0이하 : B등급
<br>
0 초과 : C등급.
<br>
약 실험에서 A,B,C 그룹간의 인원 수 비율은 2:1:1로 알려져 있다.
<br>
위 데이터 표본은 각 범주의 비율에 적합한지 카이제곱 검정하려한다.

In [33]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv')
df

           ID     투약전     투약후
0      user_1  55.137  56.106
1      user_2  66.584  60.409
2      user_3  52.259  50.639
3      user_4  77.081  69.164
4      user_5  62.677  57.622
..        ...     ...     ...
230  user_231  78.041  81.021
231  user_232  77.187  68.417
232  user_233  50.640  51.139
233  user_234  58.133  49.653
234  user_235  55.422  55.179

[235 rows x 3 columns]

## A등급에 해당하는 유저는 몇명인지 확인하라

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      235 non-null    object
 1   투약전     235 non-null    float64
 2   투약후     235 non-null    float64
dtypes: float64(2), object(1)
memory usage: 5.6+ KB

In [35]:
df['변화'] = df['투약후'] - df['투약전']
df

           ID     투약전     투약후     변화
0      user_1  55.137  56.106  0.969
1      user_2  66.584  60.409 -6.175
2      user_3  52.259  50.639 -1.620
3      user_4  77.081  69.164 -7.917
4      user_5  62.677  57.622 -5.055
..        ...     ...     ...    ...
230  user_231  78.041  81.021  2.980
231  user_232  77.187  68.417 -8.770
232  user_233  50.640  51.139  0.499
233  user_234  58.133  49.653 -8.480
234  user_235  55.422  55.179 -0.243

[235 rows x 4 columns]

In [36]:
def 등급(x):
    if x <= -3:
        return 'A'
    elif x > -3 and x <= 0:
        return 'B'
    elif x > 0:
        return 'C'

df['등급'] = df['변화'].apply(등급)
df

           ID     투약전     투약후     변화 등급
0      user_1  55.137  56.106  0.969  C
1      user_2  66.584  60.409 -6.175  A
2      user_3  52.259  50.639 -1.620  B
3      user_4  77.081  69.164 -7.917  A
4      user_5  62.677  57.622 -5.055  A
..        ...     ...     ...    ... ..
230  user_231  78.041  81.021  2.980  C
231  user_232  77.187  68.417 -8.770  A
232  user_233  50.640  51.139  0.499  C
233  user_234  58.133  49.653 -8.480  A
234  user_235  55.422  55.179 -0.243  B

[235 rows x 5 columns]

In [37]:
df[df['등급'] == 'A'].shape[0]

121

## 카이제곱검정 통계량을 반올림하여 소숫점 이하 3째자리까지 구하여라

In [38]:
# 약 실험에서 A,B,C 그룹간의 인원 수 비율은 2:1:1로 알려져 있다.
# 위 데이터 표본은 각 범주의 비율에 적합한지 카이제곱 검정하려한다.

In [39]:
# 적합도 검정을 위해 등급의 측정빈도수와 기대빈도수를 구한다.

In [40]:
df1 = df['등급'].value_counts().sort_index().to_frame().rename(columns = {'등급':'측정빈도'})
df1

   측정빈도
A   121
B    67
C    47

In [41]:
합 = len(df['등급'])
합

235

In [42]:
df1['기대빈도'] = [합*0.5,합*0.25,합*0.25]
df1

   측정빈도    기대빈도
A   121  117.50
B    67   58.75
C    47   58.75

In [43]:
from scipy.stats import chisquare

In [44]:
chi_stat, p_value = chisquare(df1['측정빈도'],df1['기대빈도'])

In [45]:
round(chi_stat,3)

3.613

## 카이제곱 검정 p값을 반올림하여 소숫점 이하 3자리까지 구하고, 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)

In [46]:
p = round(p_value,3)
p

0.164

In [47]:
if p >= 0.05:
    print('귀무')
elif p < 0.05:
    print('대립')

귀무

다이어트약의 전후 체중 변화 기록이다.
<br>
DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2.csv
<br>
A,B 공장에서 생산한 기계들의 rpm 값들을 기록한 데이터이다.
<br>
대응 표본 t 검정을 통해 B공장 제품들이 A 공장 제품들보다 rpm이 높다고 말할 수 있는지 검정하려한다

## 참고자료
https://blog.naver.com/pmw9440/222619230339
<br>
https://signature95.tistory.com/15
<br>
https://jae-eun-ai.tistory.com/48
<br>
https://rfriend.tistory.com/755
<br>
https://dding0-0.tistory.com/58

In [48]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2_.csv')
df

       rpm group
0    163.6     A
1    246.9     A
2    234.9     A
3    156.9     A
4    226.6     A
..     ...   ...
195  239.9     B
196  276.4     B
197  260.9     B
198  197.2     B
199  233.3     B

[200 rows x 2 columns]

## A,B 공장 각각 정규성을 가지는지 샤피로 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)

In [49]:
# Shapiro 검정은 가설검정의 방법으로 데이터가 정규분포를 가지는 지에 대해 검정하는 방법입니다. 
# H0 : F(x)는 정규분포이다.
# H1 : F(x)는 정규분포가 아니다.

In [50]:
from scipy.stats import shapiro

In [51]:
a = df[df['group']=='A']['rpm']
b =  df[df['group']=='B']['rpm']

In [52]:
# shapiro() 리턴 값 : 검정통계량, p_value
print(shapiro(a)) #pvalue=0.397
print(shapiro(b)) #pvalue=0.956

ShapiroResult(statistic=0.9863898158073425, pvalue=0.397915244102478)
ShapiroResult(statistic=0.9943944811820984, pvalue=0.9562830924987793)

## A,B 공장 생산 제품의 rpm은 등분산성을 가지는지 바틀렛 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)

In [53]:
# 등분산검정(Equal-variance test)은 두 정규성을 만족하는 데이터에서 생성된 두 개의 데이터 집합으로부터
# 두 정규분포의 모분산이 같은지 확인하기 위한 검정이다.
# 바틀렛(bartlett), 레빈(levene), 플리그너(fligner) 검정을 주로 사용한다. 
# 이는 scipy의 stats에서 이를 위한  bartlett, fligner, levene 명령을 제공한다.
# H0 : 등분산성을 충족한다.
# H1 : 등분산성을 충족하지 않는다.(이분산성)
# 정규성을 충족하지 않는 비모수 데이터에 대해서는 levene 검정이 더 강건한 결과를 도출할 수 있다.
# fligner도 Levene와 동일하나, 비모수 데이터에 더 강건하게 검정할 수 있는 방법이다.

In [54]:
from scipy.stats import bartlett, levene, fligner #등분산성 검정

In [55]:
# 리턴 값 : 검정통계량, p_value
print(bartlett(a,b))
print(levene(a,b))
print(fligner(a,b))

BartlettResult(statistic=0.018038205297268895, pvalue=0.8931603037661102)
LeveneResult(statistic=0.014634456943777612, pvalue=0.9038351280607142)
FlignerResult(statistic=0.008636962277039265, pvalue=0.925954994697055)

## 대응 표본 t 검정을 통해 B공장 제품들의 rpm이 A 공장 제품의 rpm보다 크다고 말할 수 있는지 검정하라. pvalue를 소숫점 이하 3자리까지 출력하고 귀무가설, 대립가설 중 하나를 출력하라*

In [56]:
# ttest_1samp(표본,평균) : 단일 표본 t검정, 하나의 집단에 대한 표본평균이 예측된 평균과 같은지 여부 검정

# ttest_ind(a,b) : 두 독립 표본 t검정, 독립된 두 표본에서 추출한 그룹의 평균 파이를 검정
# ttest_ind()에서 equal_var= True가 기본값 (두 독립표본이 등분산성을 만족하면 기본값 그대로 사용)
# 등분산성을 만족하지 못하는 2개의 그룹에 대한 ttest_ind()에는 equal_var=False 옵션을 추가합니다.

# ttest_rel(a,b) : 대응 표본 t검정, 짝지어진 표본에서 평균 검정.

In [57]:
from scipy.stats import ttest_1samp # 단일 표본 t검정
from scipy.stats import ttest_ind # 두 독립 표본 t검정
from scipy.stats import ttest_rel # 대응 표본 t검정

In [58]:
#alternative='two-sided' 기본 값
# * 'two-sided' 차이가 있는지
# * 'less': one-sided 더 작은지
# * 'greater': one-sided 더 큰지
# 인데 B가 A보다 큰지 검정하기에 greater사용
# 리턴 값 : 검정통계량, p_value

In [59]:
s , p =ttest_rel(b,a,alternative='greater')
round_p = round(p,3)
print(round_p)

0.009

In [60]:
if round_p >= 0.05:
    print('귀무')
elif round_p < 0.05:
    print('대립')

대립