# 3유형

다이어트약의 전후 체중 변화 기록이다.
<br>
DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv
<br>
투약 후 체중에서 투약 전 체중을 뺏을 때 값은 일반 적으로 세가지 등급으로 나눈다.
<br>
-3이하 : A등급
<br>
-3초과 0이하 : B등급
<br>
0 초과 : C등급.
<br>
약 실험에서 A,B,C 그룹간의 인원 수 비율은 2:1:1로 알려져 있다.
<br>
위 데이터 표본은 각 범주의 비율에 적합한지 카이제곱 검정하려한다.

In [1]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv')
df

           ID     투약전     투약후
0      user_1  55.137  56.106
1      user_2  66.584  60.409
2      user_3  52.259  50.639
3      user_4  77.081  69.164
4      user_5  62.677  57.622
..        ...     ...     ...
230  user_231  78.041  81.021
231  user_232  77.187  68.417
232  user_233  50.640  51.139
233  user_234  58.133  49.653
234  user_235  55.422  55.179

[235 rows x 3 columns]

## A등급에 해당하는 유저는 몇명인지 확인하라

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      235 non-null    object
 1   투약전     235 non-null    float64
 2   투약후     235 non-null    float64
dtypes: float64(2), object(1)
memory usage: 5.6+ KB

In [3]:
df['변화'] = df['투약후'] - df['투약전']
df

           ID     투약전     투약후     변화
0      user_1  55.137  56.106  0.969
1      user_2  66.584  60.409 -6.175
2      user_3  52.259  50.639 -1.620
3      user_4  77.081  69.164 -7.917
4      user_5  62.677  57.622 -5.055
..        ...     ...     ...    ...
230  user_231  78.041  81.021  2.980
231  user_232  77.187  68.417 -8.770
232  user_233  50.640  51.139  0.499
233  user_234  58.133  49.653 -8.480
234  user_235  55.422  55.179 -0.243

[235 rows x 4 columns]

In [4]:
def 등급(x):
    if x <= -3:
        return 'A'
    elif x > -3 and x <= 0:
        return 'B'
    elif x > 0:
        return 'C'

df['등급'] = df['변화'].apply(등급)
df

           ID     투약전     투약후     변화 등급
0      user_1  55.137  56.106  0.969  C
1      user_2  66.584  60.409 -6.175  A
2      user_3  52.259  50.639 -1.620  B
3      user_4  77.081  69.164 -7.917  A
4      user_5  62.677  57.622 -5.055  A
..        ...     ...     ...    ... ..
230  user_231  78.041  81.021  2.980  C
231  user_232  77.187  68.417 -8.770  A
232  user_233  50.640  51.139  0.499  C
233  user_234  58.133  49.653 -8.480  A
234  user_235  55.422  55.179 -0.243  B

[235 rows x 5 columns]

In [5]:
df[df['등급'] == 'A'].shape[0]

121

## 카이제곱검정 통계량을 반올림하여 소숫점 이하 3째자리까지 구하여라

In [6]:
# 약 실험에서 A,B,C 그룹간의 인원 수 비율은 2:1:1로 알려져 있다.
# 위 데이터 표본은 각 범주의 비율에 적합한지 카이제곱 검정하려한다.

In [7]:
# 적합도 검정을 위해 등급의 측정빈도수와 기대빈도수를 구한다.

In [8]:
df1 = df['등급'].value_counts().sort_index().to_frame().rename(columns = {'등급':'측정빈도'})
df1

   측정빈도
A   121
B    67
C    47

In [9]:
합 = len(df['등급'])
합

235

In [10]:
df1['기대빈도'] = [합*0.5,합*0.25,합*0.25]
df1

   측정빈도    기대빈도
A   121  117.50
B    67   58.75
C    47   58.75

In [11]:
from scipy.stats import chisquare

In [12]:
chi_stat, p_value = chisquare(df1['측정빈도'],df1['기대빈도'])

In [13]:
round(chi_stat,3)

3.613

## 카이제곱 검정 p값을 반올림하여 소숫점 이하 3자리까지 구하고, 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)

In [14]:
p = round(p_value,3)
p

0.164

In [15]:
if p >= 0.05:
    print('귀무')
elif p < 0.05:
    print('대립')

귀무

다이어트약의 전후 체중 변화 기록이다.
<br>
DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2.csv
<br>
A,B 공장에서 생산한 기계들의 rpm 값들을 기록한 데이터이다.
<br>
대응 표본 t 검정을 통해 B공장 제품들이 A 공장 제품들보다 rpm이 높다고 말할 수 있는지 검정하려한다

## 참고자료
https://blog.naver.com/pmw9440/222619230339
<br>
https://signature95.tistory.com/15
<br>
https://jae-eun-ai.tistory.com/48
<br>
https://rfriend.tistory.com/755
<br>
https://dding0-0.tistory.com/58

In [16]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2_.csv')
df

       rpm group
0    163.6     A
1    246.9     A
2    234.9     A
3    156.9     A
4    226.6     A
..     ...   ...
195  239.9     B
196  276.4     B
197  260.9     B
198  197.2     B
199  233.3     B

[200 rows x 2 columns]

## A,B 공장 각각 정규성을 가지는지 샤피로 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)

In [17]:
# Shapiro 검정은 가설검정의 방법으로 데이터가 정규분포를 가지는 지에 대해 검정하는 방법입니다. 
# H0 : F(x)는 정규분포이다.
# H1 : F(x)는 정규분포가 아니다.

In [18]:
from scipy.stats import shapiro

In [19]:
a = df[df['group']=='A']['rpm']
b =  df[df['group']=='B']['rpm']

In [20]:
# shapiro() 리턴 값 : 검정통계량, p_value
print(shapiro(a)) #pvalue=0.397
print(shapiro(b)) #pvalue=0.956

ShapiroResult(statistic=0.9863898158073425, pvalue=0.397915244102478)
ShapiroResult(statistic=0.9943944811820984, pvalue=0.9562830924987793)

## A,B 공장 생산 제품의 rpm은 등분산성을 가지는지 바틀렛 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)

In [21]:
# 등분산검정(Equal-variance test)은 두 정규성을 만족하는 데이터에서 생성된 두 개의 데이터 집합으로부터
# 두 정규분포의 모분산이 같은지 확인하기 위한 검정이다.
# 바틀렛(bartlett), 레빈(levene), 플리그너(fligner) 검정을 주로 사용한다. 
# 이는 scipy의 stats에서 이를 위한  bartlett, fligner, levene 명령을 제공한다.
# H0 : 등분산성을 충족한다.
# H1 : 등분산성을 충족하지 않는다.(이분산성)
# 정규성을 충족하지 않는 비모수 데이터에 대해서는 levene 검정이 더 강건한 결과를 도출할 수 있다.
# fligner도 Levene와 동일하나, 비모수 데이터에 더 강건하게 검정할 수 있는 방법이다.

In [22]:
from scipy.stats import bartlett, levene, fligner #등분산성 검정

In [23]:
# 리턴 값 : 검정통계량, p_value
print(bartlett(a,b))
print(levene(a,b))
print(fligner(a,b))

BartlettResult(statistic=0.018038205297268895, pvalue=0.8931603037661102)
LeveneResult(statistic=0.014634456943777612, pvalue=0.9038351280607142)
FlignerResult(statistic=0.008636962277039265, pvalue=0.925954994697055)

## 대응 표본 t 검정을 통해 B공장 제품들의 rpm이 A 공장 제품의 rpm보다 크다고 말할 수 있는지 검정하라. pvalue를 소숫점 이하 3자리까지 출력하고 귀무가설, 대립가설 중 하나를 출력하라*

In [24]:
# ttest_1samp(표본,평균) : 단일 표본 t검정, 하나의 집단에 대한 표본평균이 예측된 평균과 같은지 여부 검정

# ttest_ind(a,b) : 두 독립 표본 t검정, 독립된 두 표본에서 추출한 그룹의 평균 파이를 검정
# ttest_ind()에서 equal_var= True가 기본값 (두 독립표본이 등분산성을 만족하면 기본값 그대로 사용)
# 등분산성을 만족하지 못하는 2개의 그룹에 대한 ttest_ind()에는 equal_var=False 옵션을 추가합니다.

# ttest_rel(a,b) : 대응 표본 t검정, 짝지어진 표본에서 평균 검정.

In [25]:
from scipy.stats import ttest_1samp # 단일 표본 t검정
from scipy.stats import ttest_ind # 두 독립 표본 t검정
from scipy.stats import ttest_rel # 대응 표본 t검정

In [26]:
#alternative='two-sided' 기본 값
# * 'two-sided' 차이가 있는지
# * 'less': one-sided 더 작은지
# * 'greater': one-sided 더 큰지
# 인데 B가 A보다 큰지 검정하기에 greater사용
# 리턴 값 : 검정통계량, p_value

In [27]:
s , p =ttest_rel(b,a,alternative='greater')
round_p = round(p,3)
print(round_p)

0.009

In [28]:
if round_p >= 0.05:
    print('귀무')
elif round_p < 0.05:
    print('대립')

대립