# 1유형

DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p1.csv'
<br>
데이터 출처 : 자체 제작
<br>
데이터 설명 : 학생 15명의 국어,수학,영어,과학 시험 점수이다. 각 학생은 4과목 중 3과목을 선택해서 시험봤다.

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p1.csv')
df

       학생    국어    수학    영어    과학
0    ID_0  63.0   NaN  79.0  84.0
1    ID_1  91.0  93.0   NaN  73.0
2    ID_2  59.0  55.0   NaN  56.0
3    ID_3  71.0  83.0  82.0   NaN
4    ID_4  62.0  72.0  56.0   NaN
5    ID_5   NaN  69.0  88.0  96.0
6    ID_6  83.0  92.0  69.0   NaN
7    ID_7  85.0   NaN  83.0  66.0
8    ID_8  96.0  75.0  86.0   NaN
9    ID_9  79.0  56.0  90.0   NaN
10  ID_10  68.0   NaN  69.0  62.0
11  ID_11  61.0  56.0   NaN  76.0
12  ID_12  86.0  96.0   NaN  87.0
13  ID_13   NaN  89.0  98.0  82.0
14  ID_14  79.0  55.0  69.0   NaN

## 국어,수학,영어,과학 과목 중 가장 많은 학생들이 응시한 시험을 선택하고 해당과목의 점수를 표준화 했을 때 가장 큰 표준화 점수를 구하여라

In [2]:
sel = df[['국어','수학','영어','과학']].isnull().sum().sort_values().index[0]
sel

'국어'

In [3]:
df[sel]

0     63.0
1     91.0
2     59.0
3     71.0
4     62.0
5      NaN
6     83.0
7     85.0
8     96.0
9     79.0
10    68.0
11    61.0
12    86.0
13     NaN
14    79.0
Name: 국어, dtype: float64

In [4]:
# 표준화 (z-score) : (x - mean)/ std

In [5]:
# scipy
from scipy.stats import zscore
ss = zscore(df[sel].dropna())
ss

0    -1.060650
1     1.293476
2    -1.396954
3    -0.388043
4    -1.144726
6     0.620868
7     0.789020
8     1.713856
9     0.284565
10   -0.640271
11   -1.228802
12    0.873096
14    0.284565
Name: 국어, dtype: float64

In [6]:
ss.max()

1.713855688712825

In [7]:
# StandardScaler(표준화)
from sklearn.preprocessing import StandardScaler
import numpy as np

In [8]:
data = np.array(df[sel].dropna()).reshape(-1,1)
data

array([[63.],
       [91.],
       [59.],
       [71.],
       [62.],
       [83.],
       [85.],
       [96.],
       [79.],
       [68.],
       [61.],
       [86.],
       [79.]])

In [9]:
s = StandardScaler()
ss = s.fit_transform(data)
ss

array([[-1.06065031],
       [ 1.29347599],
       [-1.39695407],
       [-0.3880428 ],
       [-1.14472625],
       [ 0.62086848],
       [ 0.78902035],
       [ 1.71385569],
       [ 0.28456472],
       [-0.64027062],
       [-1.22880219],
       [ 0.87309629],
       [ 0.28456472]])

In [10]:
ss.max()

1.713855688712825

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2.csv
<br>
데이터 출처 : 자체제작 32개 변수의 수치값

In [11]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_.csv')
df

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32
0,-0.335864,-2.425701,0.452851,-1.381924,-0.425591,-1.461498,-0.417082,-0.944226,-0.351224,1.474046,...,1.715714,0.300227,0.439828,-0.094772,1.551995,3.308446,-0.391377,1.963829,-1.458605,-0.348652
1,0.803535,-0.699433,0.095579,0.788053,-0.267674,-0.370746,0.636034,-1.674584,-0.058465,-1.188973,...,-1.348879,-0.899480,-1.271886,0.333734,-0.373565,-2.091508,-0.715245,-0.688441,0.910927,-0.746899
2,-0.408470,-0.361105,-0.857278,0.338294,2.317821,-0.099928,0.557053,-0.847932,0.973471,0.101203,...,-0.388353,0.918553,-1.984422,0.385055,1.161414,-1.280253,2.831802,-0.953771,-0.228466,0.766254
3,-0.690599,0.777928,-0.079963,0.164086,1.721702,0.146761,-0.988636,0.885344,0.647053,0.674609,...,0.337074,-1.406224,-0.699728,-0.836068,-0.226315,1.260893,-0.781630,-0.219995,0.871289,0.017578
4,0.179819,-0.668267,0.381849,-0.884196,0.758519,-1.026190,0.986227,-1.663167,2.290551,0.564845,...,-0.700137,-0.153825,-1.835313,0.182131,0.890247,0.024791,1.489955,1.276357,-0.285144,1.066486
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.490434,-1.197004,-0.479932,0.742293,0.030237,-0.917399,-0.456485,-0.073727,0.315860,0.494952,...,0.051177,-0.352919,1.165803,1.022760,-0.430430,-1.752405,1.268725,0.835590,-0.640479,0.896333
996,-0.473478,-0.288961,0.760027,0.290169,1.480012,-0.133223,-0.253417,-1.694322,-0.619197,-1.656501,...,0.039316,1.581424,-0.031658,1.527934,0.515152,-1.323778,0.122720,1.677778,-1.499085,1.061794
997,0.466743,-0.590503,0.018420,-0.466678,-0.546611,-2.276084,0.015573,2.168013,-0.669260,0.289482,...,0.145285,1.673797,0.640994,0.628243,0.202849,0.373191,0.677001,1.200631,-0.681883,-1.426339
998,-0.662948,-0.472974,0.246858,-1.258131,-1.345171,0.517870,-0.410059,-0.700673,0.101443,-0.623119,...,1.501711,-1.109268,1.454441,-2.391655,0.652381,0.478351,-0.191029,-1.120244,1.964952,0.372213
999,0.544267,1.727658,0.308647,-1.622876,0.858703,-0.263262,-0.325299,-0.298618,0.991313,0.099296,...,1.063176,-0.191063,-1.026710,0.945256,2.150945,0.459874,0.589407,1.764326,-0.121256,1.208216

## 32개의 변수간 상관관계를 확인 했을 때, var_11 컬럼과 상관계수의 절댓값이 가장 큰 변수를 찾아 해당 변수의 평균값을 구하여라

In [12]:
result = abs(df.corr()['var_11']).sort_values(ascending = False).index[1]
result

'var_28'

In [13]:
df[result].mean()

-0.06289356546077181

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3.csv

In [14]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3.csv')
df

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12
0,-0.401584,0.007198,-0.134910,-0.419514,-0.686331,-1.174550,-0.499150,-0.557510,0.357347,0.844209,0.082097,0.475098
1,1.064622,-0.531247,0.571185,-0.762243,-1.456043,0.355432,0.880010,0.523183,-0.141733,0.301472,0.840299,-0.045113
2,0.900195,-1.148496,-0.718437,-2.315266,-0.755505,0.630923,0.586027,0.086497,-0.381657,-1.602532,1.566340,-0.654105
3,1.199227,-0.114200,0.101536,-1.851971,-0.672844,0.796077,0.644246,-0.836296,-1.707074,0.376281,1.303967,1.228015
4,0.607393,1.675917,1.063759,-0.799493,-0.959568,-0.103007,-0.245984,-0.059492,0.293592,-0.517044,0.100772,0.403833
...,...,...,...,...,...,...,...,...,...,...,...,...
518,0.116035,0.320777,0.556611,-0.964614,1.701161,-0.491429,0.493486,-1.138883,-1.736152,1.828143,-0.064169,3.367716
519,-1.689883,0.854078,0.847064,0.785130,0.622784,-0.714802,-1.372642,0.474812,1.892801,-1.154465,-1.183720,-0.842198
520,0.271278,0.183073,1.356380,1.874476,0.756563,-1.797203,-0.707404,-0.526063,-0.016682,0.939634,-1.101441,0.462423
521,1.967991,0.223700,-0.709370,-1.570290,-0.325595,0.275397,1.293137,1.587333,-1.053120,-2.830817,0.636228,1.374148
522,0.073649,1.568647,-1.100164,-0.250436,-0.302727,0.444893,1.171748,0.104442,-1.906780,1.501423,1.210667,2.670478

## **var_6 컬럼의 1,3사분위수 각각 IQR의 1.5배 벗어난 이상치의 숫자를 구하라 **

In [15]:
# IQR : 3분위수 - 1분위수
# 이상치 : 최소값(1분위수 - 1.5*IQR)보다 작거나 최대값(3분위수 + 1.5*IQR)보다 큰 수치들

In [16]:
IQR = df['var_6'].quantile(0.75) - df['var_6'].quantile(0.25)
IQR

1.2368101306102612

In [17]:
min_value = df['var_6'].quantile(0.25) - (1.5 * IQR)
min_value

-2.449196441358802

In [18]:
max_value = df['var_6'].quantile(0.75) + (1.5 * IQR)
max_value

2.4980440810822424

In [19]:
len(df[(df['var_6'] > max_value) | (df['var_6'] < min_value)])

8

# 2유형

제주업종별카드이용정보 : https://www.jejudatahub.net/data/view/data/1048
<br>
train = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_train2.csv
<br>
test = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_test2.csv
<br>
종속변수 :이용금액 , 평가지표 : rmse

In [20]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_train2.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_test2.csv')

display(train.head(),test.head())

        ID      연월          업종명 이용자구분    성별   이용자수   이용건수        이용금액
0  ID_5020  202201          여관업    법인  알수없음   7693  12105  3049021809
1  ID_5021  202201          여관업  제주도민    남성   3990   4291   294163241
2  ID_5022  202201          여관업  제주도민    여성   1495   1620   119277191
3  ID_5023  202201  전시 및 행사 대행업   내국인    남성  16299  18588   432933220
4  ID_5024  202201  전시 및 행사 대행업   내국인    여성  17350  19922   396316520

        ID      연월                 업종명 이용자구분    성별    이용자수    이용건수
0  ID_2575  201911             한식 음식점업  제주도민    여성  153363  163462
1  ID_6637  202305          건강보조식품 소매업    법인  알수없음     136     144
2  ID_5704  202208  스포츠 및 레크레이션 용품 임대업  기타외국  알수없음      26      26
3  ID_3606  202010            서양식 음식점업  기타외국  알수없음      83      87
4  ID_6443  202303         빵 및 과자류 소매업    중국  알수없음      27      35

In [21]:
train.isnull().sum()

ID       0
연월       0
업종명      0
이용자구분    0
성별       0
이용자수     0
이용건수     0
이용금액     0
dtype: int64

In [22]:
test.isnull().sum()

ID       0
연월       0
업종명      0
이용자구분    0
성별       0
이용자수     0
이용건수     0
dtype: int64

In [23]:
train.nunique()

ID       2245
연월         22
업종명        15
이용자구분       7
성별          3
이용자수     1839
이용건수     1856
이용금액     2244
dtype: int64

In [24]:
test.nunique()

ID       3661
연월         70
업종명        15
이용자구분       7
성별          3
이용자수     2823
이용건수     2849
dtype: int64

In [25]:
x = train.drop(columns=['ID','이용금액'])

In [26]:
test_x = test.drop(columns=['ID'])

In [27]:
x_dummies = pd.get_dummies(x)

In [28]:
x_test_dummies = pd.get_dummies(test_x)

In [29]:
x_test_dummies = x_test_dummies[x_dummies.columns]

In [30]:
y = train['이용금액']

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
from sklearn.ensemble import RandomForestRegressor

In [33]:
X_train, X_valid, Y_train, Y_valid = train_test_split(x_dummies,y,random_state = 42) #회귀문제라 stratify사용 안하는 게 맞는듯?

In [34]:
rf = RandomForestRegressor(random_state = 42)

In [35]:
rf.fit(X_train, Y_train)

RandomForestRegressor(random_state=42)

In [36]:
predict_valid = rf.predict(X_valid)

In [37]:
from sklearn.metrics import mean_squared_error

In [38]:
import numpy as np

In [39]:
np.sqrt(mean_squared_error(Y_valid,predict_valid))

170651161.19427633

In [40]:
predict_test = rf.predict(x_test_dummies)

In [41]:
pd.DataFrame({'ID':test['ID'],'이용금액':predict_test})

           ID          이용금액
0     ID_2575  6.365264e+09
1     ID_6637  4.275173e+07
2     ID_5704  2.470466e+06
3     ID_3606  1.956860e+06
4     ID_6443  5.559856e+05
...       ...           ...
5015  ID_4523  3.823407e+08
5016  ID_3483  1.148035e+08
5017   ID_453  5.506472e+09
5018   ID_998  9.622907e+08
5019  ID_3237  7.581516e+08

[5020 rows x 2 columns]

# 3유형

데이터url = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_1.csv
<br>
종속변수 : Target

In [42]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_1.csv')
df

,Target,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21
0,21.650072,0.496714,-0.138264,0.647689,1.523030,-0.234153,-0.234137,1.579213,0.767435,-0.469474,...,-0.465730,0.241962,-1.913280,-1.724918,-0.562288,-1.012831,0.314247,-0.908024,-1.412304,1.465649
1,-19.469855,-0.225776,0.067528,-1.424748,-0.544383,0.110923,-1.150994,0.375698,-0.600639,-0.291694,...,-0.013497,-1.057711,0.822545,-1.220844,0.208864,-1.959670,-1.328186,0.196861,0.738467,0.171368
2,-24.475600,-0.115648,-0.301104,-1.478522,-0.719844,-0.460639,1.057122,0.343618,-1.763040,0.324084,...,0.611676,1.031000,0.931280,-0.839218,-0.309212,0.331263,0.975545,-0.479174,-0.185659,-1.106335
3,13.476831,-1.196207,0.812526,1.356240,-0.072010,1.003533,0.361636,-0.645120,0.361396,1.538037,...,-2.619745,0.821903,0.087047,-0.299007,0.091761,-1.987569,-0.219672,0.357113,1.477894,-0.518270
4,3.505322,-0.808494,-0.501757,0.915402,0.328751,-0.529760,0.513267,0.097078,0.968645,-0.702053,...,-1.463515,0.296120,0.261055,0.005113,-0.234587,-1.415371,-0.420645,-0.342715,-0.802277,-0.161286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-13.883590,-2.624411,-1.481846,0.157517,1.227988,-1.362030,0.074564,-0.375718,0.953088,-1.217803,...,0.223038,0.068931,-0.251779,0.477812,0.043653,-0.132806,-0.356417,0.077598,0.222044,-0.989142
996,-12.723150,-0.349471,-1.055186,-0.039845,-0.592332,0.770783,0.672727,-0.922749,-0.002307,0.638517,...,-1.092404,0.854268,0.902713,-0.207948,0.766138,-2.965211,1.327555,-0.156945,0.141777,-0.320518
997,19.824395,1.395707,-1.060732,1.474460,0.396271,0.622664,-0.329205,-1.308219,0.930511,0.311408,...,-0.419231,1.388088,1.911894,0.009347,-0.752757,0.810531,-0.254021,0.599263,-0.259276,1.564014
998,-9.009743,-0.699490,0.480530,-0.488702,-0.281507,-0.412056,0.738608,0.918363,0.557739,-0.107983,...,0.929312,-2.690276,-0.272222,-0.224259,0.669253,-0.066771,0.719183,-1.078661,0.260055,0.900206
999,17.227466,-1.474383,2.513643,1.190886,0.001353,-0.828408,-0.175085,0.083802,0.440663,1.500661,...,-1.292429,-0.413601,0.376717,0.691262,-0.753232,-0.440792,1.460557,1.161909,0.208457,-2.236645

## 선형관계 가장 큰 변수 찾아 상관계수를 구하여라

In [43]:
df.corr()['Target'].sort_values(ascending = False).values[1]

0.6270251925517436

## Target 변수를 종속변수로 하여 다중선형회귀모델링을 진행했을 때 v2 컬럼의 회귀 계수는?

In [44]:
import statsmodels.api as sm

In [45]:
X = sm.add_constant(df.drop(columns = ['Target']))
X

,const,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21
0,1.0,0.496714,-0.138264,0.647689,1.523030,-0.234153,-0.234137,1.579213,0.767435,-0.469474,...,-0.465730,0.241962,-1.913280,-1.724918,-0.562288,-1.012831,0.314247,-0.908024,-1.412304,1.465649
1,1.0,-0.225776,0.067528,-1.424748,-0.544383,0.110923,-1.150994,0.375698,-0.600639,-0.291694,...,-0.013497,-1.057711,0.822545,-1.220844,0.208864,-1.959670,-1.328186,0.196861,0.738467,0.171368
2,1.0,-0.115648,-0.301104,-1.478522,-0.719844,-0.460639,1.057122,0.343618,-1.763040,0.324084,...,0.611676,1.031000,0.931280,-0.839218,-0.309212,0.331263,0.975545,-0.479174,-0.185659,-1.106335
3,1.0,-1.196207,0.812526,1.356240,-0.072010,1.003533,0.361636,-0.645120,0.361396,1.538037,...,-2.619745,0.821903,0.087047,-0.299007,0.091761,-1.987569,-0.219672,0.357113,1.477894,-0.518270
4,1.0,-0.808494,-0.501757,0.915402,0.328751,-0.529760,0.513267,0.097078,0.968645,-0.702053,...,-1.463515,0.296120,0.261055,0.005113,-0.234587,-1.415371,-0.420645,-0.342715,-0.802277,-0.161286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1.0,-2.624411,-1.481846,0.157517,1.227988,-1.362030,0.074564,-0.375718,0.953088,-1.217803,...,0.223038,0.068931,-0.251779,0.477812,0.043653,-0.132806,-0.356417,0.077598,0.222044,-0.989142
996,1.0,-0.349471,-1.055186,-0.039845,-0.592332,0.770783,0.672727,-0.922749,-0.002307,0.638517,...,-1.092404,0.854268,0.902713,-0.207948,0.766138,-2.965211,1.327555,-0.156945,0.141777,-0.320518
997,1.0,1.395707,-1.060732,1.474460,0.396271,0.622664,-0.329205,-1.308219,0.930511,0.311408,...,-0.419231,1.388088,1.911894,0.009347,-0.752757,0.810531,-0.254021,0.599263,-0.259276,1.564014
998,1.0,-0.699490,0.480530,-0.488702,-0.281507,-0.412056,0.738608,0.918363,0.557739,-0.107983,...,0.929312,-2.690276,-0.272222,-0.224259,0.669253,-0.066771,0.719183,-1.078661,0.260055,0.900206
999,1.0,-1.474383,2.513643,1.190886,0.001353,-0.828408,-0.175085,0.083802,0.440663,1.500661,...,-1.292429,-0.413601,0.376717,0.691262,-0.753232,-0.440792,1.460557,1.161909,0.208457,-2.236645

In [46]:
s = sm.OLS(df['Target'],X)

In [47]:
ss = s.fit()

In [48]:
ss.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Target   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 5.228e+04
Date:                Thu, 13 Jun 2024   Prob (F-statistic):               0.00
Time:                        03:01:32   Log-Likelihood:                -707.67
No. Observations:                1000   AIC:                             1459.
Df Residuals:                     978   BIC:                             1567.
Df Model:                          21
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0118      0.016      0.739      0.460      -0.019       0.043
v1             5.5360      0.016    353.805      0.000       5.505       5.567
v2             6.4403      0.016    410.550      0.000       6.410       6.471
v3             9.6506      0.016    614.757      0.000       9.620       9.681
v4             8.9758      0.016    576.776      0.000       8.945       9.006
v5             1.9523      0.016    124.711      0.000       1.922       1.983
v6             0.0145      0.016      0.899      0.369      -0.017       0.046
v7            -0.0023      0.016     -0.140      0.888      -0.034       0.029
v8             0.0173      0.016      1.096      0.274      -0.014       0.048
v9            -0.0123      0.016     -0.781      0.435      -0.043       0.019
v10           -0.0019      0.016     -0.117      0.906      -0.033       0.030
v11            0.0171      0.016      1.099      0.272      -0.013       0.048
v12            0.0161      0.016      1.018      0.309      -0.015       0.047
v13           -0.0167      0.016     -1.058      0.290      -0.048       0.014
v14            0.0068      0.016      0.412      0.681      -0.026       0.039
v15           -0.0432      0.017     -2.605      0.009      -0.076      -0.011
v16            0.0117      0.016      0.749      0.454      -0.019       0.043
v17            0.0156      0.015      1.012      0.312      -0.015       0.046
v18            0.0100      0.016      0.628      0.530      -0.021       0.041
v19           -0.0174      0.016     -1.119      0.263      -0.048       0.013
v20            0.0098      0.015      0.637      0.524      -0.020       0.040
v21            0.0015      0.016      0.092      0.927      -0.030       0.033
==============================================================================
Omnibus:                        4.701   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.095   Jarque-Bera (JB):                4.745
Skew:                          -0.167   Prob(JB):                       0.0932
Kurtosis:                       2.955   Cond. No.                         1.32
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [49]:
ss.params['v2']

6.440301364843058

## 회귀 계수들이 가지는 p값들 중 최대 값은?

In [50]:
ss.pvalues.sort_values(ascending = False)

v21      0.926555
v10      0.906498
v7       0.888399
v14      0.680623
v18      0.530073
v20      0.524290
const    0.459845
v16      0.454109
v9       0.434747
v6       0.368888
v17      0.311623
v12      0.309005
v13      0.290352
v8       0.273533
v11      0.272102
v19      0.263204
v15      0.009316
v5       0.000000
v1       0.000000
v4       0.000000
v3       0.000000
v2       0.000000
dtype: float64

In [51]:
ss.pvalues.max()

0.9265545986906187

심장병 발병 예측 / 종속변수 target 1: 발병
<br>
데이터 출처 : uci머신러닝
<br>
데이터 url : https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_t.csv
<br>
train 데이터는 앞의 210개 행을, test데이터는 나머지 부분을 사용한다

In [52]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_t.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,57.0,0.0,4.0,140.0,241.0,0.0,0.0,123.0,1.0,0.2,2.0,0.0,7.0,1
293,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
294,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,1
295,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,1
296,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1

## train 데이터로 target을 종속변수로 로지스틱 회귀를 진행할 때 age 컬럼의 오즈비를 구하여라

In [53]:
train = df.iloc[:210,].reset_index(drop = True)
test = df.iloc[210:,].reset_index(drop = True)

In [54]:
display(train,test)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,55.0,1.0,2.0,130.0,262.0,0.0,0.0,155.0,0.0,0.0,1.0,0.0,3.0,0
206,62.0,0.0,4.0,150.0,244.0,0.0,0.0,154.0,1.0,1.4,2.0,0.0,3.0,1
207,37.0,0.0,3.0,120.0,215.0,0.0,0.0,170.0,0.0,0.0,1.0,0.0,3.0,0
208,38.0,1.0,1.0,120.0,231.0,0.0,0.0,182.0,1.0,3.8,2.0,0.0,7.0,1
209,41.0,1.0,3.0,130.0,214.0,0.0,2.0,168.0,0.0,2.0,2.0,0.0,3.0,0

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,66.0,0.0,4.0,178.0,228.0,1.0,0.0,165.0,1.0,1.0,2.0,2.0,7.0,1
1,52.0,1.0,4.0,112.0,230.0,0.0,0.0,160.0,0.0,0.0,1.0,1.0,3.0,1
2,56.0,1.0,1.0,120.0,193.0,0.0,2.0,162.0,0.0,1.9,2.0,0.0,7.0,0
3,46.0,0.0,2.0,105.0,204.0,0.0,0.0,172.0,0.0,0.0,1.0,0.0,3.0,0
4,46.0,0.0,4.0,138.0,243.0,0.0,2.0,152.0,1.0,0.0,2.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,57.0,0.0,4.0,140.0,241.0,0.0,0.0,123.0,1.0,0.2,2.0,0.0,7.0,1
83,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
84,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,1
85,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,1
86,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1

In [55]:
import statsmodels.api as sm

In [56]:
X = sm.add_constant(train.drop(columns = ['target']))
X

,const,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,1.0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0
1,1.0,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0
2,1.0,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0
3,1.0,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0
4,1.0,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,1.0,55.0,1.0,2.0,130.0,262.0,0.0,0.0,155.0,0.0,0.0,1.0,0.0,3.0
206,1.0,62.0,0.0,4.0,150.0,244.0,0.0,0.0,154.0,1.0,1.4,2.0,0.0,3.0
207,1.0,37.0,0.0,3.0,120.0,215.0,0.0,0.0,170.0,0.0,0.0,1.0,0.0,3.0
208,1.0,38.0,1.0,1.0,120.0,231.0,0.0,0.0,182.0,1.0,3.8,2.0,0.0,7.0
209,1.0,41.0,1.0,3.0,130.0,214.0,0.0,2.0,168.0,0.0,2.0,2.0,0.0,3.0

In [57]:
y = train['target']

In [58]:
s = sm.Logit(y,X)
ss= s.fit()
ss.summary()

Optimization terminated successfully.
         Current function value: 0.320236
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  210
Model:                          Logit   Df Residuals:                      196
Method:                           MLE   Df Model:                           13
Date:                Thu, 13 Jun 2024   Pseudo R-squ.:                  0.5350
Time:                        03:01:33   Log-Likelihood:                -67.250
converged:                       True   LL-Null:                       -144.61
Covariance Type:            nonrobust   LLR p-value:                 2.308e-26
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -10.7525      3.655     -2.942      0.003     -17.917      -3.588
age           -0.0056      0.030     -0.184      0.854      -0.065       0.054
sex            1.5477      0.666      2.323      0.020       0.242       2.853
cp             0.8332      0.259      3.215      0.001       0.325       1.341
trestbps       0.0320      0.014      2.356      0.018       0.005       0.059
chol           0.0068      0.005      1.448      0.148      -0.002       0.016
fbs           -1.1463      0.655     -1.749      0.080      -2.431       0.138
restecg        0.3812      0.234      1.631      0.103      -0.077       0.839
thalach       -0.0207      0.014     -1.523      0.128      -0.047       0.006
exang          0.9930      0.494      2.010      0.044       0.025       1.961
oldpeak        0.3693      0.255      1.446      0.148      -0.131       0.870
slope          0.6106      0.439      1.390      0.165      -0.251       1.472
ca             0.9819      0.315      3.120      0.002       0.365       1.599
thal           0.3474      0.124      2.801      0.005       0.104       0.590
==============================================================================
"""

In [59]:
ss.params['age']

-0.0055712330744803204

In [60]:
import numpy as np

In [61]:
np.exp(ss.params['age'])

0.9944442574640205

## train으로 로지스틱 회귀 진행했을 경우 잔차 이탈도 (residual deviance)를 계산하라

In [62]:
# https://blog.naver.com/parksehoon1971/222343640308
# sm.Logit 에선 잔파 이탈도를 구하기 어려워서 sm.GLM을 사용한다
# family=sm.families.Binomial() 옵션을 줍니다. 이 옵션을 주지 않으면 로지스틱 회귀분석이 실행되지 않습니다.
# 로지스틱 회귀모형 적합 (GLM 사용) -> 이항분포시 로지스틱회귀

In [63]:
m = sm.GLM(y, X, family=sm.families.Binomial())

In [64]:
mm = m.fit()

In [65]:
mm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  210
Model:                            GLM   Df Residuals:                      196
Model Family:                Binomial   Df Model:                           13
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -67.250
Date:                Thu, 13 Jun 2024   Deviance:                       134.50
Time:                        03:01:33   Pearson chi2:                     183.
No. Iterations:                     6   Pseudo R-squ. (CS):             0.5213
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -10.7525      3.655     -2.942      0.003     -17.917      -3.588
age           -0.0056      0.030     -0.184      0.854      -0.065       0.054
sex            1.5477      0.666      2.323      0.020       0.242       2.853
cp             0.8332      0.259      3.215      0.001       0.325       1.341
trestbps       0.0320      0.014      2.356      0.018       0.005       0.059
chol           0.0068      0.005      1.448      0.148      -0.002       0.016
fbs           -1.1463      0.655     -1.749      0.080      -2.431       0.138
restecg        0.3812      0.234      1.631      0.103      -0.077       0.839
thalach       -0.0207      0.014     -1.523      0.128      -0.047       0.006
exang          0.9930      0.494      2.010      0.044       0.025       1.961
oldpeak        0.3693      0.255      1.446      0.148      -0.131       0.870
slope          0.6106      0.439      1.390      0.165      -0.251       1.472
ca             0.9819      0.315      3.120      0.002       0.365       1.599
thal           0.3474      0.124      2.801      0.005       0.104       0.590
==============================================================================
"""

In [66]:
mm.deviance

134.4990391134272

In [67]:
display(ss.summary(),mm.summary()) # 두 결과 비교해보기

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  210
Model:                          Logit   Df Residuals:                      196
Method:                           MLE   Df Model:                           13
Date:                Thu, 13 Jun 2024   Pseudo R-squ.:                  0.5350
Time:                        03:01:33   Log-Likelihood:                -67.250
converged:                       True   LL-Null:                       -144.61
Covariance Type:            nonrobust   LLR p-value:                 2.308e-26
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -10.7525      3.655     -2.942      0.003     -17.917      -3.588
age           -0.0056      0.030     -0.184      0.854      -0.065       0.054
sex            1.5477      0.666      2.323      0.020       0.242       2.853
cp             0.8332      0.259      3.215      0.001       0.325       1.341
trestbps       0.0320      0.014      2.356      0.018       0.005       0.059
chol           0.0068      0.005      1.448      0.148      -0.002       0.016
fbs           -1.1463      0.655     -1.749      0.080      -2.431       0.138
restecg        0.3812      0.234      1.631      0.103      -0.077       0.839
thalach       -0.0207      0.014     -1.523      0.128      -0.047       0.006
exang          0.9930      0.494      2.010      0.044       0.025       1.961
oldpeak        0.3693      0.255      1.446      0.148      -0.131       0.870
slope          0.6106      0.439      1.390      0.165      -0.251       1.472
ca             0.9819      0.315      3.120      0.002       0.365       1.599
thal           0.3474      0.124      2.801      0.005       0.104       0.590
==============================================================================
"""

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  210
Model:                            GLM   Df Residuals:                      196
Model Family:                Binomial   Df Model:                           13
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -67.250
Date:                Thu, 13 Jun 2024   Deviance:                       134.50
Time:                        03:01:33   Pearson chi2:                     183.
No. Iterations:                     6   Pseudo R-squ. (CS):             0.5213
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -10.7525      3.655     -2.942      0.003     -17.917      -3.588
age           -0.0056      0.030     -0.184      0.854      -0.065       0.054
sex            1.5477      0.666      2.323      0.020       0.242       2.853
cp             0.8332      0.259      3.215      0.001       0.325       1.341
trestbps       0.0320      0.014      2.356      0.018       0.005       0.059
chol           0.0068      0.005      1.448      0.148      -0.002       0.016
fbs           -1.1463      0.655     -1.749      0.080      -2.431       0.138
restecg        0.3812      0.234      1.631      0.103      -0.077       0.839
thalach       -0.0207      0.014     -1.523      0.128      -0.047       0.006
exang          0.9930      0.494      2.010      0.044       0.025       1.961
oldpeak        0.3693      0.255      1.446      0.148      -0.131       0.870
slope          0.6106      0.439      1.390      0.165      -0.251       1.472
ca             0.9819      0.315      3.120      0.002       0.365       1.599
thal           0.3474      0.124      2.801      0.005       0.104       0.590
==============================================================================
"""

## train으로 로지스틱 회귀 진행했을 경우 로짓 우도값을 도출하라

In [68]:
##summary를 통해 Log-Likelihood:-67.250

## test 데이터의 독립변수로 target 예측 후 오류율을 구하여라

In [69]:
ss.predict(sm.add_constant(test.drop(columns = ['target'])))

0     0.865296
1     0.153594
2     0.144083
3     0.001475
4     0.320485
        ...
82    0.631762
83    0.123464
84    0.921516
85    0.927012
86    0.037343
Length: 87, dtype: float64

In [70]:
ss.predict(sm.add_constant(test.drop(columns = ['target']))) > 0.5

0      True
1     False
2     False
3     False
4     False
      ...
82     True
83    False
84     True
85     True
86    False
Length: 87, dtype: bool

In [71]:
pred = (ss.predict(sm.add_constant(test.drop(columns = ['target']))) > 0.5)*1
pred

0     1
1     0
2     0
3     0
4     0
     ..
82    1
83    0
84    1
85    1
86    0
Length: 87, dtype: int32

In [72]:
from sklearn.metrics import accuracy_score

In [73]:
accuracy_score(test['target'],pred)

0.8045977011494253

In [74]:
# 오류율 : 1 - accuracy_score
1-accuracy_score(test['target'],pred)

0.1954022988505747