# �먮떎�� �곗뒿 �쒗넗由ъ뼹

[![Hits](https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fwww.datamanim.com%2Fdataset%2F99_pandas%2FpandasMain.html&count_bg=%237B31AA&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false)](https://hits.seeyoufarm.com)

```
�� �쒕컻 愿묎퀬 �쒕쾲�⑸쭔 �뚮윭二쇱꽭�� �졼뀪 �먮쾲�� �� 醫뗪뎄��
```

```{attention} 
紐⑹감 諛� 援ъ꽦 異쒖쿂 : [�먮낯 源껎뿖二쇱냼](https://github.com/guipsamora/pandas_exercises)     
**�곗씠�� �쇰� �섏젙 �� �묒뾽 吏꾪뻾�덉뒿�덈떎.**
```

```{admonition} 二쇳뵾�� �명듃遺� �⑥텞�� 李멸퀬�곸긽
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=40&end=50></iframe></div>
```

## 01 Getting & Knowing Data

In [1]:
import pandas as pd

```{attention} 
濡� ��궧 �곗씠�� : https://www.kaggle.com/datasnaek/league-of-legends    
**DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'**
```

```{admonition} Question 1
**�곗씠�곕� 濡쒕뱶�섎씪. �곗씠�곕뒗 \t�� 湲곗��쇰줈 援щ텇�섏뼱�덈떎.**
```


```{admonition} 1踰� , 二쇳뵾�� �명듃遺곸뿉�� 硫붿냼�� �ъ슜踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=214&end=580></iframe></div>
```

In [3]:
type(df)

pandas.core.frame.DataFrame

```{admonition} Question 2
**�곗씠�곗쓽 �곸쐞 5媛� �됱쓣 異쒕젰�섎씪**
```

```{admonition} 2踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=582&end=678></iframe></div>
```

In [4]:
Ans = df.head(5)

In [5]:
Ans

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

```{admonition} Question 3
**�곗씠�곗쓽 �됯낵 �댁쓽 媛�닔瑜� �뚯븙�섎씪**
```

```{admonition} 3踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=680&end=763></iframe></div>
```

In [6]:
print(df.shape)
print('��:',df.shape[0])
print('��:',df.shape[1])

(51490, 61)
��: 51490
��: 61

```{admonition} Question 4
**�꾩껜 而щ읆�� 異쒕젰�섎씪**
```

```{admonition} 4踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=765&end=833></iframe></div>
```

In [7]:
Ans = df.columns

In [8]:
Ans

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

```{admonition} Question 5
**6踰덉㎏ 而щ읆紐낆쓣 異쒕젰�섎씪**
```

```{admonition} 5踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=835&end=868></iframe></div>
```

In [9]:
Ans = df.columns[5]

In [10]:
Ans

'firstBlood'

```{admonition} Question 6
**6踰덉㎏ 而щ읆�� �곗씠�� ���낆쓣 �뺤씤�섎씪**
```

```{admonition} 6踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=870&end=1071></iframe></div>
```

In [11]:
Ans = df.iloc[:,5].dtype

In [12]:
Ans

dtype('int64')

```{admonition} Question 7
**�곗씠�곗뀑�� �몃뜳�� 援ъ꽦�� �대뼡媛�**
```

```{admonition} 7踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=1073&end=1193></iframe></div>
```

In [13]:
Ans = df.index

In [14]:
Ans

RangeIndex(start=0, stop=51490, step=1)

```{admonition} Question 8
**6踰덉㎏ 而щ읆�� 3踰덉㎏ 媛믪� 臾댁뾿�멸�?**
```

```{admonition} 8踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=1195&end=1364></iframe></div>
```

In [15]:
Ans = df.iloc[2,5]

In [16]:
Ans

2

```{attention} 
�쒖＜ �좎뵪,�멸뎄�� �곕Ⅸ 援먰넻�됰뜲�댄꽣 : 異쒖쿂 �쒖＜ �곗씠�� �덈툕
**DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'**
```

```{admonition} Question 9
**�곗씠�곕� 濡쒕뱶�섎씪. 而щ읆�� �쒓��닿린�� �곸젅�� 泥섎━�댁쨾�쇳븿**
```

```{admonition} 9踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=1366&end=1470></iframe></div>
```

In [17]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(DataUrl,encoding='euc-kr')

In [18]:
type(df)

pandas.core.frame.DataFrame

```{admonition} Question 10
**�곗씠�� 留덉�留� 3媛쒗뻾�� 異쒕젰�섎씪**
```

```{admonition} 10踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=1472&end=1508></iframe></div>
```

In [19]:
Ans = df.tail(3)

In [20]:
Ans

,id,�쇱옄,�쒕룄紐�,�띾㈃�숇챸,嫄곗＜�멸뎄,洹쇰Т�멸뎄,諛⑸Ц�멸뎄,珥� �좊룞�멸뎄,�됯퇏 �띾룄,�됯퇏 �뚯슂 �쒓컙,�됯퇏 湲곗삩,�쇨컯�섎웾,�됯퇏 �띿냽
9618,32066,2020-04-30,�쒖＜��,�꾨몢��,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.0
9619,32067,2020-04-30,�쒓��ъ떆,�덈뜒硫�,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.5
9620,32068,2020-04-30,�쒖＜��,�곕룞,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.8

```{admonition} Question 11
**�섏튂�� 蹂��섎� 媛�吏� 而щ읆�� 異쒕젰�섎씪**
```

```{admonition} 11踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=1510&end=1768></iframe></div>
```

In [21]:
Ans = df.select_dtypes(exclude=object).columns

In [22]:
Ans

Index(['id', '嫄곗＜�멸뎄', '洹쇰Т�멸뎄', '諛⑸Ц�멸뎄', '珥� �좊룞�멸뎄', '�됯퇏 �띾룄', '�됯퇏 �뚯슂 �쒓컙', '�됯퇏 湲곗삩',
       '�쇨컯�섎웾', '�됯퇏 �띿냽'],
      dtype='object')

```{admonition} Question 12
**踰붿＜�� 蹂��섎� 媛�吏� 而щ읆�� 異쒕젰�섎씪**
```

```{admonition} 12踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=1770&end=1918></iframe></div>
```

In [23]:
Ans = df.select_dtypes(include=object).columns

In [24]:
Ans

Index(['�쇱옄', '�쒕룄紐�', '�띾㈃�숇챸'], dtype='object')

```{admonition} Question 13
**媛� 而щ읆�� 寃곗륫移� �レ옄瑜� �뚯븙�섎씪**
```

```{admonition} 13踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=1920&end=2098></iframe></div>
```

In [25]:
Ans = df.isnull().sum()

In [26]:
Ans

id          0
�쇱옄          0
�쒕룄紐�         0
�띾㈃�숇챸        0
嫄곗＜�멸뎄        0
洹쇰Т�멸뎄        0
諛⑸Ц�멸뎄        0
珥� �좊룞�멸뎄      0
�됯퇏 �띾룄       0
�됯퇏 �뚯슂 �쒓컙    0
�됯퇏 湲곗삩       0
�쇨컯�섎웾        0
�됯퇏 �띿냽       0
dtype: int64

```{admonition} Question 14
**媛� 而щ읆�� �곗씠�곗닔, �곗씠�고��낆쓣 �쒕쾲�� �뺤씤�섎씪**
```

```{admonition} 14踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2100&end=2137></iframe></div>
```

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   �쇱옄        9621 non-null   object
 2   �쒕룄紐�       9621 non-null   object
 3   �띾㈃�숇챸      9621 non-null   object
 4   嫄곗＜�멸뎄      9621 non-null   float64
 5   洹쇰Т�멸뎄      9621 non-null   float64
 6   諛⑸Ц�멸뎄      9621 non-null   float64
 7   珥� �좊룞�멸뎄    9621 non-null   float64
 8   �됯퇏 �띾룄     9621 non-null   float64
 9   �됯퇏 �뚯슂 �쒓컙  9621 non-null   float64
 10  �됯퇏 湲곗삩     9621 non-null   float64
 11  �쇨컯�섎웾      9621 non-null   float64
 12  �됯퇏 �띿냽     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

```{admonition} Question 15
**媛� �섏튂�� 蹂��섏쓽 遺꾪룷(�щ텇��, �됯퇏, �쒖��몄감, 理쒕� , 理쒖냼)瑜� �뺤씤�섎씪**
```

```{admonition} 15踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2139&end=2203></iframe></div>
```

In [28]:
Ans = df.describe()

In [29]:
Ans

,id,嫄곗＜�멸뎄,洹쇰Т�멸뎄,諛⑸Ц�멸뎄,珥� �좊룞�멸뎄,�됯퇏 �띾룄,�됯퇏 �뚯슂 �쒓컙,�됯퇏 湲곗삩,�쇨컯�섎웾,�됯퇏 �띿냽
count,9621.000000,9.621000e+03,9621.000000,9621.000000,9.621000e+03,9621.000000,9621.000000,9621.000000,9621.000000,9621.000000
mean,27258.000000,3.174315e+05,35471.201510,195889.561802,5.487922e+05,41.109084,37.215873,13.550828,6.972426,2.753171
std,2777.487804,2.982079e+05,40381.214775,140706.090325,4.608802e+05,8.758631,12.993786,7.745515,27.617260,1.498538
min,22448.000000,9.305552e+03,1407.936000,11538.322000,2.225181e+04,24.333000,12.667000,-9.600000,0.000000,0.000000
25%,24853.000000,9.539939e+04,12074.498000,99632.153000,2.216910e+05,34.250000,27.889000,7.600000,0.000000,1.700000
50%,27258.000000,2.221105e+05,21960.928000,152805.335000,3.866935e+05,39.640000,34.500000,13.400000,0.000000,2.400000
75%,29663.000000,4.106671e+05,40192.032000,236325.109000,6.406918e+05,49.105000,46.176000,19.700000,1.500000,3.400000
max,32068.000000,1.364504e+06,263476.965000,723459.209000,2.066484e+06,103.000000,172.200000,30.400000,587.500000,13.333000

```{admonition} Question 16
**嫄곗＜�멸뎄 而щ읆�� 媛믩뱾�� 異쒕젰�섎씪**
```

```{admonition} 16踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2205&end=2370></iframe></div>
```

In [30]:
Ans = df['嫄곗＜�멸뎄']

In [31]:
Ans

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 嫄곗＜�멸뎄, Length: 9621, dtype: float64

```{admonition} Question 17
**�됯퇏 �띾룄 而щ읆�� 4遺꾩쐞 踰붿쐞(IQR) 媛믪쓣 援ы븯�щ씪**
```


```{admonition} 17踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2372&end=2546></iframe></div>
```

In [32]:
Ans  = df['�됯퇏 �띾룄'].quantile(0.75) -df['�됯퇏 �띾룄'].quantile(0.25)

In [33]:
Ans

14.854999999999997

```{admonition} Question 18
**�띾㈃�숇챸 而щ읆�� �좎씪媛� 媛�닔瑜� 異쒕젰�섎씪**
```

```{admonition} 18踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2548&end=2638></iframe></div>
```

In [34]:
Ans = df.�띾㈃�숇챸.nunique()

In [35]:
Ans

41

```{admonition} Question 19
**�띾㈃�숇챸 而щ읆�� �좎씪媛믪쓣 紐⑤몢 異쒕젰�섎씪**
```

```{admonition} 19踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2640&end=2673></iframe></div>
```

In [36]:
Ans = df.�띾㈃�숇챸.unique()

In [37]:
Ans

array(['�꾨몢��', '�몃룄��', '�대룄2��', '�쇰룄1��', '��泥쒕룞', '�쒗솉��', '�쒓꼍硫�', '�≪궛��', '議곗쿇��',
       '�쇰룄2��', '�곸쿇��', '�덈옒��', '��瑜쒕룞', '�쇰룄1��', '�댄샇��', '嫄댁엯��', '以묒븰��', '�쇱뼇��',
       '�쇰룄2��', '�대룄1��', '�⑥썝��', '���뺤쓭', '�뺣갑��', '�⑤룉��', '�꾨씪��', '�쒕┝��', '援ъ쥖��',
       '�⑸떞1��', '�ㅻ씪��', '�붾턿��', '�곕룞', '�쒖꽑硫�', '以묐Ц��', '�깆궛��', '�덈뜒硫�', '泥쒖���',
       '�명삎��', '�숉솉��', '�⑸떞2��', '遊됯컻��', '�좎썡��'], dtype=object)

## 02 Filtering & Sorting

```{attention} 
�앸떦�곗씠�� : https://github.com/justmarkham/DAT8/blob/master/data/chipotle.tsv  
**DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'**
```

```{admonition} Question 20
**�곗씠�곕� 濡쒕뱶�섎씪.**
```

```{admonition} 20踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2675&end=2714></iframe></div>
```

In [38]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df = pd.read_csv(DataUrl)
Ans = type(df)

In [39]:
Ans

pandas.core.frame.DataFrame

```{admonition} Question 21
**quantity而щ읆 媛믪씠 3�� �곗씠�곕� 異붿텧�섏뿬 泥� 5�됱쓣 異쒕젰�섎씪**
```

```{admonition} 21踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=2716&end=3028></iframe></div>
```

In [40]:
Ans = df.loc[df['quantity']==3].head()

In [41]:
Ans

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

```{admonition} Question 22
**quantity而щ읆 媛믪씠 3�� �곗씠�곕� 異붿텧�섏뿬 index瑜� 0遺��� �뺣젹�섍퀬 泥� 5�됱쓣 異쒕젰�섎씪**
```

```{admonition} 22踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=3030&end=3133></iframe></div>
```

In [42]:
Ans = df.loc[df['quantity']==3].head().reset_index(drop=True)

In [43]:
Ans

,order_id,quantity,item_name,choice_description,item_price
0,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,338,3,Bottled Water,NaN,$3.27
4,350,3,Canned Soft Drink,[Sprite],$3.75

```{admonition} Question 23
**quantity , item_price �먭컻�� 而щ읆�쇰줈 援ъ꽦�� �덈줈�� �곗씠�� �꾨젅�꾩쓣 �뺤쓽�섎씪**
```

```{admonition} 23踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=3135&end=3262></iframe></div>
```

In [44]:
Ans =df[['quantity','item_price']]

In [45]:
Ans

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

```{admonition} Question 24
**item_price 而щ읆�� �щ윭�쒖떆 臾몄옄瑜� �쒓굅�섍퀬 float ���낆쑝濡� ���ν븯�� new_price 而щ읆�� ���ν븯��**
```

```{admonition} 24踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=3264&end=3773></iframe></div>
```

In [46]:
df['new_price'] = df['item_price'].str[1:].astype('float')
Ans = df['new_price'].head()

In [47]:
Ans

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: new_price, dtype: float64

```{admonition} Question 25
**new_price 而щ읆�� 5�댄븯�� 媛믪쓣 媛�吏��� �곗씠�고봽�덉엫�� 異붿텧�섍퀬, �꾩껜 媛�닔瑜� 援ы븯�щ씪**
```

```{admonition} 25踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=3775&end=3826></iframe></div>
```

In [48]:
Ans = len(df.loc[df.new_price <=5])

In [49]:
Ans

1652

```{admonition} Question 26
**item_name紐낆씠 Chicken Salad Bowl �� �곗씠�� �꾨젅�꾩쓣 異붿텧�섎씪怨� index 媛믪쓣 珥덇린�� �섏뿬��**
```

```{admonition} 26踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=3828&end=3886></iframe></div>
```

In [50]:
Ans = df.loc[df.item_name =='Chicken Salad Bowl'].reset_index(drop=True)

In [51]:
Ans.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
1,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50,22.50
2,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50,22.50

```{admonition} Question 27
**new_price媛믪씠 9 �댄븯�닿퀬 item_name 媛믪씠 Chicken Salad Bowl �� �곗씠�� �꾨젅�꾩쓣 異붿텧�섎씪**
```

```{admonition} 27踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=3888&end=4006></iframe></div>
```

In [52]:
Ans = df.loc[(df.item_name =='Chicken Salad Bowl') & (df.new_price <= 9)]

In [53]:
Ans.head(5)

,order_id,quantity,item_name,choice_description,item_price,new_price
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
256,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
526,220,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
528,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
529,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75

```{admonition} Question 28
**df�� new_price 而щ읆 媛믪뿉 �곕씪 �ㅻ쫫李⑥닚�쇰줈 �뺣━�섍퀬 index瑜� 珥덇린�� �섏뿬��**
```

```{admonition} 28踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=4008&end=4163></iframe></div>
```

In [54]:
Ans = df.sort_values('new_price').reset_index(drop=True)

In [55]:
Ans.head(4)

   order_id  quantity      item_name choice_description item_price  new_price
0       471         1  Bottled Water                NaN     $1.09        1.09
1       338         1    Canned Soda        [Coca Cola]     $1.09        1.09
2      1575         1    Canned Soda       [Dr. Pepper]     $1.09        1.09
3        47         1    Canned Soda       [Dr. Pepper]     $1.09        1.09

```{admonition} Question 29
**df�� item_name 而щ읆 媛믪쨷 Chips �ы븿�섎뒗 寃쎌슦�� �곗씠�곕� 異쒕젰�섎씪**
```

```{admonition} 29踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=4165&end=4313></iframe></div>
```

In [56]:
Ans = df.loc[df.item_name.str.contains('Chips')]

In [57]:
Ans.head(5)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
6,3,1,Side of Chips,NaN,$1.69,1.69
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
14,7,1,Chips and Guacamole,NaN,$4.45,4.45

```{admonition} Question 30
**df�� 吏앹닔踰덉㎏ 而щ읆留뚯쓣 �ы븿�섎뒗 �곗씠�고봽�덉엫�� 異쒕젰�섎씪**
```

```{admonition} 30踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=4315&end=4498></iframe></div>
```

In [58]:
Ans = df.iloc[:,::2]

In [59]:
Ans.head(5)

   order_id                              item_name item_price
0         1           Chips and Fresh Tomato Salsa     $2.39
1         1                                   Izze     $3.39
2         1                       Nantucket Nectar     $3.39
3         1  Chips and Tomatillo-Green Chili Salsa     $2.39
4         2                           Chicken Bowl    $16.98

```{admonition} Question 31
**df�� new_price 而щ읆 媛믪뿉 �곕씪 �대┝李⑥닚�쇰줈 �뺣━�섍퀬 index瑜� 珥덇린�� �섏뿬��**
```

```{admonition} 31踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=4500&end=4559></iframe></div>
```

In [60]:
Ans = df.sort_values('new_price',ascending=False).reset_index(drop=True)

In [61]:
Ans.head(4)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
1,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
2,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00

```{admonition} Question 32
**df�� item_name 而щ읆 媛믪씠 Steak Salad �먮뒗 Bowl �� �곗씠�곕� �몃뜳�깊븯��**
```

```{admonition} 32踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/PxTIbZJ3xrA?start=4561&end=10000></iframe></div>
```

In [62]:
Ans = df.loc[(df.item_name =='Steak Salad') | (df.item_name =='Bowl')]

In [63]:
Ans

,order_id,quantity,item_name,choice_description,item_price,new_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.40
752,311,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
893,369,1,Steak Salad,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$8.99,8.99
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69,8.69

```{admonition} Question 33
**df�� item_name 而щ읆 媛믪씠 Steak Salad �먮뒗 Bowl �� �곗씠�곕� �곗씠�� �꾨젅�꾪솕 �� ��, item_name瑜� 湲곗��쇰줈 以묐났�됱씠 �덉쑝硫� �쒓굅�섎릺 泥ル쾲吏� 耳��댁뒪留� �④꺼��**
```

```{admonition} 33踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=0&end=227></iframe></div>
```

In [64]:
Ans = df.loc[(df.item_name =='Steak Salad') | (df.item_name =='Bowl')]
Ans = Ans.drop_duplicates('item_name')

In [65]:
Ans

,order_id,quantity,item_name,choice_description,item_price,new_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99

```{admonition} Question 34
**df�� item_name 而щ읆 媛믪씠 Steak Salad �먮뒗 Bowl �� �곗씠�곕� �곗씠�� �꾨젅�꾪솕 �� ��, item_name瑜� 湲곗��쇰줈 以묐났�됱씠 �덉쑝硫� �쒓굅�섎릺 留덉�留� 耳��댁뒪留� �④꺼��**
```

```{admonition} 34踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=229&end=388></iframe></div>
```

In [66]:
Ans = df.loc[(df.item_name =='Steak Salad') | (df.item_name =='Bowl')]
Ans = Ans.drop_duplicates('item_name',keep='last')

In [67]:
Ans

,order_id,quantity,item_name,choice_description,item_price,new_price
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.40
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69,8.69

```{admonition} Question 35
**df�� �곗씠�� 以� new_price媛믪씠 new_price媛믪쓽 �됯퇏媛� �댁긽�� 媛�吏��� �곗씠�곕뱾�� �몃뜳�깊븯��**
```

```{admonition} 35踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=390&end=598></iframe></div>
```

In [68]:
Ans = df.loc[df.new_price >= df.new_price.mean()]

In [69]:
Ans.head(5)

,order_id,quantity,item_name,choice_description,item_price,new_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25

```{admonition} Question 36
**df�� �곗씠�� 以� item_name�� 媛믪씠 Izze �곗씠�곕� Fizzy Lizzy濡� �섏젙�섎씪**
```

```{admonition} 36踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=600&end=658></iframe></div>
```

In [70]:
df.loc[df.item_name =='Izze','item_name'] = 'Fizzy Lizzy'
Ans = df

In [71]:
Ans.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39

```{admonition} Question 37
**df�� �곗씠�� 以� choice_description 媛믪씠 NaN �� �곗씠�곗쓽 媛�닔瑜� 援ы븯�щ씪**
```

```{admonition} 37踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=660&end=792></iframe></div>
```

In [72]:
Ans = df.choice_description.isnull().sum()

In [73]:
Ans

1246

```{admonition} Question 38
**df�� �곗씠�� 以� choice_description 媛믪씠 NaN �� �곗씠�곕� NoData 媛믪쑝濡� ��泥댄븯��(loc �댁슜)**
```

```{admonition} 38踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=794&end=1093></iframe></div>
```

In [74]:
df.loc[df.choice_description.isnull(),'choice_description'] ='NoData'
Ans = df

In [75]:
Ans.head()

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

```{admonition} Question 39
**df�� �곗씠�� 以� choice_description 媛믪뿉 Black�� �ㅼ뼱媛��� 寃쎌슦瑜� �몃뜳�깊븯��**
```

```{admonition} 39踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=1095&end=1188></iframe></div>
```

In [76]:
Ans = df[df.choice_description.str.contains('Black')]

In [77]:
Ans.head(5)

,order_id,quantity,item_name,choice_description,item_price,new_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75

```{admonition} Question 40
**df�� �곗씠�� 以� choice_description 媛믪뿉 Vegetables �ㅼ뼱媛�吏� �딅뒗 寃쎌슦�� 媛�닔瑜� 異쒕젰�섎씪**
```

```{admonition} 40踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=1190&end=1323></iframe></div>
```

In [78]:
Ans = len(df.loc[~df.choice_description.str.contains('Vegetables')])

In [79]:
Ans

3900

```{admonition} Question 41
**df�� �곗씠�� 以� item_name 媛믪씠 N�쇰줈 �쒖옉�섎뒗 �곗씠�곕� 紐⑤몢 異붿텧�섎씪**
```

```{admonition} 41踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=1325&end=1498></iframe></div>
```

In [80]:
Ans = df[df.item_name.str.startswith('N')]

In [81]:
Ans.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39,3.39
105,46,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39,3.39

```{admonition} Question 42
**df�� �곗씠�� 以� item_name 媛믪쓽 �⑥뼱媛�닔媛� 15媛� �댁긽�� �곗씠�곕� �몃뜳�깊븯��**
```


```{admonition} 42踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=1500&end=1688></iframe></div>
```

In [82]:
Ans= df[df.item_name.str.len() >=15]

In [83]:
Ans.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,2.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39,2.39

```{admonition} Question 43
**df�� �곗씠�� 以� new_price媛믪씠 lst�� �대떦�섎뒗 寃쎌슦�� �곗씠�� �꾨젅�꾩쓣 援ы븯怨� 洹� 媛�닔瑜� 異쒕젰�섎씪**
lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]
```

```{admonition} 43踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=1690&end=1836></iframe></div>
```

In [84]:
lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]

Ans = df.loc[df.new_price.isin(lst)]

In [85]:
display(Ans.head(3))
print(len(Ans))

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39

1393

## 03_Grouping

```{attention} 
�댁슃 airBnB : https://www.kaggle.com/ptoscano230382/air-bnb-ny-2019
**DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv'**
```

```{admonition} Question 44
**�곗씠�곕� 濡쒕뱶�섍퀬 �곸쐞 5媛� 而щ읆�� 異쒕젰�섎씪**
```

```{admonition} 44踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=1838&end=1858></iframe></div>
```

In [86]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv')

Ans =df.head(5)

In [87]:
Ans

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

```{admonition} Question 45
**�곗씠�곗쓽 媛� host_name�� 鍮덈룄�섎� 援ы븯怨� host_name�쇰줈 �뺣젹�섏뿬 �곸쐞 5媛쒕� 異쒕젰�섎씪**
```

```{admonition} 45踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=1860&end=2054></iframe></div>
```

In [88]:
Ans = df.groupby('host_name').size()

# or

Ans = df.host_name.value_counts().sort_index()

In [89]:
Ans.head(5)

'Cil                        1
(Ari) HENRY LEE             1
(Email hidden by Airbnb)    6
(Mary) Haiy                 1
-TheQueensCornerLot         1
Name: host_name, dtype: int64

```{admonition} Question 46
**�곗씠�곗쓽 媛� host_name�� 鍮덈룄�섎� 援ы븯怨� 鍮덈룄�� 湲곗� �대┝李⑥닚 �뺣젹�� �곗씠�� �꾨젅�꾩쓣 留뚮뱾�대씪. 鍮덈룄�� 而щ읆�� counts濡� 紐낅챸�섎씪**
```

```{admonition} 46踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=2056&end=2196></iframe></div>
```

In [90]:
Ans = df.groupby('host_name').size().\
                to_frame().rename(columns={0:'counts'}).\
                sort_values('counts',ascending=False)

In [91]:
Ans.head(5)

              counts
host_name
Michael          417
David            403
Sonder (NYC)     327
John             294
Alex             279

```{admonition} Question 47
**neighbourhood_group�� 媛믪뿉 �곕Ⅸ neighbourhood而щ읆 媛믪쓽 媛�닔瑜� 援ы븯�щ씪**
```

```{admonition} 47踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=2198&end=2483></iframe></div>
```

In [92]:
Ans = df.groupby(['neighbourhood_group','neighbourhood'], as_index=False).size()

In [93]:
Ans.head(4)

  neighbourhood_group neighbourhood  size
0               Bronx      Allerton    42
1               Bronx    Baychester     7
2               Bronx       Belmont    24
3               Bronx     Bronxdale    19

```{admonition} Question 48
**neighbourhood_group�� 媛믪뿉 �곕Ⅸ neighbourhood而щ읆 媛� 以� neighbourhood_group洹몃９�� 理쒕뙎媛믩뱾�� 異쒕젰�섎씪**
```

```{admonition} 48踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=2485&end=2723></iframe></div>
```

In [94]:
Ans= df.groupby(['neighbourhood_group','neighbourhood'], as_index=False).size()\
                  .groupby(['neighbourhood_group'], as_index=False).max()

In [95]:
Ans

  neighbourhood_group    neighbourhood  size
0               Bronx         Woodlawn    70
1            Brooklyn  Windsor Terrace  3920
2           Manhattan     West Village  2658
3              Queens         Woodside   900
4       Staten Island          Woodrow    48

```{admonition} Question 49
**neighbourhood_group 媛믪뿉 �곕Ⅸ price媛믪쓽 �됯퇏, 遺꾩궛, 理쒕�, 理쒖냼 媛믪쓣 援ы븯�щ씪**
```

```{admonition} 49踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=2725&end=2893></iframe></div>
```

In [96]:
Ans = df[['neighbourhood_group','price']].groupby('neighbourhood_group').agg(['mean','var','max','min'])

In [97]:
Ans

                          price
                           mean           var    max min
neighbourhood_group
Bronx                 87.496792  11386.885081   2500   0
Brooklyn             124.383207  34921.719135  10000   0
Manhattan            196.875814  84904.159185  10000   0
Queens                99.517649  27923.130227  10000  10
Staten Island        114.812332  77073.088342   5000  13

```{admonition} Question 50
**neighbourhood_group 媛믪뿉 �곕Ⅸ reviews_per_month �됯퇏, 遺꾩궛, 理쒕�, 理쒖냼 媛믪쓣 援ы븯�щ씪**
```

```{admonition} 50踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=2895&end=2956></iframe></div>
```

In [98]:
Ans = df[['neighbourhood_group','reviews_per_month']].groupby('neighbourhood_group').agg(['mean','var','max','min'])

In [99]:
Ans

                    reviews_per_month
                                 mean       var    max   min
neighbourhood_group
Bronx                        1.837831  2.799878  10.34  0.02
Brooklyn                     1.283212  2.299040  14.00  0.01
Manhattan                    1.272131  2.651206  58.50  0.01
Queens                       1.941200  4.897848  20.94  0.01
Staten Island                1.872580  2.840895  10.12  0.02

```{admonition} Question 51
**neighbourhood 媛믨낵 neighbourhood_group 媛믪뿉 �곕Ⅸ price �� �됯퇏�� 援ы븯��**
```

```{admonition} 51踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=2958&end=3031></iframe></div>
```

In [100]:
Ans = df.groupby(['neighbourhood','neighbourhood_group']).price.mean()

In [101]:
Ans

neighbourhood    neighbourhood_group
Allerton         Bronx                   87.595238
Arden Heights    Staten Island           67.250000
Arrochar         Staten Island          115.000000
Arverne          Queens                 171.779221
Astoria          Queens                 117.187778
                                           ...
Windsor Terrace  Brooklyn               138.993631
Woodhaven        Queens                  67.170455
Woodlawn         Bronx                   60.090909
Woodrow          Staten Island          700.000000
Woodside         Queens                  85.097872
Name: price, Length: 221, dtype: float64

```{admonition} Question 52
**neighbourhood 媛믨낵 neighbourhood_group 媛믪뿉 �곕Ⅸ price �� �됯퇏�� 怨꾩링�� indexing �놁씠 援ы븯��**
```

```{admonition} 52踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=3033&end=3127></iframe></div>
```

In [102]:
Ans = df.groupby(['neighbourhood','neighbourhood_group']).price.mean().unstack()

In [103]:
Ans

neighbourhood_group,Bronx,Brooklyn,Manhattan,Queens,Staten Island
neighbourhood,,,,,
Allerton,87.595238,NaN,NaN,NaN,NaN
Arden Heights,NaN,NaN,NaN,NaN,67.25
Arrochar,NaN,NaN,NaN,NaN,115.00
Arverne,NaN,NaN,NaN,171.779221,NaN
Astoria,NaN,NaN,NaN,117.187778,NaN
...,...,...,...,...,...
Windsor Terrace,NaN,138.993631,NaN,NaN,NaN
Woodhaven,NaN,NaN,NaN,67.170455,NaN
Woodlawn,60.090909,NaN,NaN,NaN,NaN
Woodrow,NaN,NaN,NaN,NaN,700.00
Woodside,NaN,NaN,NaN,85.097872,NaN

```{admonition} Question 53
**neighbourhood 媛믨낵 neighbourhood_group 媛믪뿉 �곕Ⅸ price �� �됯퇏�� 怨꾩링�� indexing �놁씠 援ы븯怨� nan 媛믪� -999媛믪쑝濡� 梨꾩썙��**
```

```{admonition} 53踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=3129&end=3238></iframe></div>
```

In [104]:
Ans = df.groupby(['neighbourhood','neighbourhood_group']).price.mean().unstack().fillna(-999)

In [105]:
Ans.head(4)

neighbourhood_group,Bronx,Brooklyn,Manhattan,Queens,Staten Island
neighbourhood,,,,,
Allerton,87.595238,-999.0,-999.0,-999.000000,-999.00
Arden Heights,-999.000000,-999.0,-999.0,-999.000000,67.25
Arrochar,-999.000000,-999.0,-999.0,-999.000000,115.00
Arverne,-999.000000,-999.0,-999.0,171.779221,-999.00

```{admonition} Question 54
**�곗씠�곗쨷 neighbourhood_group 媛믪씠 Queens媛믪쓣 媛�吏��� �곗씠�곕뱾 以� neighbourhood 洹몃９蹂꾨줈 price媛믪쓽 �됯퇏, 遺꾩궛, 理쒕�, 理쒖냼媛믪쓣 援ы븯��**
```

```{admonition} 54踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=3240&end=3348></iframe></div>
```

In [106]:
Ans = df[df.neighbourhood_group=='Queens'].groupby(['neighbourhood']).price.agg(['mean','var','max','min'])

In [107]:
Ans.head(4)

                     mean            var    max  min
neighbourhood
Arverne        171.779221   37383.411141   1500   35
Astoria        117.187778  122428.811196  10000   25
Bay Terrace    142.000000    6816.400000    258   32
Bayside        157.948718  166106.470985   2600   30

```{admonition} Question 55
**�곗씠�곗쨷 neighbourhood_group 媛믪뿉 �곕Ⅸ room_type 而щ읆�� �レ옄瑜� 援ы븯怨� neighbourhood_group 媛믪쓣 湲곗��쇰줈 媛� 媛믪쓽 鍮꾩쑉�� 援ы븯�щ씪**
```

```{admonition} 55踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=3350&end=4128></iframe></div>
```

In [108]:
Ans = df[['neighbourhood_group','room_type']].groupby(['neighbourhood_group','room_type']).size().unstack()
Ans.loc[:,:] = (Ans.values /Ans.sum(axis=1).values.reshape(-1,1))

In [109]:
Ans

room_type            Entire home/apt  Private room  Shared room
neighbourhood_group
Bronx                       0.347388      0.597617     0.054995
Brooklyn                    0.475478      0.503979     0.020543
Manhattan                   0.609344      0.368496     0.022160
Queens                      0.369926      0.595129     0.034945
Staten Island               0.471850      0.504021     0.024129


## 04_Apply , Map

```{attention} 
移대뱶�댁슜�곗씠�� : https://www.kaggle.com/sakshigoyal7/credit-card-customers
**DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'**
```

```{admonition} Question 56
**�곗씠�곕� 濡쒕뱶�섍퀬 �곗씠�� �됯낵 �댁쓽 媛�닔瑜� 異쒕젰�섎씪**
```

```{admonition} 56踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=4130&end=4143></iframe></div>
```

In [40]:
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv',index_col=0)
Ans =df.shape

In [41]:
Ans

(10127, 18)

```{admonition} Question 57
**Income_Category�� 移댄뀒怨좊━瑜� map �⑥닔瑜� �댁슜�섏뿬 �ㅼ쓬怨� 媛숈씠 蹂�寃쏀븯�� newIncome 而щ읆�� 留ㅽ븨�섎씪**
Unknown        : N    
Less than \$40K : a    
\$40K - \$60K    : b    
\$60K - \$80K    : c    
\$80K - \$120K   : d    
\$120K +'       : e     
```

```{admonition} 57踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=4145&end=4498></iframe></div>
```

In [45]:
dic = {
    'Unknown'        : 'N',
    'Less than $40K' : 'a',
    '$40K - $60K'    : 'b',
    '$60K - $80K'    : 'c',
    '$80K - $120K'   : 'd',
    '$120K +'        : 'e'   
}

df['newIncome']  =df.Income_Category.map(lambda x: dic[x])

Ans = df['newIncome']

In [43]:
Ans.head(4)

0    c
1    a
2    d
3    a
Name: newIncome, dtype: object

```{admonition} Question 58
**Income_Category�� 移댄뀒怨좊━瑜� apply �⑥닔瑜� �댁슜�섏뿬 �ㅼ쓬怨� 媛숈씠 蹂�寃쏀븯�� newIncome 而щ읆�� 留ㅽ븨�섎씪**
Unknown        : N    
Less than \$40K : a    
\$40K - \$60K    : b    
\$60K - \$80K    : c    
\$80K - \$120K   : d    
\$120K +'       : e     
```

```{admonition} 58踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=4500&end=4687></iframe></div>
```

In [114]:
def changeCategory(x):
    if x =='Unknown':
        return 'N'
    elif x =='Less than $40K':
        return 'a'
    elif x =='$40K - $60K':   
        return 'b'
    elif x =='$60K - $80K':    
        return 'c'
    elif x =='$80K - $120K':   
        return 'd'
    elif x =='$120K +' :     
        return 'e'

df['newIncome']  =df.Income_Category.apply(changeCategory)

Ans = df['newIncome']

In [115]:
Ans.head(4)

0    c
1    a
2    d
3    a
Name: newIncome, dtype: object

```{admonition} Question 59
**Customer_Age�� 媛믪쓣 �댁슜�섏뿬 �섏씠 援ш컙�� AgeState 而щ읆�쇰줈 �뺤쓽�섎씪. (0~9 : 0 , 10~19 :10 , 20~29 :20 ... 媛� 援ш컙�� 鍮덈룄�섎� 異쒕젰�섎씪**
```

```{admonition} 59踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=4689&end=4842></iframe></div>
```

In [116]:
df['AgeState']  = df.Customer_Age.map(lambda x: x//10 *10)

Ans = df['AgeState'].value_counts().sort_index()

In [117]:
Ans

20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: AgeState, dtype: int64

```{admonition} Question 60
**Education_Level�� 媛믪쨷 Graduate�⑥뼱媛� �ы븿�섎뒗 媛믪� 1 洹몃젃吏� �딆� 寃쎌슦�먮뒗 0�쇰줈 蹂�寃쏀븯�� newEduLevel 而щ읆�� �뺤쓽�섍퀬 鍮덈룄�섎� 異쒕젰�섎씪**
```

```{admonition} 60踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=4844&end=5168></iframe></div>
```

In [118]:
df['newEduLevel'] = df.Education_Level.map(lambda x : 1 if 'Graduate' in x else 0)
Ans = df['newEduLevel'].value_counts()

In [119]:
Ans

0    6483
1    3644
Name: newEduLevel, dtype: int64

```{admonition} Question 61
**Credit_Limit 而щ읆媛믪씠 4500 �댁긽�� 寃쎌슦 1 洹몄쇅�� 寃쎌슦�먮뒗 紐⑤몢 0�쇰줈 �섎뒗 newLimit �뺤쓽�섎씪. newLimit 媛� 媛믩뱾�� 鍮덈룄�섎� 異쒕젰�섎씪**
```

```{admonition} 61踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=5170&end=5228></iframe></div>
```

In [120]:
df['newLimit'] = df.Credit_Limit.map(lambda x : 1 if x>=4500 else 0)
Ans = df['newLimit'].value_counts()

In [121]:
Ans

1    5096
0    5031
Name: newLimit, dtype: int64

```{admonition} Question 62
**Marital_Status 而щ읆媛믪씠 Married �닿퀬 Card_Category 而щ읆�� 媛믪씠 Platinum�� 寃쎌슦 1 洹몄쇅�� 寃쎌슦�먮뒗 紐⑤몢 0�쇰줈 �섎뒗 newState而щ읆�� �뺤쓽�섎씪. newState�� 媛� 媛믩뱾�� 鍮덈룄�섎� 異쒕젰�섎씪**
```

```{admonition} 62踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=5230&end=5748></iframe></div>
```

In [122]:
def check(x):
    if x.Marital_Status =='Married' and x.Card_Category =='Platinum':
        return 1
    else:
        return 0


df['newState'] = df.apply(check,axis=1)

Ans  = df['newState'].value_counts()

In [123]:
Ans

0    10120
1        7
Name: newState, dtype: int64

```{admonition} Question 63
**Gender 而щ읆媛� M�� 寃쎌슦 male F�� 寃쎌슦 female濡� 媛믪쓣 蹂�寃쏀븯�� Gender 而щ읆�� �덈∼寃� �뺤쓽�섎씪. 媛� value�� 鍮덈룄瑜� 異쒕젰�섎씪**
```

```{admonition} 63踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=5750&end=5866></iframe></div>
```

In [124]:
def changeGender(x):
    if x =='M':
        return 'male'
    else:
        return 'female'
df['Gender'] = df.Gender.apply(changeGender)
Ans = df['Gender'].value_counts()

In [125]:
Ans

female    5358
male      4769
Name: Gender, dtype: int64

## 05_Time_Series

```{attention} 
二쇨� �곗씠�� : https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data
**DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv'**
```

```{admonition} Question 64
**�곗씠�곕� 濡쒕뱶�섍퀬 媛� �댁쓽 �곗씠�� ���낆쓣 �뚯븙�섎씪**
```

```{admonition} 64踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=5868&end=5922></iframe></div>
```

In [29]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB

```{admonition} Question 65
**Yr_Mo_Dy�� �먮떎�ㅼ뿉�� �몄떇�� �� �덈뒗 datetime64���낆쑝濡� 蹂�寃쏀븯��**
```

```{admonition} 65踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=5924&end=6118></iframe></div>
```

In [30]:
df.Yr_Mo_Dy = pd.to_datetime(df.Yr_Mo_Dy)
Ans = df.Yr_Mo_Dy

In [31]:
Ans.head(4)

0   2061-01-01
1   2061-01-02
2   2061-01-03
3   2061-01-04
Name: Yr_Mo_Dy, dtype: datetime64[ns]

```{admonition} Question 66
**Yr_Mo_Dy�� 議댁옱�섎뒗 �꾨룄�� �좎씪媛믪쓣 紐⑤몢 異쒕젰�섎씪**
```

```{admonition} 66踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=6120&end=6358></iframe></div>
```

In [32]:
Ans = df.Yr_Mo_Dy.dt.year.unique()

In [33]:
Ans

array([2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978])

```{admonition} Question 67
**Yr_Mo_Dy�� �꾨룄媛� 2061�� �댁긽�� 寃쎌슦�먮뒗 紐⑤몢 �섎せ�� �곗씠�곗씠��. �대떦寃쎌슦�� 媛믪� 100�� 鍮쇱꽌 �덈∼寃� �좎쭨瑜� Yr_Mo_Dy 而щ읆�� �뺤쓽�섎씪**
```

```{admonition} 67踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=6360&end=6698></iframe></div>
```

In [34]:
def fix_century(x):
    import datetime
    
    year = x.year - 100 if x.year >= 2061 else x.year
    return pd.to_datetime(datetime.date(year, x.month, x.day))


df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(fix_century)

Ans = df.head(4)

In [36]:
Ans

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88

```{admonition} Question 68
**�꾨룄蹂� 媛곸뺄�쇱쓽 �됯퇏媛믪쓣 援ы븯�щ씪**
```

```{admonition} 68踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=6700&end=6808></iframe></div>
```

In [37]:
Ans = df.groupby(df.Yr_Mo_Dy.dt.year).mean()

In [38]:
Ans.head(4)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301

```{admonition} Question 69
**weekday而щ읆�� 留뚮뱾怨� �붿씪蹂꾨줈 留ㅽ븨�섎씪 ( �붿슂��: 0 ~ �쇱슂�� :6)**
```

```{admonition} 69踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=6810&end=6933></iframe></div>
```

In [135]:
df['weekday'] = df.Yr_Mo_Dy.dt.weekday

Ans = df['weekday'].head(3).to_frame()

In [136]:
Ans

   weekday
0        6
1        0
2        1

```{admonition} Question 70
**weekday而щ읆�� 湲곗��쇰줈 二쇰쭚�대㈃ 1 �됱씪�대㈃ 0�� 媛믪쓣 媛�吏��� WeekCheck 而щ읆�� 留뚮뱾�대씪**
```

```{admonition} 70踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=6935&end=7055></iframe></div>
```

In [137]:
df['WeekCheck']  = df['weekday'].map(lambda x : 1 if x in [5,6] else 0)

Ans = df['WeekCheck'].head(3).to_frame()

In [138]:
Ans

   WeekCheck
0          1
1          0
2          0

```{admonition} Question 71
**�꾨룄, �쇱옄 �곴��놁씠 紐⑤뱺 而щ읆�� 媛� �ъ쓽 �됯퇏�� 援ы븯�щ씪**
```

```{admonition} 71踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=7057&end=7104></iframe></div>
```

In [139]:
Ans = df.groupby(df.Yr_Mo_Dy.dt.month).mean()

In [140]:
Ans.head(4)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,
1,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763,2.989247,0.284946
2,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142,3.005906,0.287402
3,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317,3.000000,0.283154
4,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611,3.011111,0.288889

```{admonition} Question 72
**紐⑤뱺 寃곗륫移섎뒗 而щ읆湲곗� 吏곸쟾�� 媛믪쑝濡� ��泥댄븯怨� 泥ル쾲吏� �됱뿉 寃곗륫移섍� �덉쓣寃쎌슦 �ㅼ뿉�덈뒗 媛믪쑝濡� ��梨꾪븯��**
```

```{admonition} 72踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=7106&end=7348></iframe></div>
```

In [141]:
df = df.fillna(method='ffill').fillna(method='bfill')

In [142]:
df.isnull().sum()

Yr_Mo_Dy     0
RPT          0
VAL          0
ROS          0
KIL          0
SHA          0
BIR          0
DUB          0
CLA          0
MUL          0
CLO          0
BEL          0
MAL          0
weekday      0
WeekCheck    0
dtype: int64

```{admonition} Question 73
**�꾨룄 - �붿쓣 湲곗��쇰줈 紐⑤뱺 而щ읆�� �됯퇏媛믪쓣 援ы븯�щ씪**
```

```{admonition} 73踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=7350&end=7593></iframe></div>
```

In [143]:
Ans = df.groupby(df.Yr_Mo_Dy.dt.to_period('M')).mean()

In [144]:
Ans.head(3)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,
1961-01,14.932581,12.084194,13.431613,7.736774,11.215806,8.588065,11.184839,9.270968,9.085806,10.107419,13.880968,14.703226,2.935484,0.290323
1961-02,16.269286,14.975357,14.324643,9.116786,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786,3.000000,0.285714
1961-03,11.015806,11.296452,10.752903,7.137742,10.509355,8.866774,9.644194,9.829677,10.646129,11.251935,16.410968,15.637742,3.000000,0.258065

```{admonition} Question 74
**RPT 而щ읆�� 媛믪쓣 �쇱옄蹂� 湲곗��쇰줈 1李⑥감遺꾪븯��**
```

```{admonition} 74踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=7595&end=7648></iframe></div>
```

In [145]:
Ans = df['RPT'].diff()

In [146]:
Ans.head(3)

0     NaN
1   -0.33
2    3.79
Name: RPT, dtype: float64

```{admonition} Question 75
**RPT�� VAL�� 而щ읆�� �쇱＜�� 媛꾧꺽�쇰줈 媛곴컖 �대룞�됯퇏�쒓컪�� 援ы븯�щ씪**
```

```{admonition} 75踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=7650&end=7756></iframe></div>
```

In [147]:
Ans= df[['RPT','VAL']].rolling(7).mean()

In [148]:
Ans.head(9)

         RPT        VAL
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN
5        NaN        NaN
6  14.124286  12.727143
7  13.541429  11.982857
8  13.237143  11.392857

```{attention} 
�쒖슱�� 誘몄꽭癒쇱� �곗씠�� : https://www.airkorea.or.kr/web/realSearch?pMENU_NO=97
**DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv'**
```

In [149]:
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv')

```{admonition} Question 76
**��-��-��:�� 而щ읆�� pandas�먯꽌 �몄떇�� �� �덈뒗 datetime �뺥깭濡� 蹂�寃쏀븯��. �쒖슱�쒖쓽 �쒓났�곗씠�곗쓽 寃쎌슦 0�쒓� 24�쒕줈 �쒗쁽�쒕떎**
```

```{admonition} 76踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=7758&end=8278></iframe></div>
```

In [150]:
def change_date(x):
    import datetime
    hour = x.split(':')[1]
    date = x.split(":")[0]
    
    if hour =='24':
        hour ='00:00:00'
        
        FinalDate = pd.to_datetime(date +" "+hour) +datetime.timedelta(days=1)
        
    else:
        hour = hour +':00:00'
        FinalDate = pd.to_datetime(date +" "+hour)
    
    return FinalDate

df['(��-��-��:��)'] = df['(��-��-��:��)'].apply(change_date)

Ans = df

In [151]:
Ans.head(3)

,(��-��-��:��),PM10�깃툒,PM10,PM2.5�깃툒,PM2.5,�ㅼ〈�깃툒,�ㅼ〈,�댁궛�붿쭏�뚮벑湲�,�댁궛�붿쭏��,�쇱궛�뷀깂�뚮벑湲�,�쇱궛�뷀깂��,�꾪솴�곌��ㅻ벑湲�,�꾪솴�곌���
0,2021-05-15 15:00:00,蹂댄넻,47.0,蹂댄넻,19.0,醫뗭쓬,0.017,醫뗭쓬,0.023,醫뗭쓬,0.4,醫뗭쓬,0.003
1,2021-05-15 14:00:00,蹂댄넻,43.0,蹂댄넻,20.0,醫뗭쓬,0.024,醫뗭쓬,0.019,醫뗭쓬,0.3,醫뗭쓬,0.003
2,2021-05-15 13:00:00,蹂댄넻,34.0,蹂댄넻,24.0,蹂댄넻,0.035,醫뗭쓬,0.017,醫뗭쓬,0.4,醫뗭쓬,0.004

```{admonition} Question 77
**�쇱옄蹂� �곸뼱�붿씪 �대쫫�� dayName 而щ읆�� ���ν븯��**
```

```{admonition} 77踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=8280&end=8376></iframe></div>
```

In [152]:
df['dayName']  =df['(��-��-��:��)'].dt.day_name()
Ans =df['dayName']

In [153]:
Ans.head(5)

0    Saturday
1    Saturday
2    Saturday
3    Saturday
4    Saturday
Name: dayName, dtype: object

```{admonition} Question 78
**�쇱옄蹂� 媛� PM10�깃툒�� 鍮덈룄�섎� �뚯븙�섎씪**
```

```{admonition} 78踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=8378&end=8518></iframe></div>
```

In [154]:
Ans1 = df.groupby(['dayName','PM10�깃툒'],as_index=False).size()
Ans2 = Ans1.pivot(index='dayName',columns='PM10�깃툒',values='size').fillna(0)

In [155]:
Ans1.head()

  dayName PM10�깃툒  size
0  Friday     �섏겏    31
1  Friday   留ㅼ슦�섏겏    17
2  Friday     蹂댄넻   120
3  Friday     醫뗭쓬    21
4  Monday     �섏겏     1

In [156]:
Ans2

PM10�깃툒       �섏겏  留ㅼ슦�섏겏     蹂댄넻    醫뗭쓬
dayName
Friday     31.0  17.0  120.0  21.0
Monday      1.0  21.0   83.0  63.0
Saturday   31.0  27.0   71.0  54.0
Sunday      2.0   1.0   67.0  98.0
Thursday   41.0   0.0  144.0   5.0
Tuesday    13.0  10.0   71.0  74.0
Wednesday  26.0   0.0   95.0  46.0

```{admonition} Question 79
**�쒓컙�� �곗냽�곸쑝濡� 議댁옱�섎ŉ 寃곗륫移섍� �녿뒗吏� �뺤씤�섎씪**
```

```{admonition} 79踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=8520&end=8630></iframe></div>
```

In [157]:
# �쒓컙�� 李⑤텇�덉쓣 寃쎌슦 泥� 媛믪� nan, �댄썑 紐⑤뱺 李⑤텇媛믪씠 �숈씪�섎㈃ �곗냽�대씪 �먮떒�쒕떎.
check = len(df['(��-��-��:��)'].diff().unique())
if check ==2:
    Ans =True
else:
    Ans = False

In [158]:
Ans

True

```{admonition} Question 80
**�ㅼ쟾 10�쒖� �ㅽ썑 10��(22��)�� PM10�� �됯퇏媛믪쓣 媛곴컖 援ы븯�щ씪**
```

```{admonition} 80踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=8632&end=8719></iframe></div>
```

In [159]:
Ans = df.groupby(df['(��-��-��:��)'].dt.hour).mean().iloc[[10,22],[0]]

In [160]:
Ans

                PM10
(��-��-��:��)
10         70.384615
22         69.941176

```{admonition} Question 81
**�좎쭨 而щ읆�� index濡� 留뚮뱾�대씪**
```

```{admonition} 81踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=8721&end=8756></iframe></div>
```

In [161]:
df.set_index('(��-��-��:��)',inplace=True,drop=True)

Ans =df

In [162]:
Ans.head(3)

,PM10�깃툒,PM10,PM2.5�깃툒,PM2.5,�ㅼ〈�깃툒,�ㅼ〈,�댁궛�붿쭏�뚮벑湲�,�댁궛�붿쭏��,�쇱궛�뷀깂�뚮벑湲�,�쇱궛�뷀깂��,�꾪솴�곌��ㅻ벑湲�,�꾪솴�곌���,dayName
(��-��-��:��),,,,,,,,,,,,,
2021-05-15 15:00:00,蹂댄넻,47.0,蹂댄넻,19.0,醫뗭쓬,0.017,醫뗭쓬,0.023,醫뗭쓬,0.4,醫뗭쓬,0.003,Saturday
2021-05-15 14:00:00,蹂댄넻,43.0,蹂댄넻,20.0,醫뗭쓬,0.024,醫뗭쓬,0.019,醫뗭쓬,0.3,醫뗭쓬,0.003,Saturday
2021-05-15 13:00:00,蹂댄넻,34.0,蹂댄넻,24.0,蹂댄넻,0.035,醫뗭쓬,0.017,醫뗭쓬,0.4,醫뗭쓬,0.004,Saturday

```{admonition} Question 82
**�곗씠�곕� 二쇰떒�꾨줈 戮묒븘�� 理쒖냼,理쒕� �됯퇏, �쒖��쒖감瑜� 援ы븯�щ씪**
```

```{admonition} 82踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=8758&end=9102></iframe></div>
```

In [163]:
Ans = df.resample('W').agg(['min','max','mean','std'])

In [164]:
Ans.head(5)

            PM10                               PM2.5                    \
             min    max       mean         std   min    max       mean
(��-��-��:��)
2021-03-28   6.0  160.0  72.747368   43.345462   4.0  113.0  44.705263
2021-04-04   3.0  598.0  97.148810  129.911976   1.0  120.0  23.168675
2021-04-11  17.0  102.0  41.059524   16.325911   7.0   70.0  21.761905
2021-04-18   3.0  367.0  48.180723   43.254468   2.0   38.0  17.066265
2021-04-25  17.0  126.0  55.119048   26.659936   7.0   61.0  26.392857

                          �ㅼ〈         ...     �댁궛�붿쭏��           �쇱궛�뷀깂��       \
                  std    min    max  ...      mean       std   min  max
(��-��-��:��)                            ...
2021-03-28  29.551928  0.002  0.085  ...  0.044579  0.023722   0.3  1.4
2021-04-04  22.399578  0.003  0.055  ...  0.027929  0.014978   0.3  0.9
2021-04-11  11.479343  0.009  0.070  ...  0.022583  0.009562   0.3  0.7
2021-04-18   7.867952  0.002  0.070  ...  0.023753  0.013553   0.3  0.6
2021-04-25  13.094788  0.006  0.090  ...  0.028571  0.014640   0.3  0.8

                                �꾪솴�곌���
                mean       std    min    max      mean       std
(��-��-��:��)
2021-03-28  0.611579  0.232408  0.002  0.006  0.003274  0.000961
2021-04-04  0.445833  0.135741  0.002  0.004  0.002732  0.000541
2021-04-11  0.389286  0.087573  0.002  0.004  0.002744  0.000569
2021-04-18  0.386747  0.084954  0.002  0.004  0.002464  0.000579
2021-04-25  0.457143  0.122142  0.001  0.011  0.003631  0.001763

[5 rows x 24 columns]

## 06_Pivot

```{attention} 
援��蹂� 5�몄씠�� �щ쭩鍮꾩쑉 �듦퀎 : https://www.kaggle.com/utkarshxy/who-worldhealth-statistics-2020-complete
Dataurl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/under5MortalityRate.csv'
```

In [165]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/under5MortalityRate.csv')

```{admonition} Question 83
**Indicator�� ��젣�섍퀬 First Tooltip 而щ읆�먯꽌 �좊ː援ш컙�� �대떦�섎뒗 �쒗쁽�� 吏��뚮씪**
```

```{admonition} 83踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9104&end=9322></iframe></div>
```

In [166]:
df.drop('Indicator',axis=1,inplace=True)

df['First Tooltip'] = df['First Tooltip'].map(lambda x: float(x.split("[")[0]))

Ans = df

In [167]:
Ans.head(4)

      Location  Period        Dim1  First Tooltip
0  Afghanistan    2019  Both sexes          60.27
1  Afghanistan    2019        Male          63.83
2  Afghanistan    2019      Female          56.57
3  Afghanistan    2018  Both sexes          62.54

```{admonition} Question 84
**�꾨룄媛� 2015�� �댁긽, Dim1�� Both sexes�� 耳��댁뒪留� 異붿텧�섎씪**
```

```{admonition} 84踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9324&end=9421></iframe></div>
```

In [168]:
target = df[(df.Period >=2015) & (df.Dim1 =='Both sexes')]
Ans = target

In [169]:
Ans.head(3)

      Location  Period        Dim1  First Tooltip
0  Afghanistan    2019  Both sexes          60.27
3  Afghanistan    2018  Both sexes          62.54
6  Afghanistan    2017  Both sexes          64.94

```{admonition} Question 85
**84踰� 臾몄젣�먯꽌 異붿텧�� �곗씠�곕줈 �꾨옒�� 媛숈씠 �섎씪�� �곕Ⅸ �꾨룄蹂� �щ쭩瑜좎쓣 �곗씠�� �꾨젅�꾪솕 �섎씪**
```

```{admonition} 85踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9423&end=9503></iframe></div>
```

In [170]:
Ans = target.pivot(index='Location',columns='Period',values='First Tooltip')

In [171]:
Ans.head(3)

Period        2015   2016   2017   2018   2019
Location
Afghanistan  70.44  67.57  64.94  62.54  60.27
Albania       9.57   9.42   9.42   9.53   9.68
Algeria      25.18  24.79  24.32  23.81  23.26

```{admonition} Question 86
**Dim1�� �곕Ⅸ �꾨룄蹂� �щ쭩鍮꾩쑉�� �됯퇏�� 援ы븯��**
```

```{admonition} 86踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9505&end=9550></iframe></div>
```

In [172]:
Ans = df.pivot_table(index='Dim1',columns='Period',values='First Tooltip',aggfunc='mean')

In [173]:
Ans.iloc[:,:4]

Period            1950        1951        1952        1953
Dim1
Both sexes  147.700816  155.537544  157.811094  156.147206
Female      140.909796  149.210175  151.516094  150.250882
Male        154.151224  161.538246  163.760781  161.742059

```{attention} 
�щ┝�� 硫붾떖由ъ뒪�� �뺣낫 �곗씠��: https://www.kaggle.com/the-guardian/olympic-games
dataUrl ='https://raw.githubusercontent.com/Datamanim/pandas/main/winter.csv'
```

In [174]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/winter.csv')

```{admonition} Question 87
**�곗씠�곗뿉�� �쒓뎅 KOR �곗씠�곕쭔 異붿텧�섎씪**
```

```{admonition} 87踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9552&end=9613></iframe></div>
```

In [175]:
kr = df[df.Country=='KOR']
Ans = kr

In [176]:
Ans.head(4)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
2652,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,1000M,Bronze
2653,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,1000M,Gold
2671,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,5000M Relay,Gold
2672,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,5000M Relay,Gold

```{admonition} Question 88
**�쒓뎅 �щ┝�� 硫붾떖由ъ뒪�� �곗씠�곗뿉�� �꾨룄�� �곕Ⅸ medal 媛�닔瑜� �곗씠�고봽�덉엫�� �섎씪**
```

```{admonition} 88踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9615&end=9673></iframe></div>
```

In [177]:
Ans = kr.pivot_table(index='Year',columns='Medal',aggfunc='size').fillna(0)

In [178]:
Ans

Medal  Bronze  Gold  Silver
Year
1992      1.0   5.0     1.0
1994      1.0   8.0     1.0
1998      2.0   6.0     4.0
2002      0.0   5.0     2.0
2006      2.0  14.0     3.0
2010      2.0   6.0    10.0
2014      2.0   7.0     5.0

```{admonition} Question 89
**�꾩껜 �곗씠�곗뿉�� sport醫낅쪟�� �곕Ⅸ �깅퀎�섎� 援ы븯�щ씪**
```

```{admonition} 89踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9675&end=9718></iframe></div>
```

In [179]:
Ans = df.pivot_table(index='Sport',columns='Gender',aggfunc='size')

In [180]:
Ans

Gender       Men  Women
Sport
Biathlon     270    150
Bobsleigh    416     36
Curling       97     75
Ice Hockey  1231    305
Luge         135     45
Skating      665    564
Skiing      1130    651

```{admonition} Question 90
**�꾩껜 �곗씠�곗뿉�� Discipline醫낅쪟�� �곕Ⅸ �곕Ⅸ Medal�섎� 援ы븯�щ씪**
```

```{admonition} 90踰� �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9720&end=9733></iframe></div>
```

In [181]:
Ans = df.pivot_table(index='Discipline',columns='Medal',aggfunc='size')

In [182]:
Ans

Medal                      Bronze  Gold  Silver
Discipline
Alpine Skiing                 141   143     144
Biathlon                      139   140     141
Bobsleigh                     147   134     141
Cross Country Skiing          263   264     262
Curling                        56    58      58
Figure skating                118   122     119
Freestyle Skiing               34    34      34
Ice Hockey                    512   510     514
Luge                           60    62      58
Nordic Combined                55    55      55
Short Track Speed Skating      96    97      97
Skeleton                       10    10      10
Ski Jumping                    68    69      70
Snowboard                      30    30      30
Speed skating                 190   193     197

## 07_Merge , Concat

```{attention} 
援��蹂� 5�몄씠�� �щ쭩鍮꾩쑉 �듦퀎 : https://www.kaggle.com/utkarshxy/who-worldhealth-statistics-2020-complete    
�곗씠�� 蹂���    
Dataurl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/mergeTEst.csv'
```

```{admonition} merge, concat 湲됱쥌猷� 蹂�紐�.. �좏뒠釉� ����
:class: dropdown
<div style="text-align: center"><iframe width="700" height="500" src=https://www.youtube.com/embed/00rctVVSSoA?start=9735&end=10000></iframe></div>
```

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/mergeTEst.csv',index_col= 0)

In [3]:
df1 = df.iloc[:4,:]
df2 = df.iloc[4:,:]

display(df1)
display(df2)

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Location,,,,,,,,,,
Afghanistan,64.023,61.640,59.367,57.170,55.08,53.107,51.267,49.560,47.983,46.453
Albania,11.803,10.807,9.943,9.267,8.79,8.493,8.363,8.363,8.453,8.597
Algeria,23.540,22.907,22.450,22.117,21.85,21.587,21.257,20.850,20.407,19.930
Andorra,4.240,4.033,3.843,3.667,3.49,3.330,3.187,3.060,2.933,2.827

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Location,,,,,,,,,,
Angola,75.713,71.280,67.233,63.570,60.430,57.757,55.510,53.460,51.757,50.093
Antigua and Barbuda,8.667,8.223,7.807,7.420,7.070,6.757,6.483,6.230,6.000,5.783
Argentina,12.887,12.380,11.840,11.283,10.733,10.203,9.683,9.177,8.680,8.227
Armenia,16.497,15.677,14.897,14.170,13.477,12.817,12.183,11.583,11.007,10.497
Australia,3.993,3.803,3.623,3.467,3.343,3.253,3.183,3.137,3.090,3.047
Austria,3.573,3.463,3.333,3.210,3.113,3.043,2.987,2.943,2.897,2.843

```{admonition} Question 91
**df1怨� df2 �곗씠�곕� �섎굹�� �곗씠�� �꾨젅�꾩쑝濡� �⑹퀜��**
```

In [4]:
total = pd.concat([df1,df2])
Ans = total

In [5]:
Ans

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Location,,,,,,,,,,
Afghanistan,64.023,61.640,59.367,57.170,55.080,53.107,51.267,49.560,47.983,46.453
Albania,11.803,10.807,9.943,9.267,8.790,8.493,8.363,8.363,8.453,8.597
Algeria,23.540,22.907,22.450,22.117,21.850,21.587,21.257,20.850,20.407,19.930
Andorra,4.240,4.033,3.843,3.667,3.490,3.330,3.187,3.060,2.933,2.827
Angola,75.713,71.280,67.233,63.570,60.430,57.757,55.510,53.460,51.757,50.093
Antigua and Barbuda,8.667,8.223,7.807,7.420,7.070,6.757,6.483,6.230,6.000,5.783
Argentina,12.887,12.380,11.840,11.283,10.733,10.203,9.683,9.177,8.680,8.227
Armenia,16.497,15.677,14.897,14.170,13.477,12.817,12.183,11.583,11.007,10.497
Australia,3.993,3.803,3.623,3.467,3.343,3.253,3.183,3.137,3.090,3.047
Austria,3.573,3.463,3.333,3.210,3.113,3.043,2.987,2.943,2.897,2.843

In [6]:
df3 = df.iloc[:2,:4]
df4 = df.iloc[5:,3:]

display(df3)
display(df4)

               2010    2011    2012    2013
Location
Afghanistan  64.023  61.640  59.367  57.170
Albania      11.803  10.807   9.943   9.267

                       2013    2014    2015    2016    2017    2018    2019
Location
Antigua and Barbuda   7.420   7.070   6.757   6.483   6.230   6.000   5.783
Argentina            11.283  10.733  10.203   9.683   9.177   8.680   8.227
Armenia              14.170  13.477  12.817  12.183  11.583  11.007  10.497
Australia             3.467   3.343   3.253   3.183   3.137   3.090   3.047
Austria               3.210   3.113   3.043   2.987   2.943   2.897   2.843

```{admonition} Question 92
**df3怨� df4 �곗씠�곕� �섎굹�� �곗씠�� �꾨젅�꾩쑝濡� �⑹퀜��. �섎떎 �ы븿�섍퀬 �덈뒗 �꾨룄�� ���댁꽌留� 怨좊젮�쒕떎**
```

In [7]:
Ans = pd.concat([df3,df4],join='inner')

In [9]:
Ans

                       2013
Location
Afghanistan          57.170
Albania               9.267
Antigua and Barbuda   7.420
Argentina            11.283
Armenia              14.170
Australia             3.467
Austria               3.210

```{admonition} Question 93
**df3怨� df4 �곗씠�곕� �섎굹�� �곗씠�� �꾨젅�꾩쑝濡� �⑹퀜��. 紐⑤뱺 而щ읆�� �ы븿�섍퀬, 寃곗륫移섎뒗 0�쇰줈 ��泥댄븳��**
```

In [10]:
Ans = pd.concat([df3,df4],join='outer').fillna(0)

In [13]:
Ans

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Location,,,,,,,,,,
Afghanistan,64.023,61.640,59.367,57.170,0.000,0.000,0.000,0.000,0.000,0.000
Albania,11.803,10.807,9.943,9.267,0.000,0.000,0.000,0.000,0.000,0.000
Antigua and Barbuda,0.000,0.000,0.000,7.420,7.070,6.757,6.483,6.230,6.000,5.783
Argentina,0.000,0.000,0.000,11.283,10.733,10.203,9.683,9.177,8.680,8.227
Armenia,0.000,0.000,0.000,14.170,13.477,12.817,12.183,11.583,11.007,10.497
Australia,0.000,0.000,0.000,3.467,3.343,3.253,3.183,3.137,3.090,3.047
Austria,0.000,0.000,0.000,3.210,3.113,3.043,2.987,2.943,2.897,2.843

In [14]:
df5 = df.T.iloc[:7,:3]
df6 = df.T.iloc[6:,2:5]

display(df5)
display(df6)

Location  Afghanistan  Albania  Algeria
2010           64.023   11.803   23.540
2011           61.640   10.807   22.907
2012           59.367    9.943   22.450
2013           57.170    9.267   22.117
2014           55.080    8.790   21.850
2015           53.107    8.493   21.587
2016           51.267    8.363   21.257

Location  Algeria  Andorra  Angola
2016       21.257    3.187  55.510
2017       20.850    3.060  53.460
2018       20.407    2.933  51.757
2019       19.930    2.827  50.093

```{admonition} Question 94
**df5怨� df6 �곗씠�곕� �섎굹�� �곗씠�� �꾨젅�꾩쑝濡� merge�⑥닔瑜� �댁슜�섏뿬 �⑹퀜��. Algeria而щ읆�� key濡� �섍퀬 �� �곗씠�� 紐⑤몢 �ы븿�섎뒗 �곗씠�곕쭔 異쒕젰�섎씪**
```

In [27]:
Ans = pd.merge(df5,df6,on='Algeria',how='inner')

In [28]:
Ans

Location  Afghanistan  Albania  Algeria  Andorra  Angola
0              51.267    8.363   21.257    3.187   55.51

```{admonition} Question 95
**df5怨� df6 �곗씠�곕� �섎굹�� �곗씠�� �꾨젅�꾩쑝濡� merge�⑥닔瑜� �댁슜�섏뿬 �⑹퀜��. Algeria而щ읆�� key濡� �섍퀬 �⑹쭛�⑹쑝濡� �⑹퀜��**
```

In [18]:
Ans =pd.merge(df5,df6,on='Algeria',how='outer')

In [21]:
Ans

Location  Afghanistan  Albania  Algeria  Andorra  Angola
0              64.023   11.803   23.540      NaN     NaN
1              61.640   10.807   22.907      NaN     NaN
2              59.367    9.943   22.450      NaN     NaN
3              57.170    9.267   22.117      NaN     NaN
4              55.080    8.790   21.850      NaN     NaN
5              53.107    8.493   21.587      NaN     NaN
6              51.267    8.363   21.257    3.187  55.510
7                 NaN      NaN   20.850    3.060  53.460
8                 NaN      NaN   20.407    2.933  51.757
9                 NaN      NaN   19.930    2.827  50.093