In [1]:
import pandas as pd
import datetime

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv
<br>
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ ë°ì¼ë¦¬ ì¸ê¸°ë™ì˜ìƒ (í•œêµ­)
<br>
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv")

In [3]:
df

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...,...
60394,60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)

In [5]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

# 1ë²ˆ ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„  ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [6]:
df['channelTitle'].value_counts()

ì§¤íˆ°                       372
íŒŒë¿Œë¦¬                      318
SPOTV                    318
ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„          313
ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„    293
                        ...
NamSeok Byun               1
ê³µì›ìƒí™œ / ParkLife            1
Brave Girls                1
ê¹½ëƒ¥íˆ° KY'T                   1
ì•ŒíŒŒ                         1
Name: channelTitle, Length: 1832, dtype: int64

In [7]:
df['channelTitle'].value_counts().head(10).index

Index(['ì§¤íˆ°', 'íŒŒë¿Œë¦¬', 'SPOTV', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„', 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'ì¥ì‚ì­ˆ',
       'BANGTANTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'ì´ëª‡ëª…'],
      dtype='object')

In [8]:
answer = list(df['channelTitle'].value_counts().head(10).index)
print(answer)

['ì§¤íˆ°', 'íŒŒë¿Œë¦¬', 'SPOTV', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„', 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'ì¥ì‚ì­ˆ', 'BANGTANTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'ì´ëª‡ëª…']

# 2ë²ˆ ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘  ì¶œë ¥í•˜ë¼

In [9]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [10]:
df[df['likes'] < df['dislikes']]['channelTitle'].unique()

array(['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang',
       'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
       'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports'], dtype=object)

In [11]:
answer = list(df[df['likes'] < df['dislikes']]['channelTitle'].unique())
print(answer)

['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang', 'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ', 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports']

# 3ë²ˆ ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [12]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [13]:
df[['channelTitle','channelId']].drop_duplicates()

                  channelTitle                 channelId
0                          ì¥ì‚ì­ˆ  UChbE5OZQ6dRHECsX0tEPEZQ
1      RAIN's Official Channel  UCxXgIeE5hxWxHG6dz9Scg2w
2                  ì„œìš¸ì‹œ Â· Seoul  UCZUPZW5idAxYp-Asj__lVAA
3                 ê³ ê¸°ë‚¨ì MeatMan  UCT3CumbFIJiW33uq0UI3zlg
4                        ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘  UCdWgRSfttvDucq4ApcCg5Mw
...                        ...                       ...
60023                      ë©¸ì¹˜í˜•  UCsiuN8Jco3LbbuTyGuqRgKg
60028          í‚¤í‚¤TV, ì „ì§€ì  ì˜ˆëŠ¥ ì‹œì   UCRnEWJKVc5FpC-9Z3CBt2ZQ
60035                    ê¸°ìš©ì´tv  UCkMN06eC97XL1qR1bExdwWg
60036       INSSAOPPA G [ì¸ì‹¸ì˜¤ë¹ ]  UCp9G3sWsE42Qo9jgnB1ta2Q
60068              í•œêµ­ë‹Œí…ë„ ê³µì‹ ì±„ë„  UCRCK5FCJtomQT3b88jXI_DA

[1843 rows x 2 columns]

In [14]:
data = df[['channelTitle','channelId']].drop_duplicates()['channelId'].value_counts()
data

UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCuZu8NrpBG4WPXRi-hPBl-A    1
UCDrAR1OWC2MD4s0JLetN0MA    1
UCx2MVBsdTJ_sv0LiUpSQU2Q    1
UCu2R3TCLSxYV8pRyBGNOh2g    1
UCRCK5FCJtomQT3b88jXI_DA    1
Name: channelId, Length: 1770, dtype: int64

In [15]:
data[data>1]

UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCk5bhZYNtbPJyNLRxN8D8NQ    2
UCSiGNrrL2lAc0-_MfcUUUHA    2
UCiBKp3KgsQCYT9Z2XxdBpbQ    2
UCUEX0L7GHPs95m8S7G6kWVA    2
UC-IYpdOqjkER7B6cnChwlhA    2
Name: channelId, Length: 71, dtype: int64

In [16]:
len(data[data>1])

71

# 4ë²ˆ ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [17]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

In [19]:
df.loc[:,'trending_date2'] = pd.to_datetime(df['trending_date2'])

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 4.6+ MB

In [21]:
df.loc[df['trending_date2'].dt.day_name() == 'Sunday']['categoryId'].value_counts()

24    3096
22    1337
10     830
17     636
23     556
25     437
26     363
20     289
1      274
15     217
27     199
28     167
2       99
19      91
29       9
Name: categoryId, dtype: int64

In [22]:
df.loc[df['trending_date2'].dt.day_name() == 'Sunday']['categoryId'].value_counts().index

Int64Index([24, 22, 10, 17, 23, 25, 26, 20, 1, 15, 27, 28, 2, 19, 29], dtype='int64')

In [23]:
answer = df.loc[df['trending_date2'].dt.day_name() == 'Sunday']['categoryId'].value_counts().index[0]
print(answer)

24

# 5ë²ˆ ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [24]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [25]:
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index= False).size()
group

    trending_date2  categoryId  size
0           Friday           1   243
1           Friday           2   120
2           Friday          10   833
3           Friday          15   187
4           Friday          17   633
..             ...         ...   ...
100      Wednesday          25   468
101      Wednesday          26   385
102      Wednesday          27   212
103      Wednesday          28   165
104      Wednesday          29    12

[105 rows x 3 columns]

In [26]:
group.pivot(index='categoryId',columns='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

# 6ë²ˆ ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [27]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [28]:
data = df.loc[df['view_count']!= 0]
data

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [29]:
data['ratio'] = (data['comment_count']/data['view_count'])

C:\Users\user\AppData\Local\Temp\ipykernel_25084\3857667194.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ratio'] = (data['comment_count']/data['view_count'])

In [30]:
data

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,ratio
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01,0.004539
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01,0.007739
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01,0.000513
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01,0.006566
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01,0.006349
...,...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19,0.005792
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19,0.000710
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19,0.001701
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19,0.000460
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19,0.014212

In [31]:
data.sort_values(by = 'ratio',ascending = False)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,ratio
50830,"60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)",íŒ©í† ë¦¬,24,1214527,38246,528,196166,UCs8R3nVeg0E100H6C8qozgw,2021-09-02,0.161516
51047,"60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)",íŒ©í† ë¦¬,24,1321503,39742,623,210985,UCs8R3nVeg0E100H6C8qozgw,2021-09-03,0.159655
51264,"60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)",íŒ©í† ë¦¬,24,1534640,43368,802,236332,UCs8R3nVeg0E100H6C8qozgw,2021-09-04,0.153998
52786,"60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)",íŒ©í† ë¦¬,24,2124187,52445,1052,320101,UCs8R3nVeg0E100H6C8qozgw,2021-09-11,0.150693
51494,"60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)",íŒ©í† ë¦¬,24,1758801,47011,899,264912,UCs8R3nVeg0E100H6C8qozgw,2021-09-05,0.150621
...,...,...,...,...,...,...,...,...,...,...
58650,ë©”ë°€ê½ƒ í•„ë¬´ë µ,Lee Chanwon - Topic,10,456528,17827,204,0,UClch5s6f5W3YPW3CK7BDDTg,2021-10-11,0.000000
39235,Love (Prod.Rocoberry) (ëŸ¬ë¸Œ(Prod.ë¡œì½”ë² ë¦¬)),Loco - Topic,10,135031,5810,55,0,UCJVA-stKCH0IS_C1qIOUjTA,2021-07-06,0.000000
46801,Join the BTS #PermissiontoDance Challenge only...,YouTube,27,38565552,0,0,0,UCBR8-60-B28hp2BmDPdntcQ,2021-08-13,0.000000
7265,ë±€ì´ í•œê²¨ìš¸ì— ì´ëŸ¬ê³ ì™”ìŠµë‹ˆë‹¤.,ë‹¤í‘ë‹˜,15,671714,9533,345,0,UCwl9OALh8IMwSv_kFdHlMDA,2021-02-06,0.000000
55383,Apple Event â€” September 14,Apple,28,18280588,672190,18183,0,UCE_M8A5yxnLfW0KghEeajjw,2021-09-24,0.000000

In [32]:
data.sort_values(by = 'ratio',ascending = False).iloc[0,]

title             60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)
channelTitle                                       íŒ©í† ë¦¬
categoryId                                          24
view_count                                     1214527
likes                                            38246
dislikes                                           528
comment_count                                   196166
channelId                     UCs8R3nVeg0E100H6C8qozgw
trending_date2                     2021-09-02 00:00:00
ratio                                         0.161516
Name: 50830, dtype: object

In [33]:
data.sort_values(by = 'ratio',ascending = False).iloc[0,]['title']

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

# 7ë²ˆ ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

In [34]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [35]:
(df['comment_count'] / df['view_count']).dropna().sort_values()

8319     0.0
49317    0.0
44708    0.0
39755    0.0
39769    0.0
        ...
526      inf
1180     inf
957      inf
740      inf
297      inf
Length: 60392, dtype: float64

In [36]:
ratio = (df['comment_count'] / df['view_count']).dropna().sort_values()
ratio[ratio!=0]

46005    2.152456e-08
46210    3.874120e-08
51798    1.931927e-07
51579    1.976488e-07
51353    2.031132e-07
             ...
526               inf
1180              inf
957               inf
740               inf
297               inf
Length: 59615, dtype: float64

In [37]:
ratio[ratio!=0].index[0]

46005

In [38]:
df.iloc[ratio[ratio!=0].index[0]]

title             Join the BTS #PermissiontoDance Challenge only...
channelTitle                                                YouTube
categoryId                                                       27
view_count                                                 46458563
likes                                                             0
dislikes                                                          0
comment_count                                                     1
channelId                                  UCBR8-60-B28hp2BmDPdntcQ
trending_date2                                  2021-08-09 00:00:00
Name: 46005, dtype: object

In [39]:
result= df.iloc[ratio[ratio!=0].index[0]]['title']
print(result)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

# 8ë²ˆ like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [40]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [41]:
data = df.loc[(df['likes'] != 0) & (df['dislikes'] != 0)]
data

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
5,"(EN/CN/ID) ì›”ë“œìŠ¤íƒ€ í•œ ë¶„ ë” ëª¨ì…¨ìŠµë‹ˆë‹¤. ë¹„xë°•ì§„ì˜ & ì‹¸ì´, ë¹„ì£¼ì–¼ ê°€...",ì‹œì¦Œë¹„ì‹œì¦Œ Season B Season,24,1274464,26660,368,2701,UCZf4ZESHAIuRtZ-eoMSL97A,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [42]:
num = (data['dislikes']/data['likes']).sort_values().index[0]
num

11477

In [43]:
df.iloc[num]['title']

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

# 9ë²ˆ ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [44]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [45]:
df.loc[df['channelId'] == df['channelId'].value_counts().index[0]]['channelTitle'].unique()[0]

'ì§¤íˆ°'

# 10ë²ˆ 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?

In [46]:
df

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60394,*í’€ì½”ìŠ¤ë¡œ ë¨¹ìŠµë‹ˆë‹¤* ğŸ—ì¹˜í‚¨ + ğŸ•í”¼ì + ğŸ¥§ë””ì €íŠ¸,ê³µë£¡,22,538190,16671,209,3117,UCWf4QKgnTyvmehcRqw-JldQ,2021-10-19
60395,[ë†€ë©´ ë­í•˜ë‹ˆ? ì˜ˆê³ ] ìš°ë¦° ê¹ë¶€ì–ì•„ğŸ¦‘ ë†€ë­ì— ë“±ì¥í•œ ì›”ë“œí´ë˜ìŠ¤ ì´ˆëŒ€ì†ë‹˜!! MBC...,ë†€ë©´ ë­í•˜ë‹ˆ?,24,1607562,14615,258,1141,UCx6jsZ02B4K3SECUrkgPyzg,2021-10-19
60396,ë¨¹ë°© ì „ìŸ : ì‚¬ë‘ìŠ¤ëŸ¬War (feat. 401 ì •ìœ¡ì‹ë‹¹),ê¹€ì¢…êµ­ GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,ï¼‚ë„ˆ.. ê´‘ìˆ˜ì§€?ï¼‚ í˜‘ìƒì— ê±°ì§“ë§ë¶€í„° ë˜ì§€ëŠ” ê´‘ìˆ˜ ë‹®ì€ê¼´ ê¹€ì—°ê²½ ì„ ìˆ˜ [ëŸ°ë‹ë§¨|21...,ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (ì—”í•˜ì´í”ˆ) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [47]:
df[['title','channelId']].value_counts()

title                                                           channelId
ì»µë¼ë©´ ë¨¹ì„ ë•Œ ì ˆëŒ€ ì¼ì–´ë‚ ë¦¬ ì—†ëŠ” ìƒí™©ë“¤ ã…‹ã…‹ã…‹                                     UCmzMtXrJgfCqA0rfhz8_P4A    24
ëŒ€í•œë¯¼êµ­ VS íˆ¬ë¥´í¬ë©”ë‹ˆìŠ¤íƒ„ : FIFA ì¹´íƒ€ë¥´ ì›”ë“œì»µ 2ì°¨ ì˜ˆì„  í•˜ì´ë¼ì´íŠ¸ - 2021.06.05         UCpjOmwiy88a9EV3Rv8ukJgw    24
ê·¹ê³¼ ê·¹ì„ ì‚´ê³  ìˆëŠ” ì¸ë„ì˜ ê°‘ë¶€ì™€ ë¹ˆê³¤ì¸µë“¤!                                       UCi9Sl8GnFdYoqEVXnojBPJw    23
2ì£¼ë”ë†€ë¦´ì˜ˆì •                                                         UCaKod3X1Tn4c7Ci0iUKcvzQ    23
ëŒ€ë°•... ë©§ë¼ì§€ë¥¼ ì•„ë“¤ë¡œ ì‚¼ì€ í• ì•„ë²„ì§€ï½œKBS ì£¼ì£¼í´ëŸ½ 050410 ë°©ì†¡                       UCAhKKbDO9-ymWZ_7iAFLBQQ    23
                                                                                            ..
ì²œì¬ ì¹œêµ¬ í™©ë´‰í™© [ì´ëª‡ëª… ìŠ¤í† ë¦¬2]                                            UCRuSxVu4iqTK5kCh90ntAgA     1
ë‹´ë°°ì¶© [ë³‘ë§›ë”ë¹™/ì›ƒê¸´ì˜ìƒ]                                                 UCUK4YjvUvHrFQwTFXwkUIng     1
Official Trailer | The Falcon and The Winter Soldier | Disney+  UCvC4D8onUfXzvjTOM-dBfEA     1
[ì›”ë“œì»µìµœì¢…ì˜ˆì„ ] ì˜¤ë§Œ VS ë² íŠ¸ë‚¨ 4ì°¨ì „ H/Lã…£AFC ì•„ì‹œì•„ì§€ì—­ ì›”ë“œì»µ ìµœì¢…ì˜ˆì„                   UCtybqqaTj6Nx74Azdz1KrsA     1
ê¹ë¶€ë¼ë¦¬ëŠ” ë‹ˆêº¼ ë‚´êº¼ê°€ ì—†ëŠ”ê±°ì•¼                                               UCu9BCtGIEr73LXZsKmoujKw     1
Length: 7867, dtype: int64

In [48]:
df[['title','channelId']].value_counts() >= 20

title                                                           channelId
ì»µë¼ë©´ ë¨¹ì„ ë•Œ ì ˆëŒ€ ì¼ì–´ë‚ ë¦¬ ì—†ëŠ” ìƒí™©ë“¤ ã…‹ã…‹ã…‹                                     UCmzMtXrJgfCqA0rfhz8_P4A     True
ëŒ€í•œë¯¼êµ­ VS íˆ¬ë¥´í¬ë©”ë‹ˆìŠ¤íƒ„ : FIFA ì¹´íƒ€ë¥´ ì›”ë“œì»µ 2ì°¨ ì˜ˆì„  í•˜ì´ë¼ì´íŠ¸ - 2021.06.05         UCpjOmwiy88a9EV3Rv8ukJgw     True
ê·¹ê³¼ ê·¹ì„ ì‚´ê³  ìˆëŠ” ì¸ë„ì˜ ê°‘ë¶€ì™€ ë¹ˆê³¤ì¸µë“¤!                                       UCi9Sl8GnFdYoqEVXnojBPJw     True
2ì£¼ë”ë†€ë¦´ì˜ˆì •                                                         UCaKod3X1Tn4c7Ci0iUKcvzQ     True
ëŒ€ë°•... ë©§ë¼ì§€ë¥¼ ì•„ë“¤ë¡œ ì‚¼ì€ í• ì•„ë²„ì§€ï½œKBS ì£¼ì£¼í´ëŸ½ 050410 ë°©ì†¡                       UCAhKKbDO9-ymWZ_7iAFLBQQ     True
                                                                                            ...
ì²œì¬ ì¹œêµ¬ í™©ë´‰í™© [ì´ëª‡ëª… ìŠ¤í† ë¦¬2]                                            UCRuSxVu4iqTK5kCh90ntAgA    False
ë‹´ë°°ì¶© [ë³‘ë§›ë”ë¹™/ì›ƒê¸´ì˜ìƒ]                                                 UCUK4YjvUvHrFQwTFXwkUIng    False
Official Trailer | The Falcon and The Winter Soldier | Disney+  UCvC4D8onUfXzvjTOM-dBfEA    False
[ì›”ë“œì»µìµœì¢…ì˜ˆì„ ] ì˜¤ë§Œ VS ë² íŠ¸ë‚¨ 4ì°¨ì „ H/Lã…£AFC ì•„ì‹œì•„ì§€ì—­ ì›”ë“œì»µ ìµœì¢…ì˜ˆì„                   UCtybqqaTj6Nx74Azdz1KrsA    False
ê¹ë¶€ë¼ë¦¬ëŠ” ë‹ˆêº¼ ë‚´êº¼ê°€ ì—†ëŠ”ê±°ì•¼                                               UCu9BCtGIEr73LXZsKmoujKw    False
Length: 7867, dtype: bool

In [49]:
(df[['title','channelId']].value_counts() >= 20).sum()

40

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ â€œê³µë²”â€ ì»¨í…ì¸  ë™ì˜ìƒ ì •ë³´ ( 10ë¶„ ê°„ê²© ìˆ˜ì§‘)
<br>
dataurl1 (ë¹„ë””ì˜¤ ì •ë³´) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv
<br>
dataurl2 (ì°¸ê°€ì ì±„ë„ ì •ë³´)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [50]:
channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

# 11ë²ˆ ê° ë°ì´í„°ì˜ â€˜ctâ€™ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼

In [51]:
channel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1395 entries, 0 to 1394
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   channelid    1395 non-null   object
 1   subcnt       1395 non-null   int64
 2   viewcnt      1395 non-null   int64
 3   videocnt     1395 non-null   int64
 4   ct           1395 non-null   object
 5   channelname  1395 non-null   object
dtypes: int64(3), object(3)
memory usage: 65.5+ KB

In [52]:
video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15201 entries, 0 to 15200
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   videopk      15201 non-null  object
 1   viewcnt      15201 non-null  int64
 2   likecnt      15201 non-null  int64
 3   dislikecnt   15201 non-null  int64
 4   favoritecnt  15201 non-null  int64
 5   cmcnt        15201 non-null  int64
 6   ct           15201 non-null  object
 7   videoname    15201 non-null  object
dtypes: int64(5), object(3)
memory usage: 950.2+ KB

In [53]:
channel['ct'] = pd.to_datetime(channel['ct'])

In [54]:
video['ct'] = pd.to_datetime(video['ct'])

In [55]:
channel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1395 entries, 0 to 1394
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   channelid    1395 non-null   object
 1   subcnt       1395 non-null   int64
 2   viewcnt      1395 non-null   int64
 3   videocnt     1395 non-null   int64
 4   ct           1395 non-null   datetime64[ns]
 5   channelname  1395 non-null   object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 65.5+ KB

In [56]:
video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15201 entries, 0 to 15200
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   videopk      15201 non-null  object
 1   viewcnt      15201 non-null  int64
 2   likecnt      15201 non-null  int64
 3   dislikecnt   15201 non-null  int64
 4   favoritecnt  15201 non-null  int64
 5   cmcnt        15201 non-null  int64
 6   ct           15201 non-null  datetime64[ns]
 7   videoname    15201 non-null  object
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 950.2+ KB

In [57]:
answer = video['videoname'].value_counts()
print(answer)

 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
Name: videoname, dtype: int64

# 12ë²ˆ ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼

In [58]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [59]:
video.sort_values(['ct','videoname']) # ê°€ì¥ ìµœì‹ í™”ëœë‚ ì§œ ì •ë³´ ì¶œë ¥ì„ ìœ„í•´ ì‹œê°„ì— ë”°ë¥¸ ë„¤ì„ìˆœìœ¼ë¡œ ì •ë ¬

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,ê³µë²” EP1
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,ê³µë²” EP1
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,ê³µë²” EP1
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [60]:
video.sort_values(['ct','videoname']).drop_duplicates('videoname')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
3496,23QQ1ru9YQg,11153,812,4,0,281,2021-10-09 19:10:03,ê³µë²” EP2
6696,GygoAk1hDU0,10240,735,5,0,241,2021-10-14 19:10:04,ê³µë²” EP3
9264,bK0_3Vbfvs8,23581,1213,6,0,382,2021-10-16 19:10:04,ê³µë²” EP4
11544,hv7FBjskAu0,16777,875,9,0,302,2021-10-21 19:10:04,ê³µë²” EP5
13661,AxGKHmXyuAE,24331,1126,7,0,355,2021-10-23 19:10:04,ê³µë²” EP6
13106,QUjQbgj5IXM,32404,1540,10,0,463,2021-10-28 19:10:04,ê³µë²” EP7
14935,yZt-h-KcmUE,82015,3338,78,0,1438,2021-10-30 19:20:04,ê³µë²” EP8

In [61]:
video.sort_values(['ct','videoname']).drop_duplicates('videoname',keep = 'last') # ê°€ì¥ ìµœì‹ í™”ëœë‚ ì§œ ì •ë³´ ì¶œë ¥

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [62]:
video.sort_values(['ct','videoname']).drop_duplicates('videoname',keep = 'last')[['viewcnt','ct','videoname']]

       viewcnt                  ct videoname
3491   3180532 2021-11-01 15:30:03    ê³µë²” EP1
6695   2199328 2021-11-01 15:30:03    ê³µë²” EP2
9263   1671294 2021-11-01 15:30:03    ê³µë²” EP3
11543  1818493 2021-11-01 15:30:03    ê³µë²” EP4
13105  1503435 2021-11-01 15:30:04    ê³µë²” EP5
14934  1750222 2021-11-01 15:30:04    ê³µë²” EP6
13660  1630200 2021-11-01 15:30:05    ê³µë²” EP7
15200  1289088 2021-11-01 15:30:05    ê³µë²” EP8

In [63]:
video.sort_values(['ct','videoname']).drop_duplicates('videoname',keep = 'last')[['videoname','ct','viewcnt']].reset_index(drop = True)
# í•„ìš”í•œ ì—´ë§Œ ì¶œë ¥ ë° ì¸ë±ìŠ¤ ì´ˆê¸°í™”

  videoname                  ct  viewcnt
0    ê³µë²” EP1 2021-11-01 15:30:03  3180532
1    ê³µë²” EP2 2021-11-01 15:30:03  2199328
2    ê³µë²” EP3 2021-11-01 15:30:03  1671294
3    ê³µë²” EP4 2021-11-01 15:30:03  1818493
4    ê³µë²” EP5 2021-11-01 15:30:04  1503435
5    ê³µë²” EP6 2021-11-01 15:30:04  1750222
6    ê³µë²” EP7 2021-11-01 15:30:05  1630200
7    ê³µë²” EP8 2021-11-01 15:30:05  1289088

# 13ë²ˆ Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼

In [64]:
channel

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹
...,...,...,...,...,...,...
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

In [65]:
channel[channel['ct'] >= '2021-10-03'].sort_values(['channelname','ct']).drop_duplicates('channelname')[['channelname','subcnt']].reset_index(drop =True)

        channelname   subcnt
0     Balming Tiger    54300
1     ê³½í† ë¦¬ kwak tori   471000
2        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
3               ê½ˆëšœë£¹  1330000
4            ë…¼ë¦¬ì™• ì „ê¸°   922000
5       ë¦´í„ Lilpearl    10100
6             ì•¼ì „ì‚½ì§±ì¬   257000
7   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
8               ì¡°ë‚˜ë‹¨   215000
9        ì¸„ì •ChuJeong   322000
10          í˜•ì‚¬!íƒì •ë˜ë‹¤    14900

# 14ë²ˆ ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼

In [66]:
channel

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹
...,...,...,...,...,...,...
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

In [67]:
#.dt.strftime('%Y-%m%-d %H:%M:%S') : str format time ('%Y-%m%-d %H:%M:%S') %ë¡œ ì›í•˜ëŠ” ê°’ ì¶œë ¥ê°€ëŠ¥

In [68]:
channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-10-03 03']

,channelid,subcnt,viewcnt,videocnt,ct,channelname
12,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-03 03:01:04,ê½ˆëšœë£¹
139,UCEI4rb8YldV8v0dVUSo9ToQ,257000,28415226,73,2021-10-03 03:01:02,ì•¼ì „ì‚½ì§±ì¬
266,UCqwNCDzQBfw2seMRJpL-RWg,322000,71955394,212,2021-10-03 03:01:02,ì¸„ì •ChuJeong
393,UCDV9zgWo7b6nPg7i49oRQ5Q,922000,99187513,82,2021-10-03 03:01:02,ë…¼ë¦¬ì™• ì „ê¸°
520,UClu0udsIHkalM416ttWe_Zw,55000,4681137,107,2021-10-03 03:01:03,ì™€ê¸€ì™€ê¸€ WagleWagle
647,UCM9Rx3EqBJ-jMhD2E8Gjb4g,215000,15902641,60,2021-10-03 03:01:03,ì¡°ë‚˜ë‹¨
774,UCI9W73BWje69k7f1m_I4mbQ,14900,206221,49,2021-10-03 03:01:03,í˜•ì‚¬!íƒì •ë˜ë‹¤
901,UCOYhhfLMGY8OjsbfGNVf7Lw,7520,1444890,15,2021-10-03 03:01:03,ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶
1028,UCKOeR5Evsupc77nPL3qCMnw,10100,188523,21,2021-10-03 03:01:03,ë¦´í„ Lilpearl
1155,UCs9H--14toIRdJQAD9qz9tA,471000,128772621,548,2021-10-03 03:01:04,ê³½í† ë¦¬ kwak tori
1276,UCbBzKnCYcG7E3EIkSTdsawA,54300,7050078,54,2021-10-03 03:01:04,Balming Tiger

In [69]:
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-10-03 03'][['channelname','subcnt']].reset_index(drop =True)
start.columns = ['channelname','start_subcnt']
start

        channelname  start_subcnt
0               ê½ˆëšœë£¹       1330000
1             ì•¼ì „ì‚½ì§±ì¬        257000
2        ì¸„ì •ChuJeong        322000
3            ë…¼ë¦¬ì™• ì „ê¸°        922000
4   ì™€ê¸€ì™€ê¸€ WagleWagle         55000
5               ì¡°ë‚˜ë‹¨        215000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤         14900
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶          7520
8       ë¦´í„ Lilpearl         10100
9     ê³½í† ë¦¬ kwak tori        471000
10    Balming Tiger         54300

In [70]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-11-01 15'][['channelname','subcnt']].reset_index(drop =True)
end.columns = ['channelname','end_subcnt']
end

        channelname  end_subcnt
0               ê½ˆëšœë£¹     1400000
1             ì•¼ì „ì‚½ì§±ì¬      268000
2        ì¸„ì •ChuJeong      323000
3            ë…¼ë¦¬ì™• ì „ê¸°      911000
4   ì™€ê¸€ì™€ê¸€ WagleWagle       55000
5               ì¡°ë‚˜ë‹¨      227000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤       25200
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶        9060
8       ë¦´í„ Lilpearl       21100
9     ê³½í† ë¦¬ kwak tori      469000
10    Balming Tiger       56800

In [71]:
sub = pd.merge(start,end)
sub

        channelname  start_subcnt  end_subcnt
0               ê½ˆëšœë£¹       1330000     1400000
1             ì•¼ì „ì‚½ì§±ì¬        257000      268000
2        ì¸„ì •ChuJeong        322000      323000
3            ë…¼ë¦¬ì™• ì „ê¸°        922000      911000
4   ì™€ê¸€ì™€ê¸€ WagleWagle         55000       55000
5               ì¡°ë‚˜ë‹¨        215000      227000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤         14900       25200
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶          7520        9060
8       ë¦´í„ Lilpearl         10100       21100
9     ê³½í† ë¦¬ kwak tori        471000      469000
10    Balming Tiger         54300       56800

In [72]:
sub['del'] = sub['end_subcnt']-sub['start_subcnt']
sub

        channelname  start_subcnt  end_subcnt    del
0               ê½ˆëšœë£¹       1330000     1400000  70000
1             ì•¼ì „ì‚½ì§±ì¬        257000      268000  11000
2        ì¸„ì •ChuJeong        322000      323000   1000
3            ë…¼ë¦¬ì™• ì „ê¸°        922000      911000 -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle         55000       55000      0
5               ì¡°ë‚˜ë‹¨        215000      227000  12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤         14900       25200  10300
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶          7520        9060   1540
8       ë¦´í„ Lilpearl         10100       21100  11000
9     ê³½í† ë¦¬ kwak tori        471000      469000  -2000
10    Balming Tiger         54300       56800   2500

In [73]:
answer = sub.loc[:,['channelname','del']]
answer

        channelname    del
0               ê½ˆëšœë£¹  70000
1             ì•¼ì „ì‚½ì§±ì¬  11000
2        ì¸„ì •ChuJeong   1000
3            ë…¼ë¦¬ì™• ì „ê¸° -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle      0
5               ì¡°ë‚˜ë‹¨  12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤  10300
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
8       ë¦´í„ Lilpearl  11000
9     ê³½í† ë¦¬ kwak tori  -2000
10    Balming Tiger   2500

# 15ë²ˆ ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [74]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [75]:
EP1 = video[video['videoname'].str.contains('ê³µë²” EP1')].sort_values('ct').reset_index(drop =True)
EP1

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,ê³µë²” EP1
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,ê³µë²” EP1
3,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,ê³µë²” EP1
4,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,ê³µë²” EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,ê³µë²” EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,ê³µë²” EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,ê³µë²” EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1

In [76]:
EP1[(EP1['ct'].diff() >= datetime.timedelta(minutes=20)) | (EP1['ct'].diff() <= datetime.timedelta(minutes=5))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1

In [77]:
#answer
EP1.loc[EP1.index.isin([720,721,722,723,1635,1637.1638])]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1

# 16ë²ˆ ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

In [78]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [79]:
start_date = video[['ct','videoname']].sort_values(['videoname','ct']).drop_duplicates('videoname').reset_index(drop = True)
start_date

                   ct videoname
0 2021-10-07 19:10:03    ê³µë²” EP1
1 2021-10-09 19:10:03    ê³µë²” EP2
2 2021-10-14 19:10:04    ê³µë²” EP3
3 2021-10-16 19:10:04    ê³µë²” EP4
4 2021-10-21 19:10:04    ê³µë²” EP5
5 2021-10-23 19:10:04    ê³µë²” EP6
6 2021-10-28 19:10:04    ê³µë²” EP7
7 2021-10-30 19:20:04    ê³µë²” EP8

In [80]:
start_date['date'] = start_date['ct'].dt.date

In [81]:
answer = start_date[['date','videoname']]
answer

         date videoname
0  2021-10-07    ê³µë²” EP1
1  2021-10-09    ê³µë²” EP2
2  2021-10-14    ê³µë²” EP3
3  2021-10-16    ê³µë²” EP4
4  2021-10-21    ê³µë²” EP5
5  2021-10-23    ê³µë²” EP6
6  2021-10-28    ê³µë²” EP7
7  2021-10-30    ê³µë²” EP8

# 17ë²ˆ â€œê³µë²”â€ ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

In [82]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [83]:
video[video['ct'].dt.hour == 21].sort_values(['videoname','ct']).drop_duplicates('videoname') \
[['videoname','viewcnt','ct']].sort_values('viewcnt',ascending = False).reset_index(drop = True)

  videoname  viewcnt                  ct
0    ê³µë²” EP8   264029 2021-10-30 21:00:08
1    ê³µë²” EP7   252032 2021-10-28 21:00:04
2    ê³µë²” EP4   217674 2021-10-16 21:00:04
3    ê³µë²” EP6   213899 2021-10-23 21:00:06
4    ê³µë²” EP5   201179 2021-10-21 21:00:04
5    ê³µë²” EP2   148144 2021-10-09 21:00:03
6    ê³µë²” EP3   147183 2021-10-14 21:00:04
7    ê³µë²” EP1   117340 2021-10-07 21:00:03

# 18ë²ˆ video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼

In [84]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [85]:
video_ratio = video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')
video_ratio

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [86]:
video_ratio['ratio'] = video_ratio['dislikecnt']/video_ratio['likecnt']
video_ratio

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,ratio
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1,0.027118
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2,0.029844
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3,0.022360
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4,0.017971
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5,0.021128
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6,0.015881
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7,0.013636
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8,0.141357

In [87]:
answer = video_ratio[['videoname','ratio']].sort_values('ratio').reset_index(drop =True)
answer

  videoname     ratio
0    ê³µë²” EP7  0.013636
1    ê³µë²” EP6  0.015881
2    ê³µë²” EP4  0.017971
3    ê³µë²” EP5  0.021128
4    ê³µë²” EP3  0.022360
5    ê³µë²” EP1  0.027118
6    ê³µë²” EP2  0.029844
7    ê³µë²” EP8  0.141357

# 19ë²ˆ 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

In [88]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [89]:
up = video[(video['ct'].dt.strftime('%Y-%m-%d %H:%M:%S') >= '2021-11-01 00:00:00') & \
      (video['ct'].dt.strftime('%Y-%m-%d %H:%M:%S') <= '2021-11-01 15:00:00')]
up

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3398,c5JQp6xafqc,3166400,40970,1107,0,7665,2021-11-01 00:00:03,ê³µë²” EP1
3399,c5JQp6xafqc,3166721,40973,1107,0,7665,2021-11-01 00:10:02,ê³µë²” EP1
3400,c5JQp6xafqc,3167110,40972,1108,0,7665,2021-11-01 00:20:03,ê³µë²” EP1
3401,c5JQp6xafqc,3167459,40975,1108,0,7665,2021-11-01 00:30:03,ê³µë²” EP1
3402,c5JQp6xafqc,3167809,40977,1108,0,7665,2021-11-01 00:40:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15192,yZt-h-KcmUE,1281140,25561,3609,0,31532,2021-11-01 14:10:04,ê³µë²” EP8
15193,yZt-h-KcmUE,1282186,25565,3611,0,31540,2021-11-01 14:20:04,ê³µë²” EP8
15194,yZt-h-KcmUE,1283259,25567,3613,0,31556,2021-11-01 14:30:06,ê³µë²” EP8
15195,yZt-h-KcmUE,1284443,25577,3615,0,31569,2021-11-01 14:40:08,ê³µë²” EP8
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8

In [90]:
# groupbyë¥¼ ì§‘ê³„í•  ë•Œ, agg()ë¥¼ ì´ìš©í•˜ë©´ ë‹¤ìˆ˜ì˜ í•¨ìˆ˜ë¥¼ í•œë²ˆì— ì ìš©
def sub (x):
    result = max(x)-min(x)
    return result

In [91]:
up[['videoname','viewcnt']].groupby('videoname').agg(sub)

           viewcnt
videoname
 ê³µë²” EP1      13298
 ê³µë²” EP2      10300
 ê³µë²” EP3       9927
 ê³µë²” EP4       9824
 ê³µë²” EP5      10824
 ê³µë²” EP6      14141
 ê³µë²” EP7      26949
 ê³µë²” EP8      89147

# 20ë²ˆ video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname ì„ êµ¬í•˜ì—¬ë¼

In [92]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [93]:
video.drop_duplicates()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [94]:
video.drop_duplicates().index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            15191, 15192, 15193, 15194, 15195, 15196, 15197, 15198, 15199,
            15200],
           dtype='int64', length=15199)

In [95]:
video.index

RangeIndex(start=0, stop=15201, step=1)

In [96]:
set(video.index) -  set(video.drop_duplicates().index) #ì¤‘ë³µì´ ë˜ëŠ” ë°ì´í„°ì˜ ì¸ë±ìŠ¤ë“¤

{722, 3927}

In [97]:
#answer
video[video.index.isin(set(video.index) - set(video.drop_duplicates().index))][['videoname','ct']]

     videoname                  ct
722     ê³µë²” EP1 2021-10-13 09:41:37
3927    ê³µë²” EP2 2021-10-13 09:41:37

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : 1930 ~2018ë…„ë„ ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡
<br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

In [98]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

# 21ë²ˆ ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„í˜•íƒœë¡œ ì¶œë ¥í•˜ë¼

In [99]:
df

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

In [100]:
df.groupby('Country').sum()

            Goals
Country
Algeria        13
Angola          1
Argentina     135
Australia      13
Austria        40
...           ...
USSR           52
Ukraine         5
Uruguay        86
Wales           4
Yugoslavia     61

[76 rows x 1 columns]

In [101]:
#answer
df.groupby('Country').sum().sort_values('Goals',ascending =False).head()

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

# 22ë²ˆ ì£¼ì–´ì§„ ì „ì²´ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [102]:
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [103]:
df.groupby('Country').size().sort_values(ascending = False).head()

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

# 23ë²ˆ Years ì»¬ëŸ¼ì€ ë…„ë„ -ë…„ë„ í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ«ìì´ë‹¤. ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ì¡´ì¬í•œë‹¤. í•´ë‹¹ ê±´ì€ ëª‡ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼

In [104]:
df

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

In [105]:
df['Years'].str.split('-')

0       [2002, 2006, 2010, 2014]
1             [1998, 2002, 2006]
2                   [1970, 1974]
3                         [1958]
4       [1958, 1962, 1966, 1970]
                  ...
1290                      [1962]
1291                [1982, 1990]
1292                      [1930]
1293                      [1930]
1294                [1954, 1958]
Name: Years, Length: 1295, dtype: object

In [106]:
def check(x):
    for i in x:
        if len(i) != 4:
            return False
    return True

df[df['Years'].str.split('-').apply(check) == False].shape[0]

45

# 24ë²ˆ **Q3ì—ì„œ ë°œìƒí•œ ì˜ˆì™¸ ì¼€ì´ìŠ¤ë¥¼ ì œì™¸í•œ ë°ì´í„°í”„ë ˆì„ì„ df2ë¼ê³  ì •ì˜í•˜ê³  ë°ì´í„°ì˜ í–‰ì˜ ìˆ«ìë¥¼ ì¶œë ¥í•˜ë¼ (ì•„ë˜ ë¬¸ì œë¶€í„°ëŠ” df2ë¡œ í’€ì´í•˜ê² ìŠµë‹ˆë‹¤) **

In [107]:
def check(x):
    for i in x:
        if len(i) != 4:
            return False
    return True

df2 = df[df['Years'].str.split('-').apply(check) == True]
df2

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1250 rows x 4 columns]

In [108]:
df2.shape[0]

1250

# 25ë²ˆ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” â€˜LenCupâ€™ ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [109]:
df

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

In [110]:
def LC(x):
    return len(x)

df['LenCup'] = df['Years'].str.split('-').apply(LC)
df[df['LenCup'] == 4].shape[0]

16

# 26ë²ˆ Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [111]:
df

                   Player  Goals                Years     Country  LenCup
0          Miroslav Klose     16  2002-2006-2010-2014     Germany       4
1                 Ronaldo     15       1998-2002-2006      Brazil       3
2             Gerd Muller     14            1970-1974     Germany       2
3           Just Fontaine     13                 1958      France       1
4                    Pele     12  1958-1962-1966-1970      Brazil       4
...                   ...    ...                  ...         ...     ...
1290        Josip Skoblar      1                 1962  Yugoslavia       1
1291          Safet Susic      1            1982-1990  Yugoslavia       2
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia       1
1293  Djordje Vujadinovic      1                 1930  Yugoslavia       1
1294         Branko Zebec      1            1954-1958  Yugoslavia       2

[1295 rows x 5 columns]

In [112]:
df[(df['Country'] == 'Yugoslavia') & (df['LenCup'] == 2)].shape[0]

7

# 27ë²ˆ 2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜ëŠ” ëª‡ëª…ì¸ê°€?

In [113]:
df

                   Player  Goals                Years     Country  LenCup
0          Miroslav Klose     16  2002-2006-2010-2014     Germany       4
1                 Ronaldo     15       1998-2002-2006      Brazil       3
2             Gerd Muller     14            1970-1974     Germany       2
3           Just Fontaine     13                 1958      France       1
4                    Pele     12  1958-1962-1966-1970      Brazil       4
...                   ...    ...                  ...         ...     ...
1290        Josip Skoblar      1                 1962  Yugoslavia       1
1291          Safet Susic      1            1982-1990  Yugoslavia       2
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia       1
1293  Djordje Vujadinovic      1                 1930  Yugoslavia       1
1294         Branko Zebec      1            1954-1958  Yugoslavia       2

[1295 rows x 5 columns]

In [114]:
df[df['Years'].str.contains('2002')].shape[0]

156

# 28ë²ˆ ì´ë¦„ì— â€˜carlosâ€™ ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ìëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ x)

In [115]:
df[df['Player'].str.lower().str.contains('carlos')].shape[0]

13

# 29ë²ˆ ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜ëŠ” ëˆ„êµ¬ì¸ê°€?

In [116]:
df

                   Player  Goals                Years     Country  LenCup
0          Miroslav Klose     16  2002-2006-2010-2014     Germany       4
1                 Ronaldo     15       1998-2002-2006      Brazil       3
2             Gerd Muller     14            1970-1974     Germany       2
3           Just Fontaine     13                 1958      France       1
4                    Pele     12  1958-1962-1966-1970      Brazil       4
...                   ...    ...                  ...         ...     ...
1290        Josip Skoblar      1                 1962  Yugoslavia       1
1291          Safet Susic      1            1982-1990  Yugoslavia       2
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia       1
1293  Djordje Vujadinovic      1                 1930  Yugoslavia       1
1294         Branko Zebec      1            1954-1958  Yugoslavia       2

[1295 rows x 5 columns]

In [117]:
df[df['LenCup'] == 1].sort_values('Goals',ascending =False)['Player'].values[0]

'Just Fontaine'

# 30ë²ˆ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” ì–´ë””ì¸ê°€?

In [118]:
df[df['LenCup'] == 1].groupby('Country').size().sort_values(ascending =False).index[0]

'Brazil'

In [119]:
df[df['LenCup'] == 1]['Country'].value_counts().index[0]

'Brazil'

ë°ì´í„° ì¶œì²˜ :https://www.data.go.kr/data/15051872/fileData.do(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
<br>
ë°ì´í„° ì„¤ëª… : ì„œìš¸íŠ¹ë³„ì‹œ_ê³µê³µìì „ê±° ì‹œê°„ëŒ€ë³„ ì´ìš©ì •ë³´
<br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv

In [120]:
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6
...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28

# 31ë²ˆ ëŒ€ì—¬ì¼ìë³„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ê³ , ê°€ì¥ ë§ì€ ë°ì´í„°ê°€ ìˆëŠ” ë‚ ì§œë¥¼ ì¶œë ¥í•˜ë¼

In [121]:
df['ëŒ€ì—¬ì¼ì'].value_counts().sort_index().to_frame()

             ëŒ€ì—¬ì¼ì
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

In [122]:
df['ëŒ€ì—¬ì¼ì'].value_counts().index[0]

'2021-06-04'

# 32ë²ˆ ê° ì¼ìì˜ ìš”ì¼ì„ í‘œê¸°í•˜ê³  (â€˜Mondayâ€™ ~â€™Sundayâ€™) â€˜day_nameâ€™ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  ì´ë¥¼ ì´ìš©í•˜ì—¬ ê° ìš”ì¼ë³„ ì´ìš© íšŸìˆ˜ì˜ ì´í•©ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [123]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6
...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28

In [124]:
df['ëŒ€ì—¬ì¼ì'] = pd.to_datetime(df['ëŒ€ì—¬ì¼ì'])

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678950 entries, 0 to 678949
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ëŒ€ì—¬ì¼ì    678950 non-null  datetime64[ns]
 1   ëŒ€ì—¬ì‹œê°„    678950 non-null  int64
 2   ëŒ€ì—¬ì†Œë²ˆí˜¸   678950 non-null  int64
 3   ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ  678950 non-null  object
 4   ì„±ë³„      678950 non-null  object
 5   ì—°ë ¹ëŒ€ì½”ë“œ   678950 non-null  object
 6   ì´ìš©ê±´ìˆ˜    678950 non-null  int64
 7   ìš´ë™ëŸ‰     678950 non-null  object
 8   íƒ„ì†ŒëŸ‰     678950 non-null  object
 9   ì´ë™ê±°ë¦¬    678950 non-null  float64
 10  ì‚¬ìš©ì‹œê°„    678950 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 57.0+ MB

In [126]:
df['day_name'] = df['ëŒ€ì—¬ì¼ì'].dt.day_name()

In [127]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [128]:
df['day_name'].value_counts().to_frame()

           day_name
Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977

# 33ë²ˆ ê° ìš”ì¼ë³„ ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œì˜ ì´ìš©íšŸìˆ˜ì™€ ëŒ€ì—¬ì†Œ ë²ˆí˜¸ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [129]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [130]:
df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size()

day_name   ëŒ€ì—¬ì†Œë²ˆí˜¸
Friday     102      145
           103      143
           104       72
           105       60
           106      155
                   ...
Wednesday  4867      20
           4868       5
           9980       1
           9997       4
           9999       6
Length: 16874, dtype: int64

In [131]:
df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size')

                 size
day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸
Friday    102     145
          103     143
          104      72
          105      60
          106     155
...               ...
Wednesday 4867     20
          4868      5
          9980      1
          9997      4
          9999      6

[16874 rows x 1 columns]

In [132]:
df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size').sort_values(['day_name','size'],ascending = False)

                 size
day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸
Wednesday 502     282
          207     257
          2102    253
          2715    253
          152     223
...               ...
Friday    3878      1
          4523      1
          9980      1
          9997      1
          9998      1

[16874 rows x 1 columns]

In [133]:
df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size').sort_values(['day_name','size'],ascending = False).reset_index()

        day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸  size
0      Wednesday    502   282
1      Wednesday    207   257
2      Wednesday   2102   253
3      Wednesday   2715   253
4      Wednesday    152   223
...          ...    ...   ...
16869     Friday   3878     1
16870     Friday   4523     1
16871     Friday   9980     1
16872     Friday   9997     1
16873     Friday   9998     1

[16874 rows x 3 columns]

In [134]:
df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size').sort_values(['day_name','size'],ascending = False).reset_index().drop_duplicates('day_name')

        day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸  size
0      Wednesday    502   282
2402     Tuesday    502   267
4801    Thursday   2715   137
7197      Sunday    502   372
9611    Saturday    502   378
12031     Monday    502   242
14453     Friday    502   277

In [135]:
df.groupby(['day_name','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size').sort_values(['day_name','size'],ascending = False).reset_index().drop_duplicates('day_name').reset_index(drop = True)

    day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

# 34ë²ˆ ë‚˜ì´ëŒ€ë³„ ëŒ€ì—¬êµ¬ë¶„ ì½”ë“œì˜ (ì¼ì¼ê¶Œ/ì „ì²´íšŸìˆ˜) ë¹„ìœ¨ì„ êµ¬í•œ í›„ ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°€ì§€ëŠ” ë‚˜ì´ëŒ€ë¥¼ í™•ì¸í•˜ë¼. ì¼ì¼ê¶Œì˜ ê²½ìš° ì¼ì¼ê¶Œ ê³¼ ì¼ì¼ê¶Œ(ë¹„íšŒì›)ì„ ëª¨ë‘ í¬í•¨í•˜ë¼

In [136]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [137]:
df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].unique()

array(['ì •ê¸°ê¶Œ', 'ì¼ì¼ê¶Œ', 'ë‹¨ì²´ê¶Œ', 'ì¼ì¼ê¶Œ(ë¹„íšŒì›)'], dtype=object)

In [138]:
df[df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].isin(['ì¼ì¼ê¶Œ','ì¼ì¼ê¶Œ(ë¹„íšŒì›)'])].value_counts('ì—°ë ¹ëŒ€ì½”ë“œ').sort_index()

ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€     59393
30ëŒ€     31127
40ëŒ€     12695
50ëŒ€      4607
60ëŒ€       819
70ëŒ€~      158
~10ëŒ€    11540
dtype: int64

In [139]:
df.value_counts('ì—°ë ¹ëŒ€ì½”ë“œ').sort_index()

ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€     247561
30ëŒ€     186722
40ëŒ€     114799
50ëŒ€      70428
60ëŒ€      19288
70ëŒ€~      3227
~10ëŒ€     36925
dtype: int64

In [140]:
answer1 = (df[df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].isin(['ì¼ì¼ê¶Œ','ì¼ì¼ê¶Œ(ë¹„íšŒì›)'])].value_counts('ì—°ë ¹ëŒ€ì½”ë“œ').sort_index() / df.value_counts('ì—°ë ¹ëŒ€ì½”ë“œ').sort_index()).sort_values(ascending = False)
answer1

ì—°ë ¹ëŒ€ì½”ë“œ
~10ëŒ€    0.312525
20ëŒ€     0.239913
30ëŒ€     0.166702
40ëŒ€     0.110585
50ëŒ€     0.065414
70ëŒ€~    0.048962
60ëŒ€     0.042462
dtype: float64

In [141]:
answer2 = answer1.index[0]
print('max ratio age',answer2)

max ratio age ~10ëŒ€

# 35ë²ˆ ì—°ë ¹ëŒ€ë³„ í‰ê·  ì´ë™ê±°ë¦¬ë¥¼ êµ¬í•˜ì—¬ë¼

In [142]:
df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„,day_name
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28,Monday

In [143]:
df[['ì—°ë ¹ëŒ€ì½”ë“œ','ì´ë™ê±°ë¦¬']].groupby(['ì—°ë ¹ëŒ€ì½”ë“œ']).mean()

              ì´ë™ê±°ë¦¬
ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€    3211.890552
30ëŒ€    3341.443859
40ëŒ€    3514.857416
50ëŒ€    3593.668100
60ëŒ€    3538.145737
70ëŒ€~   3085.039641
~10ëŒ€   2634.426279